.task-table{
    margin: 20px 0;
    border:1px solid #232931;
}


.task-content {
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(max-width: 991px) {
    .task-table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
.task-table__image-holder{
    width:320px;
    height: 240px;
    margin:0 auto;
    text-align: center;
}
.task-table__image {
    max-width: 320px;
    max-height: 240px;
    font-size: 0;
}
.task-table__icon{
    font-size: 2em;
}