/*=============================================
=            Variables            =
=============================================*/

//fonts
$font_helvetica: 'Helvetica Neue'; //colors
$color_orange: #E74C3C; //sizes
$size_wrapper: 1130px; //box-shadows
$shadow_main: 0 2px 6px 0 rgba(204, 204, 204, 0.32); //borders
$border_main: 1px solid #EDEDED;

/*=====  End of Variables  ======*/


/*=============================================
=            Mixins            =
=============================================*/

@mixin section_title($font_size, $color) {
    font-family: $font_helvetica;
    font-weight: 100;
    color: $color;
    font-size: $font_size+px;
}

@mixin set_icon($url, $width, $height) {
    display: inline-block;
    width: $width;
    height: $height;
    background-image: $url;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    vertical-align: middle;
}

@mixin button_type($font-size, $color, $background-color, $min-width) {
    border: none;
    border-radius: 3px;
    background-color: $background-color;
    font-size: $font-size;
    color: $color;
    padding: 15px;
    min-width: $min-width;
}


/*=====  End of Mixins  ======*/


/*=============================================
=            Common classes and editions            =
=============================================*/

//general modifications
* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: $font_helvetica;
    overflow-x: hidden;
}

.wrapper {
    max-width: $size_wrapper;
    margin: 0 auto;
} //common classes
.section_title {
    h1 {
        @include section_title(37.79, #464646);
        position: relative;
    }
    .border {
        margin-top: 16px;
        height: 3px;
        width: 70px;
        background-color: #E74C3C;
    }
}

.img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1.page_header {
    position: absolute;
    font-weight: bold;
    font-size: 60.24px;
    color: white;
    z-index: 123;
    margin-top: 50px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

.button-style {
    @include button_type(15px, white, #FF8002, 200px)
}

.select-box {
    position: relative;
    margin-left: 20px;
    .current {
        border: 1px solid #D6D6D6;
        padding: 18px 35px;
        border-radius: 3px;
        min-width: 200px;
        cursor: pointer;
    }
    .type {
        color: #9B9B9B;
        font-size: 14px;
    }
    .value {
        color: #FF8002;
        font-size: 14px;
    }
    i.fa {
        color: #D6D6D6;
        margin-left: 30px;
        font-size: 18px
    }
    .data-list {
        display: none;
        position: absolute;
        z-index: 12312312;
        width: 99%;
        left: 0;
        top: 100%;
        border: 1px solid #D6D6D6;
        background: white;
        border-top: none;
        -webkit-box-shadow: 0px 9px 16px -3px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 9px 16px -3px rgba(0, 0, 0, 0.2);
        ul {
            li {
                padding: 18px 34px;
                font-size: 14px;
                color: #9B9B9B;
                transition: 0.1s ease-in;
                cursor: pointer;
                text-align: center;
                &:hover {
                    background: rgba(214, 214, 214, 0.16);
                }
            }
        }
    }
}

.parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.about {
        background-image: url('../images/backgrounds/shahdag.png');
    }
    &.azerbaijan {
        background-image: url('../images/gallery/azerbiajan.png');
    }
    &.events {
        background-image: url('../images/gallery/bulvar.png')
    }
    &.faq {
        background-image: url('../images/Backgrounds/faq.png')
    }
    &.foods {
        background-image: url('../images/Backgrounds/foodndrinks.png')
    }
    &.history {
        background-image: url('../images/Backgrounds/history.png')
    }
    &.visa {
        background-image: url('../images/Backgrounds/visa.png')
    }
}


/*=====  End of Common classes and editions  ======*/


/*=============================================
=            Header            =
=============================================*/


/* 
/* Tourism types:
font-family: HelveticaNeue;
font-size: 20px;
color: #282828;
line-height: 25px;
*/

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 23px;
    z-index: 1212;
    background: white;
    .navigation-bar {
        position: relative;
        padding: 0 20px;
        .submenu {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding: 40px 0;
            background: white;
            display: none;
            .title {
                p {
                    text-transform: uppercase;
                    color: #282828;
                    font-size: 20px;
                    display: inline-block;
                    cursor: pointer;
                    opacity: 0.2;
                    &:first-child {
                        margin-right: 40px;
                    }
                    &.active {
                        color: #E74C3C;
                        opacity: 1;
                        padding-bottom: 10px;
                        border-bottom: 2px solid #E74C3C;
                    }
                }
            }
            .submenu-left {
                flex: 1;
                .submenu-links {
                    margin-top: 25px;
                    column-count: 2;
                    display: none;
                    &.active {
                        display: block;
                    }
                    li {
                        display: block;
                        margin-bottom: 43px;
                        >a {
                            color: #666;
                            transition: 0.4s ease-in;
                            position: relative;
                            // &:before {
                            //     content: '';
                            //     opacity: 1;
                            //     position: absolute;
                            //     left: -5px;
                            //     top: 0px;
                            //     transition: 0.5s ease-in;
                            //     width: 1px;
                            //     height: 0;
                            //     background: black;
                            // }
                            &:hover {
                                margin-left: 10px;
                                // &:before {
                                //     height: 100%;
                                // }
                            }
                        }
                    }
                }
            }
            .submenu-right {
                width: 50%;
                .event {
                    border: 0;
                    box-shadow: none;
                    .desc {
                        padding: 0;
                        >h2 {
                            font-size: 20px;
                        }
                    }
                    .gold-link {
                        text-transform: uppercase;
                        color: #ff8002;
                        font-size: 13px;
                        opacity: 0.5;
                        transition: 0.2s ease-out;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    .title {
                        font-size: 20px;
                    }
                }
            }
        }
        nav {
            .brand-logo {
                margin-right: 48px;
            }
            .languages {
                font-size: 16px;
                color: #4D4D4D;
                .active {
                    font-size: 13px;
                    display: inline-block;
                    i {
                        font-size: 26px;
                        margin-right: 7px;
                        vertical-align: sub;
                    }
                }
            }
            .search-bar {
                margin-left: 34px;
                button[type='submit'] {
                    background: none;
                    border: none;
                    font-size: 22px;
                    cursor: pointer;
                }
                input[type='text'] {
                    border: none;
                    background: none;
                    font-size: 13.49px;
                    color: #4D4D4D;
                    margin-left: 19px;
                    vertical-align: text-top;
                    min-width: 210px;
                }
            }
            .links {
                >ul {
                    >li {
                        display: inline-block;
                        margin-left: 65px;
                        &:hover {
                            >.submenu {
                                display: block;
                            }
                        }
                        >a {
                            font-size: 20.23px;
                            color: #3C3C3C;
                            transition: 0.2s ease-in;
                            display: inline-block;
                            position: relative; // &:after {
                            //     content: '';
                            //     position: absolute;
                            //     bottom: -11px;
                            //     right: 50%;
                            //     height: 2px;
                            //     width: 0;
                            //     background-color: black;
                            //     transition: 0.3s ease-in;
                            // }
                            // &:before {
                            //     content: '';
                            //     position: absolute;
                            //     bottom: -11px;
                            //     left: 50%;
                            //     height: 2px;
                            //     width: 0;
                            //     background-color: black;
                            //     transition: 0.3s ease-in;
                            // }
                            // &:hover,
                            // &.active {
                            //     &:after {
                            //         width: 50%;
                            //     }
                            //     &:before {
                            //         width: 50%;
                            //     }
                            // }
                        }
                    }
                }
            }
        }
    }
    .search-bar-mobile {
        display: none;
        margin-left: auto;
        button[type='button'] {
            background: none;
            border: none;
            font-size: 25px;
        }
    }
    .submenu-mobile {
        display: none;
        &.active {
            .sub-link {
                display: block !important;
            }
        }
        .sub-link {
            display: none;
            &.active {
                .sub-title {
                    a {
                        font-size: 18px;
                        text-transform: uppercase;
                        display: inline-block;
                        padding: 10px 0;
                        border-bottom: 2px solid #E74C3C;
                        color: #E74C3C;
                        font-weight: 400;
                    }
                    margin-bottom: 25px;
                }
                ul {
                    display: block;
                }
            }
            .sub-title {
                a {
                    font-size: 18px;
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 10px 0;
                    color: #5A5A5A;
                    font-weight: bold;
                }
            }
            >ul {
                display: none;
                >li {
                    >a {
                        font-size: 17px;
                        color: #5A5A5A;
                        display: block;
                        padding: 16.5px;
                    }
                }
            }
        }
    }
}


/*=====  End of Header  ======*/


/*=============================================
=            HomePage            =
=============================================*/

#home-background {
    height: 100.2vh;
    position: relative;
    .background {
        height: inherit;
        width: 100vw;
        overflow: hidden;
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.26);
            left: 0;
            top: 0;
        }
        .image {
            height: inherit;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .owl-stage-outer,
        .owl-stage,
        .owl-item {
            height: inherit;
        }
        iframe {
            width: 103%;
            height: 102.5%;
            margin-top: -23px;
            margin-left: -20px;
        }
    }
}

.mouse-scroll {
    position: absolute;
    z-index: 212;
    bottom: 20px;
    img {
        width: 30px;
        cursor: pointer;
        display: block;
        transition: 0.4s ease-in;
        &[data-role='scroll']:hover {
            margin-bottom: -20px;
            +img {
                opacity: 0;
            }
        }
    }
}

#items-list {
    margin-top: 50px;
    .list {
        margin-top: 45px;
        .item {
            width: 32.7%;
            height: 305px;
            box-shadow: $shadow_main;
            border: $border_main;
            margin-bottom: 10px;
            transition: 0.4s ease-in;
            &:hover {
                .item-img {
                    height: 60%;
                }
                p {
                    opacity: 1 !important;
                }
            }
            .item-img {
                height: 65%;
                transition: 0.4s ease-in;
            }
            .item-desc {
                height: 35%;
                padding: 0 25px;
                text-align: left;
                transition: inherit;
                h2 {
                    font-weight: bold;
                    color: #2C2C2C;
                    font-size: 24px;
                }
                p {
                    color: #969696;
                    font-size: 14px;
                    margin-top: 15px;
                    opacity: 0;
                    transition: 0.4s ease-in;
                }
            }
        }
    }
}

#visa {
    margin-top: 43px;
    min-height: 485px;
    .visa-desc {
        width: 34.5%;
        box-sizing: border-box;
        padding: 82px 40px;
        background-color: $color_orange;
        color: white;
        h1 {
            font-weight: bold;
            font-size: 33.72px;
        }
        p {
            font-size: 20.11px;
            font-weight: 300;
            line-height: 28px;
            margin-top: 30px;
        }
        a {
            display: inline-block;
            font-weight: bold;
            font-size: 13.49px;
            margin-top: 35px;
            padding: 18px 22px;
            display: inline-block;
            color: white;
            border: 2px solid white;
            transition: 0.3s linear;
            &:hover {
                color: $color_orange;
                background-color: white;
            }
        }
    }
    .visa-img {
        flex: 1;
        height: 485px;
    }
}

#information {
    margin-top: 100px;
    .item-list {
        margin-top: 30px; // padding: 0 10px;
        box-sizing: border-box;
        .owl-item {
            padding-bottom: 10px;
        }
        .item {
            box-shadow: $shadow_main;
            box-sizing: border-box;
            border: $border_main;
            height: 442px;
            transition: 0.2s ease-in;
            &:hover {
                box-shadow: 0 2px 6px 0 rgba(204, 204, 204, 1);
            }
            .img {
                width: 46%;
            }
            .desc {
                flex: 1;
                padding: 35px 30px;
                h1 {
                    font-size: 28.78px;
                    color: black;
                    margin-bottom: 40px;
                }
                p.date {
                    font-size: 14.39px;
                    color: #9B9B9B;
                    margin-bottom: 40px;
                }
                p {
                    font-size: 16.79px;
                    color: #726C74;
                    line-height: 27.58px;
                }
            }
        }
    }
    .owl-stage>.active:nth-child(2) {
        margin-left: -1px
    }
    .navs {
        position: absolute;
        left: 0;
        right: 0;
        .nav {
            font-size: 50px;
            display: inline-block;
            cursor: pointer;
            &.prev {
                margin-left: -95px;
            }
            &.next {
                margin-right: -95px;
                float: right;
            }
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .holder {
        position: relative;
    }
}

#instagram_gallery {
    margin-top: 120px;
    position: relative;
    font-size: 50px;
    .frame {
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 160px;
        padding-bottom: 50px;
        position: relative;
        z-index: 123;
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar {
            height: 7px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            height: 2px;
            background-color: $color_orange;
        }
        .gallery {
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            .item {
                width: 315px;
                height: 315px;
                float: left;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .hashtag {
        position: absolute;
        font-weight: bold;
        color: #4A4A4A;
        opacity: 0.1;
        font-size: 2.7em;
        top: 120px;
        transition: 0.7s linear;
        &:hover {
            z-index: 12121;
            opacity: 1;
        }
    }
}


/*=====  End of HomePage  ======*/


/*=============================================
=            Footer            =
=============================================*/

footer {
    margin-top: 60px;
    padding-bottom: 25px;
    .all-links {
        .links-holder {
            margin-right: 30px;
            h1 {
                font-weight: bold;
                font-size: 18px;
                color: #525252;
                margin-bottom: 25px;
            }
            ul {
                column-count: 2;
                >li {
                    color: #979797;
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    margin-right: 50px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    transition: 0.2s ease-in;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
    .bottom-f {
        margin-top: 50px;
        .brand-name {
            margin-right: 30px;
        }
        .copyrights {
            margin-top: 10px;
            a {
                font-weight: bold;
                color: #464646;
                font-size: 16px;
                margin-right: 25px;
            }
            p {
                font-size: 16px;
                color: #848484;
                margin-top: 7px;
            }
        }
        .social-networks {
            margin-top: 20px;
            ul {
                li {
                    display: inline-block;
                    margin-left: 10px;
                    a {
                        font-size: 25px;
                        color: white;
                        &.facebook {
                            background-color: #3B5998;
                            padding: 6px 16px;
                        }
                        &.twitter {
                            background-color: #55ACEE;
                            padding: 6px 10px;
                        }
                    }
                }
            }
        }
    }
}


/*=====  End of Footer  ======*/


/*=============================================
=            About Page            =
=============================================*/

#insider_header {
    height: 650px;
    position: relative;
    transition: 0.35s ease-in;
    h1 {
        transition: 0.35s ease-in;
    }
    .background-header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &.scaled {
        height: 400px;
        h1 {
            font-size: 40px;
        }
    }
}

#content {
    margin: 100px 0;
    margin-bottom: 220px; // .content-links {
    //     position: relative;
    //     transition: 0.2s ease-in;
    //     width: 9.7%;
    //     ul {
    //         transition: 0.2s linear;
    //         top: 0;
    //         margin-top: 0;
    //         li {
    //             text-align: right;
    //             a {
    //                 font-size: 17px;
    //                 color: #626262;
    //                 text-transform: uppercase;
    //                 padding: 20px 50px 20px 0;
    //                 display: block;
    //             }
    //             &.active {
    //                 border-right: 1px solid $color_orange;
    //                 position: relative;
    //                 z-index: 21;
    //             }
    //         }
    //         &.scrolling {
    //             position: absolute;
    //             margin-top: 40px;
    //             top: 0;
    //             left: 0;
    //         }
    //     }
    //     span.line {
    //         position: absolute;
    //         right: 0;
    //         top: 0;
    //         width: 1px;
    //         height: 100%;
    //         background: #EAEAEA;
    //     }
    //     &.fixed-scroll {
    //         position: fixed;
    //         top: 40px;
    //         height: 100%;
    //     }
    // }
    .content-details {
        width: 100%;
        margin-left: auto;
        padding-right: 3px;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: rgba(0, 0, 0, 0.1);
            opacity: 0.5;
        }
        .video {
            margin-bottom: 50px;
        }
        p {
            font-size: 16px;
            color: #3D3648;
            line-height: 23px;
        }
    }
    &.about {
        .content-details {
            width: 65%;
            padding: 0 20px;
            .desc {
                width: 100%;
            }
        }
        .map {
            margin-top: 100px;
        }
        .contact-details {
            margin-left: 20px;
            flex: 1;
            .panel-holder {
                box-shadow: $shadow_main;
                .panel-item {
                    border-width: 0 1px 1px 1px;
                    border-color: #EDEDED;
                    border-style: solid;
                    padding: 25px 22px;
                }
                .icon-location-circle {
                    @include set_icon(url('../images/icons/icon-location-circle.svg'),
                    24px,
                    24px)
                }
                .icon-phone {
                    @include set_icon(url('../images/icons/icon-phone.svg'),
                    24px,
                    24px)
                }
                .icon-mobile {
                    @include set_icon(url('../images/icons/icon-mobile.svg'),
                    24px,
                    24px)
                }
                .icon-email {
                    @include set_icon(url('../images/icons/icon-email.svg'),
                    24px,
                    24px)
                }
                p {
                    flex: 1;
                    margin-left: 20px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
    &.history {
        .events-list {
            width: 50%;
            p.counts {
                color: #464646;
                font-size: 16px;
                margin-bottom: 44px;
            }
            .event-holder {
                width: 100% !important;
                margin-bottom: 20px;
            }
        }
        .region-map {
            .event-search {
                display: none;
            }
            path:hover,
            polygon:hover {
                fill: #BDC3C7;
            }
            a.active {
                path,
                polygon {
                    fill: #BDC3C7;
                }
            }
            .input-wrapper.enabled-region-mobile {
                display: none;
            }
        }
    }
    &.food {
        .event-search {
            display: block !important;
            margin-bottom: 50px;
            .type {
                margin-right: 30px;
                .select-box {
                    margin: 0;
                }
            }
            .value {
                margin-left: auto;
            }
            .input-wrapper {
                &.flex {
                    flex: 1;
                }
                .select-box {
                    margin-left: 0;
                    margin-right: 20px;
                    .current {}
                }
                button {
                    height: 100%;
                    width: 150px;
                    min-width: auto;
                }
            }
        }
    }
    .region-map {
        width: 47%;
    }
}


/*=====  End of About Page  ======*/


/*=============================================
=            Events page            =
=============================================*/

#events {
    padding-top: 40px;
    .top {
        margin-bottom: 20px;
        .event-search {
            input[data-toggle='datepicker'] {
                position: absolute;
                height: 0;
                width: 0;
                top: 100%;
                left: 0;
            }
            button[type='submit'] {
                height: 100%;
                margin-left: 20px;
            }
        }
    }
    .events-list {
        margin-top: 20px;
        .event-holder {
            width: 49%;
            margin-bottom: 20px;
            .event {
                height: 195px;
            }
        }
    }
}

.page-type {
    h1 {
        font-weight: 100;
        font-size: 34px;
    }
    .border {
        display: block;
        height: 2px;
        width: 80px;
        background-color: $color_orange;
        margin-top: 20px;
    }
}

.event {
    border: $border_main;
    box-shadow: $shadow_main;
    .desc {
        width: 50%;
        padding: 25px 25px;
        box-sizing: border-box;
        h1 {
            font-weight: 500;
            font-size: 24px;
            color: #3E4D60;
        }
        p.location {
            font-size: 16px;
            color: #8C94A9;
            margin-top: 20px;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
            color: #424242;
            margin-top: 15px;
        }
        i.icon-location {
            @include set_icon(url('../images/icons/lcoation.svg'),
            12px,
            17px);
            vertical-align: sub;
        }
    }
    .img {
        width: 50%;
        position: relative;
        .event-date {
            position: absolute;
            bottom: 30px;
            right: 0;
            padding: 13px 23px;
            color: white;
            background-color: #FF8002;
            font-weight: 300;
        }
    }
}


/*=====  End of Events page  ======*/


/*=============================================
=            Visa Page            =
=============================================*/

#content .visa {
    margin-top: 90px;
    h1 {
        font-size: 36px;
        color: #292929;
    }
    p {
        margin-top: 30px;
        font-size: 17px;
        color: #9FA3A7;
        line-height: 30px;
    }
}


/*=====  End of Visa Page  ======*/


/*=============================================
=            FAQ            =
=============================================*/

#content .faq {
    margin: 15px 0;
    border-left: 5px solid #FF8002;
    .list {
        position: relative;
        .list-item {
            cursor: pointer;
            padding: 25px;
            border-top: 1px solid #f2f2f2;
            border-right: 1px solid #f2f2f2;
            &:last-child {
                border-bottom: 1px solid #f2f2f2;
            }
            .title {
                position: relative;
                h1 {
                    font-size: 20px;
                    color: #000;
                    line-height: 26px;
                    width: 80%;
                }
                .fa {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin-top: -8.75px;
                    text-align: right;
                    font-size: 20px;
                    color: #d1d1d1;
                    line-height: 0.3;
                }
            }
            .desc {
                margin-top: 20px;
                display: none; // transition: 0.4s ease-in;
                p {
                    color: #9FA3A7;
                    font-size: 15px;
                    line-height: 30px;
                }
            }
        }
    }
}


/*=====  End of FAQ  ======*/

.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.menu-mobile .burger {
    @include set_icon(url('../images/icons/menu.svg'),
    30px,
    30px);
    display: none;
}

.owl-dots {
    margin-top: 25px !important;
}

@media only screen and (max-width:$size_wrapper) {
    .wrapper {
        padding: 0 20px;
    }
    .hashtag {
        font-size: 11.4vw !important;
    }
}

@media screen and (min-width:1160px) {
    header nav .links>ul>li>a {
        padding: 60px 0px;
    }
}

@media screen and (max-width:1160px) {
    header {
        top: 0;
        .navigation-bar {
            nav {
                .links {
                    ul {
                        li {
                            a {
                                font-size: 17.23px;
                                &:after,
                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .submenu-mobile {
            display: block !important;
        }
    }
    h1.page_header {
        font-size: 55px;
    }
    header .search-bar-mobile {
        display: block !important;
    }
    .menu-mobile {
        padding: 0 20px;
        margin-left: 20px;
        .burger {
            display: block !important;
            margin-bottom: 5px;
            &:after {
                content: '';
                position: absolute;
                display: inline-block;
                width: 36px;
                background: black;
                transform-origin: top;
                top: 50%;
                height: 3px;
                transition: 0.3s linear;
                opacity: 0;
            }
            &:before {
                content: '';
                position: absolute;
                display: inline-block;
                width: 35px;
                background: black;
                transform-origin: top;
                top: 50%;
                transition: 0.3s lienar;
                height: 3px;
                opacity: 0;
            }
        }
        &.active-collapsed {
            .burger {
                background-image: none;
                &:after,
                &:before {
                    opacity: 1;
                }
                &:after {
                    transform: rotate(-45deg);
                }
                &:before {
                    transform: rotate(45deg);
                }
            }
        }
    }
    .search-bar {
        margin-left: auto;
        display: none;
    }
    .languages {
        display: none;
    }
    .links-m {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        background: white;
        width: 100%;
        >ul {
            text-align: center;
            >li {
                display: block !important;
                margin-left: 0 !important;
                >a {
                    font-size: 19px !important;
                    font-weight: bold;
                    display: block !important;
                    padding: 20px;
                }
                &.active {
                    background-color: #ECF0F1;
                }
            }
        }
    }
    #items-list {
        .item {
            width: 100% !important;
            height: 330px !important;
        }
    }
    #visa {
        >.wrapper {
            padding: 0 !important;
        }
        .visa-img {
            display: none;
        }
        .visa-desc {
            width: 100% !important;
        }
    }
    footer {
        .all-links {
            flex-direction: column;
            .links-holder {
                margin-right: 0;
                text-align: center;
                margin-bottom: 20px;
                ul {
                    column-count: 1;
                    text-align: center;
                    li {
                        margin-right: 0;
                        text-align: center;
                    }
                }
            }
        }
        .bottom-f {
            margin-top: 20px !important;
            .brand-name {
                display: none !important;
            }
            .align-right {
                display: none !important;
            }
            .align-left {
                flex: 1;
                .copyrights {
                    flex: 1;
                    text-align: center;
                    .links {
                        a {
                            display: block;
                            text-align: center;
                            margin-right: 0 !important;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:980px) {
    .mobile-activated {
        flex: 1;
        .mobile-search-box {
            display: none;
        }
    }
}

@media screen and (max-width:980px) {
    #events {
        .page-type {
            display: none;
        }
    }
    #content.history {
        .event-search {
            display: block !important;
            margin-bottom: 30px;
        }
    }
    .events-list,
    .region-map {
        width: 100% !important;
        .input-wrapper {
            .select-box {
                margin-right: 0 !important;
            }
            button[type='submit'] {
                width: 100% !important;
            }
            &.enabled-region-mobile {
                display: block !important;
            }
        }
    }
    .region-map svg {
        display: none;
    }
    .event-search {
        flex: 1;
        .mobile-activated {
            flex: 1;
            position: relative;
            .mobile-search-box {
                flex: 1;
                padding: 25px;
                text-align: center;
                color: #6C6C6C;
                font-size: 20px;
                background-color: #D2DDE3;
                border-radius: 4px;
                border: 1px solid #FFFFFF;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }
            .forms {
                position: absolute;
                display: none;
                flex-direction: column;
                width: 100%;
                z-index: 12;
                background: white;
                background: #FFFFFF;
                border: 1px solid #FFFFFF;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
                border-radius: 4px;
                left: 0;
                padding: 0 20px;
                box-sizing: border-box;
                .input-wrapper {
                    margin: 15px 0;
                    .select-box {
                        margin: 0;
                    }
                }
                button[type='submit'] {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
    #content.about {
        .desc {
            width: 100% !important;
        }
        .contact-details {
            margin-left: 0 !important;
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width:767px) {
    header .navigation-bar {
        padding: 20px 0;
    }
    .languages {
        display: none;
    }
    .search-bar {
        display: none;
    }
    .search-bar-mobile {
        display: block;
    }
    #insider_header {
        height: 500px !important;
        .mouse-scroll {
            display: none !important;
        }
    }
    #content {
        .content-links {
            display: none;
        }
        .content-details {
            margin-left: 0 !important;
            width: 100%;
            height: auto !important;
            overflow-y: hidden;
            padding-right: 0;
        }
    }
    #events {
        .event-holder {
            width: 100% !important;
        }
    }
    .event {
        height: 400px !important;
        flex-wrap: wrap-reverse !important;
        .img {
            width: 100%;
            height: 50%;
        }
        .desc {
            width: 100%;
            height: 50%;
        }
    }
    .faq {
        .list {
            .list-item {
                .title {
                    h1 {
                        font-size: 19px !important;
                    }
                }
                .desc {
                    p {
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:570px) {
    .item-list {
        .item {
            .img,
            .desc {
                width: 100% !important;
                height: 50%;
            }
            .desc {
                h1 {
                    font-size: 21px !important;
                    margin-bottom: 15px !important;
                }
                p {
                    margin-bottom: 15px !important;
                    font-size: 14px !important;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    h1.page_header {
        font-size: 35px;
    }
    #insider_header {
        hyphens: 450px !important;
        .mouse-scroll {
            display: none !important;
        }
    }
    #content {
        .content-details {
            .video {
                iframe {
                    height: 300px;
                }
            }
        }
    }
    .event {
        height: 350px !important;
        .desc {
            padding: 35px !important;
        }
    }
}