body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
}

// variables
$prim: #ff9f1c;
$prim-hover: #e68400;
// globals
.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}
.text-gray {
  color: #aaaaaa;
}
.text-small {
  font-size:12px;
}
a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
  font-size:22px;
}

@media (max-width:1039px) {
    h1 {
        font-size: 36px;
    }
    h2 {
      font-size:24px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
}

@media (max-width:767px) {
    h1 {
        font-size: 26px;
    }
    h2 {
      font-size:20px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
}

@media (max-width:479px) {
    h1 {
        font-size: 21px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 13px;
    }
}

.btn {
    background: $prim;
    color: #fff;
    font-weight: 900;
    font-size: 12px;
    border-radius: 30px;
    padding: 9px 20px;
    display: inline-block;
    text-transform: uppercase;
    transition: all .5s;
    &:hover {
      background:$prim-hover;
    }
}