{% extends "layouts/default.njk" %}

{% block content %}
  <section class="global-container">
    {% include "includes/header.njk" %}
    <div class="container">
        <section class="features flex between">
          {% for item in [{desc: "Sürətli cavablandırma", index: 1}, {desc: "Sərfəli şərtlər", index: 2}, {desc: "Pulsuz xidmət", index: 3}] %}
          <div class="features--item flex middle">
            <img class="features--img" src="./images/content_{{ item.index }}.png">
            <p class="features--description">{{ item.desc }}</p>
          </div>
          {% endfor %}
        </section>
        <section class="flex wrap around">
          {% for item in [{name: 'Kart krediti', index: 1},{name: 'Istehlak krediti', index: 2},{name: 'Ipoteka krediti', index: 3},{name: 'Biznes krediti', index: 4}] %}
          <a href="" class="p-link flex middle">
            <div class="p-link--shield">
              <div class="p-link--logo logo-{{item.index}}">
              </div>
            </div>
            <div class="p-link--description">{{item.name}}</div>
          </a>
          {% endfor %}
        </section>
      </div>
    {% include "includes/footer.njk" %}
  </section>
{% endblock %}