{% extends "layouts/default.njk" %}

{% block content %}
<ul>
    <li><a href="./home.html">Home</a></li>
    <li><a href="./biznes.html">Biznes</a></li>
    <li><a href="./ipoteka.html">Ipoteka</a></li>
    <li><a href="./sorgu.html">Sorgu</a></li>
    <li><a href="./countdown.html">Countdown</a></li>
</ul>
{% endblock %}