{% extends "layouts/default.njk" %}

{% block content %}
  <section class="global-container">
    {% include "includes/header.njk" %}
    <div class="container">
        <section class="features flex between">
          {% for item in [{desc: "İstehlak krediti", index: 1}, {desc: "Kart krediti", index: 2}, {desc: "İpoteka krediti", selected: true, index: 3}, {index:4, desc: "Biznes krediti"}] %}
              <a href="#" class="features--item flex middle">
                {% if item.selected %}
                  <img src="./images/menu_3-selected.png" class="features--img" alt="">
                {% else %}
                  <img class="features--img" src="./images/menu_{{ item.index }}.png">
                {% endif %}
                <p class="features--description">{{ item.desc }}</p>
              </a>
          {% endfor %}
        </section>
        <section class="form">
          <form action="#">
            <div class="form--groups flex wrap between">
                {% for item in [{type: "text", title: "Ad, soyad"}, {type: "text", title: "Iş yeri"}, {type: "number", title: "Kredit məbləği"}, {type: "number", title: "Əmək haqqı"}, {type: "text", title: "Aylıq kredit öhdəliyi"}, { type: "file", isFile: "front", title: "Ş/vəsiqəsinin üz tərəfi"}, { type: "file", isFile: "back", title: "Ş/vəsiqəsinin arxa tərəfi" }, {type: "text", title: "Əlaqə nömrəsi"}] %}
                {% if item.isFile %}
                  <div class="form--group hide-lg">
                    <label class="form--document">
                      <input type="{{item.type}}" data-document="{{item.isFile}}" accept="image/png, image/jpg, image/jpeg">
                      <span data-document-{{item.isFile}}></span>
                      {{item.title}}
                    </label>
                  </div>
                {% else %}
                  <div class="form--group">
                    <p class="group--title">{{item.title}}</p>
                    <div class="group--background">
                      <input type="{{item.type}}" class="group--input">
                    </div>
                  </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="form--confirm flex middle">
                <div class="checkbox">
                  <input type="checkbox" id="confirm-check">
                  <span class="mark"></span>
                </div>
                <label for="confirm-check">Yuxarıda göstərilmiş məlumatların düzgünlüyünü təsdiq edirəm. Kredit reyestrində haqqımda olan bütün məlumatların Azərbaycan Respublikasının qanunvericiliyinə əsasən müvafiq maliyyə qurumu tərəfindən sorğu edilməsinə etiraz etmirəm.</label>
            </div>
            <div class="text-center">
              <button role="submit" class="form--submit">Göndərmək</button>
            </div>
          </form>
        </section>
    </div>
    {% include "includes/footer.njk" %}
  </section>
{% endblock %}