{% extends "layouts/default.njk" %}

{% block content %}
  <section class="global-container">
    {% include "includes/header.njk" %}
    <div class="container">
      <div class="request">
        <div class="request--description">
          <p>“Hörmətli Müştəri Sizin kredit borclanma əmsalınız  50% dən çox olduğu üçün hal hazırda Sizə kredit ayırmaq mümkün deyildir. Xahiş edirik, aylıq kredit öhdəliyinizi azaldıb yenidən müraciət edəsiniz..”</p>
        </div>
        <div class="request--controls">
          <a href="#" class="request--close">Bağlamaq</a>
        </div>
      </div>
    </div>
    {% include "includes/footer.njk" %}
  </section>
{% endblock %}