#sideControls {
    .inner {
            position: fixed;
            opacity: 0;
            right:100px;
            display: none;
            background: #fff;
            padding: 10px 15px;
            border: 3px solid $gray;
            width: 400px;
            top: 50%;
            transform:translate(0, -50%);
            mt(.5s);
            animation: op 1s ease;
            animation-fill-mode: forwards;
            .close {
                display:none;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 25px;
                height: 25px;
                border: 3px solid $gray;
                top: 50%;
                background: white;
                border-left-width: 0;
                border-bottom-width: 0;
                right: -6px;
                transform: rotate(45deg) translateY(-50%);
            }
            .sum {
                margin-top: 20px;
                text-align: right;
                .price {
                    font-size: 20px;
                    span {
                        font-family: $light
                        font-weight: 500;
                        margin-left 20px
                    }
                }
                .continue {
                    padding: 10px 45px;
                    margin-top: 15px;
                    letter-spacing: 3px
                }
            }
            .items {
                overflow-x:hidden;
                max-height:324px;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    li {}
                }
                .item {
                    border-bottom: 1px solid $gray;
                    padding: 15px;
                    .logo {
                        width: 40%;
                        padding-right 30px
                        img {
                            width: 100%;
                        }
                    }
                    .item_description {
                        width: 60%;
                        a {
                            color: black;
                        }
                        .name {
                            font-weight: 900;
                        }
                        .res,
                        .name {
                            display: block;
                            font-size: 20px;
                        }
                    }
                }
            }
            @media (max-height: 527px) {
                top:0;
                bottom:0;
                transform: translate(0,0);
                .items {
                    max-height: none;
                    height:60vh;
                }
            }
            @media (max-height: 300px) {
                .items {
                    height:50vh;
                }
            }
            @media (max-height: 238px) {
                .items {
                    height:35vh;
                }
            }
        }
    position:relative;
    z-index:99999999999999999;
    .ico {
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 30px;
        height: 30px;
    }
    a {
        color: white;
        font-size: 32px;
        font-weight: 100;
        font-family:$light;
        &:hover {
            text-decoration: none;
        }
    }
    .left,
    .right {
        position: fixed;
        top: 50%;
        padding: 10px 30px;
    }
    .l {
        .first {
            &:before {
                right: initial;
                left: -23px;
                border-left: 3px solid $gray;
                border-bottom 3px solid $gray;
                border-right: 0;
                border-top: 0;
            }
            .chat {
                .messages {
                    padding 20px 0
                    clearfix()
                    max-height 258px
                    overflow-x hidden
                    .message {
                        float right
                        .who {
                            font-weight: bold
                            text-transform: capitalize
                            display block
                        }
                        .message-content {
                            background: $gray
                            display inline-block
                            padding 3px 10px
                            border-radius 4px
                            .part {
                                display: block
                            }
                        }
                        &:nth-child(n + 2) {
                            margin-top 30px
                        }
                    }
                    .consultant {
                        float:left
                        .message-content {
                            background: $green
                            display inline-block
                        }
                    }
                }
                hr {
                    margin: 10px 0

                }
                .controls {
                    button {
                        vertical-align: top;
                        color: white
                        border 0
                        background $green
                        padding 2px 15px
                        line-height 1.5
                        border-radius 5px
                    }
                    textarea {
                        border:0
                        resize: none
                        height 44px
                        background:white
                        width 297px
                        &:focus {
                            outline:0;
                        }
                    }
                }
            }
        }
        .inner {
            right: initial;
            left 100px
            
        }
    }
    .left {
        transform: rotate(90deg) translate(0%, 175%);
        z-index: 999999;
        background: $green;
        border-radius: 20px 20px 0px 0px;
        .chat {
            background-image: url('../images/logos/Vector Smart Object.png');
            transform: rotate(-90deg);
        }
    }
    .right {
        right: 0;
        transform: rotate(90deg) translate(0%, -143%);
        background: $red;
        border-radius: 0 0 20px 20px;
        .basket {
            background-image: url('../images/logos/004-shopping-cart.png');
            transform: rotate(-90deg);
        }
        
    }
}

@media (max-width:768px) {
    #sideControls {
        
        .left,
        .right {
            padding: 0;
            border-radius: 10px;
            .ico {
                width: 40px;
                height: 40px;
            }
            a {
                display: block;
                span {
                    display: none;
                }
            }
        }
        .left {
            left: 82px;
            a {
                padding: 0px 15px 15px 15px;
            }
        }
        .right {
            right: 67px;
            a {
                padding: 15px 15px 0 15px;
            }
            
        }
        .r,.l {
            .inner {
            center(fixed);
            bottom: initial
            .close {
                display:block
                position:absolute
                top:-20px;
                left:-20px;
                font-size 30px
                color: $green
                background white
                border-radius: 50%
                width: 50px
                line-height: 50px
                height: 50px
                border 4px solid $gray
                text-align: center;
                cursor: pointer
            }
            &:before {
                content: none
            }
        }
        }
    }
}