#basket {
    .hidden-map{
            display:none;
            position:absolute;
            z-index:9999;
            width:100%;
            padding:0 40px;
            right:0;
            left:0;
        }
    .basket_wrapper {
        padding-bottom:100px;
    }
    .basket_header {
        margin-top: 40px;
        margin-bottom:40px;
        h1 {
            color: $green;
        }
        h3 {
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 2px;
        }
        p {
            text-align:right;
            margin:0;
            font-family: 'Nimbus Sans No5 T OT';
            font-weight: 500;
            color:$fontBlack;
            &:last-child {
                margin-top:10px;
            }
        }
        .col-md-pull-0 {

                    padding: 47px 0 30px 30px;
        }

    }
    .basket_tab {
        text-align: center;
        li {
            border-bottom: 2px solid $gray;
            &:hover {
                border-bottom-color:$btn;
            }
            &:nth-child(n+2) {
                margin-left: 20px;
            }
            &.active {
                border-bottom-color: $btn;
                a {
                    color: black;
                }
            }
            a {
                display: block;
                font-size: 18px;
                padding: 15px;
                font-family:$dif;
                font-weight:500;
                letter-spacing: 1px;
                color: $gray;
                &:hover ,
                &:active ,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
    .basket_tabcontent {
        margin-top: 20px;
        .tabs {
            margin-top:40px;
            .tab_header {
                text-align: center;
                ul {
                    display:inline-block;
                    li {
                        display:inline-block;
                        &.active {
                            a {
                                color:black;
                                background:white;
                                border-top:1px solid $lightGray;
                                border-left:1px solid $lightGray;
                                border-right:1px solid $lightGray;
                            }
                        }
                        a {
                            margin-bottom:-2px;
                            display:inline-block;
                            letter-spacing: 2px;
                            padding:15px 25px;
                            color:$gray;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            .tab_body {
                border-top:1px solid $gray;
                padding-top:20px;
                .card {
                    .ds {
                        margin-bottom:10px;
                    }
                    @media(max-width:992px) {
                        .col-md-6:last-child {
                        margin-top:20px;
                    }
                    }
                    select {
                        padding:10px;
                        background:$lightGray;
                        color:$gray;
                        border:1px solid #d4d1d0;
                        &:focus {
                            color:black;
                        }
                    }
                    .day {
                        margin-right:20px;
                    }
                }
                .tab_item {
                    display:none;
                    &.active {
                        display:block;
                    }
                }
            }
        }
        .form,.cart,.payment {
            display:none;
            &.active {
                display:block;
            }
        }
        .cart {
            .cart_items {
                table {
                width:100%;
                thead {
                    border-bottom:1px solid $gray;
                    tr {
                        th {
                            text-align:left;
                            padding:15px 5px;
                            color:$gray;
                            text-transform: uppercase;
                            font-size:.8em;
                        }
                    }
                }
                tbody {
                    text-align:left;
                    border-bottom:1px solid $gray;
                    tr {
                        .item_name {
                            .name,.description,.weight {
                                display:block;
                            }
                            .weight {
                                font-size:.9em;
                                color:$gray;
                            }
                        }
                        td {
                            padding:5px;
                            &:first-child {
                                width:200px;
                                padding:15px;
                                img {
                                    width:100%;
                                }
                            }
                        }
                    }
                }
            }
            }
            &_controls {
                margin-top:20px;
                .pull-right {
                    span {
                        margin-left:40px;
                        margin-right:20px;
                        font-size:25px;
                        vertical-align: middle;
                        font-weight:bold;
                        color:$fontBlack;
                    }
                    .continue {
                        padding-left:30px;
                        padding-right:30px;
                    }
                }
            }
            .cart_summary {
                padding:25px;
                margin-top:75px;
                background:#efefec;
                .form-group {
                    padding:15px;
                }
                > div {
                    position:relative;
                }
                .summary {
                    float:right;
                    table {
                        font-size:15px;
                        color: $fontBlack;
                        td {
                            padding:4px 0;
                        }
                        .-b {
                            font-size:17px;
                            font-weight:bold;
                        }
                    }
                }
            }
        }
        label {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
        }
        .f-group {
            margin-top: 10px;
            &:before {
                content: '';
                display: table;
            }
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            .c-group {
                input {
                    padding-right:40px;
                }
            }
        }
        .-h {
            .col-md-6:first-child {
                padding-right:25px;
            }
            label {
                display:block;
            }
            .c-logo {
                display:block;
                position:Absolute;
                width:25px;
                height:25px;
                top:50%;
                transform:translateY(-34%);
                right:12px;
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center center;
            }
            .-map {
                cursor:pointer;
                background-image:url('../images/logos/001-location-1.png');
            }
            .-loc {
                background-image:url('../images/logos/004-arrows.png');
                right:35px;
            }
        }
        
        .f-c {
            width: 100%;
            margin-top: 10px;
            border: 1px solid $gray;
            border-radius:2px;
            background: $lightGray;
            padding: 10px;
            &:focus {
                outline: 0;
            }
        }
        .f-c_small {
            width:110px;
        }
        .controls {
            margin-top:20px;
        }
    }
}

@media (max-width:992px) {
    #basket {
        .basket_header {
            .col-md-push-0 {
                text-align:right;
            }
            h3 {
                    font-size: 10px;
            }
        }
        .basket_tabcontent {
            .cart {
                .cart_summary {
                    .form-group {
                        padding-left:0;
                        padding-right:0;
                    }
                }
            }
            .-h .col-md-6:first-child {
                padding-right:0;
            }
            .-h {
                .-loc {
                    right:12px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    #basket .basket_tabcontent .cart_controls .pull-right {
        float: none !important;
        text-align:right;
        margin-top:100px;
        &:before {
            content:"";
            display:block;
            clear:both;
        }
    }
     #basket {
        .basket_header {
            padding-left:15px;
            padding-right:15px;
            .col-sm-pull-6 {
                margin-top:80px;
            }
        }
     }
}
@media(max-width:629px) {
    #basket {
        .basket_tabcontent {
            .cart {
                .cart_items {
                    overflow-x:auto;
                    table {
                        width:700px;
                    }
                }
            }
        }
    }
}