#Carrot {
    .header_b {
        text-align:center;
        &.up {
            text-transform: uppercase;
        }
        &.bold {
            font-weight:900;
            font-family:$dif;
        }
        hr {
            margin:10px auto;
            width:80px;
            border-color:$green;
        }
    }
    >.container {
        padding-bottom: 50px;
    }
    .minimap {
        margin-bottom:30px;
        li {
            a {
                font-size: 11px;
            }
        }
    }
    .filter {
        padding-right: 20px;
        .body {
            margin-top: 40px;
            .body-item {
                border: 1px solid $gray;
                margin-top: 40px;
                .item_header {
                    position: relative;
                    padding: 5px 15px;
                    border-bottom: 1px solid $gray;
                    span {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 11px;
                    }
                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 15px;
                        color: $gray;
                    }
                }
                .item_body {
                    background: #f2f2f2;
                    padding: 15px;
                    ul li {
                        display: block;
                    }
                    .range-slider {
                        padding: 15px;
                        range-slider(100%, 100px, 50px, $gray, #f2f2f2, none);
                    }
                }
            }
            .accordion-container {
                .vegetables {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    padding: 15px;
                    background-color: #f2f2f2;
                    .drop {
                        li {
                            text-indent: 30px
                            a {
                                &:before {
                                    content:"* "
                                }
                            }
                        }
                    }
                    > li {
                        a {
                            font-size: 13px;
                            display: block;
                            border-radius: 2px;
                            &.active {
                                color: #fff;
                                background-color: $green;
                            }
                        }
                    }
                }
            }
        }
        .header {
            input {
                border: 1px solid #c2c2c2;
            }
            .form-group {
                margin-top: 15px;
                label {
                    display: block;
                    font-size: 20px;
                }
                >.form-control {
                        font-size: 7px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        margin-left:10px;
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 13px;
                        height: 13px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        background-image: url('../images/logos/001-bag copy 2.png');
                        vertical-align: middle;
                        margin-right: 4px;
                    }
                }
                .header_logo {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin-left: 10px;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                    background-image: url('../images/logos/004-shopping-cart1.png');
                }
                .header_c {
                    span {
                        font-size: 12px;
                        text-transform: capitalize;
                    }
                }
                .control-group {
                    >input {
                        padding: 5px 30px 5px 2px;
                    }
                    > span {
                        font-size:11px;
                    }
                    .num {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        margin:0 1px;
                        .min,
                        .plus {
                            padding: 0;
                            border: 0;
                            position: absolute;
                            top: 0;
                            background: transparent;
                        }
                        .min {
                            left: 5px;
                        }
                        .plus {
                            right: 5px;
                        }
                        input {
                            width: 60px;
                            border-radius: 5px;
                            font-size: 10px;
                        }
                    }
                }
            }
            .search {
                display: block;
                input {
                    width: 100%;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-right: 30px;
                    padding-left: 5px;
                }
                i {
                    top: 8px;
                    right: 10px;
                }
            }
        }
    }
    .items_wrapper {
        width: calc(100% - 251px);
        float: left;
        border-left: 1px solid #d4d1d0;
            // transform: translateX(0);
        @media(max-width:1200px) {
            transform: translateX(0);
        }
        mt(.5s);
        .leftPanel {
            display: none;
            border: 0;
            background: $green;
            color: white;
            i {
                font-weight: bold;
                margin-right: 3px;
            }
            &:focus {
                outline: none;
            }
            &:active {
                background-color: darken($green, 5%);
            }
            padding:12px 25px;
            margin-right:10px;
        }
        &.active {
            transform: translateX(251px);
        }
    }
    .filter_wrapper {
        width: 251px;
        float: left;
        transform: translateX(0);
        mt(.5s);
        &.active {
            transform: translateX(251px);
            visibility: visible;
        }
    }
    .items {
        .header {
            .sort {
                padding-left: 20px;
                ul {
                    li {
                        font-weight: bold;
                        font-size: 15px;
                        letter-spacing: 2px;
                        &:first-child {
                            margin-right: 10px;
                        }
                        a {
                            padding: 0 5px;
                            &.active {
                                color: $green;
                            }
                        }
                        &:nth-child(n+3) {
                            &:before {
                                content: '';
                                width: 5px;
                                height: 5px;
                                background: black;
                                border-radius: 50%;
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .title {
                text-transform: uppercase;
                color: $green;
                padding-left: 20px;
                margin-top: 40px;
                .sub-title {
                    display:block;
                    color: $fontGray;
                    font-weight: 100;
                    font-size: 1.3em
                }
                @media(max-width:768px) {
                    .sub-title{ 
                        margin-top:20px;
                    }
                }
                h1 {
                    vertical-align: middle;
                    display: inline-bottom;
                    font-size: 30px;
                    display: inline-block;
                    margin: 0;
                    font-weight: bold;
                }
            }
        }
        .body {
            margin-top: 20px;
            padding-left:20px;
            .inner {
                &:nth-child(n+2) {
                    margin-top: 60px
                }
            }
            &_title {
                color: $fontGray;
                text-indent: 30px
                font-size 30px
                font-weight bold
                text-transform: capitalize;
            }
            .pickup {
                .pick {
                    margin-top:50px;
                    &.col-3 {
                                .item-dots {
                                    right:-3%;
                                }
                            }
                    ul {
                        li {
                            text-align:center;
                            width:24%;
                            position:relative;
                            @media(max-width:992px) {
                                width:50%;
                            }
                            span {
                                display:block;
                                width:80%;
                                margin:20px auto;
                            }
                            
                            .item-dots {
                                display:block;
                                margin:0;
                                width:10px;
                                height:10px;
                                background-color:#888888;
                                border-radius:50%;
                                position:absolute;
                                top:25%;
                                right:-5%;
                                @media(max-width:1200px) {
                                    display:none;
                                }
                                &:before,&:after {
                                    content:'';
                                    display:block;
                                    width:10px;
                                    height:10px;
                                    background: #888888;
                                    border-radius:50%;
                                    position:absolute;
                                }
                                &:before {
                                    left:-20px;
                                }
                                &:after {
                                    right:-20px;
                                }
                            }
                            a {
                                display:block;
                                text-transform: uppercase;
                                color:#31302f;
                                font-family:$dif;
                                font-weight: 500;
                                font-size:1.1em;
                                .logo {
                                    background-position: center center;
                                    background-size:contain;
                                    background-repeat: no-repeat;
                                    display:block;
                                    width:100%;
                                    height:130px;
                                    margin-bottom:10px;
                                    
                                    &.list {
                                        background-image: url('../images/logos/l/list.png');
                                    }
                                    &.date {
                                        background-image: url('../images/logos/l/holiday.png');
                                    }
                                    &.ship {
                                        background-image:url('../images/logos/l/ship.png');
                                    }
                                    &.bag {
                                        background-image:url('../images/logos/l/bag.png');
                                    }
                                }
                            }
                        }
                    }
                }
                .delivery {
                    margin-top:40px;
                    padding:15px 40px 40px 40px;
                    background:#f2f2f2;
                    .delivery-items {
                        ul {
                            li {
                                width:26%;
                                margin-top:30px;
                                @media(max-width:1200px) {
                                    width:46%;
                                }
                                @media(max-width:992px) {
                                    width:100%;
                                }
                                .logo {
                                    width:50px;
                                    height:50px;
                                    float:left;
                                    position:relative;
                                    z-index:1;
                                    cursor:pointer;
                                    i {
                                        background-position: center center;
                                        background-size: contain;
                                        width:100%;
                                        height:100%;
                                        display:block;
                                        background-repeat:no-repeat;
                                        &.home {
                                            background-image:url('../images/logos/l/house.png');
                                        }
                                        &.apart{
                                            background-image:url('../images/logos/l/apartment.png');
                                        }
                                        &.campus{
                                            background-image:url('../images/logos/l/mortarboard.png');
                                        }
                                        &.work{
                                            background-image:url('../images/logos/l/apartment2.png');

                                        }
                                        &.else{
                                            background-image:url('../images/logos/l/travel.png');
                                        }
                                        &.hotel {
                                            background-image:url('../images/logos/l/bed2.png');
                                        }
                                        &.airport {
                                            background-image: url('../images/logos/l/airport.png');
                                        }
                                    }
                                }
                                .category {
                                    padding-left:68px;
                                    position:relative;
                                    .header {
                                        font-weight:900;
                                        font-family:$regular;
                                        text-transform: uppercase;
                                    }
                                    .description {
                                        margin-top:10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .laundry {
                    padding:40px 0;
                    .laundry-items {
                        padding:20px 0;
                        li {
                            width:25%;
                            margin-top:20px;
                            @media(max-width:992px) {
                                width:26%;
                            }
                            a {
                                display:block;
                                text-align:center;
                                text-transform: uppercase;
                                font-weight:900;
                                i {
                                    background-position:center center;
                                    background-size:contain;
                                    display:block;
                                    margin:0 auto 10px auto;
                                    width:100%;
                                    height:130px;
                                    background-repeat: no-repeat;
                                    &.clothing {
                                        background-image:url('../images/logos/l/shirt.png');
                                    }
                                    &.suits {
                                        background-image: url('../images/logos/l/jacket2.png');
                                    }
                                    &.outwear {
                                        background-image: url('../images/logos/l/jacket.png');
                                    }
                                    &.care {
                                        background-image: url('../images/logos/l/towel.png');
                                    }
                                    &.bedding {
                                        background-image: url('../images/logos/l/bed.png');
                                    }
                                    &.formalwear {
                                        background-image: url('../images/logos/l/fashion.png');

                                    }
                                    &.shoes {
                                        background-image: url('../images/logos/l/sneaker.png');

                                    }
                                    &.folding {
                                        background-image: url('../images/logos/l/towels.png');
                                    }
                                }
                            }
                        }
                    }
                    .continue {
                        margin-top:40px;
                        font-size:.8em;
                        padding:5px;
                    }
                }
            }
            .item_hover {
                        width:860px;
                        position: fixed;
                        top:50%;    
                        left: 33%;
                        z-index:999;
                        transform: translateY(-50%);
                        visibility:hidden;
                        opacity:0;
                        transition:all .3s ease;
                        background: rgba(white, 0.8);
                        border: 2px solid $gray;
                        padding: 20px 20px 40px 20px;
                        &.airport {
                            position:absolute;
                            top: 300px;
                            z-index:999;
                            left: -162%;
                            .price {
                                ul {
                                    li {
                                        margin:0;
                                        width:initial;
                                    }
                                }
                            }
                            .privacy {
                                margin-top:10px;
                                font-size:.8em;
                                ul {
                                    list-style: disc;
                                    li {
                                        margin-top:10px;
                                        width:100%;
                                    }
                                }
                            }
                        }
                        &.suits {
                            width:100%;
                            border:0;
                            border:0;
                            transform:translate(0);
                            visibility:visible;
                            opacity:1;
                            position:relative;
                            top:0;
                            left:0;
                            padding:0;
                            .laundry-desc {
                                ul {
                                    list-style:disc;
                                    li {
                                        margin-top:5px;
                                    }
                                }
                            }
                            .right-side  {
                                .date {
                                    input {
                                        opacity:0;
                                    }
                                }
                                
                                @media(max-width:1200px) {
                                    .date {
                                        width:100%;
                                        margin-top:20px;
                                        .continue {
                                            width:100%;
                                        }
                                    }
                                    .address {
                                        width:100%;
                                        margin-top:20px;
                                        .continue {
                                            width:100%;
                                        }
                                    }
                                }
                                
                            }

                            .laundry-social {
                                margin-top:20px;
                                border-top:3px solid rgba(0,0,0,0.1);
                                padding-top:10px;
                                ul {
                                    li {
                                        display:inline-block;
                                        &:nth-child(n+2) {
                                            margin-left:20px;
                                        }
                                        a {
                                            display:block;
                                            i {
                                                font-size:20px;
                                            }
                                        }
                                    }
                                }
                            }
                            .laundry-quality {
                                margin-top:130px;
                                ul {
                                    list-style:disc;
                                    padding-left:20px;
                                    li {
                                        margin-top:20px;
                                    }
                                }
                            }
                            @media (max-width:1200px) {
                                display:block !important;
                            }
                            @media (max-width:992px) {
                                .item_top {
                                    .left-side {
                                        width:100%;
                                    }
                                    .right-side {
                                        width:100%;
                                    }
                                }
                            }
                        }
                        &.active {
                            visibility: visible;
                            opacity:1;
                        }
                        @media (max-width:1200px) {
                            display:none !important;
                        }
                        .continue {
                            padding: 8px 20px;
                            font-size: 0.8em;
                            letter-spacing: 0;
                        }
                        .item_top {
                            .left-side {
                                width:46%;
                                .image {
                                }
                                .controls {
                                    margin-top: 20px;
                                    .price {
                                        span {
                                            font-weight: 900;
                                            font-size: 1.2em;
                                        }
                                    }
                                    .image-container {
                                        width:45%;
                                        .car-item {
                                            a {
                                                display:block;
                                                width:70px;
                                                height:60px;
                                                img {
                                                    width:100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .right-side {
                                width:47%;
                                .info {
                                    .header {
                                        font-weight: 900;
                                        font-size: 1.2em;
                                        text-transform: uppercase;
                                    }
                                    .description {
                                        text-align:left;
                                        margin-top: 20px;
                                        font-size: 1.2em;
                                    }
                                }
                                .props {
                                    table {
                                        td {
                                            vertical-align: top;
                                        }
                                        .key {
                                            font-weight:900;
                                        }
                                        .value {
                                            padding-left:20px;
                                        }
                                    }
                                }
                                .controls {
                                    .address {
                                        position:relative;
                                        .recipient {
                                            position:absolute;
                                            bottom:45px;
                                            visibility: hidden;
                                            opacity:0;
                                            background:white;
                                            border:1px solid $gray;
                                            padding:15px;
                                            width:350px;
                                            transition: all .5s ease;
                                            &.active {
                                                visibility: visible;
                                                opacity: 1;
                                            }
                                            .group {
                                                .l {
                                                    width:70%;
                                                }
                                                .r {
                                                    width:25%;
                                                }
                                                .approve {
                                                    text-transform: capitalize;
                                                    letter-spacing: 0;
                                                }
                                                span {
                                                    text-transform: capitalize;
                                                }
                                                textarea {
                                                    height:90px;
                                                }
                                                input,textarea {
                                                    padding:3px 5px;
                                                    display:block;
                                                    width:100%;
                                                    resize: none;
                                                    border: 2px solid $gray;
                                                }
                                            }
                                        }
                                    }
                                    .date {
                                        input {
                                            position:absolute;
                                            z-index:-1;
                                        }
                                    }
                                }
                            }
                        }
                        .roof {
                            &_set {
                                margin-top: 20px;
                                .price {
                                    font-size: 1.1em;
                                    span {
                                        margin-left:10px;
                                        font-weight: 500;
                                        font-size: 1.2em;
                                    }
                                }
                                .quantity {
                                    font-family: $light;
                                    font-size: 1.2em;
                                    .num {
                                        margin-left: 12px;
                                        input {
                                            border: 3px solid $gray;
                                        }
                                        .plus {
                                            top:2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
            .body_items {
                .body_item {
                    width: 20%;
                    padding: 15px;
                    border-right: 1px solid $gray;
                    font-family: 'Nimbus Sans No5 T OT';
                    vertical-align: top;
                    
                    &:nth-child(4n) {
                        border-right: 0;
                    }
                    .item_logo {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .sum {
                border-top: 1px solid $gray;
                text-align: right;
                margin-left: 20px;
                margin-top:30px;
            }
        }
    }
}

@media(max-width:992px) {
    #Carrot {
        .minimap {
            ul {
                li {
                    &:first-child {
                        &:before {
                            width: 20px;
                        }
                    }
                }
            }
        }
        .items {
            .body {
                .body_items {
                    .body_item {
                        width: 25%;
                        float: left;
                        padding: 8px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #Carrot {
        .items {
            .body {
                .body_items {
                    .body_item {
                        width: 25%;
                    }
                }
            }
        }
        .items_wrapper {
            width: 100%;
            .leftPanel {
                display: inline-block;
            }
            .items {
                border: 0;
            }
        }
        .filter_wrapper {
            visibility: hidden;
            margin-left: -251px;
        }
        .minimap {
            li {
                a {
                    font-size: 10px;
                }
                &:first-child {
                    &:before {
                        width: 10px;
                    }
                }
                &:nth-child(n+2) {
                    &:before {
                        width: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width:496px) {
    #Carrot {
        .items {
            .body {
                .body_items {
                    .body_item {
                        width: 50%;
                        &:nth-child(2n) {
                        border-right: 0;
                    }
                    }
                }
            }
        }
    }
}