#footer {
    .contact {
        color: white;
        .col-md-5 {
            background: $red;
        }
        .col-md-7 {
            background: $gray;
        }
        .sub {
            padding: 50px 80px;
            span {
                display: block;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            input {
                width: 300px;
                padding: 8px 10px;
                vertical-align: middle;
                color: black;
                border: 0;
            }
            button {
                vertical-align: middle;
                text-transform: uppercase;
                border: 0;
                background: $btn;
                padding: 5px 10px;
                font-size: 20px;
                border-radius: 2px;
            }
            ul {
                margin-top: 10px;
                li {
                    a {
                        display: block;
                        padding: 7px 10px;
                        line-height: 1;
                        border: 1px solid white;
                        border-radius: 50%;
                        i {
                            color: white;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .links {
            padding: 50px;
            .sub-right-top {
                ul {
                    display: inline-block;
                    border-bottom: 1px solid white;
                    padding-bottom: 15px;
                }
                li {
                    &:nth-child(n+2) {
                        margin-left: 10px;
                    }
                    a {
                        color: $fontGray;
                    }
                }
            }
            .sub-right-middle {
                margin: 21px 0;
                ul {
                    li {
                        &:nth-child(n+2) {
                            margin-left: 10px;
                        }
                    }
                }
            }
            .sub-right-bottom {
                li {
                    &:first-child {
                        a {
                            background-image: url('../images/logos/paypal.png');
                        }
                    }
                    &:last-child {
                        margin-left: 10px;
                        a {
                            background-image: url('../images/logos/MasterCard.png');
                        }
                    }
                    &:nth-child(2) {
                        margin-left: 10px;
                        a {
                            background-image: url('../images/logos/Visa.png');
                        }
                    }
                    a {
                        width: 70px;
                        height: 25px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;
                        display: block;
                    }
                }
            }
        }
    }
    .copyright {
        .bottom {
            padding: 20px 0;
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: url('../images/greenHorizontal.png') no-repeat center center;
                background-size: contain;
            }
            .container {
                &:before {
                    background-image: url('../images/greenHorizontal.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: block;
                    background-size: contain;
                    width: 100%;
                    height: 100%;
                    left: -15%;
                    top: 35%;
                    position: absolute;
                }
                &:after {
                    background-image: url('../images/greenHorizontal.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    z-index: -1;
                    top: 35%;
                    right: -50%;
                }
                padding:20px 10px;
                position: relative;
                color:white;
                .pull-left {
                    line-height: 2.2;
                    position: relative;
                }
                .pull-right {
                    position: relative;
                    ul {
                        li {
                            &:nth-child(n+2) {
                                margin-left: 20px;
                            }
                            a {
                                color: white;
                                i {
                                    color: white;
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .description {
            padding: 40px 0;
            .col-md-5 {
                text-align: center;
            }
            img {
                width: 300px;
            }
            P {
                font-family:"Nimbus Sans Novus T OT";
                color: $fontGray;
                font-size: 16px;
            }
        }
    }
}

@media (max-width:1200px) {
    #footer {
        .contact {
            .sub {
                padding-right: 0;
                button {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (max-width:992px) {
    #footer {
        .contact {
            .col-md-5,
            .col-md-7 {
                width: 100%;
            }
            .sub {
                button {
                    margin-left: 0;
                    margin-top: 0;
                }
            }
            .links {
                padding-right: 0;
                padding-left: 80px;
            }
        }
        .copyright {
            .description {
                .col-md-6 {
                    margin-top: 20px;
                }
            }
            .bottom {
                background:$green;
                > .container {
                    &:before {
                        background-image: none;
                        position:static;
                    }
                    &:after {
                        background-image: none;
                        position:static;
                    }
                }
            }
        }
    }
}
@media (max-width:650px) {
    #footer {
        .copyright {
            .bottom {
                .pull-left {
                    float:none;
                    width:100%;
                }
                .pull-right {
                    float:none;
                    width:100%;
                }
            }
        }
    }
}
@media (max-width:570px) {
    #footer {
        .contact {
            .sub {
                padding: 15px 0 15px 15px;
                input{
                    width:inherit;
                    min-width:200px;
                }
            }
            .links {
                padding: 15px 0 15px 15px;
            }
        }
        .copyright {
            .description {
                p {
                    font-size:13px;
                }
            }
        }
    }
}