#Carrot {
    .fresh_deals {
        padding: 150px 0;
        .deals_wrapper {
            position:relative;
            @media(max-width: 992px) {
                    .overlay {
                        display: none;
                    }
                }
            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 10%;
                    z-index:-1;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 65%;
                    height: 119%;
                }
            }
            .title {
                text-align: center;
                span {
                    display: inline-block;
                    color: white;
                    font-size: 20px;
                    border-radius: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 10px 40PX;
                    letter-spacing: 2px;
                    background: $red;
                }
            }
            .mycar {
                overflow:hidden;
                background-color:#fff;
                margin-top: 40px;
                border-top: 1px solid $gray;
                border-bottom: 1px solid $gray;
                padding: 20px 0;
                box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.5);
                position:relative;
                z-index:999;
                @media(max-width: 992px) {
                    .l, .r {
                        display: none;
                    }
                }
                .l,
                .r {
                    color: $green;
                    font-size: 30px;
                    cursor: pointer;
                    width: 30%;
                    position: relative;
                    i {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                    }
                }
                .l {}
                .r {}
                #car1 {
                    .item {
                        .item_logo {
                            border: 1px solid $gray;
                            padding: 20px 15px;
                            img {
                                width: 100%;
                            }
                        }
                        .item_description {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    .items {
        .body {
            .body_items {
                .body_item {
                    .item_logo {
                        padding: 15px 0;
                    }
                    .item_description {
                        margin-top: 10px;
                        .cat {
                            font-size: 16px;
                            font-weight: bold;
                        }
                        .rating {
                            margin-top 10px;
                        }
                        .price {
                            margin-bottom 10px;
                        }
                        .add-to-cart {
                            display inline-block
                            a {
                                background $green
                                padding 8px 5px
                                border-radius 4px
                                display inline-block
                                font-family: $dif
                                letter-spacing: 0.15em
                                font-weight 500
                                font-size 9px
                                text-transform: uppercase
                                color white;
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}