#header {
    .header {
        padding: 16px 0;
        &_nav {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    &:nth-child(n+2) {
                        margin-left: 23px;
                    }
                    &:last-child {
                        margin-left: 55px;
                    }
                    a {
                        color: black;
                        font-size: 12px;
                        &.active {
                            border-radius:10px;
                            background: $green;
                            display:inline-block;
                            padding:5px 10px;
                            color:white;
                            font-weight:900;
                            box-shadow:inset 0 0 10px 0px rgba(0,0,0,0.5);
                        }
                    }
                }
            }
        }
        &_logo {
            vertical-align: middle;
            a {
                display: block;
            }
            img {
                width: 35px;
                height: 35px;
                display: block;
            }
        }
        &_controls {
            > ul {
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    > a {
                        color: black;
                    }
                }
            }
            .lang,
            .currency {
                a {
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .currency {
                margin-right: 52px;
            }
            .lang {
                margin-right: 8px;
            }
            .account {
                margin-right: 12px;
                position:relative;
                font-weight 900
                a {
                    color: $green
                }
            }
            .inner {
                max-height: 0
                overflow hidden
                mt(.5s)
                &.active {
                    max-height: 641px
                    .account-dropdown {
                        display: block
                    }
                }
            }
            .account-dropdown {
                    position:absolute;
                    top 60px
                    transform translateX(-40%)
                    z-index:999999
                    width:350px
                    border 4px solid $gray
                    padding 30px
                    display: none
                    background #fff
                    @media(max-width:992px) {
                        transform: translateX(40%)
                        top: 120px
                        &:before {
                            left: 15px
                        }
                    }
                    
                    &:before {
                        content: '';
                        background #fff
                        transform rotate(-45deg)
                        width 20px
                        height 20px
                        z-index -1
                        display block
                        position absolute
                        top -13px
                        right 15px
                        border-top 4px solid $gray
                        border-right 4px solid $gray
                    }
                    hr {
                        border-width 2px
                    }
                    .title {
                        text-transform: uppercase
                        font-weight 900
                        margin-bottom 20px
                    }
                    .sign-out {
                        .title {
                            text-transform: capitalize
                        }
                        a {
                            display: block
                            text-align: center
                            border 2px solid $green
                            border-radius 4px
                            padding 10px 0
                            font-weight bold
                            color $fontGray
                            margin 0 20px
                            mt(.2s)
                            &:hover {
                                color white
                                background $green
                                text-decoration: none
                            }
                        }
                    }
                    .section {
                        li {
                            display: block
                            margin-bottom 5px
                            a {
                                text-transform: capitalize
                            }
                        }
                    }
                    @media(max-width:768px) {
                        transform: none
                        position: relative
                        top:0
                        width: 100%
                        margin-top 20px
                        text-align: center
                        padding 15px
                        &:before {
                            content none
                        }
                        .section {
                            li {
                                a {
                                    padding 5px 15px
                                    display: block
                                }
                            }
                        }
                    }
                    
                }
            .bag {
                >a {
                    &:hover {
                        text-decoration: none;
                    }
                }
                span {
                    background-color: $red;
                    color: White;
                    font-weight: bold;
                    padding: 5px;
                    border-radius: 8px;
                    font-size: 11px;
                    margin-left: 5px;
                }
                &_logo {
                    background-image: url('../images/logos/Cart_icon.png');
                    background-repeat: no-repeat;
                    display: inline-block;
                    vertical-align: middle;
                    width: 27px;
                    height: 27px;
                }
            }
        }
    }
    .search {
        &_call {
            text-align: right;
            padding: 5px 0;
            a {
                color: black;
            }
            .call_logo {
                background: url('../images/logos/Earphones_icon.png') no-repeat center center;
                display: inline-block;
                width: 20px;
                height: 20px;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        &_bar {
            position: relative;
            .bar_wrapper {
                position: relative;
            }
            input {
                width: 100%;
                border-radius: 5px;
                border: 1px solid $gray;
                padding: 5px 25px 5px 5px;
                &:focus {
                    outline: none;
                    &+i {
                        color: black;
                    }
                }
            }
            i {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: $gray;
            }
            padding-right:108px;
        }
    }
    .menu {
        padding: 10px 0;
        &_nav {
            vertical-align: middle;
            ul {
                list-style: none;
                padding: 24px 0;
                margin: 0;
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 107%;
                    height: 100%;
                    top: 0px;
                    left: -8%;
                    background: url('../images/greenHorizontal.png') no-repeat center center;
                    background-size: contain;
                }
                li {
                    position: relative;
                    z-index: 1;
                    a.active {
                        border-radius:8px;
                        color: white
                        background:rgba(0,0,0,0.1)
                        box-shadow: inset 0 0 9px 0px black
                        font-weight:500;
                    }
                    a:hover {
                        text-decoration: none;
                    }
                    &:nth-child(n+2) {
                        margin-left: 28px;
                    }
                    display:inline-block;
                    a {
                        font-size: 15px;
                        padding:8px 10px;
                        letter-spacing: 1px;
                        font-family:$light;
                        font-weight: 400;
                    }
                }
            }
        }
        &_logo {
            text-align: right;
            img {
                width: 170px;
                height: 60px;
            }
        }
    }
}

@media (max-width:1200px) {
    #header {
        .menu {
            .menu_nav {
                ul {
                    li {
                        a {
                            font-size: 1em
                        }
                        &:nth-child(n+2) {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    #header {
        .header {
            .header_nav {
                width: 100%;
            }
            .header_controls {
                width: 100%;
                margin-top: 20px;
            }
        }
        .search {
            .search_call {
                text-align: left;
            }
            .search_bar {
                padding-right: 0;
            }
        }
        .menu {
            .menu_logo {
                text-align: left;
            }
            .menu_nav {
                ul {
                    li {
                        &:nth-child(n+2) {
                            margin-left:2px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    #header {
        .header {
            .header_nav {
                .header_logo {
                    display: none;
                }
            }
        }
        .search {
            .search_bar {
                input {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
        .menu {
            .menu_logo {
                margin-top: 15px;
            }
            .menu_nav {
                ul {
                    background: $green;
                    padding: 0;
                    &:after {
                        position: static;
                        background-image: none;
                    }
                    li {
                        display: block;
                        &:nth-child(n+2) {
                            margin: 0;
                        }
                        a {
                            display: block;
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }
}