#home
  padding: 50px 0
  overflow: hidden
  .welcome
    &_image
      position: relative
      &:before
        content: ''
        display: block
        background-image: url("../images/greenVertical.png")
        background-position: center center
        background-repeat: no-repeat
        background-size: contain
        width: 100%
        height: 100%
        position: absolute
        top: 70%
        z-index: -1
        left: -36%
      &:after
        content: ''
        display: block
        background-image: url("../images/greenVertical.png")
        background-position: center center
        background-repeat: no-repeat
        background-size: contain
        width: 100%
        height: 100%
        position: absolute
        top: 70%
        z-index: -1
        right: -36%
  .bonus
    padding-top: 120px
    padding-bottom: 50px
    &_items
      ul
        margin: 0
        padding: 0
        list-style: none
        li
          &.row-single
            .images
              .image
                a
                  text-align:center
                img
                  margin: initial
                  width:75%
          display: block
          .images
            .title
              text-align: center
              font-size: 26px
              color: #5e5e5e
              text-transform: uppercase
              font-family: "Nimbus Sans Novus T OT"
              text-shadow: 2px 2px 8px #a09d9d
              &.-w
                color: white
                text-shadow: unset
            .image
              text-align: center
              a
                display: block
                img
                  margin: 0 auto
                  width: 75%
    &_button
      text-align: Center
      margin-top: 215px
      .button
        font-size: 26px
        text-transform: uppercase
        border: 0
        background-color: $red
        border-radius: 20px
        padding: 5px 35px
        color: White
  .presents
    background-color: $gray
    padding: 42px 0
    margin-bottom: 250px
    position: relative
    &:before
      content: ''
      background: url("../images/Vector Smart Object copy 4.png") no-repeat center center
      width: 100%
      height: 200%
      display: block
      position: absolute
      top: -50%
    .presents_items
      .wrapper
        padding: 3px
      .item
        padding: 15px
        box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.5)
        background-color: white
        .body
          border-bottom: 1px solid $gray
          padding-bottom: 20px
          position: relative
          height: 100%
          >.col-md-6
            display: table-cell
            float: none
            vertical-align: bottom
          .title
            font-size: 14px
            font-weight: bold
            span
              font-size: 10px
              display: block
          .rat
            margin-top: 10px
            margin-bottom: 10px
            .rating
              display inline-block
            span
              font-weight: bold
              color: $fontGray
          .desc
            span
              color: $fontGray
              font-size: 11px
              &:before
                content: '"'
        .description
          padding-top: 20px
          .points
            float: left
            font-weight: bold
          .take
            a
              float: right
              border: 0
              background-color: $green
              color: white
              font-weight: bold
              text-transform: uppercase
              font-size: 12px
              border-radius: 2px
              padding: 5px 20px
              &:hover
                text-decoration: none

@media (max-width: 1200px)
  #home
    .presents
      &:before
        display: none
      .presents_items
        .item
          .body
            .rat
              .rating
                label
                  &:before
                    margin: 2px
            img
              width: 100%
            .desc
              line-height: 1





@media (max-width:992px)
  #home
    .presents
      .presents_items
        .item
          .body
            .rat
              .rating
                 label
                  &:before
                    margin: 3px
            img
              width: auto
            .desc
              line-height: inherit