#website {
    #wrapper {
        background: $loginb url('../images/logos/bigLogo.png') top right/contain no-repeat;
    }
    #login {
        height: 100%;
        background: linear-gradient(41deg, transparent, rgba(0, 0, 0, 0.3));
        color: #fff;
        a {
            color: #fff;
        }
        #header {
            padding: 50px 0;
            position:fixed;
            top:0;
            width:100vw;
            @media (max-height: 625px) {
                position:relative;
                width:100%;
            }
            .lang,
            .menu {
                display: inline-block
            }
            .lang {
                margin-right: 55px;
                vertical-align: middle;
                ul {
                    li {
                        display: inline-block;
                        &.active {
                            a {
                                color: #fff;
                            }
                        }
                        a {
                            font-family: $light;
                            font-size: 17px;
                            color: rgba(255, 255, 255, 0.5);
                        }
                        &:nth-child(n+2) {
                            a:before {
                                content: '';
                                display: inline-block;
                                border-radius: 50%;
                                vertical-align: middle;
                                width: 2px;
                                height: 2px;
                                background: #fff;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .menu {
                padding: 0;
                .fa {
                    font-size: 35px;
                }
            }
        }
        #content {
            height:100vh;
            .content__wrapper {
                @media (max-height: 810px) {
                    transform:scale(0.8);
                    .get-app {
                        margin-top:50px;
                    }
                }
            }
            @media (max-height: 625px) {
                height: auto;
                padding: 50px 0;
                .content__wrapper {
                    transform: scale(1);
                }
            }
            .logo {}
            .login {
                visibility: hidden;
                opacity:0;
                height:0;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 20px;
                margin-top: 50px;
                overflow: hidden;
                mt(.5s);
                &.active {
                    height:auto;
                visibility: visible;
                opacity:1;

                }
                &_header {
                    font-family: $light;
                    background: rgba(255, 255, 255, 0.1);
                    text-transform: uppercase;
                    padding: 15px 55px;
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 20px;
                }
                &_group {
                    margin-top: 20px;
                    padding: 0 20px;
                    .b {
                        margin-top: 20px;
                        color:rgba(255,255,255,0.5);
                        a {
                            color:rgba(255,255,255,0.5);
                        }
                    }
                    .em,
                    .pwd {
                            position: relative;
                        input::-webkit-input-placeholder {
                            color: #fff !important;
                        }
                        input:-moz-placeholder {
                            color: #fff !important;
                        }
                        input::-moz-placeholder {
                            color: #fff !important;
                        }
                        input:-ms-input-placeholder {
                            color: #fff !important;
                        }
                        input {
                            background: transparent;
                            border: 0;
                            border-bottom: 1px solid white;
                            width: 100%;
                            padding-left: 20px;
                            padding-bottom:10px;
                            padding-top:10px;
                            &:focus {
                                outline: 0;
                            }
                        }
                        i {
                            position: absolute;
                            top:50%;
                            transform:translateY(-50%);
                        }
                    }
                    .pwd {
                        margin-top: 20px;
                    }
                }
                &_submit {
                    margin-top: 20px;
                    padding: 20px 0;
                    button {
                        &:focus {
                            outline:0;
                        }
                        background:rgba(255,255,255,0.2);
                        border:0;
                        border-radius:10px;
                        text-transform: uppercase;
                        padding:8px 35px;
                        font-family:$light;
                        letter-spacing: 4px;
                    }
                }
            }
            .links {
                display:none;
                &.active {
                    display:block;
                }
            }
            .start {
                    margin-top: 30px;
                    padding: 10px 0;
                    border-radius: 26px;
                    text-align: center;
                    background: rgba(255,255,255,0.1);
                span {
                    font-weight: bold;
                    font-size: 16px;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                }
            }
            .log-sign {
                margin-top: 40px;
                .sign,
                .log {
                        display: inline-block;
                        padding: 14px 30px;
                        border-radius: 40px;
                        background: rgba(255,255,255,0.1);
                        color: #a2d55c;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 12px;
                }
                .log {
                    margin-left: 30px;
                }
            }
            .get-app {
                margin-top: 123px;
                span {
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    font-size: 12px;
                }
                .ls {
                    margin-top: 20px;
                    .ios,
                    .android {
                        display: block;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 30px;
                        height: 40px;
                    }
                    .ios {
                        background-image: url("../images/logos/ios.png");
                    }
                    .android {
                        background-image: url("../images/logos/android.png");
                    }
                }
            }
        }
        #footer {
            position:fixed;
            width:100vw;
            bottom:0;
            background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5));
            @media (max-height: 625px) {
                position:relative;
                width:100%;
            }
            @media (min-width:992px) and (max-width:1200px) {
                .copyright {
                    background:$green;
                    .bottom {
                        .container:after,.container:before {
                            content:none;
                        }
                    }
                }
            }
            @media (max-width:603px) {
                .copyright {
                    .bottom {
                        .pr {
                    margin-top:20px;
                    ul {
                        li:first-child {
                            margin-left:0;
                        }
                    }
                }
                    }
                }
            }
            .copyright {
                .bottom {
                    padding: 0;
                    &:before {
                        content: none;
                    }
                    .pl {
                        position: relative;
                    }
                    .pr {
                        ul {
                            position: relative;
                            z-index: 1;
                            li {
                                margin-left: 20px;
                                i {
                                    font-size: 23px;
                                }
                            }
                        }
                    }
                    .container:before {
                        top: 0%;
                    }
                    .container:after {
                        z-index: 0;
                        top: 12%;
                        height: 77%;
                    }
                }
            }
        }
    }
}

// globals
.burger {
    width: 30px;
    cursor: pointer;
    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
    }
    &:before {
        margin-bottom: 5px;
    }
    &:after {
        margin-top: 5px;
    }
    .line {
        width: 100%;
        height: 2px;
        background: white;
    }
}