@import '_var';
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display:block !important;
}
body {
    font-family: $regular;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}
.flexbox{ // safari fix
    display:-webkit-flex;
}
.flex-wrap {
    -webkit-flex-wrap:wrap;
}
a:focus {
    text-decoration: none;
}
.rating {
    li {
        display:inline-block
    }
}
.fa.fa-star {
    color:#fbc300;
}
.fa.fa-star-o {
    color: $gray;
}

.fa.fa-twitter {
    color #2fc7f2
}
.fa.fa-facebook {
    color #3a5897
}
.fa.fa-google-plus {
    color #f95832
}
.fa.fa-pinterest-p {
    color #ef1950
}
.red {
    color: $red;
    text-transform: uppercase;
}

.white {
    color: #fff;
}

a {
    color: black;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    margin:0;
    padding:0;
    list-style:none;
}



.dl {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        display: inline-block;
    }
}

.btn {
  color: white;
  background: $green;
  border: 0;
  padding 5px 10px
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size .8em;
  border-radius: 3px;
  font-weight: 500;
}


.minimap {
  position:relative;
    ul {
        li {
            vertical-align: middle;
            font-size:11px;
            &:nth-child(n+2):before {
                content: '';
                display: inline-block;
                height: 3px;
                vertical-align: middle;
                width: 20px;
                margin-right: 5px;
                border-radius: 3px;
                background: $green;
            }
            &:first-child:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              top: 40%;
              left: -101%;
              right: 0;
              background: $green;
            }
        }
    }
}

.bc {
    background: white;
    border: 1px solid #efefef;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 2px;
    font-size: 12px;
}

.continue {
        background-color: #007fff;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 15px 25px;
    text-transform: uppercase;
}

.mgr-off {
    margin-right: 0 !important;
}

.close {
    cursor: pointer;
    font-size: 14px;
}

.num {
    &.miny {
        display:inline-block;
        position:relative;
        vertical-align: middle;
            .min {
                padding: 0;
                border: 0;
                position: absolute;
                top: 0;
                left: 5px;
                background: transparent;
            }
            .plus {
                padding: 0;
                border: 0;
                position: absolute;
                top: 0;
                background: transparent;
                margin-left: -4px;
                right:5px;
            }
            input {
                width: 60px;
                border-radius: 5px;
                font-size: 10px;
            }
    }
    button {
        background: #fff;
        border: 1px solid $btnb;
        padding: 1px 10px;
        &:focus {
            outline: 0;
        }
        &:active {
            background-color: $gray;
        }
    }
    input {
        text-align: center;
        width: 32px;
        border: 1px solid $btnb;
    }
    .min {
        margin-right: -4px;
    }
    .plus {
        margin-left: -4px;
    }
}

.form-group {
    label {
        color: #737373;
    }
}

.noradius {
    border-radius: 0 !important;
}

.control-group {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    .input-control {
        border: 1px solid #c9c8c8;
        border-radius: 5px;
        padding: 5px 65px 5px 2px;
        width: 230px;
    }
    >i {
        position: absolute;
        top: 8px;
        right: 5px;
        color: $gray;
    }
    .form-control {
        position: absolute;
        right: 2px;
        top: 3px;
    }
}

.form-control {
    border: 0;
    background: $green;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px 10px;
}

.accordion-container {
    position: relative;
    height: auto;
    margin: 20px auto;
    border: 1px solid #c9c8c8;
    border-radius: 2px;
}

.set {
    position: relative;
    width: 100%;
    height: auto;
}

.set>a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.set>a i {
    position: relative;
    float: right;
    margin-top: 4px;
    color: #666;
}

.set>a.active {
    color: #8aba46;
}

.content {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: none;
}

.content p {
    padding: 10px 15px;
    margin: 0;
    color: #333;
    background: #f2f2f2;
}

.added-overlay {
    overflow:hidden;
}

.text-center {
    text-align: center;
}

.image-overlay {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(black, 0.8);
    z-index:999999999999;
    .fa {
        position:absolute;
        font-size:40px;
        color:$green;
        right:20px;
        top:20px;
        cursor:pointer;
    }
    img {
        position:absolute;
        top:50%;
        width:30%;
        left:50%;
        transform:translate(-50%, -50%);
    }
}

.checkbox-input {
	display: none;

	& + label {
		position: relative;
		line-height: 30px;
		cursor: pointer;

		&:before {
			content: '';
			display: inline-block;
			height: 10px;
			width: 10px;
			position: relative;
            top: 2px;
            background:white;
            border:1px solid $gray;
            border-radius:3px;
			margin: 0 6px 0 0;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 4px;
			left: 2px;
			width: 6px;
            height: 6px;
            background:$green;
			opacity: 0;
		}

		&:hover:after {
			opacity: 0.25;
		}
	}

	&:checked {
		& + label:after {
			opacity: 1;
		}

		&:hover + label:after {
			border-color: tint($green, 70);
		}
	}

}

.item_description {
    text-transform: capitalize;
    .name_res {
        display: block;
        font-size: 15px;
        .name {
            font-weight: bold;
            display: Block;
        }
        .res {
            font-size: 13px;
        }
    }
    .rating {
        label {
            text-align: left;
            &:before {
                font-size: 14px;
            }
        }
    }
    .price {
        font-weight: bold;
        font-size: 15px;
    }
    .off {
        color: #cc0000;
        font-weight: bold;
    }
}

@media(max-width:768px) {
    .container {
        padding:0 15px;
    }
}

.img-responsive {
    max-width:100%;
    border:0;
    vertical-align: middle;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.custom-dropdown select {
      background-color: white;
    color: black;
    font-size: inherit;
    padding: 0.5em;
    padding-right: 2.5em;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    -webkit-appearance: button;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}


.mt30-md {
    margin-top:30px;
    @media(max-width:768px) {
        margin-top:initial;
    }
}
.mt40-md {
    margin-top:40px;
    @media(max-width:768px) {
        margin-top:initial;
    }
}
.mt50-md {
    margin-top:50px;
    @media(max-width:768px) {
        margin-top:initial;
    }
}
.mt60-md {
    margin-top:60px;
    @media(max-width:768px) {
        margin-top:initial;
    }
}
.white-space-1000 {
    padding-bottom:1000px !important;
}