$regular = "Nimbus Sans L OT"
$light = "Nimbus Sans Novus T OT"
$dif = 'Nimbus Sans No5 T OT'
$gray = #d4d1d0
$green = #a3d65c
$red = #ed2d39
$lightGray = #fafafa
$fontGray = #999999
$btn = #007fff
$btnb = #ededed
$fontBlack = #565656
$loginb = #e9292a


mt($time)
  transition all $time ease


center(pos)
  transform: translate(-50%, -50%)
  position: pos
  top: 50%
  left: 50%

clearfix()
  &:before
  &:after
    content: ''
    display: table
  &:after
    clear both

@keyframes op
  0%
    opacity: 0
  100%
    opacity: 1


range-slider($width, $height, $input-top, $input-bg-color, $input-thumb-color)
  position: relative
  width: $width
  height: $height
  text-align: center;
  input[type="range"] {
    pointer-events: none
    position: absolute
    -webkit-appearance: none
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
    border: none;
    border-radius: 2px;
    background: $input-bg-color;
    left: 0;
    top: $input-top;
    width: $width;
    outline: none;
    height: 4px;
    margin: 0;
    padding: 0;
  }  

  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;    
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid $gray;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten($input-thumb-color,60%)), color-stop(100%, $input-thumb-color)); /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top , lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* older mobile safari and android > 2.2 */;
    background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
  }

  input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
  }

  input[type="range"]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
  }

  input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
  }

  input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
  } 

  input[type=range]::-moz-focus-outer {
    border: 0;
  }