#Picked {
    font-family: $dif;
    .picked_container {
        padding 50px 0
        .product {
            &_name {
                .brand {
                    margin:0;
                    font-size 2.5em
                    text-transform:  uppercase
                    line-height: 1
                }
                .model {
                    line-height: 1
                    font-size 1.1em
                    text-transform: uppercase
                }
            }
            &_rating {
                margin: 30px 0
                .list {
                    li {
                        display: inline-block
                        margin-right: 2px
                        i {
                            font-size:1.2em
                        }
                    }
                    .price {
                        color: $gray
                        font-weight bold
                    }
                }
            }
            &_setting {
                margin-bottom 40px
                .select {
                    .tag
                    .additional {
                        display: inline-block
                        width: 140px
                        position relative
                        select {
                            cursor pointer
                            text-transform: uppercase
                        }
                        option {
                            text-transform: uppercase
                        }
                        @media (max-width: 367px) {
                            .custom-dropdown {
                                margin:0
                            }
                        }
                    }
                }
                .tag {
                    font-family $light
                    text-transform: capitalize
                    font-size 1.2em
                    margin-right 15px
                }

                .quantity {
                    margin-top 20px
                    .tag
                    .num {
                        display: inline-block;
                    }
                }
            }
            &_purchase {
                clearfix()
                border-top 1px solid $gray
                padding-top 50px
                .price
                .cart {
                    display: inline-block
                }
                .price {
                    float left
                    font-size 2em
                    font-weight 400
                }
                .cart {
                    float right
                }
                .cart {
                    .form-control {
                        border-radius: 0;
                        font-size 1.0em
                        padding 10px 20px
                        letter-spacing: 2px
                        text-transform: uppercase
                    }
                }
            }
            &_info {
                padding-top 40px
                .info
                .priv {
                    p {
                        font-family: $light
                        font-weight 400
                    }
                }
                .priv {
                    border-top 1px solid $gray
                    margin-top 20px
                    padding-top 30px
                }
                .title {
                    margin-bottom 10px
                    text-transform: uppercase
                    font-family: $dif
                    font-weight 400
                    font-size 1.4em
                }
                .soc {
                    margin-top 20px
                    border-top 1px solid $gray
                    padding-top: 20px
                    ul {
                        li {
                            display inline-block
                            margin-right 12px
                            font-size 1.5em
                        }
                    }
                }
            }
        }
        .left_side {
            padding-right 120px;
            .img-container  {
                box-shadow 4px 4px 12px -1px rgba(0,0,0,0.5);
            }
            .product_bio {
                margin-top 40px
                p {
                    line-height: 2em
                    font-size 1.2em
                }
            }
        }
    }
    .maylike {
        margin-top 50px;
        .title {
            text-transform: uppercase
            font-size 1.5em
            font-family: $light
            span {
                font-family: $regular
                font-weight 800
            }
        }
    }
    #pickedCarousel {
        margin-top 40px
        .item {
            border 1px solid $gray
        }
        .owl-dot {
            span {
            width 15px
            height 15px
            }
            &:hover {
                span {

                background-color $green
                }
            }
        }
        .owl-dot.active {
            span {
                background-color $green
            }
        }
    }
}