#typo {
  aside {
    .map {
      li:before {
        content: '';
        border: 1px solid $green;
        width: 100%;
        display: inline-block;
        margin-left: -100%;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
  .greeting {
    padding-top:40px;
    text-align:center;
    img {
      width:25%;
    }
    h1 {
      text-transform: uppercase;
      font-weight:600;
    }
    hr{
      margin-top:10px;
      margin-bottom:0;
      border:1px solid $green;
      width:70px;
    }
  }
  article {
    margin-top:30px;
    padding:30px 0;
    .social-icons {
      text-align: center;
      li {
        display:inline-block;
        a {
          display:block;
          font-size:2em;
          padding:10px;
        }
      }
    }
    .article-set {
      margin-bottom:20px
      &.soc {
        margin-top:40px;
      }
      .backward {
        margin:0;
        padding:0;
      }
    }
    .link-red {
      color:red;
    }
    .terms {
      padding:0;
      list-style:none;
      counter-reset my-Counter;
      li {
        margin-bottom:20px;
        &:before {
          content:counter(my-Counter) ". ";
          counter-increment my-Counter;
        }
      }
    }
    .backward {
      margin:0;
      padding:0;
    }
    .articles {
      margin-top:50px;
      li {
        text-align:left
        width:50%;
        margin-top:30px;
        @media(max-width:768px) {
          width:100%;
        }
        p,span,a {
          font-weight:600
        }
        p {
          margin-bottom:10px;
        }
        span {
          display:block;
        }
        a {
          color:#7ea547;
        }
      }
    }
    .logos {
      li {
        width:25%;
        @media(max-width:992px) {
          width:50%;
          margin-top:20px;
        }
        a {
          display:block;
          text-transform uppercase;
          text-decoration none;
          font-weight:600;
          color:#31302e;
        }
        img {
          width:150px;
          display:block;
          margin: 0 auto 20px auto;
        }
      }
    }
    .forward {
      font-family $dif;
      text-indent:5px;
      display block
      font-weight 500
    }
    .up {
      text-indent:20px;
    }
    .set-header {
      overflow:hidden;
      margin-bottom:20px;
      font-weight:600;
      &.line:after {
        content:'';
        display:inline-block;
        margin-right:-100%;
        width:100%;
        vertical-align:middle;
        margin-left:10px;
        border:1px solid #ebebeb;
      }
      &.nm {
        margin:0;
      }
    }
  }
}
