
{% extends './layouts/_layout.njk' %}

{% block Content %}
    <a href="#">Link</a>
    <p>Paragraph</p>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <label for="">Label</label><br>
    <span>Span</span><br>
{% endblock %}

{% block Scripts %} 
{% endblock%}