 {% extends './layouts/_layout.njk' %} {% set aboutMenu='class="active"' %} {% block Content %}
<section id="typo" class="white-space-1000">
  <div class="container">
    <aside>
      <ul class="map">
        <li>About</li>
      </ul>
    </aside>
    <header>
      <div class="greeting">
        <img src="./images/content/logo2.png" alt="">
        <h1>about</h1>
        <hr>
      </div>
    </header>
    <article>
      <div class="article-set">
        <p class="set-header line">Who We are?</p>
        <p>Romwe.com was one of the web's first online stores and has been helping the fashion-conscious look fabulous since 2008. Based in china, Romwe offers the lastest street style dresses, coats, boots and others more.</p>
      </div>
      <div class="article-set">
        <p class="set-header">What We Wanna Do?</p>
        <p>	<span class="forward">•	Serving the world</span>
          The last scene of American Beauty is a red plastic bag flying with the wind, up and down, which is similar to the flying feather in the beginning of Forrest Gump. The similar images portray different aspects of baby boomers. Everyone’s got their own way through all twists and turns in life.</p>
        <p>Like baby boomers in the US, the 80s and 90s generations are always a heated topic. There’s too many tags for them - being rebellious, egotistic, ignorant in China, being pirating, suspicious, shy, and cautious all over the world. Sometimes you just gotta play your cards - to be good or bad. Now it is our turn to play. But we wonder how this game is played?</p>
        <p>We’ve spent a lot of time thinking about it... We are tolerant. We are diverse. We create things that we are familiar and that people want.</p>
      </div>
      <div class="article-set">
        <span class="forward">•	Everyday Quality</span>
        <ul>
          <li>Our brains get too much info.</li>
          <li>Too may ads and ... just stuff.</li>
          <li>Well, ROMWE keeps it simple for you.</li>
          <li>Need a break from the crazy world?</li>
          <li>There is a surprise every day.</li>
        </ul>
      </div>
      <div class="article set">
        <p class="set-header line">About Our Team</p>
        <p>ROMWE is the owner of “ROMWE” Trademark registered worldwide. ROMWE's trademarks and trade dress may not be used regarding any product or service that does not belong to ROMWE, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits ROMWE.</p>
        <p>All content included in or made available through the ROMWE website or Application or Service, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software is the property of ROMWE and is protected by Copyright laws.</p>
      </div>
      <div class="article-set soc">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
        </ul>
      </div>
    </article>
  </div>
</section>
{% endblock %} {% block Scripts %}
{% endblock%}/
