 {% extends './layouts/_layout.njk' %} {% block Styles %} {% endblock %} {% block Content %}
<section id="basket">
    <!-- Basket content -->
    <div class="container basket_wrapper">
        <div class="container-fluid">
            <div class="minimap">
                <ul class="dl">
                    <li>
                        <a href="#">Basket</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="basket_header clearfix">
            <div class="col-md-6 col-sm-6 col-sm-push-6 col-md-push-0">
                <h1>Your cart.</h1>
                <h3>Please review your cart before checking out.</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-sm-pull-6 col-md-pull-0">
                <div class="col-md-6 col-xs-6 text-center">
                    <p>Delivery Charge: 2 &#8380;</p>
                    <p>Order Subtotal: 2 &#8380;</p>
                </div>
                <div class="col-md-6 col-xs-6 text-center">
                    <button class="continue">checkout</button>
                </div>
            </div>
        </div>
        <div class="basket_tab">
            <ul class="dl">
                <li class="cart active"><a href="#">Cart</a></li>
                <li class="shipping"><a href="#">Shipping</a></li>
                <li class="payment"><a href="#">Payment</a></li>
            </ul>
        </div>
        <div class="basket_tabcontent">
            <div class="container cart active">
                <div class="cart_items">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>description</th>
                                <th>color</th>
                                <th>size</th>
                                <th>quantity</th>
                                <th>amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="it">
                                <td>
                                    <a href="#">
                                        <img src="images/content/Layer 2.png" alt="">
                                    </a>
                                </td>
                                <td class="item_name">
                                    <span class="name"><strong>Cal-organic</strong></span>
                                    <span class="description">Organic Rainbow</span>
                                    <span class="weight">2lbs</span>
                                </td>
                                <td></td>
                                <td>---</td>
                                <td>
                                    <div class="num">
                                        <button data-behaviour="minus" class="min">-</button>
                                        <input class="num_result" type="text" value="0">
                                        <button data-behaviour="plus" data-max="123" class="plus">+</button>
                                    </div>
                                </td>
                                <td><strong>3.99 &#8380</strong></td>
                                <td>
                                    <span class="close">X</span>
                                </td>
                            </tr>
                            <tr class="it">
                                <td>
                                    <a href="#">
                                        <img src="images/content/Layer 2.png" alt="">
                                    </a>
                                </td>
                                <td class="item_name">
                                    <span class="name"><strong>Cal-organic</strong></span>
                                    <span class="description">Organic Rainbow</span>
                                    <span class="weight">2lbs</span>
                                </td>
                                <td></td>
                                <td>---</td>
                                <td>
                                    <div class="num">
                                        <button data-behaviour="minus" class="min">-</button>
                                        <input class="num_result" type="text" value="0">
                                        <button data-behaviour="plus" data-max="123" class="plus">+</button>
                                    </div>
                                </td>
                                <td><strong>3.99 &#8380</strong></td>
                                <td>
                                    <span class="close">X</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cart_controls clearfix">
                    <div class="pull-left">
                        <button class="bc">continue shopping</button>
                    </div>
                    <div class="pull-right">
                        Total: <span>7.98 &#8380;</span>
                        <button class="continue">Checkout</button>
                    </div>
                </div>
                <div class="cart_summary clearfix flexbox between middle flex-wrap">
                    <div class="col-md-4 align-left">
                        <div class="form-group">
                            <label for="">Have a promotional code?</label>
                            <div class="control-group">
                                <input placeholder="Enter here" class="input-control" type="text">
                                <button class="form-control">apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Have a new Gift Card?</label>
                            <div class="control-group">
                                <input placeholder="Enter here" class="input-control" type="text">
                                <button class="form-control">apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="summary">
                            <table>
                                <tr>
                                    <td>Delivery: </td>
                                    <td>2.00 &#8380;</td>
                                </tr>
                                <tr>
                                    <td>Total Tax: </td>
                                    <td>Added during Checkout</td>
                                </tr>
                                <tr class="-b">
                                    <td>Order Subtotal:</td>
                                    <td>9.98 &#8380;</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="margin-top:50px;">
                    <button class="bc">Continue shopping</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block Scripts %}
<!-- build:js scripts/basket.js  -->
<script src="scripts/basket.js"></script>
<!-- endbuild  -->
{% endblock%}