 {% extends './layouts/_layout.njk' %} {% set deliveryMenu='class="active"' %} {% block Content %}
<section id="typo" class="white-space-1000">
  <div class="container">
    <aside>
      <ul class="map">
        <li>Delivery & Payment</li>
      </ul>
    </aside>
    <header>
      <div class="greeting">
        <h1>delivery & payment</h1>
        <hr>
      </div>
    </header>
    <article>
      <div class="article-set">
        <p class="set-header line">• Delivery Receipt Templates</p>
        <p class="backward">These receipt templates provide confirmation that a delivery actually took place.</p>
        <p class="backward up">Professional Receipt: Professional looking template with an area for the company logo and contact information as well as the customer details and purchase information. Downloads in the DOC format.</p>
        <p class="up">Goods Delivery Receipt: Simple blue design with quantity, amount, and item lines available. This is a DOTX file stored in a ZIP archive.</p>
      </div>
      <div class="article-set">
        <p class="backward up">Tan Delivery Receipt: Tan colored receipt template in the DOCX file format with the company information near the top and the receiver information at the bottom.</p>
        <p class="up">Blank Delivery Receipt: This receipt is very simple with a design much like one would address an envelope, with the company name on the top left and the receiver's information in the center. You can get this MS Word receipt template in Microsoft's DOCX format.</p>
      </div>
      <div class="article-set">
        <p>Use a donation receipt to explain details of a transaction made as a donation.</p>
        <p class="backward up">Blue Donation Receipt: Provides full detail of the one who donated along with the description and value of the donation.</p>
        <p class="backward up">Full Donation Receipt: Three different versions of this donation receipt are available for download, and each of them has three identical receipt templates on one page. Two are for goods donations received by a foundation, and the third is more suitable for cash donations.</p>
        <p class="up">Donation Thank You Letter: A letter that you can customize that acts like a receipt but seems less structured and maybe even more formal. Can be downloaded for MS Word as a DOC or as an ODT file for use in OpenOffice, as well as opened using Google Docs.</p>
      </div>
      <div class="article-set">
        <p>Use a donation receipt to explain details of a transaction made as a donation.</p>
        <p class="backward up">Blue Donation Receipt: Provides full detail of the one who donated along with the description and value of the donation.</p>
        <p class="backward up">Full Donation Receipt: Three different versions of this donation receipt are available for download, and each of them has three identical receipt templates on one page. Two are for goods donations received by a foundation, and the third is more suitable for cash donations.</p>
        <p class="up">Donation Thank You Letter: A letter that you can customize that acts like a receipt but seems less structured and maybe even more formal. Can be downloaded for MS Word as a DOC or as an ODT file for use in OpenOffice, as well as opened using</p>
      </div>
    </article>
  </div>
</section>
{% endblock %} {% block Scripts %}
{% endblock%}/
