 {% extends './layouts/_layout.njk' %} {% set deskMenu='class="active"' %} {% block Content %}
<section id="typo" class="white-space-1000">
  <div class="container">
    <aside>
      <ul class="map">
        <li>Help Desk</li>
      </ul>
    </aside>
    <header>
      <div class="greeting">
        <h1>Help Desk</h1>
        <hr>
      </div>
    </header>
    <article>
      <ul class="logos flexbox between center flex-wrap">
        <li><a href="#" data-focus="./images/logos/l/1-w.png"><img src="./images/logos/l/1.png" alt="">
            faq
          </a></li>
        <li><a href="#" data-focus="./images/logos/l/2-w.png"><img src="./images/logos/l/2.png" alt="">
            my orders
          </a></li>
        <li><a href="#" data-focus="./images/logos/l/3-w.png"><img src="./images/logos/l/3.png" alt="">
            shipping info
          </a></li>
        <li><a href="#" data-focus="./images/logos/l/4-w.png"><img src="./images/logos/l/4.png" alt="">
            returns
          </a></li>
      </ul>
      <ul class="articles flexbox between middle flex-wrap">
        <li>
          <p>Orders</p>
          <span>Where do I put my promo code?</span>
          <span>Why it says refund when I didn't want a refund on my items? </span>
          <span>Why didn't I get an email about my order being shipped?</span>
          <a href="#">Show all</a>
        </li>
        <li>
          <p>Return</p>
          <span>How do I return an item? </span>
          <span>Will I be refunded cash as I paid on cash? </span>
          <span>Why cannot I place a new order after cancellation of one COD order?</span>
          <a href="#">Show all</a>
        </li>
        <li>
          <p>Products</p>
          <span>Can I get the difference for a discount item ?</span>
          <span>Do you use fur and genuine leather?</span>
          <span>Where are your products from? </span>
          <a href="#">Show all</a>
        </li>
        <li>
          <p>Delivery </p>
          <span>Why there is no further movement about my package?</span>
          <span>Why my shipping is not updated?</span>
          <span>How can I do if I do not want it because of the customs taxes?</span>
          <a href="#">Show all</a>
        </li>
        <li>
          <p>Payment</p>
          <span>Why didn't I receive a verification code?</span>
          <span>Can I pay cash on delivery? </span>
          <span>Why isn't my promo code working?</span>
          <a href="#">Show all</a>
        </li>
        <li>
          <p>Account</p>
          <span>How to update my email address?</span>
          <span>How do I reset password?</span>
          <span>Why can't I log into my ROMWE account?</span>
          <a href="#">Show all</a>
        </li>
      </ul>
    </article>
  </div>
</section>
{% endblock %} {% block Scripts %}
<!-- build:js scripts/helpdesk.js -->
<script src="./scripts/helpdesk.js"></script>
<!-- endbuild -->
{% endblock%}
