 {% extends './layouts/_layout.njk' %} 
 
 
 {% block Content %}
<section id="home">
    <!-- Home content -->
    <div class="container">
        <div class="welcome">
            <div class="welcome_image">
                <img src="images/content/tendancesculinaires.jpg" class="img-responsive" alt="">
            </div>
        </div>
        <div class="bonus">
            <div class="bonus_items">
                <ul>
                    <li class="clearfix">
                        <div class="col-md-3 col-sm-3">
                            <div class="images">
                                <div class="title">Supermarket</div>
                                <div class="image">
                                    <a href="#">
                                        <img class="img-responsive" src="images/content/online-groceries-primary1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="images">
                                <div class="title">flowers</div>
                                <div class="image">
                                    <a href="#">
                                        <img class="img-responsive" src="images/content/fbd5ece9964eaca34f7f60b13df63675.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="images">
                                <div class="title">restaurants</div>
                                <div class="image">
                                    <a href="#">
                                        <img class="img-responsive" src="images/content/ce63f8fae20206c595a52938c91d9caa.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="images">
                                <div class="title">bakery</div>
                                <div class="image">
                                    <a href="#">
                                        <img src="images/content/hogazon11.png" class="img-responsive" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix mt60-md">
                        <div class="col-md-1 col-sm-1" style="width:12.499999995%">
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="images">
                                <div class="title">laundry</div>
                                <div class="image">
                                    <a href="#">
                                        <img src="images/content/Macromax copy.png" class="img-responsive" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="images">
                                <div class="title -w">SALE</div>
                                <div class="image">
                                    <a href="#">
                                        <img src="images/content/shadow.png" class="img-responsive" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="images">
                                <div class="title">pharmacy</div>
                                <div class="image">
                                    <a href="#">
                                        <img src="images/content/blog-0779893001371068408 copy 22.png" class="img-responsive" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix row-single mt60-md">
                        <div class="col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4">
                            <div class="images">
                                <div class="title">Pick for me</div>
                                <div class="image">
                                    <a href="#">
                                        <img src="images/content/Vector Smart Object copy 31.png" class="img-responsive" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bonus_button">
                <button class="button">bonus presents</button>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="presents">
            <div class="container">
                <div class="presents_items clearfix">
                    <div class="col-md-4 col-sm-6">
                        <div class="wrapper">
                            <div class="item">
                                <div class="body clearfix">
                                    <div class="col-md-6">
                                        <a href="#">
                                            <img src="images/content/1013619961.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="title">
                                            Tefal <span>KO7108</span>
                                        </div>
                                        <div class="rat clearfix">
                                            <ul class="rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                            <span>579</span>
                                        </div>
                                        <div class="desc">
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis delectus, porro quo magnam rem! Cum distinctio animi laudantium repellat vitae deserunt.</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="description clearfix">
                                        <div class="points">
                                            <span>150 points</span>
                                        </div>
                                        <div class="take">
                                            <a href="#">take it</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="wrapper">
                            <div class="item">
                                <div class="body clearfix">
                                    <div class="col-md-6">
                                        <a href="#">
                                            <img src="images/content/1013619961.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="title">
                                            Tefal <span>KO7108</span>
                                        </div>
                                        <div class="rat clearfix">
                                            <ul class="rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                            <span>579</span>
                                        </div>
                                        <div class="desc">
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis delectus, porro quo magnam rem! Cum distinctio animi laudantium repellat vitae deserunt.</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="description clearfix">
                                        <div class="points">
                                            <span>150 points</span>
                                        </div>
                                        <div class="take">
                                            <a href="#">take it</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="wrapper">
                            <div class="item">
                                <div class="body clearfix">
                                    <div class="col-md-6">
                                        <a href="#">
                                            <img src="images/content/1013619961.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="title">
                                            Tefal <span>KO7108</span>
                                        </div>
                                        <div class="rat clearfix">
                                            <ul class="rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                            <span>579</span>
                                        </div>
                                        <div class="desc">
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis delectus, porro quo magnam rem! Cum distinctio animi laudantium repellat vitae deserunt.</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="description clearfix">
                                        <div class="points">
                                            <span>150 points</span>
                                        </div>
                                        <div class="take">
                                            <a href="#">take it</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="wrapper">
                            <div class="item">
                                <div class="body clearfix">
                                    <div class="col-md-6">
                                        <a href="#">
                                            <img src="images/content/1013619961.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="title">
                                            Tefal <span>KO7108</span>
                                        </div>
                                        <div class="rat clearfix">
                                            <ul class="rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                            <span>579</span>
                                        </div>
                                        <div class="desc">
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis delectus, porro quo magnam rem! Cum distinctio animi laudantium repellat vitae deserunt.</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="description clearfix">
                                        <div class="points">
                                            <span>150 points</span>
                                        </div>
                                        <div class="take">
                                            <a href="#">take it</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="wrapper">
                            <div class="item">
                                <div class="body clearfix">
                                    <div class="col-md-6">
                                        <a href="#">
                                            <img src="images/content/1013619961.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="title">
                                            Tefal <span>KO7108</span>
                                        </div>
                                        <div class="rat clearfix">
                                            <ul class="rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                            <span>579</span>
                                        </div>
                                        <div class="desc">
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis delectus, porro quo magnam rem! Cum distinctio animi laudantium repellat vitae deserunt.</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="description clearfix">
                                        <div class="points">
                                            <span>150 points</span>
                                        </div>
                                        <div class="take">
                                            <a href="#">take it</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="wrapper">
                            <div class="item">
                                <div class="body clearfix">
                                    <div class="col-md-6">
                                        <a href="#">
                                            <img src="images/content/1013619961.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="title">
                                            Tefal <span>KO7108</span>
                                        </div>
                                        <div class="rat clearfix">
                                            <ul class="rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                            <span>579</span>
                                        </div>
                                        <div class="desc">
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis delectus, porro quo magnam rem! Cum distinctio animi laudantium repellat vitae deserunt.</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="description clearfix">
                                        <div class="points">
                                            <span>150 points</span>
                                        </div>
                                        <div class="take">
                                            <a href="#">take it</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block Scripts %}
<!--build:js scripts/home.js  -->
<script src="scripts/home.js"></script>
<!-- endbuild  -->
{% endblock%}