<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            font-size: 16px;
            background: #0E2431;
        }
        ol {
            counter-reset:item;
        }
        ol li {
            display:block;
        }
        ol li:before {
            content: counter(item) ". ";
            counter-increment:item;
            color:#FC3A52;
        }
        a {
            font-size: 1.4em;
            text-decoration: none;
            color: #F9B248;
            transition:all .1s ease;
            transform:scale(1);
            display:inline-block;
        }
        a:hover {
            transform:scale(1.3);
            background:#0E2431;
        }
        ::-webkit-selection, ::selection {
            background-color:#E8D5B7;
        }
    </style>
</head>
<body>
    <ol>
        <li><a href="home.html">Home page.</a></li>
        <li><a href="carrots.html">Carrots.</a></li>
        <li><a href="flowers.html">Flowers.</a></li>
        <li><a href="fruits.html">Fruits.</a></li>
        <li><a href="fruits_product.html">Fruits product.</a></li>
        <li><a href="fruits_vegetables.html">Fruits and vegetables.</a></li>
        <li><a href="mangal.html">Mangal.</a></li>
        <li><a href="petfood.html">Petfood.</a></li>
        <li><a href="picked.html">Picked.</a></li>
        <li><a href="restaraunts.html">Restaraunts.</a></li>
        <li><a href="salads.html">Salads.</a></li>
        <li><a href="shipping.html">Shipping.</a></li>
        <li><a href="supermarket.html">Supermarket.</a></li>
        <li><a href="vegetables_product.html">Vegetables product.</a></li>
        <li><a href="vegetables.html">Vegetables.</a></li>
        <li><a href="birthday.html">Flowers birthday.</a></li>
        <li><a href="pharmacy.html">Pharmacy.</a></li>
        <li><a href="pharmacy_vitamins.html">Pharmacy vitamins.</a></li>
        <li><a href="bakery.html">Bakery.</a></li>
        <li><a href="bakery_azza.html">Bakery azza.</a></li>
        <li><a href="bakery_azza_rolls.html">Bakery azza Rolls.</a></li>
        <li><a href="laundry.html">Laundry.</a></li>
        <li><a href="laundry_suits.html">Laundry suits.</a></li>
        <li><a href="pickforme.html">Pick for me.</a></li>
        <li><a href="payment.html">Payment.</a></li>
        <li><a href="login.html">Login.</a></li>
        <li><a href="cart.html">Cart.</a></li>
        <li><a href="about.html">About.</a></li>
        <li><a href="delivery.html">Delivery.</a></li>
        <li><a href="helpdesk.html">Help desk.</a></li>
        <li><a href="team.html">Team.</a></li>
        <li><a href="navigation.html">Navigation.</a></li>
        <li><a href="terms.html">Terms.</a></li>
        <li><a href="fruits_main.html">Fruits main.</a></li>
        <li><a href="vegetables_main.html">Vegetables main.</a></li>
    </ol>
</body>
</html>