 {% extends './layouts/_layout.njk' %} {% set laundryMenu='class="active"' %} {% block Content %}
<section id="Carrot">
    <!-- Carrot content -->
    <div class="container white-space-1000">
    <div class="container-fluid">
        <div class="minimap">
            <ul class="dl">
                <li>
                    <a href="#">Laundry</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="filter_wrapper">
            <div class="filter">
                <div class="header">
                    <div class="control-group search">
                        <input type="text" class="noradius">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="form-group">
                        <label for="">Want to buy</label>
                        <div class="control-group">
                            <input type="text">
                            <i class="fa fa-search"></i>
                        </div>
                        <a href="#" class="header_logo"></a>
                        <div class="control-group">
                            <span>Quantity</span>
                            <div class="num">
                                <button data-behaviour="minus" class="min">-</button>
                                <input class="num_result" type="text" value="0">
                                <button data-behaviour="plus" data-max="123" class="plus">+</button>
                            </div>
                        </div>
                        <button class="form-control">add to card</button>
                    </div>
                </div>
                <div class="body">
                    <div class="accordion-container">
                        <div class="set">
                            <a href="#">
                                FILTERS | BAKERY
                                </a>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>brand</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <ul class="brands dl">
                                <li>
                                    <input type="checkbox" name="bravo" class="checkbox-input" id="bravo">
                                    <label for="bravo">Bravo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Bizim_market" class="checkbox-input" id="Bizim_market">
                                    <label for="Bizim_market">Bizim Market</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Araz" class="checkbox-input" id="Araz">
                                    <label for="Araz">Araz</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Neptun" class="checkbox-input" id="Neptun">
                                    <label for="Neptun">Neptun</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Favorit" class="checkbox-input" id="Favorit">
                                    <label for="Favorit">Favorit</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Bazar_store" class="checkbox-input" id="Bazar_store">
                                    <label for="Bazar_store">Bazar Store</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>shop by</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <ul class="dl">
                                <li><a href="#">Cases</a></li>
                                <li><a href="#">Local</a></li>
                                <li><a href="#">New</a></li>
                                <li><a href="#">Organic</a></li>
                                <li><a href="#">Sale</a></li>
                                <li><a href="#">Spring Vegetables</a></li>
                                <li><a href="#">Top Rated</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>Price Range</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <div class="range-slider">
                                <span class="rangeValues"></span>
                                <input value="20" min="1" max="100" step="1" type="range">
                                <input value="70" min="1" max="100" step="1" type="range">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="items_wrapper">
            <div class="items">
                <div class="header">
                    <div class="title">
                        <button class="leftPanel"><i class="fa fa-bars"></i>Filtr</button>
                        <h1>LAUNDRY</h1>
                    </div>
                </div>
                <div class="body">
                    <div class="wrapper">
                        <div class="header_b up bold">
                            <h5>how it works</h5>
                            <hr/>
                        </div>
                        <div class="pickup">
                            <div class="pick">
                                <ul class="flexbox between top flex-wrap">
                                    <li>
                                        <a href="#">
                                            <i class="logo list"></i>
                                            Select Service
                                        </a>
                                        <span>Laundry only, dry cleaning only, or both</span>
                                        <span class="item-dots">
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="logo date"></i>
                                            choose dates
                                        </a>
                                        <span>No need to be present when we pick-up and deliver</span>
                                        <span class="item-dots">
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="logo bag"></i>
                                            fill any bag
                                        </a>
                                        <span>Fill a clean plastic bag with laundry or dry cleaning</span>
                                        <span class="item-dots">
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="logo ship"></i>
                                            free pick-up and delivery
                                        </a>
                                        <span>Receive fresh, clean clothes within 3 business days</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="delivery">
                                <div class="header_b up bold">
                                    <h5>pick-up and delivery.anywhere</h5>
                                    <hr />
                                </div>
                                <div class="delivery-items">
                                    <ul class="flexbox between top flex-wrap">
                                        <li class="clearfix">
                                            <div class="logo">
                                                <i class="home"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header">home</div>
                                                <div class="description">Right to your door step, pick-up and delivery.</div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="logo">
                                                <i class="apart"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header">apartment</div>
                                                <div class="description">At your apartment, pick-up and delivery</div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="logo">
                                                <i class="campus"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header">campus</div>
                                                <div class="description">Students & Faculty; we pick-up and deliver</div>
                                            </div>
                                        </li>
                                         <li class="clearfix">
                                            <div class="logo">
                                                <i class="work"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header">work</div>
                                                <div class="description">At the office or at work, we’ll pick-up and deliver</div>
                                            </div>
                                        </li>
                                         <li class="clearfix">
                                            <div class="logo">
                                                <i class="hotel"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header">hotel</div>
                                                <div class="description">Fresh, clean clothes when you’re away from home</div>
                                            </div>
                                        </li>
                                         <li class="clearfix">
                                            <div class="logo">
                                                <i class="else"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header">anywhere else</div>
                                                <div class="description">We can handle all your dry cleaning and laundry needs</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="laundry">
                                <div class="header_b up bold">
                                    <h4>premium wash-dry-fold laundry</h4>
                                    <hr />
                                </div>
                                <ul class="laundry-items flexbox between top flex-wrap">
                                    <li>
                                        <a href="#">
                                            <i class="clothing"></i>
                                            Clothing
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="suits"></i>
                                            suits
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="outwear"></i>
                                            outwear
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="care"></i>
                                            special care
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bedding"></i>
                                            bedding and householding
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="formalwear"></i>
                                            formalwear
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="shoes"></i>
                                            shoes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="folding"></i>
                                            folding
                                        </a>
                                    </li>
                                    <li></li>
                                </ul>
                                <div class="text-center">
                                    <button class="continue">download price list pdf</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block Scripts %}
<!--build:js scripts/carrots.js  -->
<script src="scripts/carrots.js"></script>
<!-- endbuild  -->
<!-- build:js scripts/fruits_main.js  -->
<script src="scripts/fruits_main.js"></script>
<!-- endbuild  -->
{% endblock%}/