 {% extends './layouts/_layout.njk' %} {% set laundryMenu='class="active"' %} {% block Content %}
<section id="Carrot">
    <!-- Carrot content -->
    <div class="container white-space-1000">
    <div class="container-fluid">
        <div class="minimap">
            <ul class="dl">
                <li>
                    <a href="#">Laundry</a>
                </li>
                <li>
                    <a href="#">Suits</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="filter_wrapper">
            <div class="filter">
                <div class="header">
                    <div class="control-group search">
                        <input type="text" class="noradius">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="form-group">
                        <label for="">Want to buy</label>
                        <div class="control-group">
                            <input type="text">
                            <i class="fa fa-search"></i>
                        </div>
                        <a href="#" class="header_logo"></a>
                        <div class="control-group">
                            <span>Quantity</span>
                            <div class="num">
                                <button data-behaviour="minus" class="min">-</button>
                                <input class="num_result" type="text" value="0">
                                <button data-behaviour="plus" data-max="123" class="plus">+</button>
                            </div>
                        </div>
                        <button class="form-control">add to card</button>
                    </div>
                </div>
                <div class="body">
                    <div class="accordion-container">
                        <div class="set">
                            <a href="#">
                                FILTERS | BAKERY
                                </a>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>brand</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <ul class="brands dl">
                                <li>
                                    <input type="checkbox" name="bravo" class="checkbox-input" id="bravo">
                                    <label for="bravo">Bravo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Bizim_market" class="checkbox-input" id="Bizim_market">
                                    <label for="Bizim_market">Bizim Market</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Araz" class="checkbox-input" id="Araz">
                                    <label for="Araz">Araz</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Neptun" class="checkbox-input" id="Neptun">
                                    <label for="Neptun">Neptun</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Favorit" class="checkbox-input" id="Favorit">
                                    <label for="Favorit">Favorit</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Bazar_store" class="checkbox-input" id="Bazar_store">
                                    <label for="Bazar_store">Bazar Store</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>shop by</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <ul class="dl">
                                <li><a href="#">Cases</a></li>
                                <li><a href="#">Local</a></li>
                                <li><a href="#">New</a></li>
                                <li><a href="#">Organic</a></li>
                                <li><a href="#">Sale</a></li>
                                <li><a href="#">Spring Vegetables</a></li>
                                <li><a href="#">Top Rated</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>Price Range</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <div class="range-slider">
                                <span class="rangeValues"></span>
                                <input value="20" min="1" max="100" step="1" type="range">
                                <input value="70" min="1" max="100" step="1" type="range">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="items_wrapper">
            <div class="items">
                <div class="header">
                    <div class="title">
                        <button class="leftPanel"><i class="fa fa-bars"></i>Filtr</button>
                        <h1>LAUNDRY</h1>
                        <span class="sub-title">Suits</span>
                    </div>
                </div>
                <div class="body">
                    <div class="wrapper">
                                <div class="item_hover suits">
                                    <div class="item_top flexbox between flex-wrap">
                                        <div class="left-side">
                                            <div class="image">
                                                <img data-replace="" class="img-responsive" src="./images/content/laundry.jpg" alt="">
                                            </div>
                                            <div class="controls flexbox between bottom">
                                                <div class="price">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <span>
                                                        500 ₼
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-side flexbox flex-col between">
                                            <div class="laundry-description">
                                                <div class="header_b up bold">
                                                    Suits
                                                </div>
                                                <div class="laundry-desc">
                                                    <ul>
                                                        <li>Safe for wool, cotton, and polyester suit coats, sport jackets, or blazers.</li>
                                                        <li>We gently pre-treat your suit coat, sport coat, or blazer to loosen any dirt, oil, stains, and odors.</li>
                                                        <li>Your suit coat or blazer is gently dry cleaned to separate any debris while preserving the body and shape of the garment.</li>
                                                        <li>Your suit jacket is rapidly steamed to weaken any wrinkles before it is mannequin-pressed to replicate how the suit jacket is worn.</li>
                                                        <li>Your suit coat or jacket is neatly hung on a padded hanger to eliminate any stretching of the garment fibers and material around the shoulder area.</li>
                                                        <li>Button replacements and minor repairs are completed during our quality inspection so your suit coat or jacket is ready-to-wear upon delivery.</li>
                                                    </ul>
                                                </div>
                                                <div class="laundry-social">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="controls flexbox between middle flex-wrap">
                                                <div class="address" data-propogate="true">
                                                    <button data-recipient="" class="continue">add recipient address</button>
                                                    <div class="recipient" data-me="3">
                                                        <div class="group">
                                                            <span>Recipient Name</span>
                                                            <input type="text" placeholder="Olivia Anderson">
                                                        </div>
                                                        <div class="group">
                                                            <span>Add recipient adress.</span>
                                                            <input type="text" placeholder="Caspian plaza.">
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div>
                                                                <span>find on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Choose From Map">
                                                                    <i class="map"></i>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <span>choose location on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Send Location">
                                                                    <i class="mappicker"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div class="l">
                                                                <span>from</span>
                                                                <input type="text" placeholder="Choose From Map">
                                                            </div>
                                                            <div class="r">
                                                                <span>unknown</span>
                                                                <input type="text">
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between bottom">
                                                            <div class="l">
                                                                <span>text for a gift card</span>
                                                                <textarea placeholder="What do you want to say to recipient..."></textarea>
                                                            </div>
                                                            <div class="r text-center">
                                                                <button class="btn approve">approve</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="date">
                                                    <input type="text" data-toggle="datepicker">
                                                    <button class="continue" data-pick="0">pick a delivery date</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roof">
                                        <div class="roof_set flexbox between middle">
                                            <div class="quantity">
                                                Quantity: 
                                                <div class="num miny">
                                                    <button data-behaviour="minus" class="min">-</button>
                                                    <input class="num_result" type="text" value="0">
                                                    <button data-behaviour="plus" data-max="123" class="plus">+</button>
                                                </div>
                                            </div>
                                            <div class="price">
                                                Total: <span>500 ₼</span>
                                            </div>
                                        </div>
                                        <div class="roof_set flexbox between middle">
                                            <button class="btn">add to basket</button>
                                            <button class="continue">checkout</button>
                                        </div>
                                    </div>
                                    <div class="laundry-quality">
                                        <ul>
                                            <li>Quality, professional dry cleaning and laundry.</li>
                                            <li>FREE and convenient pick-up and delivery.</li>
                                            <li>Personal care and attention you won’t find anywhere else.</li>
                                        </ul>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block Scripts %}
<!--build:js scripts/carrots.js  -->
<script src="scripts/carrots.js"></script>
<!-- endbuild  -->
<!-- build:js scripts/fruits_main.js  -->
<script src="scripts/fruits_main.js"></script>
<!-- endbuild  -->
{% endblock%}/