{% extends './layouts/_log.njk' %} {% block Content%}
<div id="wrapper">
    <div id="login">
        <section id="header">
            <div class="container clearfix">
                <div class="pull-right">
                    <div class="lang">
                        <ul>
                            <li><a href="#">AZ</a></li>
                            <li><a href="#">RU</a></li>
                            <li class="active"><a href="#">EN</a></li>
                        </ul>
                    </div>
                    <div class="menu">
                        <div class="burger">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="content" class="flexbox middle center">
            <div class="content__wrapper">
                <div class="logo">
                    <img src="images/logos/loginLogo.png" alt="">
                </div>
                <div class="login">
                    <form action="">
                        <div class="login_header">
                            customer login
                        </div>
                        <div class="login_group">
                            <div class="em">
                                <i class="fa fa-envelope"></i>
                                <input type="text" placeholder="Email ID">
                            </div>
                            <div class="pwd">
                                <i class="fa fa-lock"></i>
                                <input type="password" placeholder="Password">
                            </div>
                            <div class="b flexbox middle between">
                                <div>
                                    <input type="checkbox" id="rem">
                                    <label for="rem">Remember Me</label>
                                </div>
                                <div>
                                    <a href="#"><em>Forgot Password?</em></a>
                                </div>
                            </div>
                        </div>
                        <div class="login_submit">
                            <button type="submit" class="btn">login</button>
                        </div>
                    </form>
                </div>
                <div class="links active">
                    <div class="start">
                        <span>start shopping!</span>
                    </div>
                    <div class="log-sign">
                        <a href="#" class="sign">sign up</a>
                        <a href="#" class="log">login</a>
                    </div>
                </div>
                <div class="get-app">
                    <span>get an app</span>
                    <div class="ls flexbox around">
                        <a href="#" class="ios"></a>
                        <a href="#" class="android"></a>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer">
            <div class="copyright">
                <div class="bottom">
                    <div class="container flexbox middle flex-wrap between">
                        <div class="pl">
                            &copy; 2017 gogo. All Rights Reserved.
                        </div>
                        <div class="pr">
                            <ul class="dl">
                                <li><a href="#">Contact us / Terms and conditions</a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %} {% block Scripts %}
<!-- build:js scripts/login.js -->
<script src="./scripts/login.js"></script>
<!-- endbuild -->
{% endblock %}