 {% extends './layouts/_layout.njk' %} {% set navMenu='class="active"' %} {% block Content %}
   <section id="typo">
     <div class="container">
       <aside>
         <ul class="map">
           <li>Navigation</li>
         </ul>
       </aside>
       <header>
         <div class="greeting">
           <h1>navigation</h1>
           <hr>
         </div>
       </header>
       <article>
         <div class="article-set">
           <p class="set-header line">• Navigation</p>
           <p class="backward">These receipt templates provide confirmation that a delivery actually took place.</p>
           <p class="backward up">Professional Receipt: Professional looking template with an area for the company logo and contact information as well as the customer details and purchase information. Downloads in the DOC format.</p>
           <p class="up">Goods Delivery Receipt: Simple blue design with quantity, amount, and item lines available. This is a DOTX file stored in a ZIP archive.</p>
         </div>
         <div class="article-set">
           <p class="backward up">Tan Delivery Receipt: Tan colored receipt template in the DOCX file format with the company information near the top and the receiver information at the bottom.</p>
           <p class="up">Blank Delivery Receipt: This receipt is very simple with a design much like one would address an envelope, with the company name on the top left and the receiver's information in the center. You can get this MS Word receipt template in Microsoft's DOCX format.</p>
         </div>
         <div class="article-set">
           <p>Use a donation receipt to explain details of a transaction made as a donation.</p>
           <iframe width="100%" height="600" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBl5dFJo6ZVZ3T7DFZAQeDivKauwxL2i7A&amp;q=record+stores+in+Seattle" allowfullscreen="">
           </iframe>
         </div>
         <div class="article-set text-center">
           <span class="forward">CONTACTS:</span>
           <ul>
             <li>"GOGO" LLC</li>
             <li>Port Baku 153, Neftchilyar Avenue</li>
             <li>AZ 1010, Baku, Azerbaijan</li>
             <li>Tel.: (+994 12) 505 50 00</li>
             <li>Fax: (+994 12) 505 15 35</li>
             <li><a href="mailto:office@gogo.az">office@gogo.az</a></li>
           </ul>
         </div>
       </article>
     </div>
   </section>
{% endblock %} {% block Scripts %}
{% endblock%}/
