 {% extends './layouts/_layout.njk' %} {% block Content %}
<section id="basket">
    <!-- Basket content -->
    <div class="hidden-map">
        <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBl5dFJo6ZVZ3T7DFZAQeDivKauwxL2i7A&amp;q=record+stores+in+Seattle" allowfullscreen="">
                    </iframe>
    </div>
    <div class="container basket_wrapper">
    <div class="container-fluid">
        <div class="minimap">
            <ul class="dl">
                <li>
                    <a href="#">Basket</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="basket_header clearfix">
            <div class="col-md-9">
                <h1>Your cart.</h1>
                <h3>Please review your cart before checking out.</h3>
            </div>
        </div>
        <div class="basket_tab">
            <ul class="dl">
                <li class="cart"><a href="#">Cart</a></li>
                <li class="shipping"><a href="#">Shipping</a></li>
                <li class="payment active"><a href="#">Payment</a></li>
            </ul>
        </div>
        <div class="basket_tabcontent">
            <div class="container">
                <div class="tabs">
                    <div class="tab_header">
                        <ul>
                            <li><a href="#">bank transfer</a></li>
                            <li><a href="#">cash</a></li>
                            <li class="active"><a href="#">card</a></li>
                        </ul>
                    </div>
                    <div class="tab_body">
                        <div class="tab_item banktransfer">
                        </div>
                        <div class="tab_item cash">
                        </div>
                        <div class="tab_item active card">
                            <form action="">
                                <div class="f-group -h">
                                    <div class="col-md-6">
                                        <label for="">cardholder's name</label>
                                        <input type="text" class="f-c">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">credit card number</label>
                                        <input type="text" class="f-c">
                                    </div>
                                </div>
                                <div class="f-group -h">
                                    <div class="col-md-6">
                                        <label for="" class="ds">EXPIRATION</label>
                                        <select name="day" id="day" class="day">
                                                <option value="default">dd</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select>
                                        <select name="month" id="month" class="month">
                                                <option value="default">mm</option>
                                                <option value="jan">January</option>
                                                <option value="jan">February</option>
                                                <option value="jan">March</option>
                                                <option value="jan">April</option>
                                                <option value="jan">May</option>
                                                <option value="jan">June</option>
                                                <option value="jan">July</option>
                                                <option value="jan">August</option>
                                                <option value="jan">September</option>
                                                <option value="jan">October</option>
                                                <option value="jan">November</option>
                                                <option value="jan">December</option>
                                            </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">CVC / CVV</label>
                                        <input type="text" class="f-c f-c_small">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="controls white-space-1000 clearfix">
                    <button class="bc pull-left">back to shipping</button>
                    <button class="continue pull-right">CHECKOUT</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block Scripts %}
<!--build:js scripts/basket.js  -->
<script src="scripts/basket.js"></script>
<!-- endbuild  -->
{% endblock%}