 {% extends './layouts/_layout.njk' %} {% set pickformeMenu='class="active"' %} {% block Content %}
<section id="Carrot">
    <!-- Carrot content -->
    <div class="container white-space-1000">
    <div class="container-fluid">
        <div class="minimap">
            <ul class="dl">
                <li>
                    <a href="#">Pick for me</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="filter_wrapper">
            <div class="filter">
                <div class="header">
                    <div class="control-group search">
                        <input type="text" class="noradius">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="form-group">
                        <label for="">Want to buy</label>
                        <div class="control-group">
                            <input type="text">
                            <i class="fa fa-search"></i>
                        </div>
                        <a href="#" class="header_logo"></a>
                        <div class="control-group">
                            <span>Quantity</span>
                            <div class="num">
                                <button data-behaviour="minus" class="min">-</button>
                                <input class="num_result" type="text" value="0">
                                <button data-behaviour="plus" data-max="123" class="plus">+</button>
                            </div>
                        </div>
                        <button class="form-control">add to card</button>
                    </div>
                </div>
                <div class="body">
                    <div class="accordion-container">
                        <div class="set">
                            <a href="#">
                                FILTERS | PICK FOR ME
                                </a>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>brand</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <ul class="brands dl">
                                <li>
                                    <input type="checkbox" name="bravo" class="checkbox-input" id="bravo">
                                    <label for="bravo">Bravo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Bizim_market" class="checkbox-input" id="Bizim_market">
                                    <label for="Bizim_market">Bizim Market</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Araz" class="checkbox-input" id="Araz">
                                    <label for="Araz">Araz</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Neptun" class="checkbox-input" id="Neptun">
                                    <label for="Neptun">Neptun</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Favorit" class="checkbox-input" id="Favorit">
                                    <label for="Favorit">Favorit</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Bazar_store" class="checkbox-input" id="Bazar_store">
                                    <label for="Bazar_store">Bazar Store</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>shop by</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <ul class="dl">
                                <li><a href="#">Cases</a></li>
                                <li><a href="#">Local</a></li>
                                <li><a href="#">New</a></li>
                                <li><a href="#">Organic</a></li>
                                <li><a href="#">Sale</a></li>
                                <li><a href="#">Spring Vegetables</a></li>
                                <li><a href="#">Top Rated</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>Price Range</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <div class="range-slider">
                                <span class="rangeValues"></span>
                                <input value="20" min="1" max="100" step="1" type="range">
                                <input value="70" min="1" max="100" step="1" type="range">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="items_wrapper">
            <div class="items">
                <div class="header">
                    <div class="title">
                        <button class="leftPanel"><i class="fa fa-bars"></i>Filtr</button>
                        <h1>Pick for me</h1>
                    </div>
                </div>
                <div class="body">
                    <div class="wrapper">
                        <div class="header_b up bold">
                            <h5>how it works</h5>
                            <hr>
                        </div>
                        <div class="pickup">
                            <div class="pick col-3">
                                <ul class="flexbox center flex-wrap">
                                    <li>
                                        <a href="#">
                                            <i class="logo list"></i>
                                            Select Service
                                        </a>
                                        <span>Laundry only, dry cleaning only, or both</span>
                                        <span class="item-dots"></span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="logo date"></i>
                                            choose dates
                                        </a>
                                        <span>No need to be present when we pick-up and deliver</span>
                                        <span class="item-dots"></span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="logo ship"></i>
                                            free pick-up and delivery
                                        </a>
                                        <span>Receive fresh, clean clothes within 3 business days</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="delivery">
                                <div class="header_b up bold">
                                    <h5>pick-up and delivery.anywhere</h5>
                                    <hr>
                                </div>
                                <div class="delivery-items">
                                    <ul class="flexbox between top flex-wrap">
                                        <li class="clearfix">
                                            <div class="logo">
                                                <i class="home"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header">home</div>
                                                <div class="description">Right to your door step, pick-up and delivery.</div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="logo">
                                                <i class="apart"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header">apartment</div>
                                                <div class="description">At your apartment,&nbsp;pick-up and delivery</div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="logo">
                                                <i class="campus"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header">campus</div>
                                                <div class="description">Students &amp; Faculty; we pick-up and deliver</div>
                                            </div>
                                        </li>
                                         <li class="clearfix">
                                            <div class="logo">
                                                <i class="work"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header">work</div>
                                                <div class="description">At the office or at work, we’ll pick-up and deliver</div>
                                            </div>
                                        </li>
                                         <li class="clearfix"  data-propogate="true">
                                            <div class="logo">
                                                <i class="airport"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header"><a href="#" class="airport">airport</a></div>
                                                <div class="description">Airport pick-up and delivery, when you’re away from home</div>
                                                <div data-close-me class="item_hover airport" data-me="3">
                                    <div class="item_top flexbox between">
                                        <div class="left-side">
                                            <div class="image">
                                                <img data-replace class="img-responsive" src="./images/content/airport.jpg" alt="">
                                            </div>
                                            <div class="controls flexbox between bottom">
                                                <div class="price">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <span>
                                                        500 &#8380;
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-side flexbox flex-col between">
                                            <div class="info">
                                                <div class="header">
                                                    Airport
                                                </div>
                                                <div class="description">
                                                     Airport pick-up and delivery,when you’re away from home
                                                </div>
                                                <div class="privacy">
                                                <i>One of the following identification requirements must be met when you pick up your package at a UPS Access Point™ location:</i>
                                                <ul>
                                                    <li>Option 1: Present a government-issued photo ID where the last name and full address (including the suite or apartment number, if applicable) on the ID match the last name and full address on the package.</li>
                                                    <li>Option 2: Present a government-issued photo ID where the last name matches the last name on the package. If the address on the ID doesn't match the address on the package, please bring proof of residency that matches the address on the package--for example, a current utility bill.</li>
                                                    <li>Option 3: Present a government-issued photo ID where the full address or name on the ID matches the full address or name on the package. If the last name or full address doesn't match, you will need to provide the package tracking number to the UPS Access Point representative.</li>
                                                    <li>Option 4: Present a government-issued photo ID and your shipper-provided package release code (if required).*</li>
                                                </ul>
                                                </div>
                                            </div>
                                            <div class="controls flexbox between middle">
                                                <div class="address" data-propogate="true">
                                                    <button data-recipient class="continue">add recipient address</button>
                                                    <div class="recipient" data-me="3">
                                                        <div class="group">
                                                            <span>Recipient Name</span>
                                                            <input type="text" placeholder="Olivia Anderson">
                                                        </div>
                                                        <div class="group">
                                                            <span>Add recipient adress.</span>
                                                            <input type="text" placeholder="Caspian plaza.">
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div>
                                                                <span>find on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Choose From Map">
                                                                    <i class="map"></i>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <span>choose location on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Send Location">
                                                                    <i class="mappicker"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div class="l">
                                                                <span>from</span>
                                                                <input type="text" placeholder="Choose From Map">
                                                            </div>
                                                            <div class="r">
                                                                <span>unknown</span>
                                                                <input type="text">
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between bottom">
                                                            <div class="l">
                                                                <span>text for a gift card</span>
                                                                <textarea placeholder="What do you want to say to recipient..."></textarea>
                                                            </div>
                                                            <div class="r text-center">
                                                                <button class="btn approve">approve</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="date">
                                                    <input type="text" data-toggle="datepicker">
                                                    <button class="continue" data-pick='0'>pick a delivery date</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roof">
                                        <div class="roof_set flexbox between middle">
                                            <div class="quantity">
                                                Quantity: 
                                                <div class="num miny">
                                                    <button data-behaviour="minus" class="min">-</button>
                                                    <input class="num_result" type="text" value="0">
                                                    <button data-behaviour="plus" data-max="123" class="plus">+</button>
                                                </div>
                                            </div>
                                            <div class="price">
                                                Total: <span>500 &#8380;</span>
                                            </div>
                                        </div>
                                        <div class="roof_set flexbox between middle">
                                            <button class="btn">add to basket</button>
                                            <button class="continue">checkout</button>
                                        </div>
                                    </div>
                                </div>
                                            </div>
                                        </li>
                                         <li class="clearfix">
                                            <div class="logo">
                                                <i class="else"></i>
                                            </div>
                                            <div class="category">
                                                <div class="header">anywhere else</div>
                                                <div class="description">We can handle all your dry cleaning and laundry needs</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block Scripts %}
<!--build:js scripts/carrots.js  -->
<script src="scripts/carrots.js"></script>
<!-- endbuild  -->
<!-- build:js scripts/fruits_main.js  -->
<script src="scripts/fruits_main.js"></script>
<!-- endbuild  -->
{% endblock%}/