 {% extends './layouts/_layout.njk' %} {% block Content %}
<section id="Picked">
    <div class="container">
    <div class="container-fluid">
        <div class="minimap">
            <ul class="dl">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Flash Sale</a>
                </li>
                <li>
                    <a href="#">DRIRERS [pickled onions]</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="picked_container">
            <div class="row">
                <div class="col-md-8">
                    <div class="left_side">
                        <div class="img-container">
                            <img src="./images/content/uzum.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product_bio">
                            <p>I'm a product description. I’m a great place to include more information about your product. Buyers like to know what they’re getting before they purchase.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product">
                        <div class="product_name">
                            <p class="brand">DRIRER'S</p>
                            <span class="model">PICKLED ONIONS</span>
                        </div>
                        <div class="product_rating">
                            <ul class="list">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="price">300</li>
                            </ul>
                        </div>
                        <div class="product_setting">
                            <div class="select">
                                <div class="tag">
                                    Select Product
                                </div>
                                <div class="additional">
                                    <span class="custom-dropdown">
                                            <select>
                                                <option value=""></option>
                                                <option>pickled onions</option>
                                                <option>pickled sliced</option>  
                                                <option>tangy piccalilli</option>
                                                <option>select all</option>
                                            </select>
                                        </span>
                                </div>
                            </div>
                            <div class="quantity">
                                <div class="tag">
                                    quantity
                                </div>
                                <div class="num">
                                    <button data-behaviour="minus" class="min">-</button>
                                    <input class="num_result" type="text" value="0">
                                    <button data-behaviour="plus" data-max="123" class="plus">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="product_purchase">
                            <div class="price">
                                8.50 &#8380;
                            </div>
                            <div class="cart">
                                <button class="form-control">Add to cart</button>
                            </div>
                        </div>
                        <div class="product_info">
                            <div class="info">
                                <div class="title">Product Info</div>
                                <p>I'm a product detail. I'm a great place to add more information about your product such as sizing, material, care and cleaning instructions. This is also a great space to write what makes this product special and how your
                                    customers can benefit from this item. Buyers like to know what they’re getting before they purchase, so give them as much information as possible so they can buy with confidence and certainty.</p>
                            </div>
                            <div class="priv">
                                <div class="title">RETURN AND REFUND POLICY</div>
                                <p>I'm a product detail. I'm a great place to add more information about your product such as sizing, material, care and cleaning instructions. This is also a great space to write what makes this product special and how your
                                    customers can benefit from this item. Buyers like to know what they’re getting before they purchase, so give them as much information as possible so they can buy with confidence and certainty.</p>
                            </div>
                            <div class="soc">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" ></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" ></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p" ></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="maylike">
                    <div class="title">
                        <span>you may</span> also like
                    </div>
                </div>
                <div id="pickedCarousel">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="prod_img">
                                <img src="./images/content/uzum_carousel.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="prod_img">
                                <img src="./images/content/uzum_carousel.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="prod_img">
                                <img src="./images/content/uzum_carousel.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="prod_img">
                                <img src="./images/content/uzum_carousel.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="prod_img">
                                <img src="./images/content/uzum_carousel.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="prod_img">
                                <img src="./images/content/uzum_carousel.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="prod_img">
                                <img src="./images/content/uzum_carousel.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="prod_img">
                                <img src="./images/content/uzum_carousel.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block Scripts %}
<!--build:js scripts/picked.js  -->
<script src="scripts/picked.js"></script>
<!-- endbuild  -->
{% endblock%}