 {% extends './layouts/_layout.njk' %} {% block Content %}
<section id="basket">
    <!-- Basket content -->
    <div class="hidden-map">
        <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBl5dFJo6ZVZ3T7DFZAQeDivKauwxL2i7A&amp;q=record+stores+in+Seattle" allowfullscreen="">
                    </iframe>
    </div>
    <div class="container basket_wrapper">
    <div class="container-fluid">
        <div class="minimap">
            <ul class="dl">
                <li>
                    <a href="#">Basket</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="basket_header clearfix">
            <div class="col-md-9">
                <h1>Your cart.</h1>
                <h3>Please review your cart before checking out.</h3>
            </div>
        </div>
        <div class="basket_tab">
            <ul class="dl">
                <li class="cart"><a href="#">Cart</a></li>
                <li class="shipping active"><a href="#">Shipping</a></li>
                <li class="payment"><a href="#">Payment</a></li>
            </ul>
        </div>
        <div class="basket_tabcontent">

            <div class="container form active">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form action="">
                            <div class="f-group">
                                <label for="">country</label>
                                <input type="text" class="f-c">
                            </div>
                            <div class="f-group -h">
                                <div class="col-md-6">
                                    <label for="">first name</label>
                                    <input type="text" class="f-c">
                                </div>
                                <div class="col-md-6">
                                    <label for="">last name</label>
                                    <input type="text" class="f-c">
                                </div>
                            </div>
                            <div class="f-group">
                                <label for="">company name</label>
                                <input type="text" class="f-c">
                            </div>
                            <div class="f-group">
                                <label for="">adress #1</label>
                                <input type="text" class="f-c" placeholder="Street address">
                                <input type="text" class="f-c" placeholder="Apartment, suite, unit etc.">
                            </div>
                            <div class="f-group -h">
                                <div class="c-group col-md-6">
                                    <input type="text" class="f-c" placeholder="Send Location"> <i class="c-logo -loc"></i>
                                </div>
                                <div class="c-group col-md-6">
                                    <input type="text" class="f-c" placeholder="Find on map"> <i class="c-logo -map"></i>
                                </div>
                            </div>
                            <div class="f-group">
                                <label for="">adress #2</label>
                                <input type="text" class="f-c" placeholder="Street address">
                                <input type="text" class="f-c" placeholder="Apartment, suite, unit etc.">
                            </div>
                            <div class="f-group -h">
                                <div class="c-group col-md-6">
                                    <input type="text" class="f-c" placeholder="Send Location"> <i class="c-logo -loc"></i>
                                </div>
                                <div class="c-group col-md-6">
                                    <input type="text" class="f-c" placeholder="Find on map"> <i class="c-logo -map"></i>
                                </div>
                            </div>
                            <div class="f-group">
                                <label for="">Town / City</label>
                                <input type="text" class="f-c">
                            </div>
                            <div class="f-group -h">
                                <div class="col-md-6">
                                    <label for="">state / country</label>
                                    <input type="text" class="f-c">
                                </div>
                                <div class="col-md-6">
                                    <label for="">postcode / zip</label>
                                    <input type="text" class="f-c">
                                </div>
                            </div>
                            <div class="f-group -h">
                                <div class="col-md-6">
                                    <label for="">e-mail address</label>
                                    <input type="text" class="f-c">
                                </div>
                                <div class="col-md-6">
                                    <label for="">phone</label>
                                    <input type="text" class="f-c">
                                </div>
                            </div>
                        </form>
                        <div class="controls white-space-1000 clearfix">
                            <button class="bc pull-left">back to cart</button>
                            <button class="continue pull-right">continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block Scripts %}
<!--build:js scripts/basket.js  -->
<script src="scripts/basket.js"></script>
<!-- endbuild  -->
{% endblock%}