 {% extends './layouts/_layout.njk' %} {% set teamMenu='class="active"' %} {% block Content %}
<section id="typo">
  <div class="container">
    <aside>
      <ul class="map">
        <li>About</li>
      </ul>
    </aside>
    <header>
      <div class="greeting">
        <h1>join our team / partnership</h1>
        <hr>
      </div>
    </header>
    <article>
      <div class="article-set">
        <p>Join us if you would like to be part of the inspiring environment. Please, apply online by completing application form and submitting your professional CV. The steps of our selection process are the following:</p>
      </div>
      <div class="article-set">
        <p class="set-header line backward">• SCREENING APPLICATION FORM AND CVS</p>
        <p>Human resources department screen each submitted CV. Normally it takes 3- 4 weeks and as soon as the screening is completed we inform each candidate about the progress of his/her application.</p>
      </div>
      <div class="article-set">
        <p class="set-header line backward">• INTERVIEWS</p>
        <p class="backward">It is usual to have 2-3 rounds of interviews at the selection process. The interview dates are checked by phone call or via email. Our interview schedules are flexible, so you will be offered several options of the interview date. The first interview is conducted by HR Manager. The aim of this interview is to explore the details of your educational and professional background, and to get to know more about your personality. It is also a great opportunity for you to ask questions about GoGo team, the details of the position, benefits, etc.</p>
        <p class="backward">The second interview is conducted by one of our professionals from the department of the vacant position. This interview will focus on your professional knowledge and experience. The third round of the interview can be with the department leader (Managing Director). Based on the 3 rounds of interview we make the decision on the candidates.</p>
      </div>
      <div class="article-set">
        <p class="set-header line backward">• OFFER</p>
        <p class="backward">We inform our future employees by phone about the result of the selection process and invite them to our office. You will be provided with an offer letter which contains the most important details (possible starting date, salary and benefits). We know that it is not easy to decide on your future, so we give you time to think it through and also we answer your any kind of question. GoGo team is always interested in enthusiastic and talented specialists.</p>
      </div>
      <div class="article-set">
        <p>We inform our future employees by phone about the result of the selection process and invite them to our office. You will be provided with an offer letter which contains the most important details (possible starting date, salary and benefits). We know that it is not easy to decide on your future, so we give you time to think it through and also we answer your any kind of question. GoGo team is always interested in enthusiastic and talented specialists.</p>
      </div>
      <div class="article-set">
        <p>Submit your CV for review so that you can be notified of future possibilities that match your skills. All Applications and CVs must be directed to
          <a class="link-red" href="#">recruitment@gogo.az</a></p>
      </div>
      <div class="article-set">
        <span class="forward">CONTACTS:</span>
        <ul>
          <li>"GOGO" LLC</li>
          <li>Port Baku 153, Neftchilyar Avenue</li>
          <li>AZ 1010, Baku, Azerbaijan</li>
          <li>Tel.: (+994 12) 505 50 00</li>
          <li>Fax: (+994 12) 505 15 35</li>
          <li><a href="mailto:office@gogo.az">office@gogo.az</a></li>
        </ul>
      </div>
    </article>
  </div>
</section>
{% endblock %} {% block Scripts %}
{% endblock%}
