 {% extends './layouts/_layout.njk' %}

 {% block Content %}
   <section id="typo">
     <div class="container">
       <aside>
         <ul class="map">
           <li>Terms and conditions</li>
         </ul>
       </aside>
       <header>
         <div class="greeting">
           <h1>Terms and conditions</h1>
           <hr>
         </div>
       </header>
       <article>
         <div class="article-set">
           <p>Romwe.com was one of the web's first online stores and has been helping the fashion-conscious look fabulous since 2008. Based in china, Romwe offers the lastest street style dresses, coats, boots and others more.</p>
         </div>
         <div class="article-set">
           <p class="backward">In the event you choose to pay with credit card and the payment will be processed via a european acquirer, these terms are an agreement between you and ROMWE group uk limited. For any other type of purchases, these terms are an agreement between you and Romwe group limited and goods and/or services will be delivered by Romwe group limited directly.</p>
           <ol class="terms">
             <li>Terms and conditions to govern - these terms and conditions represent the final and complete agreement of the parties and no terms or conditions in any way modifying or changing the provisions stated herein shall be binding upon our company unless made in writing and signed and approved by an officer or other authorized person at our company. No modification of any of these terms shall be modified by our company's shipment of goods following receipt of buyers purchase order, shipping request or similar forms containing printed terms and conditions additional to or in conflict with the terms herein. If any term, clause or provision is declared to held invalid by a court of competent jurisdiction, such declaration or holding shall not affect the validity of any other term, clause or provision herein contained.  </li>
             <li>Acceptance of orders - all orders are subject to written price verification by authorized our company personnel unless designated in writing to be firm for a specified period of time. Shipment of goods without written price verification does not constitute acceptance of the price contained in the order.  </li>
             <li>Substitution - our company reserves the right, without prior notification, to substitute an alternative product of like kind, quality and function. If the buyer will not accept a substitute, the buyer must specifically declare that no substitution is allowed when the buyer requests a quote, if such request for quote is made, or, if no request for quote was made, when placing an order with the our company .</li>
             <li>Price - prices quoted, including any transportation charges, are valid for 10 days unless designated as firm for a specific period pursuant to a written quote or written sales acceptance issued or verified by an officer or other authorized personnel of our company . A price designated as firm for a specific period may be revoked by our company if the revocation is in writing and is mailed to the buyer prior to the time a written acceptance of the price is received by our company . all prices and deliveries are f.o.b. shipping point. our company reserves the right to cancel orders in the event selling prices which are lower than prices quoted are established by government regulations.  </li>
             <li>Transportation - unless otherwise provided, our company shall use its judgment in determining carrier and routing. In either case, our company shall not be liable for any delays or excessive transportation charges resulting from its selection. </li>
             <li>Packing - unless otherwise provided, our company will comply only with its minimum packing standards for the method of transportation selected. the cost of all special packing, loading or bracing requested by buyer will be paid for by buyer. all cost of packing and shipment for buyer's special equipment shall be paid for by buyer.  </li>
             <li>Payment terms - the discount applies only to the invoiced value of the material (not to taxes or freight charges). Our company reserves the right to require advance payment or satisfactory security for the goods if the financial condition of buyer so warrants as determined by our company. If buyer fails to make payment in accordance with terms of this agreement or any collateral agreement, or fails to comply with any provisions hereof, our company may, at its option (and in addition to other remedies), cancel any unshipped portion of this order. Buyer is to remain liable for all unpaid accounts. </li>
             <li>Taxes and import/export licenses - prices do not include taxes. taxes are paid by buyer upon invoice from our company unless buyer provides a valid exemption certificate acceptable to the taxing authority or unless our company is forbidden by law from collection of said taxes from buyer. Import or export licenses are to be secured by buyer.  </li>
             <li>Title and risk of loss - delivery to carrier shall constitute delivery to buyer, and thereafter risk of loss or damage shall pass to buyer. Any claim of buyer relative to damage during shipping or delivery should be made directly to the carrier. Any claims by buyer against our company for shortage or damage occurring prior to such delivery to carrier must be made within five (5) days after receipt of the goods and accompanied by original transportation bill signed by carrier noting that carrier received the goods from our company in the condition claimed. Notwithstanding passage of the risk of loss to buyer, title and right of possession to the goods sold hereunder shall remain with our company until all payments hereunder, including deterred payments evidenced by notes or otherwise, interest, carrying charges, and attorneys' fees, shall have been made in cash, and buyer agrees to do all acts necessary to perfect and maintain such right and title in our company .  </li>
             <li>Return of products - goods can be returned in 30 days. Wrong-size items and quality problem items can be exchanged . Customers returning goods are responsible for freight charges.
               The following items cannot be returned or exchanged: bodysuits, lingerie & sleepwear, swimwear, jewelry, and accessories (except scarves, bags, and mermaid blankets). </li>
             <li>Force majeure - our company shall not be liable for failure to perform its obligations resulting directly or indirectly from or contributed to by acts of god; acts of buyer, civil or military authority, including wage and price controls; fires; war; riot; delays in transportation; lack of or inability to obtain raw materials (including energy sources), components, labor, fuel or supplies; or other circumstances beyond our company's reasonable control, whether similar or dissimilar to the foregoing. If certain quantities are affected and other quantities are not, the quantities affected shall be eliminated without liability, but the agreement shall remain unaffected. Our company may during any period of shortage due to any of said causes, allocate its supply of such raw materials among its various users thereof in any manner which yilida company deems fair and reasonable. in no event shall our company be liable for special or consequential damages for any delay for any cause.  </li>
           </ol>
         </div>
       </article>
     </div>
   </section>
{% endblock %} {% block Scripts %}
{% endblock%}/
