 {% extends './layouts/_layout.njk' %} 
 {% set superMarketMenu='class="active"' %}
 {% block Content %}
<section id="Carrot">
    <!-- Carrot content -->
    <div class="container-fluid">
        <div class="minimap">
            <ul class="dl">
                <li>
                    <a href="#">Supermarket</a>
                </li>
                <li>
                    <a href="#">Food</a>
                </li>
                <li>
                    <a href="#">Fruits and Vegetables</a>
                </li>
                <li>
                    <a href="#">Vegetables</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="filter_wrapper">
            <div class="filter">
                <div class="header">
                    <div class="control-group search">
                        <input type="text" class="noradius">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="form-group">
                        <label for="">Fruits</label>
                        <div class="control-group">
                            <input type="text">
                            <i class="fa fa-search"></i>
                        </div>
                        <a href="#" class="header_logo"></a>
                        <div class="control-group">
                            <span>Quantity</span>
                            <div class="num">
                                <button data-behaviour="minus" class="min">-</button>
                                <input class="num_result" type="text" value="0">
                                <button data-behaviour="plus" data-max="123" class="plus">+</button>
                            </div>
                        </div>
                        <button class="form-control">add to card</button>
                    </div>
                    <div class="form-group">
                        <label for="">Vegetables</label>
                        <div class="control-group">
                            <input type="text">
                            <i class="fa fa-search"></i>
                        </div>
                        <a href="#" class="header_logo"></a>
                        <div class="control-group">
                            <span>Quantity</span>
                            <div class="num">
                                <button data-behaviour="minus" class="min">-</button>
                                <input class="num_result" type="text" value="0">
                                <button data-behaviour="plus" data-max="123" class="plus">+</button>
                            </div>
                        </div>
                        <button class="form-control">add to card</button>
                    </div>
                </div>
                <div class="body">
                    <div class="accordion-container">
                        <div class="set">
                            <a href="#">
                                FILTERS | FRUITS AND VEGETABLES 
                                </a>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                        <div class="set">
                            <a href="#">
                                FRUITS 
                                </a>
                            <div class="content">
                                <p> Aliquam cursus vitae nulla non rhoncus. Nunc condimentum erat nec dictum tempus. Suspendisse aliquam erat hendrerit vehicula vestibulum.</p>
                            </div>
                        </div>
                        <div class="set">
                            <a href="#" class="active">
                                VEGETABLES 
                                </a>
                            <div class="content" style="display:block;">
                                <ul class="vegetables">
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#" class="active">item 1</a></li>
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#">item 1</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>brand</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <ul class="brands dl">
                                <li>
                                    <input type="checkbox" name="bravo" class="checkbox-input" id="bravo">
                                    <label for="bravo">Bravo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Bizim_market" class="checkbox-input" id="Bizim_market">
                                    <label for="Bizim_market">Bizim Market</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Araz" class="checkbox-input" id="Araz">
                                    <label for="Araz">Araz</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Neptun" class="checkbox-input" id="Neptun">
                                    <label for="Neptun">Neptun</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Favorit" class="checkbox-input" id="Favorit">
                                    <label for="Favorit">Favorit</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="Bazar_store" class="checkbox-input" id="Bazar_store">
                                    <label for="Bazar_store">Bazar Store</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>shop by</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <ul class="dl">
                                <li><a href="#">Cases</a></li>
                                <li><a href="#">Local</a></li>
                                <li><a href="#">New</a></li>
                                <li><a href="#">Organic</a></li>
                                <li><a href="#">Sale</a></li>
                                <li><a href="#">Spring Vegetables</a></li>
                                <li><a href="#">Top Rated</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="item_header">
                            <span>Price Range</span> <i class="fa fa-search"></i>
                        </div>
                        <div class="item_body">
                            <div class="range-slider">
                                <span class="rangeValues"></span>
                                <input value="20" min="1" max="100" step="1" type="range">
                                <input value="70" min="1" max="100" step="1" type="range">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="items_wrapper">
            <div class="items">
                <div class="header">
                    <div class="big_pic">
                        <img src="images/content/vegetables_big.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="title">
                        <button class="leftPanel"><i class="fa fa-bars"></i>Filtr</button>
                        <h1>carrots</h1>
                    </div>
                </div>
                <div class="body">
                    <div class="wrapper">
                        <ul class="body_items dl clearfix">
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/avocado.png" alt="">
                                    </a>
                                </div>
                                <div class="item_description">
                                    <span class="cat">Avocados</span>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/avocado.png" alt="">
                                    </a>
                                </div>
                                <div class="item_description">
                                    <span class="cat">Avocados</span>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/avocado.png" alt="">
                                    </a>
                                </div>
                                <div class="item_description">
                                    <span class="cat">Avocados</span>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/avocado.png" alt="">
                                    </a>
                                </div>
                                <div class="item_description">
                                    <span class="cat">Avocados</span>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/avocado.png" alt="">
                                    </a>
                                </div>
                                <div class="item_description">
                                    <span class="cat">Avocados</span>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/avocado.png" alt="">
                                    </a>
                                </div>
                                <div class="item_description">
                                    <span class="cat">Avocados</span>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/avocado.png" alt="">
                                    </a>
                                </div>
                                <div class="item_description">
                                    <span class="cat">Avocados</span>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/avocado.png" alt="">
                                    </a>
                                </div>
                                <div class="item_description">
                                    <span class="cat">Avocados</span>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/avocado.png" alt="">
                                    </a>
                                </div>
                                <div class="item_description">
                                    <span class="cat">Avocados</span>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/avocado.png" alt="">
                                    </a>
                                </div>
                                <div class="item_description">
                                    <span class="cat">Avocados</span>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/avocado.png" alt="">
                                    </a>
                                </div>
                                <div class="item_description">
                                    <span class="cat">Avocados</span>
                                </div>
                            </li>
                        </ul>
                        <div class="sum">
                            <span>1</span> - <span>19</span> of <span>19</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include './layouts/partials.njk/freshdeals.njk' %}
</section>
{% endblock %} {% block Scripts %}
<!--build:js scripts/carrots.js  -->
<script src="scripts/carrots.js"></script>
<!-- endbuild  -->
<!-- build:js scripts/fruits_main.js  -->
<script src="scripts/fruits_main.js"></script>
<!-- endbuild  -->
{% endblock%}