{% import "includes/mixins.njk" as mixins %} {% set page = page | default({title: 'Default', testomonials: []}) %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ page.title }} - Page</title>
    <!-- build:css styles/vendor.css -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->
    <!-- build:js scripts/modernizr.js -->
    <script src="scripts/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p>
    <![endif]-->
    <main>
      {% include "./header.njk" %} {% block content %}{% endblock %} {% include "./footer.njk" %}
    </main>

    <!-- build:js scripts/vendor.js -->
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/node_modules/selectric/src/jquery.selectric.js"></script>
    <script src="/node_modules/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    {% block scripts %}{% endblock %}
  </body>
</html>
