<!-- FOOTER START -->
<footer class="main-footer">
  <div class="container">
    <div class="main-footer--content">
      <div class="row">
        <div class="col-md-6 col-12 order-2 order-md-1 main-footer--left">
          <h2 class="text-bold">Ministry of Education</h2>
          <p>Your home for ministry services, resources and information.</p>
          <form action="#">
            <div class="form-group">
              <input type="text" placeholder="Search EDU.GOV.AZ">
              <button>
                  <i class="i-search"></i>
              </button>
            </div>
          </form>
          <div class="contact">
            <a href="#" class="contact--phone">
              <i class="i-phone"></i>
              146
            </a>
            <a href="#" class="contact--email">
              <i class="i-envelope"></i>
              office@edu.gov.az
            </a>
          </div>
          <div class="footer-map">
            <img src="images/map.png" class="responsive-image" alt="">
          </div>
        </div>
        <div class="col-md-6 col-12 order-1 order-md-2 main-footer--right">
          <div>
            <h5 class="text-bold">QUICK LINKS <i class="i-right"></i></h5>
            <ul>
              <li><a href="#">Ministry Careers</a></li>
              <li><a href="#">Ministry Careers</a></li>
              <li><a href="#">Ministry Careers</a></li>
              <li><a href="#">Ministry Careers</a></li>
              <li><a href="#">Ministry Careers</a></li>
              <li><a href="#">Ministry Careers</a></li>
              <li><a href="#">Ministry Careers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main-footer--bottom">
      <div class="row middle">
        <div class="col-md-6 order-md-1 order-2">
          <i class="main-footer--rights">All Rights Reserved. Please get in touch to use any licensed materials.</i>
        </div>
        <div class="col-md-6 order-md-2 order-1 main-footer--icon">
          <div class="text-center">
              <a href="#"><i class="i-rss"></i></a>
              <a href="#"><i class="i-facebook"></i></a>
              <a href="#"><i class="i-instagram"></i></a>
              <a href="#"><i class="i-twitter"></i></a>
              <a href="#"><i class="i-youtube"></i></a></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER END -->
