<!-- HEADER START -->
<header>
  <div class="main-header">
    <div id="burger-expand" class="burger-expand">
      <ul>
        <li>
          <a href="#">MINISTRY</a>
        </li>
        <li>
          <a href="#">NEWSFLASH</a>
        </li>
        <li>
          <a href="#">SOCIAL</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="row between">
        <div class="main-header--left flex between middle">
          <a href="#" class="main-header--burger">
            <i class="i-burger"></i>
          </a>
          <a href="#" class="main-header--menu flex between middle" id="ledger-toggle">
            <span class="s-menu-mobile"><span>Ministry</span> <i class="i-down"></i></span>
            <span class="s-menu"><span>Menu</span> <i class="i-down"></i></span>
            <span class="s-back"><span>Back</span> <i class="i-up"></i></span>
          </a>
          <div class="main-header--expand">
            {% include "includes/header-menu.njk" %}
          </div>
          <a href="#" class="main-header--faq flex between middle d-none d-md-block"><i class="i-faq"></i><span>FAQ</span></a>
        </div>
        <div class="main-header--right flex between middle">
          <div class="main-header--select-lang">
            <a href="#" class="main-header--lang flex between middle" id="expand-lang">
              <img src="images/britain.svg" alt="" />
              <span class="d-none d-md-block">English</span>
            </a>
            <ul class="main-header--langs">
              <li>
                <a href="#" class="main-header--lang flex between middle">
                  <img src="images/britain.svg" alt="" />
                  <span class="d-none d-md-block">AZ</span>
                </a>
              </li>
              <li>
                <a href="#" class="main-header--lang flex between middle">
                  <img src="images/britain.svg" alt="" />
                  <span class="d-none d-md-block">RU</span>
                </a>
              </li>
            </ul>
          </div>
          <a href="#" class="main-header--contact flex between middle"><span class="d-none d-md-block">Contact</span> <i class="i-phone"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-nav">
    <div class="container">
      <div class="row between middle">
        <div class="col-auto d-none d-md-block order-1">
          <ul class="main-nav--links">
            <li><a href="#">MINISTRY</a></li>
            <li><a href="#">NEWSFLASH</a></li>
            <li><a href="#">SOCIAL</a></li>
          </ul>
        </div>
        <div class="col-md-auto col-12 main-nav--logo order-md-2 order-2">
          <a href="#">
            <img src="images/brand.png" alt="" />
          </a>
        </div>
        <div class="col-md-auto col-12 order-md-3 order-1">
          <blockquote class="main-nav--quote">
            <i>Education is the Future of the Our Nation</i>
            <div>HEYDAR ALIYEV</div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- HEADER END -->
