<div class="row">
  <div class="col-6 bg-secondary expand-left">
    <h2>About</h2>
    <p>Welcome to your home for your home for ministry services, resources and information.</p>
    <p>
      Our catalogue brings together all key websites, services, and resources about the ministry activities. Here you can explore the ministry easily
      and navigate to the content you need.
    </p>
    <h4>Today, our catalogue contains:</h4>
    <div class="flex">
      <div class="header-cataloge--item">
        <p>34</p>
        Departments
      </div>
      <div class="header-cataloge--item">
        <p>6</p>
        Services
      </div>
      <div class="header-cataloge--item">
        <p>36</p>
        Information Resources
      </div>
    </div>
    <div class="header-search">
      <a href="#">
        <img src="images/brand.png" alt="" />
      </a>
      <form action="#">
        <div class="form-group primary sm">
          <input type="text" placeholder="Search EDU.GOV.AZ" /><button>
            <i class="i-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-6 expand-right">
    <h2>
      <a href="#" class="js-sub-menu--back"><i class="i-left"></i>EXPLORE</a><span>EXPLORE</span>
    </h2>
    <ul>
      {% for item in [{ title: "GENERAL EDUCATION", text: "Primary and Secondary school learning, activities and curriculum", sub:
      "general_education", icon: '<svg xmlns="http://www.w3.org/2000/svg" width="25" height="31.978" viewBox="0 0 25 31.978">
        <g id="light-bulb-2" transform="translate(-85.277)">
          <g id="Group_69" data-name="Group 69" transform="translate(85.277)">
            <g id="Group_68" data-name="Group 68" transform="translate(0)">
              <path
                id="Path_253"
                data-name="Path 253"
                d="M110.2,10.661A12.46,12.46,0,0,0,98.927.068C98.574.031,98.2.009,97.762,0c-.412.009-.783.031-1.135.068A12.46,12.46,0,0,0,85.355,10.661a11.54,11.54,0,0,0,3.862,10,9.643,9.643,0,0,1,2.749,3.948h3.31V15.817h-1.25a2.429,2.429,0,0,1-2.5-2.345,2.505,2.505,0,0,1,5,0v1.172h2.5V13.473a2.505,2.505,0,0,1,5,0,2.428,2.428,0,0,1-2.5,2.345h-1.25v8.792h3.311a9.639,9.639,0,0,1,2.75-3.948A11.541,11.541,0,0,0,110.2,10.661Z"
                transform="translate(-85.277)"
                fill="#4b4545"
              />
              <rect id="Rectangle_30" data-name="Rectangle 30" width="2.482" height="9.306" transform="translate(11.259 15.743)" fill="#4b4545" />
              <path
                id="Path_254"
                data-name="Path 254"
                d="M292.555,180.32a1.241,1.241,0,1,0-2.482,0v1.241h1.241A1.242,1.242,0,0,0,292.555,180.32Z"
                transform="translate(-275.061 -166.665)"
                fill="#4b4545"
              />
              <path
                id="Path_255"
                data-name="Path 255"
                d="M179.137,382.374a.62.62,0,0,0,.62.62h.931l1.116,1.488a2.493,2.493,0,0,0,1.985.993h1.861a2.492,2.492,0,0,0,1.985-.993l1.117-1.488h.931a.62.62,0,0,0,.62-.62c-.047-1.989,0-3.026,0-3.026H179.137S179.193,380.549,179.137,382.374Zm8.065.62-.558.745a1.245,1.245,0,0,1-.993.5H183.79a1.247,1.247,0,0,1-.993-.5l-.558-.745Z"
                transform="translate(-172.221 -353.498)"
                fill="#4b4545"
              />
              <path
                id="Path_256"
                data-name="Path 256"
                d="M188.915,179.08a1.241,1.241,0,1,0,0,2.482h1.241v-1.241A1.242,1.242,0,0,0,188.915,179.08Z"
                transform="translate(-180.168 -166.666)"
                fill="#4b4545"
              />
            </g>
          </g>
        </g>
      </svg>
      ' }, { title: "VOCATIONAL EDUCATION", text: "After-school learning, activity strands, curriculum and strategy", sub: "vocational_education",
      icon: '<svg id="painter-palette" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
        <g id="palette">
          <path
            id="Path_261"
            data-name="Path 261"
            d="M12.5,0a12.5,12.5,0,0,0,0,25,2.136,2.136,0,0,0,2.083-2.083,1.783,1.783,0,0,0-.556-1.389,2.468,2.468,0,0,1-.556-1.389,2.136,2.136,0,0,1,2.083-2.083h2.5A6.877,6.877,0,0,0,25,11.111C25,5,19.444,0,12.5,0ZM4.861,12.5a2.136,2.136,0,0,1-2.083-2.083A2.136,2.136,0,0,1,4.861,8.333a2.136,2.136,0,0,1,2.083,2.083A2.136,2.136,0,0,1,4.861,12.5ZM9.028,6.944A2.136,2.136,0,0,1,6.944,4.861,2.136,2.136,0,0,1,9.028,2.778a2.136,2.136,0,0,1,2.083,2.083A2.136,2.136,0,0,1,9.028,6.944Zm6.944,0a2.136,2.136,0,0,1-2.083-2.083,2.083,2.083,0,1,1,4.167,0A2.136,2.136,0,0,1,15.972,6.944ZM20.139,12.5a2.136,2.136,0,0,1-2.083-2.083,2.083,2.083,0,1,1,4.167,0A2.136,2.136,0,0,1,20.139,12.5Z"
            fill="#4b4545"
          />
        </g>
      </svg>
      ' }, { title: "HIGHER EDUCATION", text: "Universities, courses, international cooperation, our vision for the future", sub: "higher_education",
      icon: '<svg xmlns="http://www.w3.org/2000/svg" width="26.196" height="21.383" viewBox="0 0 26.196 21.383">
        <g id="college-graduation" transform="translate(0 -36.648)">
          <g id="Layer_5_59_" transform="translate(0 36.648)">
            <g id="Group_55" data-name="Group 55" transform="translate(0 0)">
              <path
                id="Path_237"
                data-name="Path 237"
                d="M59.144,207.122a3.409,3.409,0,0,1-3.363,0l-7.612-4.668s-.687-.421-.687.533v4.662c0,2.456,4.468,5.1,9.98,5.1s9.98-2.647,9.98-5.1v-4.925c0-.766-.488-.392-.488-.392Z"
                transform="translate(-44.364 -191.368)"
                fill="#4b4545"
              />
              <path
                id="Path_238"
                data-name="Path 238"
                d="M25.758,44.02a.7.7,0,0,0,0-1.3l-11.6-5.8a2.237,2.237,0,0,0-2.127,0l-11.6,5.8a.7.7,0,0,0,0,1.3l11.6,7.112a2.237,2.237,0,0,0,2.127,0"
                transform="translate(0 -36.648)"
                fill="#4b4545"
              />
              <path
                id="Path_239"
                data-name="Path 239"
                d="M357.734,193.8V185.95s.005-.372-.215-.249a6.414,6.414,0,0,0-.764.474.659.659,0,0,0-.137.5V193.8a.209.209,0,0,1-.129.174,1.357,1.357,0,1,0,1.369,0A.2.2,0,0,1,357.734,193.8Z"
                transform="translate(-332.456 -175.891)"
                fill="#4b4545"
              />
            </g>
          </g>
        </g>
      </svg>
      ' }, { title: "SERVICES", text: "Directory, admissions, careers, nostrification and other core services", sub: "services", icon: '<svg
        xmlns="http://www.w3.org/2000/svg"
        width="24.783"
        height="24.783"
        viewBox="0 0 24.783 24.783"
      >
        <path
          id="repairing-service"
          d="M24.706,11.015a.807.807,0,0,0-.8-.61,2.736,2.736,0,0,1-1.873-4.762.689.689,0,0,0,.076-.935,12.267,12.267,0,0,0-1.963-1.983.69.69,0,0,0-.942.076,2.856,2.856,0,0,1-3.091.694A2.752,2.752,0,0,1,14.443.806a.688.688,0,0,0-.608-.724A12.366,12.366,0,0,0,11.047.074a.69.69,0,0,0-.613.709,2.757,2.757,0,0,1-1.7,2.644,2.864,2.864,0,0,1-3.068-.7.691.691,0,0,0-.935-.078,12.318,12.318,0,0,0-2,1.982.689.689,0,0,0,.074.941A2.746,2.746,0,0,1,3.5,8.666,2.864,2.864,0,0,1,.8,10.341a.674.674,0,0,0-.716.609,12.422,12.422,0,0,0-.005,2.818.82.82,0,0,0,.813.61,2.718,2.718,0,0,1,2.55,1.7,2.757,2.757,0,0,1-.693,3.064.688.688,0,0,0-.075.933,12.311,12.311,0,0,0,1.96,1.983.689.689,0,0,0,.943-.075,2.852,2.852,0,0,1,3.089-.695,2.749,2.749,0,0,1,1.677,2.689.688.688,0,0,0,.608.724,12.338,12.338,0,0,0,2.788.008.69.69,0,0,0,.613-.71,2.754,2.754,0,0,1,1.7-2.642,2.86,2.86,0,0,1,3.069.7.692.692,0,0,0,.935.078,12.335,12.335,0,0,0,2-1.982.688.688,0,0,0-.074-.942,2.745,2.745,0,0,1-.694-3.091,2.774,2.774,0,0,1,2.535-1.68l.153,0a.69.69,0,0,0,.725-.608A12.367,12.367,0,0,0,24.706,11.015Zm-12.314,8.52a7.144,7.144,0,1,1,6.133-3.481L15.4,12.926A4.382,4.382,0,0,0,10.21,6.99a.5.5,0,0,0-.343.346A.484.484,0,0,0,10,7.809s1.544,1.556,2.061,2.073a.32.32,0,0,1,.046.23l0,.034a9.877,9.877,0,0,1-.235,1.512l-.033.032-.034.035a9.735,9.735,0,0,1-1.535.238v0l-.026.007h-.025a.33.33,0,0,1-.238-.1C9.444,11.329,7.96,9.856,7.96,9.856A.5.5,0,0,0,7.6,9.7a.49.49,0,0,0-.462.373,4.383,4.383,0,0,0,5.937,5.18l3.162,3.162A7.108,7.108,0,0,1,12.393,19.535Z"
          transform="translate(-0.002 0.001)"
          fill="#4b4545"
        />
      </svg>
      ' }, { title: "PROGRAMMES", text: "Our projects, programmes and initiatives at all levels", sub: "programmers", icon: '<svg
        id="startup"
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        viewBox="0 0 25 25"
      >
        <g id="Group_73" data-name="Group 73">
          <g id="Group_72" data-name="Group 72">
            <path
              id="Path_262"
              data-name="Path 262"
              d="M24.276,11.387a7.738,7.738,0,0,0-9.01-4.755A22.075,22.075,0,0,0,.626,0,.591.591,0,0,0,0,.626,22.53,22.53,0,0,0,6.507,15.266c-.626,3.879,1.126,7.633,4.755,9.01a8.716,8.716,0,0,1-.25-5.381,13.676,13.676,0,0,0,1.877,1,.589.589,0,0,0,.751-.125L19.9,13.514a.559.559,0,0,0,0-.626,7.978,7.978,0,0,0-1-1.752A8.716,8.716,0,0,1,24.276,11.387Zm-13.765-.876a2.478,2.478,0,0,1-3.5-3.5,2.478,2.478,0,0,1,3.5,3.5Z"
              fill="#4b4545"
            />
          </g>
        </g>
        <g id="Group_75" data-name="Group 75" transform="translate(20.053 15.134)">
          <g id="Group_74" data-name="Group 74">
            <path
              id="Path_263"
              data-name="Path 263"
              d="M411.625,310.1l-2.534-2.534a1.194,1.194,0,1,0-1.689,1.689l2.534,2.534a1.195,1.195,0,0,0,1.689-1.689Z"
              transform="translate(-407.04 -307.2)"
              fill="#4b4545"
            />
          </g>
        </g>
        <g id="Group_77" data-name="Group 77" transform="translate(15.134 20.053)">
          <g id="Group_76" data-name="Group 76">
            <path
              id="Path_264"
              data-name="Path 264"
              d="M311.785,409.936l-2.534-2.534a1.194,1.194,0,1,0-1.689,1.689l2.534,2.534a1.195,1.195,0,0,0,1.689-1.689Z"
              transform="translate(-307.2 -407.04)"
              fill="#4b4545"
            />
          </g>
        </g>
        <g id="Group_79" data-name="Group 79" transform="translate(17.64 17.76)">
          <g id="Group_78" data-name="Group 78">
            <path
              id="Path_265"
              data-name="Path 265"
              d="M361.391,362.261l-3.5-3.5a1.195,1.195,0,1,0-1.689,1.689l3.5,3.5a1.195,1.195,0,0,0,1.689-1.689Z"
              transform="translate(-355.84 -358.4)"
              fill="#4b4545"
            />
          </g>
        </g>
      </svg>
      ' }, { title: "RESOURCES", text: "Learning resources, books, documents, reports and guides", sub: "resources", icon: '<svg
        xmlns="http://www.w3.org/2000/svg"
        width="26.196"
        height="20.014"
        viewBox="0 0 26.196 20.014"
      >
        <g id="open-book-2" transform="translate(0 -35.048)">
          <g id="Group_71" data-name="Group 71" transform="translate(0 35.048)">
            <g id="Group_70" data-name="Group 70">
              <path
                id="Path_257"
                data-name="Path 257"
                d="M35.768,35.049h0a.924.924,0,0,0-.657.272.933.933,0,0,0-.276.665V50.043a.941.941,0,0,0,.939.937c2.182.005,5.838.46,8.36,3.1V39.369A.9.9,0,0,0,44,38.894C41.932,35.561,37.955,35.054,35.768,35.049Z"
                transform="translate(-31.761 -35.049)"
                fill="#4b4545"
              />
              <path
                id="Path_258"
                data-name="Path 258"
                d="M166.049,50.042V35.985a.936.936,0,0,0-.933-.937h0c-2.187.005-6.164.512-8.234,3.845a.9.9,0,0,0-.129.475V54.078c2.522-2.639,6.178-3.094,8.36-3.1A.941.941,0,0,0,166.049,50.042Z"
                transform="translate(-142.925 -35.048)"
                fill="#4b4545"
              />
              <path
                id="Path_259"
                data-name="Path 259"
                d="M181.616,71.8h-.68V83.553a2.4,2.4,0,0,1-2.39,2.393,10.4,10.4,0,0,0-7.064,2.412,22.567,22.567,0,0,1,9.924.191.937.937,0,0,0,1.147-.913v-14.9A.938.938,0,0,0,181.616,71.8Z"
                transform="translate(-156.357 -68.559)"
                fill="#4b4545"
              />
              <path
                id="Path_260"
                data-name="Path 260"
                d="M1.617,83.553V71.8H.937A.938.938,0,0,0,0,72.738v14.9a.937.937,0,0,0,1.147.913,22.565,22.565,0,0,1,9.924-.191,10.4,10.4,0,0,0-7.064-2.412A2.4,2.4,0,0,1,1.617,83.553Z"
                transform="translate(0 -68.559)"
                fill="#4b4545"
              />
            </g>
          </g>
        </g>
      </svg>
      ' }] %}
      <li>
        <a href="#" class="flex middle js-sub-menu" data-sub-menu="{{ item.sub }}">
          <div class="expand-right--icon">{{ item.icon | safe }}</div>
          <div>
            <p>{{ item.title }}</p>
            <span>{{ item.text }}</span>
          </div>
          <i class="i-right"></i>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-6 expand-reveal">
    <i class="i-down expand-reveal--bottom-icon"></i>
    <div class="expand-reveal--item" id="general_education">
      <h2>
        <a href="#" class="js-sub-menu--back"><i class="i-left"></i>GENERAL EDUCATION</a>
        <span>GENERAL EDUCATION</span>
      </h2>
      <ul class="link-list">
        <li>
          <a href="/home.html">
            <p>Home</p>
            <span>Your home for primary and secondary education</span>
          </a>
        </li>
        <li>
          <a href="/homel2.html">
            <p>LEVEL-II LANDING PAGE</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
        <li>
          <a href="/homel3.html">
            <p>LEVEL-III LANDING PAGE</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
        <li>
          <a href="/homel4.html">
            <p>LEVEL-IV LANDING PAGE</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
        <li>
          <a href="/contacts.html">
            <p>Contacts</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
        <li>
          <a href="/all-articles.html">
            <p>All Articles</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
        <li>
          <a href="/home-faq.html">
            <p>Home-Faq</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
        <li>
          <a href="/home-faq1.html">
            <p>Map</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
        <li>
          <a href="/home-ministry.html">
            <p>Home Ministry</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
        <li>
          <a href="/news.html">
            <p>Home Services</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
        <li>
          <a href="/news-single.html">
            <p>News Single</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
        <li>
          <a href="/search.html">
            <p>Search</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
        <li>
          <a href="/social.html">
            <p>Social</p>
            <span>Level-III Landing Page subtitle, max. 140 characters</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="expand-reveal--item" id="vocational_education">
      <h2>
        <a href="#" class="js-sub-menu--back"><i class="i-left"></i>vocational education</a>
        <span>vocational education</span>
      </h2>
    </div>
    <div class="expand-reveal--item" id="higher_education">
      <h2>
        <a href="#" class="js-sub-menu--back"><i class="i-left"></i>higher education</a>
        <span>higher education</span>
      </h2>
    </div>
    <div class="expand-reveal--item" id="services">
      <h2>
        <a href="#" class="js-sub-menu--back"><i class="i-left"></i>services</a>
        <span>services</span>
      </h2>
    </div>
    <div class="expand-reveal--item" id="programmers">
      <h2>
        <a href="#" class="js-sub-menu--back"><i class="i-left"></i>programmers</a>
        <span>programmers</span>
      </h2>
    </div>
    <div class="expand-reveal--item" id="resources">
      <h2>
        <a href="#" class="js-sub-menu--back"><i class="i-left"></i>resources</a>
        <span>resources</span>
      </h2>
    </div>
  </div>
</div>
