{% macro js(src) %}
  <!-- build:js {{src}} -->
  <script src="{{src}}"></script>
  <!-- endbuild -->
{% endmacro %}


{% macro genEmoji() %}
  &#{{range(128513, 128591) | random}};
{% endmacro %}

{% macro css(src) %}
  <!-- build:css {{src}} -->
  <link rel="stylesheet" href="{{src}}">
  <!-- endbuild -->
{% endmacro %}

{% macro testomonials(arr) %}
  {% for item in arr %}
  <div class="home-testomonials--item">
    <a href="#">
      <div class="icon">
          {{item.icon|safe}}
      </div>
        <div class="home-testomonials--desc">
          <h4>{{item.title}}</h4>
          <p>{{item.text}}</p>
        </div>
        <div class="home-testomonials--arrow">
          <i class="i-right"></i>
        </div>
    </a>
  </div>
  {% endfor %}
{% endmacro %}

{% macro news(news) %}
  {% for item in news %}
    <div class="article">
      <a href="#">
        {{item.title}}
      </a href="#">
      <small>{{item.time}}</small>
    </div>
  {% endfor %}
{% endmacro %}

{% macro feed(feeds) %}
  <div class="feeds">
      {% for item in feeds %}
      <div class="feed">
        <small>{{item.time}}</small>
        <p>{{item.title}}</p>
        <a href="#">
          {% if item.icon === "twitter" %}
          <i class="i-twitter"></i>
          {% else %}
            <i class="i-facebook"></i>

          {% endif %}
          More on {{item.icon}}</a>
      </div>
      {% endfor %}
  </div>
{% endmacro %}


{% macro resources(resources) %}
  <div class="resources">
      {% for item in resources %}
      <div class="resource">
        <a href="#">
          <p>{{item.title}}</p>
          <span>{{item.source}}</span>
        </a>
      </div>
      {% endfor %}
  </div>
{% endmacro %}
