@font-face {
	font-family: 'Nimbus Sans L OT';
	src: url('NimbusSansLOT-BoldCond.eot');
	src: url('NimbusSansLOT-BoldCond.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansLOT-BoldCond.woff') format('woff'),
		url('NimbusSansLOT-BoldCond.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans L OT';
	src: url('NimbusSansLOT-Bold.eot');
	src: url('NimbusSansLOT-Bold.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansLOT-Bold.woff') format('woff'),
		url('NimbusSansLOT-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans L OT';
	src: url('NimbusSansLOT-Regular.eot');
	src: url('NimbusSansLOT-Regular.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansLOT-Regular.woff') format('woff'),
		url('NimbusSansLOT-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans L OT';
	src: url('NimbusSansLOT-ReguCond.eot');
	src: url('NimbusSansLOT-ReguCond.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansLOT-ReguCond.woff') format('woff'),
		url('NimbusSansLOT-ReguCond.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans L OT';
	src: url('NimbusSansLOT-RegularItalic.eot');
	src: url('NimbusSansLOT-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansLOT-RegularItalic.woff') format('woff'),
		url('NimbusSansLOT-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Nimbus Sans L OT';
	src: url('NimbusSansLOT-BoldCondItal.eot');
	src: url('NimbusSansLOT-BoldCondItal.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansLOT-BoldCondItal.woff') format('woff'),
		url('NimbusSansLOT-BoldCondItal.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Nimbus Sans L OT';
	src: url('NimbusSansLOT-Regular_1.eot');
	src: url('NimbusSansLOT-Regular_1.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansLOT-Regular_1.woff') format('woff'),
		url('NimbusSansLOT-Regular_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans L OT';
	src: url('NimbusSansLOT-ReguCondItal.eot');
	src: url('NimbusSansLOT-ReguCondItal.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansLOT-ReguCondItal.woff') format('woff'),
		url('NimbusSansLOT-ReguCondItal.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Nimbus Sans L OT';
	src: url('NimbusSansLOT-BoldItalic.eot');
	src: url('NimbusSansLOT-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansLOT-BoldItalic.woff') format('woff'),
		url('NimbusSansLOT-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Nimbus Sans L OT';
	src: url('NimbusSansLOT-RegularItalic_1.eot');
	src: url('NimbusSansLOT-RegularItalic_1.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansLOT-RegularItalic_1.woff') format('woff'),
		url('NimbusSansLOT-RegularItalic_1.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Nimbus Sans L OT';
	src: url('NimbusSansLOT-BoldItalic_1.eot');
	src: url('NimbusSansLOT-BoldItalic_1.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansLOT-BoldItalic_1.woff') format('woff'),
		url('NimbusSansLOT-BoldItalic_1.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-LigCon.eot');
	src: url('NimbusSansNovusTOT-LigCon.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-LigCon.woff') format('woff'),
		url('NimbusSansNovusTOT-LigCon.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-HeaCon.eot');
	src: url('NimbusSansNovusTOT-HeaCon.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-HeaCon.woff') format('woff'),
		url('NimbusSansNovusTOT-HeaCon.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-RegCon.eot');
	src: url('NimbusSansNovusTOT-RegCon.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-RegCon.woff') format('woff'),
		url('NimbusSansNovusTOT-RegCon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-SemBolCon.eot');
	src: url('NimbusSansNovusTOT-SemBolCon.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-SemBolCon.woff') format('woff'),
		url('NimbusSansNovusTOT-SemBolCon.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-UltLigIta.eot');
	src: url('NimbusSansNovusTOT-UltLigIta.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-UltLigIta.woff') format('woff'),
		url('NimbusSansNovusTOT-UltLigIta.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-MedIta.eot');
	src: url('NimbusSansNovusTOT-MedIta.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-MedIta.woff') format('woff'),
		url('NimbusSansNovusTOT-MedIta.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-Reg.eot');
	src: url('NimbusSansNovusTOT-Reg.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-Reg.woff') format('woff'),
		url('NimbusSansNovusTOT-Reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-BlaCon.eot');
	src: url('NimbusSansNovusTOT-BlaCon.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-BlaCon.woff') format('woff'),
		url('NimbusSansNovusTOT-BlaCon.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-LigIta.eot');
	src: url('NimbusSansNovusTOT-LigIta.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-LigIta.woff') format('woff'),
		url('NimbusSansNovusTOT-LigIta.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-SemBolIta.eot');
	src: url('NimbusSansNovusTOT-SemBolIta.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-SemBolIta.woff') format('woff'),
		url('NimbusSansNovusTOT-SemBolIta.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-BolCon.eot');
	src: url('NimbusSansNovusTOT-BolCon.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-BolCon.woff') format('woff'),
		url('NimbusSansNovusTOT-BolCon.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-HeaIta.eot');
	src: url('NimbusSansNovusTOT-HeaIta.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-HeaIta.woff') format('woff'),
		url('NimbusSansNovusTOT-HeaIta.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-Hea.eot');
	src: url('NimbusSansNovusTOT-Hea.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-Hea.woff') format('woff'),
		url('NimbusSansNovusTOT-Hea.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-Bol.eot');
	src: url('NimbusSansNovusTOT-Bol.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-Bol.woff') format('woff'),
		url('NimbusSansNovusTOT-Bol.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-UltLigCon.eot');
	src: url('NimbusSansNovusTOT-UltLigCon.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-UltLigCon.woff') format('woff'),
		url('NimbusSansNovusTOT-UltLigCon.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-Lig.eot');
	src: url('NimbusSansNovusTOT-Lig.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-Lig.woff') format('woff'),
		url('NimbusSansNovusTOT-Lig.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-SemBol.eot');
	src: url('NimbusSansNovusTOT-SemBol.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-SemBol.woff') format('woff'),
		url('NimbusSansNovusTOT-SemBol.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-RegIta.eot');
	src: url('NimbusSansNovusTOT-RegIta.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-RegIta.woff') format('woff'),
		url('NimbusSansNovusTOT-RegIta.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-Bla.eot');
	src: url('NimbusSansNovusTOT-Bla.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-Bla.woff') format('woff'),
		url('NimbusSansNovusTOT-Bla.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-BolIta.eot');
	src: url('NimbusSansNovusTOT-BolIta.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-BolIta.woff') format('woff'),
		url('NimbusSansNovusTOT-BolIta.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-UltLig.eot');
	src: url('NimbusSansNovusTOT-UltLig.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-UltLig.woff') format('woff'),
		url('NimbusSansNovusTOT-UltLig.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-MedCon.eot');
	src: url('NimbusSansNovusTOT-MedCon.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-MedCon.woff') format('woff'),
		url('NimbusSansNovusTOT-MedCon.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-BlaIta.eot');
	src: url('NimbusSansNovusTOT-BlaIta.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-BlaIta.woff') format('woff'),
		url('NimbusSansNovusTOT-BlaIta.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-BolOut.eot');
	src: url('NimbusSansNovusTOT-BolOut.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-BolOut.woff') format('woff'),
		url('NimbusSansNovusTOT-BolOut.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans Novus T OT';
	src: url('NimbusSansNovusTOT-Med.eot');
	src: url('NimbusSansNovusTOT-Med.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNovusTOT-Med.woff') format('woff'),
		url('NimbusSansNovusTOT-Med.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Nimbus Sans No5 T OT';
	src: url('NimbusSansNo5TOT-Bold.eot');
	src: url('NimbusSansNo5TOT-Bold.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNo5TOT-Bold.woff') format('woff'),
		url('NimbusSansNo5TOT-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus Sans No5 T OT';
	src: url('NimbusSansNo5TOT-Regular.eot');
	src: url('NimbusSansNo5TOT-Regular.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNo5TOT-Regular.woff') format('woff'),
		url('NimbusSansNo5TOT-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans No5 T OT';
	src: url('NimbusSansNo5TOT-Light.eot');
	src: url('NimbusSansNo5TOT-Light.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNo5TOT-Light.woff') format('woff'),
		url('NimbusSansNo5TOT-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans No5 T OT';
	src: url('NimbusSansNo5TOT-Medium.eot');
	src: url('NimbusSansNo5TOT-Medium.eot?#iefix') format('embedded-opentype'),
		url('NimbusSansNo5TOT-Medium.woff') format('woff'),
		url('NimbusSansNo5TOT-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

