<div id="footer" class="bg-prim">
  <div class="container">
    <div class="roof">
      <div class="flexbox between top flex-wrap">
        <div class="roof-logo">
          <img src="./images/logo_azw.png" alt="">
        </div>
        <div class="roof-links align-left flexbox between middle">
        <ul class="roof-link list-unstyled list-decor">
          <li><a href="#">Ümumi məlumat</a></li>
          <li><a href="#">Xidmətlər</a></li>
          <li><a href="#">Təlim</a></li>
        </ul>
        <ul class="roof-link list-unstyled list-decor">
          <li><a href="#">Qanunvericilik</a></li>
          <li><a href="#">Məlumat mərkəzi</a></li>
          <li><a href="#">Əlaqə</a></li>
        </ul>
        </div>
        <div class="roof-contact">
          <ul class="list-unstyled text-right">
            <li><a href="#"><i class="fa fa-phone"></i> (+994 12) 597 07 37, 594 44 04</a></li>
            <li class="mt-10"><a href="#"><i class="fa fa-envelope"></i> info@bmi.gov.az</a></li>
          </ul>
        </div>
      </div>
      <div class="text-right text-white mt-10">
        © Baş Mühafizə İdarəsi, 2017
      </div>
    </div>
  </div>  
</div>