<div id="header">
    <div class="nav bg-prim">
      <div class="container">
        <div class="flexbox between middle flex-wrap">
        <button class="burger"><i class="fa fa-bars"></i></button>
            <ul class="list-unstyled c-nav-primary">
                <li><a class="active" href="#">Ana səhifə</a></li>
                <li><a href="#">Ümumi Məlumat</a></li>
                <li><a href="#">Xidmətlər</a></li>
                <li><a href="#">Qanunvericilik</a></li>
                <li><a href="#">Məlumat mərkəzi</a></li>
                <li><a href="#">Əlaqə</a></li>
            </ul>
            <div class="c-nav-lang">
                <select>
                    <option value="AZ">AZ</option>
                    <option value="RU">EN</option>
                </select>
            </div>
        </div>
      </div>
    </div>


    <div class="search">
      <div class="container">
        <div class="flexbox between middle flex-wrap">
            <div class="search-logo">
                <img class="search-logo" src="./images/logo_az.png" alt="">
            </div>
            <div class="posres search-wrapper">
                <input class="search-bar" type="text" placeholder="Axtarış">
                <i class="fa fa-search"></i>
            </div>
        </div>
      </div>
    </div>
  </div>