<div class="media-items">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="./images/content/media-1.jpg" data-fancybox="image" class="media-item-logo">
                    <img class="img-responsive" src="./images/content/media-1.jpg" alt="">
                    <div class="overlay"></div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="./images/content/media-2.jpg" data-fancybox="image" class="media-item-logo">
                                <img class="img-responsive" src="./images/content/media-2.jpg" alt="">
                                <div class="overlay"></div>
                            </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="./images/content/media-3.jpg" data-fancybox="image" class="media-item-logo">
                                <img class="img-responsive" src="./images/content/media-3.jpg" alt="">
                                <div class="overlay"></div>
                            </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="./images/content/media-4.jpg" data-fancybox="image" class="media-item-logo">
                                <img class="img-responsive" src="./images/content/media-4.jpg" alt="">
                                <div class="overlay"></div>
                            </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="./images/content/media-1.jpg" data-fancybox="image" class="media-item-logo">
                            <img class="img-responsive" src="./images/content/media-1.jpg" alt="">
                            <div class="overlay"></div>
                        </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                    <img class="img-responsive" src="./images/content/media-2.jpg" alt="">
                                    <div class="overlay"></div>
                                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                    <img class="img-responsive" src="./images/content/media-3.jpg" alt="">
                                    <div class="overlay"></div>
                                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                    <img class="img-responsive" src="./images/content/media-4.jpg" alt="">
                                    <div class="overlay"></div>
                                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                <img class="img-responsive" src="./images/content/media-1.jpg" alt="">
                                <div class="overlay"></div>
                            </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                        <img class="img-responsive" src="./images/content/media-2.jpg" alt="">
                                        <div class="overlay"></div>
                                    </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                        <img class="img-responsive" src="./images/content/media-3.jpg" alt="">
                                        <div class="overlay"></div>
                                    </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                        <img class="img-responsive" src="./images/content/media-4.jpg" alt="">
                                        <div class="overlay"></div>
                                    </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                    <img class="img-responsive" src="./images/content/media-1.jpg" alt="">
                                    <div class="overlay"></div>
                                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                            <img class="img-responsive" src="./images/content/media-2.jpg" alt="">
                                            <div class="overlay"></div>
                                        </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                            <img class="img-responsive" src="./images/content/media-3.jpg" alt="">
                                            <div class="overlay"></div>
                                        </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                            <img class="img-responsive" src="./images/content/media-4.jpg" alt="">
                                            <div class="overlay"></div>
                                        </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                        <img class="img-responsive" src="./images/content/media-1.jpg" alt="">
                                        <div class="overlay"></div>
                                    </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                                <img class="img-responsive" src="./images/content/media-2.jpg" alt="">
                                                <div class="overlay"></div>
                                            </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                                <img class="img-responsive" src="./images/content/media-3.jpg" alt="">
                                                <div class="overlay"></div>
                                            </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="media-item">
                <a href="#" class="media-item-logo">
                                                <img class="img-responsive" src="./images/content/media-4.jpg" alt="">
                                                <div class="overlay"></div>
                                            </a>
            </div>
        </div>
    </div>
</div>