<div class="body">
    <div class="flexbox between top flex-wrap">
        <div class="statistic">
            <div class="header">
                <i class="logo signal"></i> Sİqnalİzasİya Sİstemlərİ
            </div>
            <div class="statistic-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea assumenda rerum cum consequuntur temporibus ratione distinctio delectus facere accusamus, dicta quos cupiditate nihil illum porro saepe. Non ea dolorum temporibus.
                </p>
            </div>
            <div class="statistic-link text-center">
                <a href="#" class="text-white text-up decor-off bl">Ətraflı</a>
            </div>
        </div>
        <div class="statistic">
            <div class="header">
                <i class="logo stat"></i> StatİsTİk Məlumatlar
            </div>
            <div class="statistic-description statistic-description--list">
                <ul class="list-unstyled">
                    <li>Mühafizə olunan obyektlərin sayı: <span>15 000</span></li>
                    <li>Etiam volutpat mauris: <span>600</span></li>
                    <li>Etiam volutpat mauris: <span>350</span></li>
                    <li>Etiam volutpat mauris: <span>980</span></li>
                </ul>
            </div>
            <div class="statistic-link text-center">
                <a href="#" class="text-white text-up decor-off bl">Ətraflı</a>
            </div>
        </div>
        <div class="another">
            <span>DIN-in digər saytları</span>
            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <span>bakı şəhər baş polis idarəsi</span> www.bakupolice.gov.az
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>İAQMBİ</span> www.insanalveri.gov.az
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>DIN-in polis akademiyasi</span> www.pa.edu.az
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>DIN</span> www.mia.gov.az
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>BDYPI</span> www.dyp.gov.az
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/khocali_az.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>