.footer-section
  margin-top: 100px
  @media (max-width:700px)
    width:100%
    text-align: center
  .footer--copyright
    color: #fff
    margin-top: 20px
    font-weight: bold
    @media(min-width: 700px)
      display:none
  .logo-1
    width: 97px
    height: 98px
    background-image: url('../images/footer_4.png')
    @media (max-width:700px)
      width:40px
      height:41px
  .logo-2
    width: 97px
    height: 98px
    margin-left: 10px
    background-image: url('../images/footer_3.png')
    @media (max-width:700px)
      width:40px
      height:41px
  .logo-3
    width: 147px
    height: 97px
    background-image: url('../images/footer_1.png')
    @media (max-width:700px)
      width: 100%
  .logo-4
    width: 159px
    height: 100px
    margin-left: 10px
    background-image: url('../images/footer_2.png')
    @media (max-width:700px)
      width:100%
      margin:0
      margin-top: 20px
  .footer-link
    display: inline-block
    background-repeat: no-repeat
    background-position: center center
    background-size: contain