.header-container
    background: #fff
    padding: 40px 0 20px 0

.header
    &--description
        display:block
        font-size: 0.8em
        font-weight: bold
        text-align: left
        width:53%
        margin-left: auto
        @media (max-width: 1150px)
            width:400px
        @media (max-width: 730px)
            width:100%
            margin-top:20px
    &--logo
        display: block
        img
            display: block
            width 241px
            height 82px