.features
  margin: 118px 0
  @media (max-width:700px)
    margin-top: 50px
  &--img
    width:83px
    @media (max-width: 400px)
      width:53px
  &--item
    @media (max-width: 700px)
      flex-wrap: wrap
      justify-content center
  &--description
    color: #fff
    font-weight: bold
    margin-left: 3px
    font-size: 1.4em
    @media (max-width: 650px)
      margin:0
      margin-top: 4px
      text-align: center
      font-size: 1em
    @media (max-width: 357px)
      font-size: 0.8em
.p-link
  width: 40%
  color: #54b14e
  background-image: url(../images/polygon.png)
  background-repeat: no-repeat
  background-size:contain
  margin-top: 20px
  position:relative
  @media(max-width: 950px)
      width: 50%
      margin-top: 50px
  @media(max-width: 860px)
      width: 400px
  @media(max-width: 400px)
    width: 300px
  .logo-1
    width: 83px
    height: 53px
    background-image: url('../images/property_1.png')
    @media(max-width: 1150px)
      width:55px
  .logo-2
    width: 97px
    height: 51px
    background-image: url('../images/property_2.png')
    @media(max-width: 1150px)
      width:69px
  .logo-3
    width: 71px
    height: 71px
    background-image: url('../images/property_3.png')
    @media(max-width: 1150px)
      width:41px
  .logo-4
    width: 69px
    height: 66px
    background-image: url('../images/property_4.png')
    @media(max-width: 1150px)
      width:41px
  &--shield
    position:relative
    width:110px
    height:90px
    padding:20px
    @media(max-width: 1150px)
      width:84px
      height:75px
    @media(max-width: 400px)
      padding: 10px
    @media(max-width: 350px)
      padding: 4px
  &--logo
    position: absolute
    top:50%
    left:50%
    z-index:2
    transform: translate(-50%, -50%)
    background-repeat: no-repeat
    background-size: contain
    background-position: center center
  &--description
    font-weight: bold
    text-indent: 40px
    font-size: 1.7em
    @media(max-width:1150px)
      text-indent: 20px
      font-size: 1.3em