.checkbox
  color:#fff
  font-weight:bold
  checkbox()

.mobile
  .form--group.hide-lg
    display: block

.form
  &--document
    color: white
    font-weight: bold
    background-color: #52af4e
    padding: 20px 0
    box-sizing: border-box
    cursor: pointer
    text-align: center
    border-radius: 25px
    display:block
    span
      display:block
      color: lighten(red, 10%)
      font-size:0.6em
    input
      display: none
  &--group
    width: 30%
    margin-top:40px
    &.hide-lg
      display: none // this must be none
    @media (max-width:800px)
      width: 46%
    @media (max-width:537px)
      width: 100%
  .group--title
    font-size:1.5em
    font-weight: bold
    color: #fff
    margin:0
    margin-bottom: 5px
  .group--background
    position:relative
    @media (max-width:537px)
      display:block
    &:before,&:after
      content: ''
      position: absolute
    &:before
      position: absolute;
      border: 10px solid;
      border-color: #55af4b transparent transparent #55af4b;
      left: 10px;
      top: 100%;
    &:after
      position: absolute;
      border: 8px solid;
      border-color: #fff transparent transparent  #fff;
      left: 13px;
      top: 94%;
  .group--input
    font-size:1.4em
    padding: 9px 4px
    border:3px solid #55af4b
    transition: all .8s ease
    border-radius: 4px
    box-sizing: border-box
    width:100%
    @media (max-width:537px)
      width:100%
    &:focus
      outline: 0
      border-color: lighten(#55af4b, 40%)
  &--submit
    button(2em)
    padding: 10px 30px
    margin-top: 80px
  &--confirm
    margin-top: 40px
    label
      font-family: 'Montserrat'
      color: #fff
      width:50%
      text-align: left
      font-size:0.8em
      font-weight: bold
      margin-left: 10px
      @media (max-width:800px)
        width: 100%