@import '../fonts/montserrat/stylesheet.css'
@import '../fonts/nimbus/stylesheet.css'



// globals

button(fs=1.5em, bgc=#55af4b)
    color: white
    display:inline-block
    background-color: #55af4b
    font-weight:bold
    font-size: fs
    border-radius: 10px
    border:0
    cursor: pointer
    transition: all .5s ease
    &:hover
        background-color: darken(#55af4b, 10%)
    &:focus
        outline:0

checkbox(brcolor = #55af4b)
    &:hover input ~ .mark
        background-color: darken(#fff, 10%)
    input:checked ~ .mark
        &:after
            display: block
    .mark
        display:inline-block
        width:25px
        height:25px
        border:1px solid brcolor
        background-color:#fff
        position:relative
        cursor: pointer
        &:after
            content: ''
            position: absolute
            display: none
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid brcolor;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    input
        position:absolute
        width:25px
        height:25px
        z-index:2
        opacity:0
        cursor:pointer

body
    font-family: 'NimbusSans'

a
    text-decoration: none

img
    font-size: 0

.text-center
    text-align: center

.hidden
    display: none

.global-container
    background-image: url('../images/big-background.jpg')
    background-repeat: no-repeat
    background-size: cover
    padding: 42px 0px

.container
    width: 1089px
    margin:0 auto
    @media(max-width: 1150px)
        width: 900px
    @media(max-width: 950px)
        width: 90%

// [[ flex
.flex
    display: flex

.between
    justify-content: space-between
.around
    justify-content: space-around
.bottom
    align-items: bottom

.middle
    align-items: center

.wrap
    flex-wrap: wrap

.center
    justify-content: center

.column
    flex-direction: column

// [[ flex




// imports
@import './header.styl'
@import './footer.styl'
@import './home.styl'
@import './sorgu.styl'
@import './ipoteka.styl'