.request
  background: #fff
  margin: 100px auto
  width: 58%
  border: 10px solid #55af4b
  padding: 40px 30px
  border-radius: 37px
  position:relative
  &:before,&:after
    content: ''
    position: absolute
  &:before
    position: absolute;
    border: 40px solid;
    border-color: transparent transparent #55af4b  #55af4b;
    left: 90px;
    bottom: 100%;
    @media (max-width: 650px)
      border-width: 30px;
      left: 40px
  &:after
    position: absolute;
    border: 30px solid;
    border-color: transparent transparent #fff  #fff;
    left: 98px;
    bottom: 100%;
    @media (max-width: 650px)
      border-width: 20px;
      left: 48px


  &--description
    background: #fff
    color:#55af4b
    font-weight: bold
    text-align: center
  &--controls
    text-align: center
    margin-top: 10px
    a
      button()
      padding: 10px 30px