// BreadCrumb start
nav.main-nav
	ul(class={row: true, 'justify-content-between': !breadCrumbRight, 'main-nav--right': breadCrumbRight})
		each item, index in breadCrumbLabels
				li.main-nav--item(class={active: index === pageIndex})
					.front
					span= item
					.back
// BreadCrumb end
