html
	body
		// Header Start
		header.main-header
			.bg-primary
				.py-2
					.row.align-items-center
						.col-2
							a.brand-logo.text-decoration-none(href="index.html")
								img(src="images/group.svg" alt="")
								span.text-white Azərbaycan Respublikasi Təhsil Nazirliyi
						.col
							span.text-white.ml-2 ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ
						.col-auto
							a.text-white.mr-4(href="#") Əliyev Əli
		// Header End
