// Nav Start
.navigation
    .row.justify-content-between
        .col-auto
            a.btn.btn-outline-secondary.btn-block(href="#") İMTİNA
        if isBackEnabled
            .col-auto.ml-auto
                a.btn.btn-outline-primary.btn-block(href="#") GERİYƏ
        if ((breadCrumbLabels.length - 1) === pageIndex)
            .col-auto.ml-3
                // Submit Button
                button.btn.btn-outline-primary.btn-block(href="#", onclick="$('#"+registerForm+"').submit()")
                    if nextLabel
                        = nextLabel
                    else
                        | QEYDİYYATI TAMAMLA
                // Submit button end
        else
            .col-auto.ml-3
                // Submit Button
                button.btn.btn-outline-primary.btn-block(href="#", onclick="$('#"+registerForm+"').submit()")
                    if nextLabel
                        = nextLabel
                    else
                        | NÖVBƏTİ
                // Submit button end
// Nav End
