
mixin profileTree(object, isNested=true)
    ul(class={'custom-profile--menu': isNested})
        each val, index in object
                if val !== null
                    li
                        a(href="#", class={'text-black': true, active: index === profileVal, 'tick': true})= index
                        +profileTree(val, false)
                else
                    li
                        a(href="#", class={'text-black': true, active: index === profileVal})= index

// profile start
.custom-profile
    .custom-profile--details.text-center
        img.d-block.mx-auto(src="images/user-picture.png")
        span Ad Soyad Ata adı
    +profileTree($_tree)
// profile end