-
    var profileRightData = [
        'Sənədin seriyası',
        'Sənədin nömrəsi',
        'Sənədin növü',
        'Sənədi verən orqan',
        'Sənədin etibarlılıq tarixi',
        'PTPK qərarın nömrəsi',
        'PTPK qüvvədən düşmə tarixi',
        'Xüsusi təhsil proqramının adı'
    ];
.custom-profile.right
    .custom-profile--details.text-center
        img(src="images/user-picture.png")
        span Ad Soyad Ata adi
    .px-3
        ul
            each val, index in profileRightData
                li.mt-4
                    = val
                    p