
.posres {
    position:relative;
}
.text-white {
    color:#fff;
}
.text-up {
    text-transform: uppercase;
}

.decor-off {
    &:hover {
        text-decoration: none;
    }
}
.bl {
    display:block;
}
.btn {
    color:white;
    background:gray;
    padding:5px 25px;
    font-size:.9em;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
}
.btn:hover {
    text-decoration: none;
}
.btn-sec {
    background-color:#6e7e8e;
}
.btn-primary {
    background-color:prim;
}
.btn-big {
    font-size:1.1em;
}
.mt-10 {
    margin-top:10px;
}
.list-decor {
    a {
        border-bottom:1px dashed white;
    }
}
.text-sec {
    color:sec;
}

body {
    width:100%;
}

// Base
body {
    font-family:roboto;
    font-size:16px;
    line-height:1.428;
}

#wrapper {
    overflow:hidden;
}

// Base end.
.main-website {
    background:url('../images/Layer0.png') no-repeat center center;
    background-size:cover;
}
.bg-prim {
    background:prim;
}

.c-nav-lang {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    color:white;
    font-size:.9em;
    select {
        cursor:pointer;
        padding:10px 25px 10px 8px;
        display:block;
        width:100%;
        border: none;
        box-shadow: none;
        background: prim;
        background-image: none;
        -webkit-appearance: none;
        background: prim url(../images/Down.png) no-repeat 79% 50%;
        &:focus {
            outline:0;
        }
    }
}
.c-nav-lang_gray {
    color:#738491;
    border-color:#738491;
    select {
        background-color:#ececec;
        background-image: url('../images/down_gray.png');
        background-position:95% 50%;
        padding:5px 25px 4px 8px;
    }
}
.c-nav-primary{
    clearfix()
    margin-bottom:0;
    li {
        float:left;
        a {
            display:block;
            padding:25px 16px;
            color:#fff;
            &.active {
                background:rgba(0,0,0,0.3);
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.search {
    padding:30px 0;
}
.search-wrapper {
    i {
        position:absolute;
        top:50%;
        transform: translateY(-56%);
        right:12px;
        color:#4c95e0;
    }
}
.search-bar
    background:transparent;
    border:1px solid #4c95e0;
    border-radius:4px;
    color:#4c95e0;
    font-size:1.2em;
    padding:4px 34px 4px 20px;
    &:focus {
        outline:0;
    }
    +placeholder()
        color:#4c95e0;

#footer {
    border-top:8px solid gray;
}
.roof {
    padding:40px 0;
}
.roof-links {
    li {
        &:nth-child(n+2) {
            margin-top:10px;
        }
    }
    a {
        color:white;
        display:block;
        font-size:.9em;
        &:hover {
            text-decoration: none;
        }
    }
}
.roof-link {
    padding-left:50px;
}
.roof-contact {
    a {
        color:#fff;
    }
}
.home-page-carousel {
    padding:106px 0;
    position:relative;
    background:url('../images/Layer 31.jpg') no-repeat top left;
    background-size:cover;
    .banner h1{
        display:inline-block;
        padding:10px 20px;
        border-radius:4px;
        color:white;
        text-transform: uppercase;
        background:prim;
    }
    .item {
    }
    .description {
        font-size:1.3em;
    }
}
.prev,.next {
    background:#f2f5f7;
    position:absolute;
    padding:17px 15px 15px 15px;
    text-align: center;
    top:50%;
    cursor:pointer;
    border-radius:3px;
    transform:translateY(-50%);
    i {
        font-size:1.8em;
        color:Gray;
    }
}
.prev {
    left:7%;
}
.next {
    right:7%;
}
.link {
    margin-top:20px;
}

.tools {
    padding:20px 0;
}

.box {
    width:28%;
    padding:25px;
    height:200px;
    text-align:center;
    color:white;
}
.blue {
    background-color:#2b69aa;
}
.orange {
    background-color:#f2591d;
}
.green {
    background-color:#5dd738;
}
.about {
    background:url('../images/Layer 5.jpg') no-repeat top left;
    background-size:cover;
    padding:50px 0;
    .description {
        font-weight:500;
    }
}
.index-hor {
    border-color:sec;
    border-width:3px;
    width:80px;
    margin-top:10px;
}
.news {
    padding-top:20px;
    padding-bottom:50px;
    .body {
        padding: 40px 0;
    }
    &-top {
        border-top:1px dashed gray;
    }
    .another {
        width:32%;
        border-left:1px dashed gray;
        padding-left:15px;
        > span {
            color:#4c5b6a;
            font-size:1.5em;
            font-weight:bold;
        }
        li {
            margin-top:10px;
            &:last-child {
                a {
                    padding:0;
                    border:0;
                }
            }
            a {
                display:inline-block;
                text-align:center;
                color:#8f8c8c;
                width:298px;
                background:white;
                border:1px solid #c0c0c1;
                padding:20px 0;
                border-radius:2px;
                span {
                    color:#6d6868;
                    font-weight:bold;
                    text-transform: uppercase;
                    font-size:1.3em;
                    display:block;
                }
            }
        }
    }
    .statistic {
            width:32%;
            background:#758ba0;
            &-description {
                color:white;
                padding:35px 25px;
                p {
                    line-height:1.685;
                }
                &--list {
                    padding:0;
                }
                ul {
                    li {
                        border-top:1px solid white;
                        padding:15px;
                        span {
                            font-weight:bold;
                        }
                    }
                }
            }
            &-link {
                background-color:#4c5b6a;
                padding:10px 0;
                a {
                    font-weight:600;
                }
            }
            .header {
                background:#387cc2;
                color:#fff;
                font-size:1.3em;
                text-transform: uppercase;
                padding:15px;
                .logo {
                    display:inline-block;
                    width:32px;
                    height:33px;
                    margin-right:13px;
                    &.stat {
                        background:url('../images/Rectangle 34 copy 2.png')no-repeat center center;
                        background-size:contain;
                    }
                    &.signal {
                        background:url('../images/Forma 13.png')no-repeat center center;
                        background-size:contain;
                    }
                }
            }
    }
    &-box {
        width:30%;
        position:relative;
        .banner {
            background:prim;
            color:white;
            position:absolute;
            top:-30px;
            left:20px;
            padding:10px 15px;
            border-radius:4px;
            line-height:1;
            text-align:center;
            font-size:1.6em;
            span {
                font-size:14px;
                text-transform: uppercase;
                display:block;
            }
        }
        .description {
            color:#7b8b9c;
            background-color:#f2f5f7;
            border:1px solid #d8d5d5;
            padding:40px 20px;
        }
        .news-link {
            position:absolute;
            bottom:-10px;
            right:20px;
        }
        
    }
}

.show-all {
    color:#aab7c0;
    border-bottom: 1px dashed #aab7c0;
    padding-bottom:3px;
}

.burger {
    display:none;
    border:1px solid white;
    background:transparent;
    color:white;
    font-size:1.5em;
    padding:5px 20px;
    margin-bottom:20px;
}

@media (max-width:1522px) {
    .prev {
        left:2%;
    }
    .next {
        right:2%;
    }
}
@media (max-width:1360px) {
    .prev,.next {
        opacity:0.5;
        &:hover {
            opacity:1;
        }
    }
    .prev {
        left:0;
    }
    .next {
        right:0;
    }
}

@media (max-width:1200px) {
    .box {
        width:27%;
    }
}
@media (max-width: 991px) {
    .box {
        width:25%;
    }
    .news {
        .statistic,.another {
            width:100%;
            margin-top:10px;
        }
        .another {
            border-left:0;
            padding-left:0;
            ul {
                text-align:center;
                li {
                }
            }
        }
    }
    .roof-logo {
        width:50%;
    }
    .roof-links {
        width:50%;
    }
    .roof-contact {
        margin-top:40px;
        width:100%;
    }
}
@media (max-width: 768px) {
    .box {
        width:100%;
    }
    .prev,.next {
        display:none;
    }
    .container {
        padding-left:15px;
        padding-right:15px;
    }
    .news-box {
        width:100%;
        margin-top:50px;
    }
    .search-wrapper,.search-log {
        width:100%;
    }
    .search-wrapper {
        margin-top:20px;
    }
    .search-bar {
        display:block;
        width:90%;
        padding:10px 5%;
    }
    .roof-logo {
        width:100%;
    }
    .roof-links {
        width:100%;
        .roof-link {
            width:48%;
            margin-top:40px;
            padding:0;
        }
    }
    .nav {
        padding:20px 0;
        max-height:48px;
        overflow:hidden;
        tran(all .3s ease)
        &.active {
            max-height:611px;
        }
    }
    .c-nav-primary {
        width:100%;
        li {
            float:none;
        }
    }
    .c-nav-lang {
        width:100%;
        margin-top:30px;
        select {
            background-position:97% center;
        }
    }
    .burger {
        display:block;
    }
}