.info-content {

}
.info-nav {
    margin-top:20px;
    ul {
        padding:0;
        margin:0;
        list-style-type:none;
        a {
            display:block;
            padding:15px 0 15px 45px;
            font-weight:bold;
            color:#7891ab;
            @media(max-width:992px) {
                font-size:.8em;
                padding:10px 0 10px 15px;
            }
            &.active {
                color:White;
                background: sec;
                position:relative;
                &:after {
                    content: '';
                    background: sec;
                    width: 38px;
                    height: 38px;
                    display: inline-block;
                    position: absolute;
                    top: 7px;
                    transform: rotate(45deg);
                    right: -18px;
                    z-index:99;
                    @media(max-width:992px) {
                        width: 26px;
                        height: 26px;
                        top: 6px;
                        right: -13px;
                    }
                }
            }
        }
    }
}
.info-c {
    border:1px solid prim;
    border-radius:15px;
    @media(max-width:768px) {
        margin-top:10px;
    }
    .hero {
        &:nth-child(n+2) {
            border-top:1px solid sec;
        }
        h4 {
            text-transform: uppercase;
        }
        .content-header {
            padding-bottom:00px;
        }
        .hero-unit {
            clearfix();
            padding:20px 0;
            .unit-logo {
                float:left;
                box-sizing:border-box;
                width:30%;
                text-align: center;
                @media(max-width:992px) {
                    width:43%;
                    padding-left:40px;
                }
                @media(max-width:504px) {
                    width:100%;
                    padding:0;
                }
                div {
                    border:2px solid sec;
                    width:66%;
                    height:240px;
                    line-height:240px;
                    margin:0 auto;
                    border-radius:3px;
                    @media(max-width:992px) {
                        width:100%;
                    }
                    @media(max-width:504px) {
                    width:177px;
                }
                }
                img {
                    font-size:0;
                    border-radius:4px;
                    border:2px solid sec;
                }
            }
            .unit-desc {
                float:left;
                box-sizing: border-box;
                width:70%;
                padding:0 20px;
                @media(max-width:992px) {
                    width:57%;
                }
                @media(max-width:504px) {
                    width:100%;
                }
                .unit-name {
                    font-size:1.2em;
                    color:sec;
                    font-weight:600;
                }
                .unit-position {
                }
                .unit-about {
                    margin-top:10px;2
                    p {
                        margin:0;
                        color:#55687b;
                    }
                }
            }
        }
    }
    .content-header {
        padding:20px 40px;
        h4 {
            color:#7891ab;
            font-weight:bold;
        }
    }
    .content-body {
        .info-description {
            width:90%;
            margin:-38% auto 0 auto;
            color:white;
            font-weight:bold;
            > p {
                padding:30px;
                line-height:1.6;
                font-size:1.3em;
                @media(max-width:768px) {
                    padding-top:0;
                    font-size:1em;
                }
                @media(max-width:442px) {
                    font-size:0.7em;
                }
            }
            .bg-white {
                color:#55687b;
                background:white;
                position:relative;
                font-weight:300;
                padding:30px;
            }
        }
        img {
            width:100%;
        }
    }
}