.media-controls {
    text-align:center;
    ul {
        margin:0;
        padding:0;
        list-style-type: none;
        display:inline-block;
        border-radius:20px;
        border:1px solid sec;
        li {
            display:inline-block;
            &:last-child {
                margin-left:-15px;
            }
            a {
                display:block;
                padding:5px 25px;
                border-radius:20px;
                color:g;
                font-size:.8em;
                &.active {
                    background:sec;
                    color:White;
                }
                &:hover, &:active, &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}
.media-items {
    .col-md-3 {
        margin-top: 20px;
        box-sizing:border-box;
    }
}
.media-item {
    text-align:center;
    .media-item-logo {
        display:inline-block;
        position:relative;
        border:2px solid sec;
        &:hover {
            .overlay {
                opacity:1;
                visibility: visible;
            }
        }
    }
    .overlay {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba(black, 0.8);
        background-image:url('../images/media-logo.png');
        background-repeat: no-repeat;
        background-position: center center;
        opacity:0;
        visibility:hidden;
        tran(all .5s ease);
    }
}
.media-pagination {
    padding:20px 0;
}
.media-pagination {
    text-align:center;
    ul {
        display:inline-block;
        padding:0;
        margin:0;
        list-style-type:none;
        .next-arrow {
                a {
                    color:sec;
                }
            }
        li {
            display:inline-block;
            
            a {
                display:block;
                padding:10px 15px;
                border-radius:4px;
                font-weight:bold;
                color:g;
                &.active {
                    background:sec;
                    color:white;
                }
                &:hover {
                    text-decoration:none;
                }
            }
        }
    }
}