.news-h {
    color:#387cc2;
    font-weight:600;
    .c-nav-lang {
        display: inline-block;
        vertical-align: middle;
    }
}

.news-items {
    padding-bottom:60px;
    .news-box {
        width:26%;
        margin-top:40px;
        @media(max-width:992px) {
            width:42%;
            &.e-3 {
                width:60%;
                margin-left:auto;
                margin-right:auto;
                margin-top:60px;
            }
        }
        @media(max-width:768px) {
            &.e-3 {
                width:100%;
                margin-top:40px;
            }
        }
        @media(max-width:650px) {
            width:100%;
        }
    }
    .description {
        padding-top:15px;
        padding-left:10px;
        padding-right:10px;
        font-size:.85em;
        line-height:1.5;
        font-weight:600;
    }
    .news-link {
        a {
            &:hover {
                background-color:darken(prim, 10%);
            }
        }
    }
    .dashed-border{ 
            margin-top: 50px;
    }
}

.news-unit-wrapper {
    background-color:#f2f5f7;
    border:1px solid #d8d5d5;
    position:relative;
    clearfix();
    font-size:18.5px;
    color:#818a94;
    padding-right:20px;
    padding-bottom:20px;
    font-weight:bold;
    @media(max-width:768px) {
        padding-right:0;
    }
    p {
        margin:0;
        padding-top:20px;
        line-height:33px;
        padding-left:20px;
        padding-right:20px;
    }
    img {
        float:left;
        width:70%;
        padding:0 30px 10px 0;
        @media(max-width:768px) {
            width:100%;
            padding:0;
        }
    }
    .banners {
        position:absolute;
        top:20px;
        left:20px;
        .cal {
            display:inline-block;
            color:white;
            background-color:#387cc2;
            text-align:Center;
            font-size:26px;
            border-radius:4px;
            line-height:1;
            vertical-align: middle;
            @media(max-width:768px) {
                font-size:20px;
            }
            .date {
                padding:10px 15px 10px 15px;
                @media(max-width:768px) {
                    padding:5px;
                }
            }
            span {
                display:block;
                font-size:14px;
                text-transform: uppercase;
            }
            .year {
                background-color:#1c446e;
                border-radius:0 0 4px 4px;
                padding:5px 0;
            }
        }
        .desc {
            color:white;
            vertical-align: middle;
            font-size:1.2em;
            width:61%;
            display:inline-block;
            margin-left:10px;
            span {
                background-color:#5a98d9;
                display:inline;
                padding:4px;
                @media(max-width:992px) {
                    font-size:.9em;
                }
                @media(max-width:768px) {
                    font-size:.7em;
                }
            }
            @media(max-width:768px) {
                width:80%;
                }
        }
    }
}