.mini-map {
    border-top: 1px solid prim;
    padding:10px 0;
    ul {
        margin:0;
        padding:0;
        list-style: none;

        li {
            display:inline-block;
            &+li:before {
                content: "•";
                font-size:32px;
                vertical-align: middle;
                line-height: 0;
                color:prim;
            }
            a {
                color:sec;
                font-size:.9em;
            }
            a.gray {
                color:g;
            }
        }
    }
}

.page-header {
        padding-bottom:10px;
        margin-top:10px;
    h3 {
        margin:0;
        text-transform: uppercase;
        border-left:14px solid #4d95e0;
        color:#4d95e0;
        padding-top:5px;
        padding-left:10px;
        font-weight:bold;
    }
}
.dashed-border {
    border-top:1px dashed #808080;
}

.about-service {
    .about-wrapper {
        border: 1px solid prim;
        padding: 30px;
        border-radius: 4px;
        background: white;
        color:#717f8d;
    }
}
.text-bold {
    font-weight:bold;
}

.ico {
    display:inline-block;
    width:66px;
    height:66px;
    background-size:contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: center center;
    &-1{
        background-image:url('../images/ico-1.png');
    }
    &-2{
        background-image:url('../images/ico-2.png');
    }
    &-3{
        background-image:url('../images/ico-3.png');
    }
    &-4{
        background-image:url('../images/ico-4.png');
    }
}

.service {
    padding-bottom:30px;
    &-presentation {
        position:relative;
        padding:30px 0;
        .hero {
            border:4px solid sec;
            border-radius: 4px 4px 20% 4px;
            overflow:hidden;
            width:50%;
            img {
                font-size:0;
            }
            @media(max-width:992px) {
                width:63%;   
            }
            @media(max-width:768px) {
                width:100%;   
            }
        }
        .desc {
            background-color:rgba(sec, 0.9);
            color:white;
            padding:10px;
            position:absolute;
            top:50%;
            line-height:2;
            transform:translateY(-50%);
            left:25%;
            @media(max-width:992px) {
                position:static;
                transform:none;
                margin-top:10px;
            }
        }
    }
    &-header {
        font-weight: bold;
        font-size: 25px;
        display: table;
        .ico {
            vertical-align: middle;
            display: table-cell;
        }
        span {
            vertical-align: middle;
            display: table-cell;
            padding-right: 37%;
            padding-left: 30px;
            @media(max-width:768px) {
                padding:0;
            }
        }
    }
    &-item {
        width:40%;
        box-sizing: border-box;
        margin-top:30px;
        @media(max-width:992px) {
            width:100%;
        }
        a {
            color:#717f8d;
            font-weight:bold;
            display:table;
            border:1px solid g;
            border-radius:4px;
            padding:20px;
            @media(max-width:992px) {
                display:block;
            }
            clearfix();
            tran(all .5s ease);
            .ico {
                display:table-cell;
                vertical-align: middle;
            }
            span {
                display:table-cell;
                vertical-align: middle;
                padding-left:23px;
                @media(max-width:1200px) {
                    font-size:0.8em;
                }
                @media(max-width:992px) {
                    font-size:1em;
                }
            }
            &:hover {
                text-decoration: none;
            }
            &:hover {
                background:sec;
                color:white;
                border-color:sec;
            }
        }
    }
}
.m-top {
    p {
        margin-top:30px;
    }
}