// Utility
prim=#2b69aa;
sec=#4c95e0;
g=#7b8b9c;
font = roboto;

clearfix()
    &:before,
    &:after
        content:'';
        display:table;
    &:after
        clear:both;

tran(arg)
    transition: arg;



placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}