{% extends "layouts/default.njk" %} {% block content %}
<div id="content">
  <div class="home-page-carousel">
    <div class="container">
      <div class="prev">
        <i class="fa fa-chevron-left"></i>
      </div>
      <div class="next">
        <i class="fa fa-chevron-right"></i>
      </div>
      <div class="owl-carousel owl-theme js-car">
        <div class="item">
          <div class="banner">
            <h1>
              Online ödəniş Xidməti
            </h1>
          </div>
          <div class="description text-white">
            Cras luctus erat sed ornare pretium. Morbi est felis, gravida ac nunc suscipit, fermentum blandit ligula. Curabitur sit amet
            neque in enim mollis scelerisque ac at turpis. Maecenas mattis elementum pretium. Pellentesque non justo in ipsum
            ultrices feugiat. Etiam congue vitae lacus at consequat. Maecenas et justo erat.
          </div>
          <div class="link">
            <a href="#" class="btn btn-sec text-up">daha ətraflı</a>
          </div>
        </div>
        <div class="item">
          <div class="banner">
            <h1>
              Online ödəniş Xidməti
            </h1>
          </div>
          <div class="description text-white">
            Cras luctus erat sed ornare pretium. Morbi est felis, gravida ac nunc suscipit, fermentum blandit ligula. Curabitur sit amet
            neque in enim mollis scelerisque ac at turpis. Maecenas mattis elementum pretium. Pellentesque non justo in ipsum
            ultrices feugiat. Etiam congue vitae lacus at consequat. Maecenas et justo erat.
          </div>
          <div class="link">
            <a href="#" class="btn btn-sec text-up">daha ətraflı</a>
          </div>
        </div>
        <div class="item">
          <div class="banner">
            <h1>
              Online ödəniş Xidməti
            </h1>
          </div>
          <div class="description text-white">
            Cras luctus erat sed ornare pretium. Morbi est felis, gravida ac nunc suscipit, fermentum blandit ligula. Curabitur sit amet
            neque in enim mollis scelerisque ac at turpis. Maecenas mattis elementum pretium. Pellentesque non justo in ipsum
            ultrices feugiat. Etiam congue vitae lacus at consequat. Maecenas et justo erat.
          </div>
          <div class="link">
            <a href="#" class="btn btn-sec text-up">daha ətraflı</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tools">
    <div class="container">
      <div class="flexbox between middle flex-wrap">
        <div class="box blue">
          <a href="#" class="text-white decor-off bl">
                <img src="./images/Forma 12.png" alt="">
                <h2 class="text-up">Xidmət haqqının hesablanması</h2>
              </a>
        </div>
        <div class="box green">
          <a href="#" class="text-white decor-off bl">
                <img src="./images/Forma 11.png" alt="">
                <h2 class="text-up">Online Ödəniş</h2>
              </a>
        </div>
        <div class="box orange">
          <a href="#" class="text-white decor-off bl">
                <img src="./images/Forma 1.png" alt="">
                <h2 class="text-up">Ümumİ məlumat</h2>
              </a>
        </div>
      </div>
    </div>
  </div>

  <div class="about">

    <div class="container">

      <div class="header text-white">
        <h2 class="text-up text-center">MÜhafİzə PoliSİ HAqqında</h2>
        <hr class="text-center index-hor">
      </div>
      <div class="description text-white">
        <p>Baş Mühafizə İdarəsi müqavilə əsasında mülkiyyətçilərin əmlakının mühafizəsi və təhlükəsizlik işini təşkil edən,
          mühafizə xidmətlərinə görə müqavilə üzrə alınan vəsaitlər hesabına saxlanılan müstəqil struktur hissədir. </p>
        <p>Baş İdarənin strukturuna Təşkilati-inspektor idarəsi, Xidmət şöbəsi, Mühafizənin texniki vasitələri şöbəsi, Kadrlar
          şöbəsi, Maliyyə-plan şöbəsi, Maddi-texniki təchizat şöbəsi, Baş idarənin inzibati binasının mühafizəsi bölməsi,
          Növbətçi hissələri idarəetmə xidməti, Katiblik, Şəxsi heyətlə iş üzrə qrup, Kompüterləşmiş mərkəzi mühafizə məntəqəsi,
          İdman kompleksi daxildir.</p>
        <p>Baş İdarənin əsas vəzifələri aşağıdakılardır:</p>
        <p>- müqavilələr əsasında mülkiyyətçilərin əmlakının və təhlükəsizliyinin mühafizəsi işini təşkil etmək;</p>
        <p>- mühafizə xidmətinin təkmilləşdirilməsi və mühafizə hissələrinin öz xərclərini ödəməsi üçün tədbirlərin işlənib
          hazırlanmasını və həyata keçirilməsini təmin etmək;</p>
        <p>- obyektlərin siqnalizasiya vasitələri ilə təchiz edilməsi üzrə quraşdırma işlərinin yerinə yetirilməsinə texniki
          nəzarətin həyata keçirilməsini, onların istismara qəbul olunmasını, təmirini və texniki xidmətini təmin etmək;</p>
        <p>- hüquqi və fiziki şəxslərin əmlakının hüquqazidd əməllərdən qorunmasını təşkil etmək, bu məqsədlə mühafizəyə götürülən
          əmlakın siqnalizasiya vasitələri ilə təchiz edilməsi üzrə tədbirlər həyata keçirmək;</p>
      </div>
      <div class="additional text-center">
        <a href="#" class="btn btn-primary btn-big text-up">daha ətraflı</a>
      </div>
    </div>

  </div>

  <div class="news">

    <div class="container">
      <div class="news-top">
        <div class="header">
          <h2 class="text-center text-sec text-up">Xəbərlər</h2>
          <hr class="index-hor">
        </div>
      </div>
      <div class="body">
        <div class="flexbox between top flex-wrap">
          <div class="news-box">
            <div class="banner">
              29 <span>Iyun</span>
            </div>
            <div class="description">
              27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
              təchiz olunmuş, qorunan, “Ayxan” marketdən Mərkəzi Mühafizə Məntəqəsinə “həyəcan” siqnalı daxil olmuşdur. Dərhal
              hadisə yerinə gələn
            </div>
            <div class="news-link">
              <a href="#" class="btn btn-primary">Daha ətraflı</a>
            </div>
          </div>
          <div class="news-box">
            <div class="banner">
              29 <span>Iyun</span>
            </div>
            <div class="description">
              27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
              təchiz olunmuş, qorunan, “Ayxan” marketdən Mərkəzi Mühafizə Məntəqəsinə “həyəcan” siqnalı daxil olmuşdur. Dərhal
              hadisə yerinə gələn
            </div>
            <div class="news-link">
              <a href="#" class="btn btn-primary">Daha ətraflı</a>
            </div>
          </div>
          <div class="news-box">
            <div class="banner">
              29 <span>Iyun</span>
            </div>
            <div class="description">
              27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
              təchiz olunmuş, qorunan, “Ayxan” marketdən Mərkəzi Mühafizə Məntəqəsinə “həyəcan” siqnalı daxil olmuşdur. Dərhal
              hadisə yerinə gələn
            </div>
            <div class="news-link">
              <a href="#" class="btn btn-primary">Daha ətraflı</a>
            </div>
          </div>
        </div>
      </div>
      <div class="body text-center">
        <a href="#" class="text-up show-all">hamisina bax</a>
      </div>
      {% include "includes/statistic.njk" %}
    </div>

  </div>

</div>
{% endblock %}