<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMI</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background: #061c42;
        }

        a {
            transform: scale(1);
            color: #e7363b;
            transition: all .1s ease;
            text-decoration: none;
            display: inline-block;
            font-size: 1.2em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            text-transform: capitalize;
        }

        a:hover {
            transform: scale(1.5);
        }

        ul li {}
    </style>
</head>

<body>
    <ul>
        <li><a href="home.html">nome</a></li>
        <li><a href="news.html">news</a></li>
        <li><a href="news-unit.html">news-unit</a></li>
        <li><a href="info.html">info</a></li>
        <li><a href="info-2.html">info-2</a></li>
        <li><a href="media.html">media</a></li>
        <li><a href="services.html">services</a></li>
        <li><a href="services-1.html">services-1</a></li>
    </ul>
</body>

</html>