{% extends "layouts/default.njk" %} {% block content %}
<div id="content">
    <div class="mini-map">
        <div class="container">
            <ul>
                <li><a href="#">Əsas səhifə</a></li>
                <li><a href="#" class="gray">Xidmətlər</a></li>
            </ul>
        </div>
    </div>
    <div class="page-header">
        <div class="container">
            <h3>ümümi məlumat</h3>
            <hr class="dashed-border">
        </div>
    </div>
    <div class="info-content">
        <div class="container">
            <div class="col-md-3 col-sm-3">
                <aside class="info-nav">
                    <ul>
                        <li><a href="#">Mühafizə Polisi haqqında</a></li>
                        <li><a href="#" class="active">Rəhbərlik</a></li>
                        <li><a href="#">Struktur</a></li>
                        <li><a href="#">Statistik göstəricilər</a></li>
                        <li><a href="#">Vətəndaşların qəbulu</a></li>
                        <li><a href="#">BMİ-nin vəzifələri</a></li>
                        <li><a href="#">Göstərilən xidmətlərin tarifləri</a></li>
                        <li><a href="#">BMİ-nin tarixi</a></li>
                        <li><a href="#">Resurslar</a></li>
                        <li><a href="#">Məqsədlər</a></li>
                        <li><a href="#">Xidmətə qəbul qaydaları (şərtləri)</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="info-c">
                    <div class="hero">
                        <div class="content-header">
                            <h4>Baş Mühafİzə İdarəsİnİn rəİsİ</h4>
                            <hr class="dashed-border">
                        </div>
                        <div class="hero-unit">
                            <div class="unit-logo">
                                <img src="./images/content/generalmayor.jpg" alt="">
                            </div>
                            <div class="unit-desc">
                                <div class="unit-name">
                                    Əliyev Yaşar Ədilxan oğlu
                                </div>
                                <div class="unit-position">
                                    polis general-mayoru
                                </div>
                                <div class="unit-about">
                                    <p>Yaşar Ədilxan oğlu Əliyev 8 sentyabr 1960-cı ildə Bakı şəhərində anadan olmuşdur.</p>
                                    <p>1981-ci ildə Daxili İşlər Nazirliyinin Ali Siyasi Məktəbini bitirmişdir.</p>
                                    <p>1981-ci ildə SSR daxili qoşun hissələrində, Tbilisi şəhərində yerləşən 69-cu diviziyada,
                                        daha sonra Bakı şəhərin DİO-da müxtəlif məsul vəzifələrdə işləmişdir.</p>
                                    <p>2011-ci ilin may ayınadək Bakı Şəhər Baş Polis İdarəsi rəisinin müavini vəzifəsində çalışmışdır.</p>
                                    <p>2011-ci ildən Azərbaycan Respublikası Daxili İşlər Nazirliyi Baş Mühafizə İdarəsinin
                                        rəisidir.</p>
                                    <p>1995-ci ildə “İgidliyə görə” medalı ilə təltif edilmişdir.</p>
                                    <p>Ailəlidir, bir övladı var.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero">
                        <div class="content-header">
                            <h4>Baş Mühafİzə İdarəsİnİn rəİsİ</h4>
                            <hr class="dashed-border">
                        </div>
                        <div class="hero-unit">
                            <div class="unit-logo">
                                <div>
                                    photo
                                </div>
                            </div>
                            <div class="unit-desc">
                                <div class="unit-name">
                                    Qurskaya Levan Yuriyeviç
                                </div>
                                <div class="unit-position">
                                    polis polkovniki
                                </div>
                                <div class="unit-about">
                                    <p>Cras in iaculis odio, vitae lacinia est. Integer finibus dui a ultricies bibendum. Orci
                                        varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                        Donec porttitor dui consectetur eros fermentum egestas. </p>
                                    <p>Aenean tellus dolor, rhoncus sit amet ante eget, porttitor gravida dolor. Duis dignissim
                                        nulla in purus elementum, vitae suscipit massa cursus. Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Ut eu laoreet sapien, vitae venenatis ligula. Proin
                                        eget gravida nunc. Curabitur venenatis, urna ac tincidunt pretium, tellus ligula
                                        imperdiet metus, ac ultrices lectus tortor a urna. Vivamus facilisis, sem in porttitor
                                        faucibus, lectus enim pellentesque tellus, vel imperdiet lectus risus non felis.
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="container">
            {% include "includes/statistic.njk" %}
        </div>
    </div>
</div>
{% endblock %}