{% extends "layouts/default.njk" %} {% block content %}
<div id="content">
    <div class="mini-map">
        <div class="container">
            <ul>
                <li><a href="#">Əsas səhifə</a></li>
                <li><a href="#" class="gray">Xidmətlər</a></li>
            </ul>
        </div>
    </div>
    <div class="page-header">
        <div class="container">
            <h3>ümümi məlumat</h3>
            <hr class="dashed-border">
        </div>
    </div>
    <div class="info-content">
        <div class="container">
            <div class="col-md-3 col-sm-3">
                <aside class="info-nav">
                    <ul>
                        <li><a href="#" class="active">Mühafizə Polisi haqqında</a></li>
                        <li><a href="#">Rəhbərlik</a></li>
                        <li><a href="#">Struktur</a></li>
                        <li><a href="#">Statistik göstəricilər</a></li>
                        <li><a href="#">Vətəndaşların qəbulu</a></li>
                        <li><a href="#">BMİ-nin vəzifələri</a></li>
                        <li><a href="#">Göstərilən xidmətlərin tarifləri</a></li>
                        <li><a href="#">BMİ-nin tarixi</a></li>
                        <li><a href="#">Resurslar</a></li>
                        <li><a href="#">Məqsədlər</a></li>
                        <li><a href="#">Xidmətə qəbul qaydaları (şərtləri)</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="info-c">
                    <div class="content-header">
                        <h4>MÜHAFİZƏ POLISİ HAQQINDA ümumi məlumat</h4>
                        <hr class="dashed-border">
                    </div>
                    <div class="content-body">
                        <img src="./images/bg-info.png" class="img-responsive" alt="">
                        <div class="info-description">
                            <p>Baş Mühafizə İdarəsi müqavilə əsasında mülkiyyətçilərin əmlakının mühafizəsi və təhlükəsizlik
                                işini təşkil edən, mühafizə xidmətlərinə görə müqavilə üzrə alınan vəsaitlər hesabına saxlanılan
                                müstəqil struktur hissədir.</p>
                            <div class="bg-white">
                                <p>Baş İdarənin strukturuna Təşkilati-inspektor idarəsi, Xidmət şöbəsi, Mühafizənin texniki
                                    vasitələri şöbəsi, Kadrlar şöbəsi, Maliyyə-plan şöbəsi, Maddi-texniki təchizat şöbəsi,
                                    Baş idarənin inzibati binasının mühafizəsi bölməsi, Növbətçi hissələri idarəetmə xidməti,
                                    Katiblik, Şəxsi heyətlə iş üzrə qrup, Kompüterləşmiş mərkəzi mühafizə məntəqəsi, İdman
                                    kompleksi daxildir.</p>
                                <p>Baş İdarənin əsas vəzifələri aşağıdakılardır:</p>
                                <p>- müqavilələr əsasında mülkiyyətçilərin əmlakının və təhlükəsizliyinin mühafizəsi işini təşkil
                                    etmək;</p>
                                <p>- mühafizə xidmətinin təkmilləşdirilməsi və mühafizə hissələrinin öz xərclərini ödəməsi üçün
                                    tədbirlərin işlənib hazırlanmasını və həyata keçirilməsini təmin etmək;</p>
                                <p>- obyektlərin siqnalizasiya vasitələri ilə təchiz edilməsi üzrə quraşdırma işlərinin yerinə
                                    yetirilməsinə texniki nəzarətin həyata keçirilməsini, onların istismara qəbul olunmasını,
                                    təmirini və texniki xidmətini təmin etmək;</p>
                                <p>- hüquqi və fiziki şəxslərin əmlakının hüquqazidd əməllərdən qorunmasını təşkil etmək, bu
                                    məqsədlə mühafizəyə götürülən əmlakın siqnalizasiya vasitələri ilə təchiz edilməsi üzrə
                                    tədbirlər həyata keçirmək;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="container">
            {% include "includes/statistic.njk" %}
        </div>
    </div>
</div>
{% endblock %}