{% extends "layouts/default.njk" %} {% block content %}
<div id="content">
    <div class="mini-map">
        <div class="container">
            <ul>
                <li><a href="#">Əsas səhifə</a></li>
                <li><a href="#" class="gray">Xəbərlər</a></li>
            </ul>
        </div>
    </div>
    <div class="page-header">
        <div class="container">
            <div class="flexbox between middle">
                <h3>Media</h3>
            </div>
            <hr class="dashed-border">
        </div>
    </div>
    <div class="media-content">
        <div class="container">
            <div class="media-controls">
                <ul>
                    <li><a href="#" class="active">Foto</a></li>
                    <li><a href="#">Video</a></li>
                </ul>
            </div>
            {% include "./includes/media-items.njk" %}
            <div class="media-pagination">
                <ul>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">32</a></li>
                    <li class="next-arrow"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %} {% block scripts %}
<!-- build:js scripts/media.js -->
<script src="scripts/media.js"></script>
<!-- endbuild -->
{% endblock %}