{% extends "layouts/default.njk" %} {% block content %}
<div id="content">
    <div class="mini-map">
        <div class="container">
            <ul>
                <li><a href="#">Əsas səhifə</a></li>
                <li><a href="#" class="gray">Xəbərlər</a></li>
            </ul>
        </div>
    </div>
    <div class="news-unit">
        <div class="container">
            <hr class="dashed-border">
            <div class="news-unit-wrapper clearfix">
                <div>
                    <img src="./images/content/news-unit.jpg" alt="">
                    <p>28.07.2017-ci il tarixdə saat 03:30-də Nərimanov rayonun, H.Əliyev prospektində yerləşən, mühafizə siqnalizasiyası
                        sistemləri ilə təchiz olunmuş, “İdeal-Doktor” aptek məntəqəsindən Mərkəzi Mühafizə Məntəqəsinə “həyəcan”
                        siqnalı daxil olmuşdur. Dərhal hadisə yerinə gələn Nərimanov Rayon Mühafizə İdarəsinin əməkdaşları
                        aptekin giriş qapısına müdaxilə olunduğunu aşkar etmişlər. Həmin ərazidə şübhəli şəxs qismində Ağsu
                        rayon sakini, 2000-ci il təvəllüdlü</p>
                    <p>Bədəlov Əlisahib Aslan oğlunu saxlayaraq sonrakı araşdırmalar aparılması üçün ərazi üzrə 16-cı Polis
                        Bölməsinə təhvil vermişlər. Müşahidə kameralarına baxış keçirilən zaman Ə.Bədəlovun həmin obyektə
                        müdaxilə etdiyi təsdiq olunmuşdur. Faktla bağli Nərimanov Rayon Polis İdarəsinin 16-cı Polis Bölməsində
                        araşdırma aparılır.</p>
                </div>
                <div class="banners">
                    <div class="cal">
                        <div class="date">
                            29
                            <span>Iyun</span>
                        </div>
                        <span class="year">2017</span>
                    </div>
                    <div class="desc">
                        <span>
                                        30.07.2017-ci il tarixdə Lökbatan qəsəbəsində yerləşən, “Sədərək” ticarət mərkəzində...
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <div class="container">
            <div class="flexbox between middle">
                <h3>Digər Xəbərlər</h3>
            </div>
            <hr class="dashed-border">
        </div>
    </div>
    <div class="news-items">
        <div class="container">
            <div class="flexbox between flex-wrap">
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}