{% extends "layouts/default.njk" %} {% block content %}
<div id="content">
    <div class="mini-map">
        <div class="container">
            <ul>
                <li><a href="#">Əsas səhifə</a></li>
                <li><a href="#" class="gray">Xəbərlər</a></li>
            </ul>
        </div>
    </div>
    <div class="page-header">
        <div class="container">
            <div class="flexbox between middle">
                <h3>Xəbərlər</h3>
                <div class="news-h">
                    Sırala
                    <div class="c-nav-lang c-nav-lang_gray">
                        <select id="">
                                <option value="tarixegore">Tarixə görə</option>
                            </select>
                    </div>
                </div>
            </div>
            <hr class="dashed-border">
        </div>
    </div>
    <div class="news-items">
        <div class="container">
            <div class="flexbox between flex-wrap">
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
                <div class="news-box e-3">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
            </div>
            <hr class="dashed-border">
            <div class="flexbox between flex-wrap">
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
                <div class="news-box e-3">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
            </div>
            <hr class="dashed-border">
            <div class="flexbox between flex-wrap">
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
                <div class="news-box">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
                <div class="news-box e-3">
                    <div class="image">
                        <img src="./images/content/muhafize_2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="banner">
                        29 <span>Iyun</span>
                    </div>
                    <div class="description">
                        27.05.2017-ci il tarixdə saat 22:55 radələrində Sabunçu rayonu, Zabrat qəsəbəsində yerləşən, siqnalizasiya sistemləri ilə
                        təchiz olunmuş, qorunan, “Ayxan” marketdən...
                    </div>
                    <div class="news-link">
                        <a href="#" class="btn btn-primary">Daha ətraflı</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}