{% extends "layouts/default.njk" %} {% block content %}
<div id="content">
    <div class="mini-map">
        <div class="container">
            <ul>
                <li><a href="#">Əsas səhifə</a></li>
                <li><a href="#" class="gray">Xidmətlər</a></li>
            </ul>
        </div>
    </div>
    <div class="page-header">
        <div class="container">
            <h3>xidmətlər</h3>
            <hr class="dashed-border">
        </div>
    </div>
    <div class="about-service">
        <div class="container">
            <div class="about-wrapper">
                <h2 class="service-header">
                    <i class="ico ico-3"></i>
                    <span>Dövr edən polis və ya mülki mühafizə postlarından istifadə etməklə mühafizə</span></h2>
                <div class="service-presentation">
                    <div class="hero">
                        <img src="images/img-1.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="desc">
                        Bu cür mühafizə növü bir və ya bir neçə obyekti cinayətkarların müdaxiləsindən müdafiə etmək üçün tətbiq edilir. Belə mühafizə
                        qorunmalı ərazinin hüdudlarının 150 metrdən çox olduğu hallarda, onun ətrafında dövr etmək yolu ilə
                        həyata keçirilir. Bu zaman mühafizə məsafəsindən asılı olaraq patrul işi həm piyada, həm də ki, avto-motonəqliyyat
                        vasitəsilə yerinə yetirilə bilər.
                    </div>
                </div>
                <p>Belə mühafizənin tətbiqi zamanı patrul mühafizə olunan obyektin növündən asılı olaraq vaxtaşırı öhdəliyində
                    olan ərazini gəzir. O, bu ərazidəki bütün mühafizə olunan obyektlərin zədələnməməsinə və oraya kənar
                    şəxslərin daxil olmamasına nəzarət edir. Hər hansı bir həyəcan doğuracaq bir vəziyyət yarandığı təqdirdə
                    isə, patrul əməkdaşları radiokanal vasitəsilə kömək göndərmək üçün dərhal növbətçiyə zəng edir və qanun
                    pozuntusunun aradan qaldırılması yolunda bütün müvafiq tədbirləri həyata keçirirlər.</p>
                <p>Adətən bu metoddan obyektin gecə saatlarında qorunması zamanı istifadə edilir. Patrul metodu digər təhlükəsizlik
                    sistemləri ilə birlikdə istifadə olunduqda və yaxud mühafizə olunan obyektin mərkəzi mühafizə pultuna
                    qoşulmasının mümkünsüz olduğu təqdirdə də yaxşı effekt verir.</p>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="container">
            {% include "includes/statistic.njk" %}
        </div>
    </div>
</div>
{% endblock %}