{% extends "layouts/default.njk" %} {% block content %}
<div id="content">
    <div class="mini-map">
        <div class="container">
            <ul>
                <li><a href="#">Əsas səhifə</a></li>
                <li><a href="#" class="gray">Xidmətlər</a></li>
            </ul>
        </div>
    </div>
    <div class="page-header">
        <div class="container">
            <h3>xidmətlər</h3>
            <hr class="dashed-border">
        </div>
    </div>
    <div class="about-service">
        <div class="container">
            <div class="about-wrapper">

                <p class="text-bold">Azərbaycan DİN Baş Mühafizə İdarəsi tərəfindən bağlanmış müqavilələr əsasında göstərilən xidmətlərin siyahısı
                    mühafizə olunmağa təqdim edilən obyektin tipindən və İdarənin qarşısına qoyulan vəzifələrdən asılı olaraq
                    müxtəlif təhlükəsizlik metodlarından ibarət olur.</p>
                <div class="service flexbox around flex-wrap">
                    <div class="service-item">
                        <a href="#">
                            <i class="ico ico-1"></i>
                            <span>Stasionar polis və ya mülki mühafizə postlarından istifadə etməklə mühafizə</span>
                        </a>
                    </div>
                    <div class="service-item">
                        <a href="#">
                            <i class="ico ico-2"></i>
                            <span>Mərkəzləşdirilmiş mühafizə mərkəzinin tətbiqi yolu ilə mühafizə</span>
                        </a>
                    </div>
                    <div class="service-item">
                        <a href="#">
                            <i class="ico ico-3"></i>
                            <span>Dövr edən polis və ya mülki mühafizə postlarından istifadə etməklə mühafizə</span>
                        </a>
                    </div>
                    <div class="service-item">
                        <a href="#">
                            <i class="ico ico-4"></i>
                            <span>Yüklərin, pulların və qiymətli kağızların polis əməkdaşı və ya mülki mühafizəçi tərəfindən müşayiət edilməsi</span>
                        </a>
                    </div>
                </div>
                <p>Bakı, Sumqayıt, Gəncə, Şəki, Şirvan, Mingəçevir və Lənkəran şəhərlərində inzibati binaların, pul vəsaitləri,
                    qiymətli metallar, narkotik vasitələr saxlanılan otaqların, qapalı ticarət obyektlərinin və digər xüsusi
                    əhəmiyyət kəsb edən yerlərin mühafizəsi daha az maliyyə vəsaiti tələb edən Kompüterləşdirilmiş Mərkəzi
                    Mühafizə Məntəqəsi vasitəsilə təmin olunur. Bununla yanaşı, DİN-in Mühafizə Xidməti qeyd olunan xidmət
                    növlərinin köməyilə vətəndaş mənzillərinin mühafizəsini də həyata keçirir.</p>
                <div class="m-top">
                    <p>Nazirlər Kabinetinin müvafiq sərəncam və qərarları ilə təsdiq olunmuş, ölkənin iqtisadiyyatında mühüm
                        rol oynayan və xüsusi əhəmiyyət kəsb edən neft məhsullarının istehsal sahələri, saxlanıldığı anbarlar
                        və nəql olunduğu kəmərlər, kimya sənayesi obyektləri, elektrik stansiyaları, su hövzələri, körpülər,
                        muzeylər, banklar və digər həyat təminatlı obyektlər Mühafizə Xidməti tərəfindən qorunur.</p>
                    <p>Son illərdə Mühafizə Xidmətinin fəaliyyət sferası daha da genişlənmiş və əmlakın mühafizəsi ilə yanaşı,
                        mülkiyyətçilərlə mühafizəyə dair digər xidmət növlərinin də göstərilməsinə başlanılmışdır. Belə xidmətlərə
                        - obyektlərdə və digər yerlərdə ictimai qaydanın qorunması, respublika ərazisi boyunca daşınan əmlakın
                        və pul vəsaitlərinin müşayiət edilməsi, diplomatik immuniteti olan şəxslərin təhlükəsizliyinin təmin
                        olunması, siqnalizasiya sistemlərindən məntəqələrə daxil olan “Həyəcan” siqnallarına cinayət qəsdlərinin
                        və basqınların qarşısının alınması məqsədilə naryadların göndərilməsi və s. daxildir.</p>
                    <p class="text-bold">Hazırda, DİN-in Mühafizə Xidməti tərəfindən dövlət və özəl mülkiyyətə məxsus 10 mindən çox obyekt mühafizə
                        olunur.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="container">
            {% include "includes/statistic.njk" %}
        </div>
    </div>
</div>
{% endblock %}