$prim: #b21f24;
$bg: #5a423b;
$bg-dark: #382925;
// reset
body {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    margin: 0;
    width: 100%;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p,
h1 {
    font-weight: normal;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}
input, textarea {
    &:focus {
        outline:0;
    }
}
textarea {
    resize:none;
}

// reset
// global
%inpt {
    display:block;
    border-radius:4px;
    border:1px solid #c0b4a9;
    width:100%;
    padding:10px;
    box-sizing: border-box;
}
.banner-full {
    background:$bg;
    text-transform: uppercase;
    color:#fff;
    display:block;
    padding:10px;
    border-radius:4px;
    font-size:14px;
}
.text-right {
    text-align:right;
}
.heading {
    .heading-wrapper{
        margin-top:20px;
        background:#fff;
        border-radius:4px;
        padding:40px;
        text-align: center;
    }
    .features-item {
        > h1 {
            font-weight:bold;
            font-size:18px;
            text-transform:uppercase;
        }
        > p {
            margin-top:10px;
            font-size:14px;
            line-height: 20px;
            font-weight:bold;
        }
    }
}
.content-header {
    background:#1e1918;
    .heading {
        position:relative;
        top: 80px;
        .features-item {
            width:28%;
        }
    }
    .description {
        color:#fff;
        .description-text {
            font-size:16px;
            text-transform:uppercase;
        }
        > span {
            font-size:14px;
        }
    }
}
@media (max-width:941px) {
    .content-header {
        .heading {
            .features-item{
                width:100%;
                &:nth-child(n + 2) {
                    margin-top:20px;
                }
            }
        }
    }
}
.item-wrapper {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}

.img-block {
    display: block;
    width: 100%;
}
.price {
    font-size:21px;
    font-weight:bold;
    display:inline-block;
}
.row {
    margin-right:-8px;
    margin-left:-8px;
}

.flex-self-bottom {
    align-self: flex-end;
}
.card {
    width:25%;
    padding:8px;
    box-sizing: border-box;
    .item-image {
        width:100%;
        position:relative;
        img {
            width:100%;
        }
    }
    .item-description {
        width:100%;
        background:#fff;
        text-align:center;
        padding:20px 0;
    }
}
.item-description-full {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: 40%;
    p {
        font-family: roboto;
        font-weight: 100;
        padding: 0px 30px;
        color: #e7e5de;
        text-transform: uppercase;
        font-size: 24px;
    }
    a {
        font-weight: bold;
        color: #fff;
        display: inline-block;
        margin-top: 40px;
    }
}

.btn {
    color: #fff;
    display: inline-block;
    padding: 15px 29px;
    border-radius: 3px;
    font-size: 16px;
    border:0;
    cursor:pointer;
    &.dark {
        background-color:$bg-dark;
        text-transform:uppercase;
    }
    &:focus {
        outline:0;
    }
    &.primary {
        background: $prim;
    }
    &.white {
        background:#fff;
    }
    &.chocho {
        background:#7f574c;
    }
}
.banner {
    padding:14px 21px;
    text-transform:uppercase;
    font-size:11px;
    border-radius:4px;
    color:$bg-dark;
    background:#fff;
    display:inline-block;
    &.yellow {
        background:#c77d3c;
        color:#fff;
    }
}

.placeholder {
    width: 100%;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

#template {
    width: 100%;
    height: auto;
}


.content-header {
        background-color: $bg-dark;
        color: #fff;
        .header-text {
            font-size: 16px;
            text-transform: uppercase;
            cursor: default;
            padding: 16px 0;
        }
        .header-catalog {
            font-size: 14px;
            padding-top: 14px;
            cursor: default;
            -ms-flex-item-align: end;
            align-self: flex-end;
            padding-bottom: 10px;
        }
    }

// =========================
// header
#header {
    background: #f8f7f7;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .burger {
        font-size: 33px;
        cursor: pointer;
        color: $prim;
        display: none;
    }
    .brand {
        background: url('../images/brand.png') no-repeat center center;
        width: 127px;
        height: 52px;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .js-hide {
        display: none;
    }
    .nav {
        li {
            display: inline-block;
            margin-left: 18px;
            .globe {
                background: url('../images/earth.png') center center no-repeat;
                width: 29px;
                height: 29px;
                display: block;
            }
            a {
                text-transform: uppercase;
                color: #3c2f33;
                font-weight: bold;
            }
        }
    }
}

// header
// welcome
#welcome {
    background: #1e1918;
    width: 100%;
    position: relative;
    .item-nav {
                color:#fff;
                font-size:25px;
                position:absolute;
                top:0;
                right:0;
                bottom:0;
                left:0;
                .prev,.next {
                    position:absolute;
                    top:0;
                    bottom:0;
                    cursor:pointer;
                    width:10%;
                    z-index:1111;
                    &.disabled {
                            color:#545454;
                            cursor:default;
                        }
                    .fa {
                        position:absolute;
                        top:50%;
                        margin-top:-14px;
                        
                    }
                }
                .prev {
                    left:0;
                    .fa {
                        left:10px;
                    }
                }
                .next {
                    right:0;
                    .fa {
                        right:10px;
                    }
                }
            }
    #js-home-carousel {
        position: relative;
        .item {
            position: relative;
            
            .item-image {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .item-wrapper_welcome {
                padding:225px 0;
            }
        }
    }
    .description {
        text-align: left;
        width: 50%;
        position: relative;
        .btn {
            text-transform: uppercase;
            margin-top: 20px;
            font-size: 11px;
        }
        h1 {
            font-family: roboto;
            color: #ebebeb;
            font-weight: 100;
            font-size: 42px;
        }
    }
}

// welcome
// products
#products {
    background: $prim;
    position: relative;
    padding-bottom: 30px;
    .products-items {
        .bg-image {
            position: relative;
            overflow: hidden;
            width: 23%;
            img {
                width: 100%;
                display: block;
                height: 100%;
            }
            .item-description-full {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding-top: 50%;
            }
        }
        .products-item {
            width: 21%;
            overflow: hidden;
            text-align: center;
            border-radius: 4px;
            background-color: #fff;
            position: relative;
            .bg-image {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                transition: all .5s;
                visibility: hidden;
                opacity: 0;
            }
            &:hover .bg-image {
                visibility: visible;
                opacity: 1;
            }
            .item-img {
                height: 100px;
                padding-top: 40px;
                padding-left: 10px;
                padding-right: 10px;
            }
            .item-description {
                text-align: center;
                margin-top: 140px;
                margin-bottom: 50px;
                p {
                    font-weight: bold;
                }
            }
        }
    }
    .products-nav {
        position: relative;
        top: -37px;
        background: #f8f7f7;
        border-radius: 2px;
        padding: 25px 35px;
        z-index: 1;
        ul {
            li {
                font-size: 13px;
                font-weight: bold;
                cursor: default;
                &:hover {
                    text-decoration: underline;
                }
                .importlogo {
                    background-image: url('../images/products1.png');
                }
                .wwpartnerslogo {
                    background-image: url('../images/products2.png');
                }
                .asproductslogo {
                    background-image: url('../images/products3.png');
                }
                .wsupermarketlogo {
                    background-image: url('../images/products4.png');
                }
                span {
                    margin-right: 10px;
                    display: inline-block;
                    width: 43px;
                    height: 43px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    vertical-align: middle;
                }
                display:inline-block;
            }
        }
    }
}

// brands
#brands {
    padding: 20px 0;
    .owl-carousel {
        .item {
            text-align: center;
            img {
                width: auto;
                height: auto;
            }
        }
    }
    .owl-carousel .owl-item img {
        display: inline;
        width: auto;
    }
    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0;
        margin-top: -10.5px;
        &.disabled {
            display: block;
        }
        .owl-prev,
        .owl-next {
            position: absolute;
            border-radius: 100%;
            background: none;
            margin: 0;
            padding: 0;
            background: white;
            i {
                font-size: 20px;
                color: #1e1918;
            }
        }
        .owl-prev {
            left: -1%;
        }
        .owl-next {
            right: -1%;
        }
    }
}

// stock
#stock {
    background: $bg;
    padding: 30px 0;
    .stock-item {
        overflow: hidden;
        width: 22%;
        position: relative;
        .item-wrapper {
            display: inline-block;
            position: relative;
        }
        .item-description-full {
            position: absolute;
            P {
                padding: 0px 40px;
                white-space: pre-wrap;
            }
        }
        &:hover {
            .stock-hover {
                visibility: visible;
                opacity: 1;
            }
        }
        .stock-hover {
            transition: all .5s;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 0;
        }
        img {
            display: block;
            vertical-align: bottom;
            width: 100%;
        }
    }
}

// apply
#apply {
    background: url('../images/blurbg.png') center center no-repeat;
    background-size: cover;
    padding: 85px 0;
    .wrapper {
        p {
            color: white;
            font-size: 26px;
            line-height: 1;
        }
        p,
        a {
            text-transform: uppercase;
        }
    }
}

// footer
footer {
    background: $prim;
    color: #fff;
    padding-top: 44px;
    .contact {
        p {
            font-size: 11px;
        }
        margin-top:44px;
        background-color:#2d2220;
        padding:10px 0;
        .contact-nav {
            li {
                display: inline-block;
                margin-right: 10px;
                a {
                    span {
                        color: #513f3c;
                    }
                }
            }
        }
    }
    .footer-column {
        width: 30%;
        p {
            font-size: 12px;
            line-height: 18px;
            padding-bottom: 12px;
        }
        h4 {
            margin: 20px 0;
        }
        .footer-nav {
            column-count: 2;
            li {
                padding-bottom: 10px;
                a {
                    font-size: 12px;
                    color: white;
                }
            }
        }
        .footer-logo {
            background: url('../images/footerlogo.png') center center no-repeat;
            width: 90px;
            height: 49px;
        }
    }
}


// Products ============================
#productsContent {
    
    .content-items {
        background: $bg;
        padding:30px 0;
        .items-nav {
            > ul {
                > li {
                    display:inline-block;
                    margin-left:5px;
                }
            }
            .btn {
                padding:10px 15px;
                font-size:12px;
            }
        }
        .items {
            margin-top:20px;
            .row {
                &:after {
                content:'';
                flex:auto;
            }
            }
            .card {
                &:nth-child(n + 5) {
                    margin-top:20px;
                }
                .item-image {
                    .banner {
                        position:absolute;
                        bottom:0;
                        right:0;
                        padding: 13px 24px;
                    }
                }
                .item-description {
                    width:100%;
                    background:#fff;
                    text-align:center;
                    padding:20px 0;
                    > p {
                        font-size:13px;
                        font-weight:bold;
                    }
                    .price {
                        margin-top:10px;
                    }
                }
            }
        }
    }
}


// =====================================


// About ==============================

#aboutContent {
    .content-header {
        color:#000;
    }
    .article-content {
            background:$bg;
            padding-bottom:40px;
            padding-top:150px;
            .welcome-text {
                color:white;
                font-size:16px;
                line-height:20px;
            }
            .team {
                margin-top:50px;
                .card {
                    .item-description {
                        > span {
                            margin-top:10px;
                            display:block;
                        }
                        > h3 {
                            font-weight:bold;
                        }
                    }
                }
            }
    }
}




// ====================================

// Vacancy =============================

#vacancyContent {
    .content-header {
        color:#000;
    }
    .article-content {
        background:$bg;
        padding-bottom:40px;
        padding-top:150px;
        .vacancy-form {
            background:#fff;
            padding:20px;
            border-radius:4px;
            .txt {
                margin:20px 0;
                color:#554a4c;
            }
            form {
                .form-input {
                    width:30%;
                    &:last-child {
                        margin-top:20px;
                        > input {
                            display:block;
                            width:100%;
                            padding: 11px 0;
                        }
                    }
                    > input[type="text"] {
                        @extend %inpt;
                        &:nth-child(n + 2) {
                            margin-top:10px;
                        }
                    }
                }
            }
        }
    }
}

// ====================================


// Contact ============================
#contact-content {
    .content {
        background:$bg;
        padding-top:110px;
        padding-bottom:40px;
        .contact-us {
            margin-top:20px;
            color:#554a4c;
            .contact-form {
                padding:20px;
                width:68%;
                background:#fff;
                border-radius:4px;
                .c-form {
                        .form-input {
                            width:30%;
                            input {
                                @extend %inpt;
                                &:nth-child(n + 2) {
                                    margin-top:10px;
                                }
                            }
                        }
                        .text-right {
                            .btn {
                                margin-top: 20px;
                                font-size:14px;
                                padding:8px 25px;
                            }
                        }
                        .form-item {
                            width:65%;
                            textarea {
                                font-family: "Roboto Condensed";
                                display:block;
                                border:1px solid #c0b4a9;
                                border-radius:4px;
                                width:100%;
                                height:100%;
                                box-sizing: border-box;
                                padding:10px;
                                margin:0;
                            }
                        }
                    }
                .form-description {
                    margin:20px 0;
                    p {
                        font-size:14px;
                        line-height: 20px;
                    }
                }
            }
            .contact-info {
                padding:20px;
                background:#fff;
                border-radius:4px;
                .banner-full {
                    text-align:center;
                }
                .contact-address {
                    ul {
                        margin-top:15px;
                        .address {
                            margin-bottom:15px;
                        }
                        li {
                            a {
                                color:#554a4c;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// ====================================

// Single =============================

#singleContent {
    .content-body {
        background:$bg;
        padding:40px 0;
        .brand-photo {
            box-sizing:border-box;
            background:$bg-dark;
            width:40%;
            text-align: center;
            padding:40px;
            img {
                max-width:100%;
            }
        }
        .brand-description {
            box-sizing:border-box;
            width:60%;
            background:#fff;
            padding:48px 43px;
            color:$bg-dark;
            > h2 {
                font-size:20px;
                font-weight:bold;
            }
            > h1 {
                font-size:20px;
                margin-bottom:15px;
                font-weight:bold;
                text-transform: uppercase;
            }
            > p {
                font-size:12px;
                line-height:22px;
            }
        }
        .card {
            width:100%;
        }
        .featured-items_nav {
            background:$bg-dark;
            padding:16px;
            border-radius:4px;
            margin:30px 0;
            &::selection { // Fix
                background:$bg-dark;
            }
            > span {
                color:#fff;
                text-transform: uppercase;
                font-weight:bold;
                font-size:13px;
            }
            .fa {
                cursor:pointer;
                color:#554a4c;
                &:first-child {
                    margin-right:5px;
                }
            }
        }
    }
}

// ====================================



// responsive

@media (max-width:1200px) {
    #singleContent {
        .content-body {
            .brand-photo {
                width:100%;
            }
            .brand-description {
                width:100%;
            }
        }
    }
    .wrapper {
        width: 900px;
    }
    #welcome {
        #js-home-carousel {
            .item {
                .item-wrapper_welcome {
                    padding:150px 0;
                }
            }
        }
        .description {
            h1 {
                font-size: 33px;
            }
        }
    }
    #contact {
        .footer-column {
            p {
                padding-bottom: 0;
            }
        }
    }
    #stock {
        .stock-item {
            .item-description-full {
                padding-top: 25%;
            }
        }
    }
}

@media (max-width: 941px) {
    .wrapper {
        width: calc(100% - 30px);
        padding: 0 15px;
    }
    #products {
        .products-items {
            padding: 0 56px;
            .bg-image {
                width: 40%;
                .item-description-full {
                    padding-top: 60%;
                    p {
                        font-size: 16px;
                    }
                }
            }
            .products-item {
                width: 40%;
                .item-img {
                    img {
                        max-width: 100%;
                    }
                    .img-block {
                        display: inline;
                        width: auto;
                    }
                }
                &:nth-child(n+3) {
                    margin-top: 20px;
                }
                .item-description-full {
                    p {
                        font-size: 16px;
                    }
                }
                .item-description {
                    margin-top: 150px;
                }
            }
        }
    }
    #contact-content {
        .content {
            .contact-us {
                .contact-form {
                    width:100%;
                    
                }
                .contact-info {
                    margin-top:20px;
                    width:100%;
                }
            }
        }
    }
    #welcome {
        .item-nav {
            position:absolute;
            bottom:39px;
            top:initial;
            left:50%;
            right:initial;
            transform: translate(-50%, 0);
            z-index:999;
            color:#000;
            .prev,.next {
                position:static;
                display:inline-block;
                width:auto;
                padding:10px;
                &:first-child {
                    margin-right:40px;
                }
                .fa {
                    position:static;
                    margin:0;
                }
            }
        }
        #js-home-carousel {
            .item {
                .item-wrapper_welcome {
                    padding:100px 0;
                }
            }
        }
        .description {
            width: auto;
            text-align: right;
            h1 {
                font-size: 25px;
            }
        }
    }
    #stock {
        .stock-item {
            .item-description-full {
                p {
                    font-size: 1.3em;
                    padding: 0 30px;
                }
            }
        }
    }
}

@media (max-width: 790px) {
    #welcome {
        .description {
            text-align: right;
        }
    }
    #contact {
        .footer-column {
            width: 100%;
            text-align: left;
            .footer-nav {
                column-count: 1;
                margin: 10px 0;
            }
        }
        .contact {
            p {
                font-size: 10px;
            }
        }
    }
    #header {
        .js-hide:checked~.nav {
            max-height: 0 !important;
        }
        .nav {
            width: 100%;
            overflow: hidden;
            transition: all .5s;
            li {
                width: 100%;
                margin-left: 15px;
                &:first-child {
                    margin-top: 20px;
                }
                a {
                    padding: 10px 0;
                    display: block;
                }
            }
        }
        .burger {
            display: block;
        }
    }
    #products {
        .products-nav {
            padding: 25px 15px;
            ul {
                li {
                    width: 50%;
                    text-align: left;
                    &:nth-child(n+3) {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    #brands {
        .owl-nav.disabled {
            display: none;
        }
    }
    #contact-content {
        .content {
            .contact-us {
                .contact-form {
                    .c-form {
                        .form-input {
                            width:100%;
                        }
                        .form-item {
                            width:100%;
                            margin-top:20px;
                        }
                    }
                }
            }
        }
    }
    #stock {
        .mob {
            padding: 0 56px;
        }
        .stock-item {
            width: 45%;
            &:nth-child(n+3) {
                margin-top: 20px;
            }
            .item-description-full {
                padding-top: 40%;
                p {
                    font-size: 1em;
                    padding: 0 15px;
                }
                a {
                    margin-top: 20px;
                }
            }
        }
    }
    #apply {
        .wrapper {
            p {
                font-size: 22px;
            }
        }
    }
}
@media (max-width: 665px) {
    #productsContent {
        .content-items {
            .items {
                .card {
                    width:50%;
                }
            }
        }
    }
    #aboutContent {
        .article-content {
            .team {
                .card {
                    width:50%;
                }
            }
        }
    }
    #vacancyContent {
        .article-content {
            .vacancy-form {
                form {
                    .form-input {
                        width:100%;
                        margin-top:10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 601px) {
    #stock {
        .stock-item {
            width: 100%;
            text-align: center;
            .stock-hover {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            & {
                margin-top: 20px;
            }
        }
    }
    #products {
        .products-items {
            padding: 0;
            .bg-image {
                width: 49%;
            }
            .products-item {
                width: 49%;
                .item-description {
                    margin-top: 100px;
                }
            }
        }
    }
    #apply {
        .wrapper {
            p {
                font-size: 16px;
            }
        }
    }
}

@media(max-width:550px) {
    #products {
        padding-top: 20px;
        .products-nav {
            top: 0;
            margin-bottom: 40px;
        }
    }
    #welcome {
        .item-nav {
            bottom:0;
        }
    }
}

@media (max-width: 480px) {
    #products {
        .products-nav {
            ul {
                li {
                    font-size: 9px;
                }
            }
        }
    }
    #apply {
        .wrapper {
            p {
                font-size: 13px;
            }
        }
    }
}