mixin article(title)
    .article
        .article-wrapper
            h1= title
            if content2
                block
            else if content
                block content
            else
                p No Content provided