extends index.pug

block all
  - var isBackEnabled = true;
  - var breadCrumbLabels = ["SƏNƏDİN NÖVÜ", "SƏNƏD", "ƏLAQƏ", "II VALİDEYN SƏNƏD NÖVÜ", "II VALİDEYNİN SƏNƏDİ", "II VALİDEYN ƏLAQƏ", "ŞİFRƏ"];
  - var pageIndex = 0;
  - var registerForm = '';
  - var enableBreadCrumb = false;
  - var enableNav = false;

  block vars

  doctype html
  html.no-js(lang="")
    head
      meta(charset="utf-8")
      meta(name="description" content="")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      title
        block title
        | - Edu Transfer
      link(rel="apple-touch-icon" href="apple-touch-icon.png")
      // build:css styles/vendor.css
      link(rel="stylesheet" href="styles/presets.css")
      link(rel="stylesheet" href="/node_modules/air-datepicker/dist/css/datepicker.min.css" type="text/css")
      // endbuild
      // build:css styles/main.css
      link(rel="stylesheet" href="styles/main.css")
      // endbuild
      // build:js scripts/modernizr.js
      script(src="scripts/modernizr.js")
      // endbuild
    body
      <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p>
      <![endif]-->
      include partials/header.pug
      if !enableBreadCrumb
        include partials/breadcrumb.pug
      main
        .main-container
          block content
          if !enableNav
            include partials/navigation.pug
      // build:js scripts/vendor.js
      script(type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js")
      script(type="text/javascript" src="/node_modules/inputmask/dist/jquery.inputmask.bundle.js")
      script(type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
      script(type="text/javascript" src="/node_modules/air-datepicker/dist/js/datepicker.min.js")
      // endbuild
      // build:js scripts/main.js
      block scripts
      // endbuild
