/*Flexbox CSS*/

.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
}

.center {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}

.end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
}

.top {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.middle {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.bottom {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.between {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
}

.last {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}
.content-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.align-right {
    margin-left: auto;
}

.align-left {
    margin-right: auto;
}

.align-top {
    margin-bottom: auto;
}

.align-bottom {
    margin-top: auto;
}