@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSansNovus';
    src: url('NimbusSansNovus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSansBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSansLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSansNovus';
    src: url('NimbusSansNovusHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSans BlackCondensed';
    src: url('NimbusSansBlackCondensed.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSansNovus';
    src: url('NimbusSansNovusMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSansMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSansNovus';
    src: url('NimbusSansNovusSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSansNovus';
    src: url('NimbusSansNovusUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSans BoldCondensed';
    src: url('NimbusSansBoldCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSansUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSans RegularCondensed';
    src: url('NimbusSansRegularCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSansSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSansNovus';
    src: url('NimbusSansNovusBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSansHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSansNovus';
    src: url('NimbusSansNovusLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSansNovus';
    src: url('NimbusSansNovusBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

