extends includes/cabinet_base.pug

block vars
    - profileVal = 'Uşaq əlavə et';
    - enableNav = false;
    - enableBreadCrumb = false;
    - registerForm = 'add-student-doc-form';
    - pageIndex = 1;
block title
    | Uşaq əlavə et

block content
    section#register-document-page.mt-5
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="fin")
                        | Fin kodu
                        |
                        span.text-danger *
                    input#fin.form-control.w-75.d-inline-block.align-middle(type="text" name="fin")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label.d-block(for="series")
                        | Seriya
                        |
                        span.text-danger *
                    input#series.form-control.w-75(type="text" name="series")
                .col-4
                    label.d-block(for="phone-number")
                        | Nömrə
                        |
                        span.text-danger *
                    input#phone-number.form-control.w-75(type="text" name="phone-number")
                .col-4.mt-5
                    label.d-block(for="type")
                        | Növ
                        |
                        span.text-danger *
                    input#type.form-control.w-75(type="text" name="type" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="first-name")
                        | Ad
                        |
                        span.text-danger *
                    input#first-name.form-control.w-75(type="text" name="first-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="last-name")
                        | Soyad
                        |
                        span.text-danger *
                    input#last-name.form-control.w-75(type="text" name="last-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="middle-name")
                        | Ata adı
                        |
                        span.text-danger *
                    input#middle-name.form-control.w-75(type="text" name="middle-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="birth-date")
                        | Təvəllüd
                        |
                        span.text-danger *
                    input#birth-date.form-control.w-75(type="text" name="birth-date" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="sex")
                        | Cinsi
                        |
                        span.text-danger *
                    input#sex.form-control.w-75(type="text" name="sex" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="country")
                        | Ölkə
                        |
                        span.text-danger *
                    input#country.form-control.w-75(type="text" name="country" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="address")
                        | Ünvan
                        |
                        span.text-danger *
                    input#address.form-control.w-75(type="text" name="address" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="apartment")
                        | Ev
                        |
                        span.text-danger *
                    input#apartment.form-control.w-75(type="text" name="apartment" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="passport-department")
                        | Verən orqan
                        |
                        span.text-danger *
                    input#passport-department.form-control.w-75(type="text" name="passport-department" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="passport-expire-date")
                        | Etibarlılıq tarixi
                        |
                        span.text-danger *
                    input#passport-expire-date.form-control.w-75(type="text" name="passport-expire-date" autocomplete="off")