extends includes/cabinet_base.pug

block vars
    - profileVal = 'Uşaq əlavə et';
    - enableNav = false;
    - enableBreadCrumb = false;
    - registerForm = 'add-student-complete-form';
    - pageIndex = 4;
block title
    | Uşaq əlavə et

block content
    section#register-document-page.mt-5
        form.h-100(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="study-program")
                        | Təhsil proqramı
                        |
                        span.text-danger *
                    select#study-program.form-control.w-75(type="text" name="study-program")
                        option(value="")
                .col-4
                    label.d-block(for="study-language")
                        | Tədris dili
                        |
                        span.text-danger *
                    select#study-language.form-control.w-75(type="text" name="study-language")
                        option(value="0") Azərbaycan Respublikasının vətəndaşı
                .col-4
                    label.d-block(for="study-form")
                        | Təhsil alma forması
                        |
                        span.text-danger *
                    select#study-form.form-control.w-75(type="text" name="study-form")
                        option(value="0")
                .col-4.mt-5
                    label.d-block(for="present-school")
                        | Oxuduğu məktəb
                        |
                        span.text-danger *
                    select#present-school.form-control.w-75(type="text" name="present-school")
                        option(value="0")
                .col-4.mt-5
                    label.d-block(for="special-program-name")
                        | Xüsusi təhsil proqramının adı
                        |
                        span.text-danger *
                    input#special-program-name.form-control.w-75(type="text" name="special-program-name")
                .col-4.mt-5
                    label.d-block(for="classification-info")
                        | Sinifdən sinfə keçmə məlumatları
                        |
                        span.text-danger *
                    input#classification-info.form-control.w-75(type="text" name="classification-info")
                .col-4.mt-5
                    label.d-block(for="foreign-langs")
                        |  Xarici dillər
                        |
                        span.text-danger *
                    input#foreign-langs.form-control.w-75.d-inline-block.align-middle(type="text")
                    button.btn.btn-outline-grey.js-add-lang(type="button") +


block scripts
    script(src="scripts/add-student-complete.js")