extends includes/cabinet_base.pug

block vars
    - profileVal = 'Uşaq əlavə et';
    - enableNav = false;
    - enableBreadCrumb = false;
    - breadCrumbLabels = ["TƏHSİL ZONASI", "SƏNƏD", "UTİS MƏLUMATLARI", "PTPK MƏLUMATLARI", "TƏHSİL MƏLUMATLARI", "VALİDEYN MƏLUMATI"];
    - registerForm = 'add-student-complete-form';
    - pageIndex = 5;
block title
    | Uşaq əlavə et

block content
    section#register-document-page.mt-5
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="parent-fin")
                        | I Valideynin Fin kodu
                        |
                        span.text-danger *
                    input#parent-fin.form-control.w-75.d-inline-block.align-middle(type="text" name="parent-fin")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label.d-block(for="first-name")
                        | Ad
                    input#first-name.form-control.w-75(type="text" name="first-name" autocomplete="off")
                .col-4
                    label.d-block(for="last-name")
                        | Soyad
                    input#last-name.form-control.w-75(type="text" name="last-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="middle-name")
                        | Ata adı
                    input#middle-name.form-control.w-75(type="text" name="middle-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="birth-date")
                        | Təvəllüd
                    input#birth-date.form-control.w-75(type="text" name="birth-date" data-pick-date autocomplete="off")
                .col-4
                .col-4.mt-5
                    label.d-block(for="sec-parent-fin")
                        | II Valideynin Fin kodu
                        |
                        span.text-danger *
                    input#sec-parent-fin.form-control.w-75.d-inline-block.align-middle(type="text" name="sec-parent-fin")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4.mt-5
                    label.d-block(for="sec-first-name")
                        | Ad
                    input#sec-first-name.form-control.w-75(type="text" name="sec-first-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="sec-last-name")
                        | Soyad
                    input#sec-last-name.form-control.w-75(type="text" name="sec-last-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="sec-middle-name")
                        | Ata adı
                    input#sec-middle-name.form-control.w-75(type="text" name="sec-middle-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="sec-birth-date")
                        | Təvəllüd
                    input#sec-birth-date.form-control.w-75(type="text" name="sec-birth-date" data-pick-date autocomplete="off")
                .col-4
                .col-4.mt-5
                    .custom-control.custom-checkbox
                        input.custom-control-input(type="checkbox" id="sec-no-parent-info" name="sec-no-parent-info")
                        label.custom-control-label(for="sec-no-parent-info") II Valideyn məlumatları yoxdur


block scripts
    script(src="scripts/main.js")