extends includes/cabinet_base.pug

block vars
    - profileVal = 'Uşaq əlavə et';
    - enableNav = false;
    - enableBreadCrumb = false;
    - registerForm = 'add-student-ptpk-form';
    - pageIndex = 3;
block title
    | Uşaq əlavə et

block content
    section#register-document-page.mt-5
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="verdict-number")
                        |  Qərarın nömrəsi
                    input#verdict-number.form-control.w-75(type="text" name="verdict-number")
                .col-4
                    label.d-block(for="verdict-expire-date")
                        | Qüvvədən düşmə tarixi
                    input#verdict-expire-date.form-control.w-75(type="text" data-pick-date name="verdict-expire-date")


block scripts
    script(src="scripts/main.js")