extends includes/cabinet_base.pug

block vars
    - profileVal = 'Uşaq əlavə et';
    - enableNav = false;
    - enableBreadCrumb = false;
    - registerForm = 'add-student-utis-form';
    - pageIndex = 2;
block title
    | Uşaq əlavə et

block content
    section#register-document-page.mt-5
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="school-utis-number")
                        |  Məktəbin UTİS kodu
                        |
                        span.text-danger *
                    input#school-utis-number.form-control.w-75.d-inline-block.align-middle(type="text" name="school-utis-number")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label.d-block(for="class-utis-number")
                        | Sinfin UTİS kodu
                        |
                        span.text-danger *
                    input#class-utis-number.form-control.w-75.d-inline-block.align-middle(type="text" name="class-utis-number")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label.d-block(for="class-type")
                        | Sinfin tipi və profili
                        |
                        span.text-danger *
                    input#class-type.form-control.w-75(type="text" name="class-type")
                .col-4.mt-5
                    label.d-block(for="class-index")
                        | Sinfin pilləsi və indeksi
                        |
                        span.text-danger *
                    input#class-index.form-control.w-75(type="text" name="class-index")