extends includes/cabinet_base.pug

block vars
    - profileVal = 'Uşaq əlavə et';
    - enableNav = false;
    - enableBreadCrumb = false;
    - isBackEnabled = false;
    - registerForm = 'add-student-form';
block title
    | Uşaq əlavə et

block content
    section#register-document-page.mt-5
            form(action="#" id=registerForm)
                .row
                    .col-4
                        .form-row.align-items-end
                            .col-auto
                                .custom-control.custom-radio.custom-control-inline
                                    input#residence.custom-control-input(type="radio" value="local" name="residence")
                                    label.custom-control-label(for="residence") Azərbaycanda oxuyur
                    .col-4
                        .form-row.align-items-end
                            .col-auto
                                .custom-control.custom-radio.custom-control-inline
                                    input#residence2.custom-control-input(type="radio" value="foreign" name="residence")
                                    label.custom-control-label(for="residence2") Xaricdə oxuyur
