extends includes/cabinet_base.pug

block vars
    - profileVal = 'Dövlət məktəbi';
    - enableNav = false;
    - enableBreadCrumb = false;
    - registerForm = 'apply-gov-school-form';
    - pageIndex = 1;
    - var breadCrumbRight = true;
    - breadCrumbLabels = ["MƏKTƏBİN TİPİ", "MƏKTƏBİ SEÇ", "SİNFİ SEÇ"];
block title
    | Müraciət et

block content
    section#register-document-page.mt-5
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="region")
                        | Rayon
                        |
                        span.text-danger *
                    select#region.form-control.w-75(type="text" name="region")
                        option(val="")
                .col-4
                    label.d-block(for="school-num")
                        | Məktəbin nömrəsi
                        |
                        span.text-danger *
                    select#school-num.form-control.w-75.d-inline-block.align-middle(type="text" name="school-num")
                        option(val="")
                    button.btn.btn-outline-grey(type="button") Yoxla
            #map.h-370.mt-2
block cdnscripts
    script.
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat:40.4158248, lng: 49.8239157},
                zoom: 11,
                mapTypeControl: false,
                streetViewControl: false
            });
        }
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDit3_FGrJkVyH-ONGmHRCkSoqFiM8_WEI&callback=initMap" async defer)