extends includes/cabinet_base.pug

block vars
    - profileVal = 'Müraciət et';
    - enableNav = false;
    - enableBreadCrumb = false;
    - registerForm = 'apply-form';
    - pageIndex = 0;
    - isBackEnabled = false;
    - var breadCrumbRight = true;
    - breadCrumbLabels = ["MƏKTƏBİN TİPİ", "MƏKTƏBİ SEÇ", "SİNFİ SEÇ"];
block title
    | Müraciət et

block content
    section#register-document-page.mt-5
            form(action="#" id=registerForm)
                .row
                    .col-4
                        .form-row.align-items-end
                            .col-auto
                                .custom-control.custom-radio.custom-control-inline
                                    input#school-type.custom-control-input(type="radio" value="gov" name="school-type")
                                    label.custom-control-label(for="school-type") Dövlət məktəbi
                    .col-4
                        .form-row.align-items-end
                            .col-auto
                                .custom-control.custom-radio.custom-control-inline
                                    input#school-type2.custom-control-input(type="radio" value="priv" name="school-type")
                                    label.custom-control-label(for="school-type2") Özəl məktəb
                    .col-4
                        .form-row.align-items-end
                            .col-auto
                                .custom-control.custom-radio.custom-control-inline
                                    input#school-type3.custom-control-input(type="radio" value="idp" name="school-type")
                                    label.custom-control-label(for="school-type3") Məcburi köçkün məktəbi