extends includes/cabinet_base.pug

block vars
    - profileVal = 'Məcburi köçkün məktəbi';
    - enableNav = false;
    - enableBreadCrumb = false;
    - registerForm = 'apply-gov-class-form';
    - pageIndex = 3;
    - var breadCrumbRight = true;
    - var nextLabel = 'TƏSTİQ ET';
    - breadCrumbLabels = ["MƏKTƏBİN TİPİ", "KÖÇKÜN SƏNƏDİ", "MƏKTƏBİ SEÇ", "SİNFİ SEÇ"];
block title
    | Müraciət et

block content
    section#register-document-page.mt-5
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="classes")
                        | Siniflər
                        |
                        span.text-danger *
                    select#classes.form-control.w-75.d-inline-block.align-middle(type="text" name="classes")
                        option(val="")
                    button.btn.btn-outline-grey(type="button") Təstiqlə