extends ./includes/register_base.pug


block scripts
    script(src="scripts/contact.js")

block vars
    - pageIndex = 2;
    - registerForm = 'contact-form';

block title
    | ƏLAQƏ

block content
    section#register-document-page
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="mobile-number")
                        | Mobil nömrə
                        |
                        span.text-danger *
                    input#mobile-number.form-control.w-75.d-inline-block.align-middle(type="text" name="mobile-number" placeholder="+994")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label(for="email")
                        | Email
                        |
                        span.text-danger *
                    input#email.form-control.w-75(type="text" name="email")
                    small.form-text.w-75
                        | Xahiş olunur işlək emailinizi daxil edin.Email link vasitəsilə təstiq edilməlidir əks halda şifrənin bərpası və
                        | bildirişlərin əldə olunması mümkün olmayacaq
                .col-4
                .col-4.mt-5
                    label(for="submit-code")
                        | Təstiq kodu
                        |
                        span.text-danger *
                    input#submit-code.form-control.w-75(type="text" name="submit-code")
                    small.form-text
                        | Təstiq kodunu SMS vasitəsilə yenidən göndər 0:60
                .col-4.mt-5
                    label(for="email-confirm")
                        | Emaili təkrarla
                        |
                        span.text-danger *
                    input#email-confirm.form-control.w-75(type="text" name="email-confirm" autocomplete="off")
                    .invalid-feedback
                        | Email yanlışdır
