extends ./includes/base.pug

block title
    | Home

block content
    section#home-page
        .container
            .home_page_root.row.align-items-center
                .col.d-flex.justify-content-center.align-items-center.home-logo
                    a(href="#")
                        img(src="images/loqo-az-rengli.svg" alt="")
                .vertical-line
                .col.d-flex.justify-content-center.align-items-center.home-form
                    form(method="POST" action="#")
                        p.home-form--header
                            | ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ
                        .form-group
                            .input-group
                                .input-group-prepend
                                    span.input-group-text.custom-group-text
                                        img(src="images/user.svg" alt="")
                                input#pin-or-utis.form-control(type="text" placeholder="Fin və ya UTİS kodu" name="pin-or-utis")
                        .form-group
                            .input-group
                                .input-group-prepend
                                    span.input-group-text.custom-group-text
                                        img(src="images/padlock.svg" alt="")
                                input#password.form-control(type="text" placeholder="Şifrə" name="password")
                        .form-group.row.justify-content-between
                            .col-auto
                                a(href="#") ŞİFRƏNİ UNUTMUŞAM
                            .col-auto
                                a(href="") QEYDİYYAT
                        button.btn.btn-block.btn-primary
                            | Daxil ol
