doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Edu Transfer Index
		style.
			a {
				transition: all .1s linear;
				color: blue;
				padding: 5px;
				display: inline-block;
				font-weight: bold;
			}
			a:hover {
				transform: scale(1.3);
				background-color: blue;
				color: white;
			}
			b {
				font-size: 2rem;
			}
	body
		ul
			li
				a(href="home.html") Əsas səhifə
			li
				b Qeydiyyat
				ul
					li
						a(href="register-document.html") SƏNƏDİN NÖVÜ
					li
						a(href="document.html") Sənəd
					li
						a(href="contact.html") Əlaqə
					li
						a(href="second-parent-doctype.html") II VALİDEYN SƏNƏD NÖVÜ
					li
						a(href="second-parent-doc.html") II VALİDEYNİN SƏNƏDİ
					li
						a(href="second-parent-contact.html") II VALİDEYN ƏLAQƏ
					li
						a(href="password.html") ŞİFRƏ
			li
				b Valideyn kabineti
				ul
					li
						a(href="parent-cabinet.html") Əsas səhifə
					li
						b Uşaq əlavə et
						ul
							li
								a(href="add-student.html") Uşaq qeydiyyat təhsil zonası
							li
								a(href="add-student-doc.html") Uşaq qeydiyyat sənəd
							li
								a(href="add-student-utis.html") Uşaq qeydiyyat Utis məlumatları
							li
								a(href="add-student-ptpk.html") Uşaq qeydiyyat PTPK
							li
								a(href="add-student-complete.html") Uşaq qeydiyyat təhsil məlumatları
							li
								a(href="add-student-parent-info.html") Uşaq qeydiyyat VALİDEYN MƏLUMATI
							li
								a(href="add-student-edit.html") Uşaq əlavə et Redaktə
					li
						b Müraciət et
						ul
							li
								a(href="apply.html") Məktəbin tipi dövlət, özəl
							li
								a(href="apply-gov-school.html") Məktəbi seç dövlət, özəl
							li
								a(href="apply-gov-class.html") sinfi seç dövlət, özəl
							li
								a(href="apply-gov-queue.html") Növbəyə düş özəl
							li
								a(href="apply-gov-idp.html") məcburi köçkün senədi
							li
								a(href="apply-gov-idp-school.html") məcburi köçkün Məktəbi seç
							li
								a(href="apply-gov-idp-class.html") məcburi köçkün sinfi seç
							li
								a(href="apply-gov-idp-queue.html") məcburi köçkün Növbəyə düş
			li
				b Mektebler
				ul
					li
						a(href="schools.html") Mektebler
					li
						a(href="schools-profile.html") Mekteb profile
					li
						a(href="schools-outgoings.html") Məktəbdən gedənlər
					li
						a(href="schools-arrivals.html") Məktəbə gələnlər
					li
						a(href="schools-queue.html") Növbədə gözləyənlər
					li
						a(href="schools-education.html") Tədris sinifləri
					li
						a(href="schools-application.html") Müraciətlər
					li
						a(href="schools-parent.html") Valideynlər
					li
						a(href="schools-parent-edit.html") Valideynlər Redaktə
					li
						a(href="schools-student.html") Şagirdlər
					li
						a(href="schools-student-edit.html") Şagirdlər Redaktə
					li
						a(href="schools-log.html") Əməliyyat tarixçəsi
					li
						a(href="schools-error-log.html") Error log
					li
						a(href="schools-error-log-more.html") Error log more
			li
				b ŞAGİRD PROFİLİ
				ul
					li
						a(href="students-profile.html") ŞAGİRD PROFİLİ
					li
						a(href="students-profile-appeal.html") müraciət
					li
						a(href="students-profile-queue.html") Növbə