extends includes/cabinet_base.pug

block title
    | Əsas səhifə

block content
    // UŞAQLAR
    .main-wrapper--article
        .row.justify-content-between.align-items-center.mx-2
            .col-auto
                span.text-primary UŞAQLAR
            .col-auto
                a.btn.btn-outline-primary(href="#") Əlavə et
        table.table.table-hover
            thead
                tr
                    th ID
                    th FIN
                    th SOYADI, ADI
                    th OXUDUĞU MƏKTƏB
                    th SİNFİN PİLLƏSİ VƏ İNDEKSİ
                    th SİNFİN TİPİ VƏ PROFİLİ
                    th REDAKTƏ
                    th YENİLƏ
                    th SİL
            tbody
                tr
                    td 12345678
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td
                    td
                        a(href="#")
                            img(src="images/new-file.svg", alt="")
                    td
                        a(href="#")
                            img(src="images/reload.svg", alt="")
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
                tr
                    td 12345678
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td
                    td
                        a(href="#")
                            img(src="images/new-file.svg", alt="")
                    td
                        a(href="#")
                            img(src="images/reload.svg", alt="")
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
    // MÜRACİƏTLƏR
    .main-wrapper--article.my-5
        .row.justify-content-between.align-items-center.mx-2
            .col-auto
                span.text-primary MÜRACİƏTLƏR
            .col-auto
                a.btn.btn-outline-primary(href="#") Müraciət et
        table.table.table-hover
            thead
                tr
                    th ID
                    th SOYADI, ADI
                    th OXUDUĞU MƏKTƏB
                    th MƏKTƏBİN UTİS KODU
                    th YENİ MƏKTƏB
                    th YENİ MƏKTƏBİN UTİS KODU
                    th SORĞUNUN BİTMƏ TARİXİ
                    th STATUS
                    th SİL
            tbody
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-pending
                        | Çıxma əmrinin verilməsi gözlənilir
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-command
                        | Çıxma əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-approve
                        | Təstiq et
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-accepted
                        | Qəbul edilmə əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
    // NÖVBƏ
    .main-wrapper--article
        .row.justify-content-between.align-items-center.mx-2
            .col-auto
                span.text-primary NÖVBƏ
            .col-auto
                a.btn.btn-outline-primary(href="#") Növbəyə düş
        table.table.table-hover
            thead
                tr
                    th ID
                    th SOYADI, ADI
                    th OXUDUĞU MƏKTƏB
                    th MƏKTƏBİN UTİS KODU
                    th YENİ MƏKTƏB
                    th YENİ MƏKTƏBİN UTİS KODU
                    th NÖVBƏDƏKİ YERİ
                    th SİL
            tbody
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 5
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")