extends ./includes/register_base.pug

block scripts
    script(src="scripts/password.js")

block vars
    - pageIndex = 6;
    - registerForm = 'password-form';

block title
    | ŞİFRƏ

block content
    section#register-document-page
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label(for="password")
                        | Şifrə təyin et
                        |
                        span.text-danger *
                    input#password.form-control.w-75(type="password" name="password")
                .col-4
                .col-4
                .col-4.mt-5
                    label(for="password-confirm")
                        | Şifrəni təkrarlayın
                        |
                        span.text-danger *
                    input#password-confirm.form-control.w-75(type="password" name="password-confirm")
                    .invalid-feedback
                        | Şifrə yalnışdır