extends ./includes/register_base.pug

block vars
    - registerForm = 'register-form';
    - isBackEnabled = false;

block title
    | SƏNƏDİN NÖVÜ

block content
    section#register-document-page
        // Regsiter document form start
        form(action="#" id=registerForm)
            .row
                .col-4
                    .form-row
                        .col-auto
                            label(for="citizenship") Vətəndaşlıq
                            select#citizenship.form-control(type="text" name="citizenship")
                                option(value="0") Azərbaycan Respublikasının vətəndaşı
                .col-4
                    .form-row
                        .col-auto
                            label(for="parent") Qohumluq dərəcəsi
                            select#parent.form-control(type="text" name="parent")
                                option(value="0") Valideyn
        // Regsiter document form end
