extends includes/cabinet_base.pug

block vars
    - profileVal = 'Məktəbdən gedənlər';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Ümumi məlumatlar': null,
            'Məktəbdən gedənlər': null,
            'Məktəbə gələnlər': null,
            'Növbədə gözləyənlər': null,
            'Tədris sinifləri ': null
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            img.align-middle(src="images/back.svg")
            span.align-middle
                |
                | MƏKTƏBDƏN GEDƏNLƏR
    form.student-edit-form(id=registerForm)
        .form-row.align-items-start.mt-3.px-3.mb-5
            .col-3
                label.d-block(for="subject") Hardan
                select.form-control.w-75#subject(name="subject")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="region") Hara
                select.form-control.w-75#region(name="region")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="school") Çıxma səbəbi
                select.form-control.w-75#school(name="school")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="school-type") Sinif / filial
                select.form-control.w-75#school-type(name="school-type")
                    option(value="") - - Seçin - -
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ID
                    th FİN
                    th ŞAGİRDİN UTİS KODU
                    th ADI, SOYADI
                    th HARDAN
                    th HARA
                    th TARİXDƏN
                    th TARİXƏDƏK
                    th ÇIXMA SƏBƏBİ
                    th SİNİF/ FİLİAL
                    th STATUS
            tbody
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                    td
                        span.status-pending
                        | Çıxma əmrinin verilməsi gözlənilir
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                    td
                        span.status-command
                        | Çıxma əmri verildi
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                    td
                        span.status-approve
                        | Təstiq et
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                    td
                        span.status-accepted
                        | Qəbul edilmə əmri verildi