extends includes/cabinet_base.pug

block vars
    - profileVal = 'Ümumi məlumatlar';
    - registerForm = 'apply-gov-school-form';
    - enableNav = false;
    - isBackEnabled = false;
    - nextLabel = 'YADDA SAXLA';
    -
        var $_tree = {
            'Ümumi məlumatlar': null,
            'Məktəbdən gedənlər': null,
            'Məktəbə gələnlər': null,
            'Növbədə gözləyənlər': null,
            'Tədris sinifləri ': null
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | ÜMUMİ MƏLUMATLAR
                .col-auto.text-center
                    a.d-inline-block.text-secondary(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
    form.student-edit-form(id=registerForm)
        .form-row.align-items-start.mt-3.px-3.mb-5
            .col-4
                label.d-block(for="subject") Tabeçilik
                select.form-control.w-75#subject(name="subject")
                    option(value="")
            .col-4
                label.d-block(for="region") Rayon
                select.form-control.w-75#region(name="region")
                    option(value="")
            .col-4
                label.d-block(for="school") Təhsil müəssisəsi
                select.form-control.w-75#school(name="school")
                    option(value="")
            .col-4.mt-5
                label.d-block(for="school-type") Məktəbin növü
                select.form-control.w-75#school-type(name="school-type")
                    option(value="")
            .col-4.mt-5
                label.d-block(for="school-spec") Məktəbin tipi
                select.form-control.w-75#school-spec(name="school-spec")
                    option(value="")
            .col-4.mt-5
                label.d-block(for="study-week") Tədris həftəsi
                select.form-control.w-75#study-week(name="study-week")
                    option(value="")
            .col-4.mt-5
                label.d-block(for="school-type") Məktəbin növü
                select.form-control.w-75#school-type(name="school-type")
                    option(value="")
            .col-4.mt-5
                label.d-block(for="school-spec") Məktəbin tipi
                select.form-control.w-75#school-spec(name="school-spec")
                    option(value="")
            .col-4.mt-5
                label.d-block(for="study-week") Tədris həftəsi
                select.form-control.w-75#study-week(name="study-week")
                    option(value="")
            .col-4.mt-5
                label.d-block(for="school-type") Məktəbin növü
                select.form-control.w-75#school-type(name="school-type")
                    option(value="")
            .col-4.mt-5
                label.d-block(for="school-spec") Məktəbin tipi
                select.form-control.w-75#school-spec(name="school-spec")
                    option(value="")