extends includes/cabinet_base.pug

block vars
    - profileVal = 'Müraciətlər';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | MÜRACİƏTLƏR
                .col-auto.text-center
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
    form.student-edit-form(id=registerForm)
        .form-row.align-items-start.mt-3.px-3.mb-5
            .col-3
                label.d-block(for="subject") Status
                select.form-control.w-75#subject(name="subject")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="region") Çıxma səbəbi
                select.form-control.w-75#region(name="region")
                    option(value="") - - Seçin - -
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ID
                    th FİN
                    th ŞAGİRDİN UTİS KODU
                    th ADI, SOYADI
                    th HARDAN
                    th HARA
                    th TARİXDƏN
                    th TARİXƏDƏK
                    th ÇIXMA SƏBƏBİ
                    th STATUS
                    th SİL
            tbody
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                        span.status-pending
                        | Çıxma əmrinin verilməsi gözlənilir
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                        span.status-command
                        | Çıxma əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                        span.status-approve
                        | Təstiq et
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                        span.status-accepted
                        | Qəbul edilmə əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg")