extends includes/cabinet_base.pug

block vars
    - profileVal = 'Məktəblər';
    - registerForm = 'apply-gov-school-form';
    - enableNav = false;
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | MƏKTƏBLƏR
                .col-auto.text-center
                    a.d-inline-block.text-secondary(href="#")
                        img.d-block.mx-auto(src="images/magnifying-glass.svg")
                        | Axtar
                    a.d-inline-block.text-secondary.mx-2(href="#")
                        img.d-block.mx-auto(src="images/review-round.svg")
                        | Baxış
                    a.d-inline-block.text-secondary(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
    form.student-edit-form(id=registerForm)
        .form-row.align-items-start.mt-3.px-3.mb-5
            .col-3
                label.d-block(for="subject") Tabeçilik
                select.form-control.w-75#subject(name="subject")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="region") Rayon
                select.form-control.w-75#region(name="region")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="school") Təhsil müəssisəsi
                select.form-control.w-75#school(name="school")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="school-type") Məktəbin növü
                select.form-control.w-75#school-type(name="school-type")
                    option(value="") - - Seçin - -
            .col-3.mt-4
                label.d-block(for="school-spec") Məktəbin tipi
                select.form-control.w-75#school-spec(name="school-spec")
                    option(value="") - - Seçin - -
            .col-3.mt-4
                label.d-block(for="study-week") Tədris həftəsi
                select.form-control.w-75#study-week(name="study-week")
                    option(value="") - - Seçin - -
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ID
                    th UTİS KODU
                    th MƏKTƏBİN TAM ADI
                    th MƏKTƏBİN TİPİ
                    th MƏKTƏBİN NÖVÜ
                    th TABEÇİLİYİ
                    th YERLƏŞDİYİ RAYON
                    th YERLƏŞDİYİ ÜNVAN
                    th TƏDRİS HƏFTƏSİ
                    th NÖVBƏ
                    th KOORDİNATLARI
                    th KÖÇKÜN MƏKTƏBİ
                    th TƏDRİS SİNİFLƏRİ
                    th YENİLƏ
            tbody
                tr
                    td 12345
                    td 12345
                    td 1  nömrəli tam orta məktəb
                    td Xüsusi məktəb
                    td Tam orta
                    td Bakı Şəhəri üzrə Təhsil İdarəsi
                    td Binəqədi
                    td Bakı Şəhəri üzrə Təhsil İdarəsi
                    td 2 həftə
                    td I növbə
                    td
                    td Xeyr
                    td
                        a(href="#")
                            img(src="images/eye-1.svg", alt="")
                    td
                        a(href="#")
                            img(src="images/reload.svg", alt="")
                tr
                    td 12345
                    td 12345
                    td 1  nömrəli tam orta məktəb
                    td Xüsusi məktəb
                    td Tam orta
                    td Bakı Şəhəri üzrə Təhsil İdarəsi
                    td Binəqədi
                    td Bakı Şəhəri üzrə Təhsil İdarəsi
                    td 2 həftə
                    td I növbə
                    td
                    td Xeyr
                    td
                        a(href="#")
                            img(src="images/eye-1.svg", alt="")
                    td
                        a(href="#")
                            img(src="images/reload.svg", alt="")
                tr
                    td 12345
                    td 12345
                    td 1  nömrəli tam orta məktəb
                    td Xüsusi məktəb
                    td Tam orta
                    td Bakı Şəhəri üzrə Təhsil İdarəsi
                    td Binəqədi
                    td Bakı Şəhəri üzrə Təhsil İdarəsi
                    td 2 həftə
                    td I növbə
                    td
                    td Xeyr
                    td
                        a(href="#")
                            img(src="images/eye-1.svg", alt="")
                    td
                        a(href="#")
                            img(src="images/reload.svg", alt="")