extends includes/cabinet_base.pug

block vars
    - profileVal = 'Əməliyyat tarixçəsi';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər


block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | LOGLAR
                .col-auto.text-center
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/magnifying-glass.svg")
                        | Axtar
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ƏMƏLİYYAT
                    th İSTİFADƏÇİ
                    th İP ADRESS
                    th TARİX
                    th VAXT
            tbody
                tr
                    td Status dəyişildi
                    td Admin
                    td 82.194.1.15
                    td 28 / 09/ 2018
                    td 05:20:48