extends includes/cabinet_base.pug

block vars
    - profileVal = 'Error log';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | ERROR LOG
                .col-auto.text-center
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/magnifying-glass.svg")
                        | Axtar
    div.px-3.mt-3
        textarea(style="height: 231px").d-block.w-100
        textarea(style="height: 231px").d-block.mt-2.w-100