extends includes/cabinet_base.pug

block vars
    - profileVal = 'Valideynlər';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | VALİDEYNLƏR
                .col-auto.text-center
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/round-add-button.svg")
                        | Yeni
    table.table.table-hover.table-small
        thead
            tr
                th ID
                th FİN
                th ADI, SOYADI
                th SƏNƏDİN SERİYASI
                th SƏNƏDİN NÖVÜ
                th ÜNVAN
                th TELEFON NÖMRƏSİ
                th EMAİL
                th ŞİFRƏ
                th REDAKTƏ
                th SİL
        tbody
            tr
                td 12345
                td 12345
                td Əliyev Əli Əhməd
                td
                td
                td
                td +994 50 111 11 11
                td Example @ gmail.com
                td
                td
                    a(href="#")
                        img(src="images/new-file.svg")
                td
                    a(href="#")
                        img(src="images/close.svg")
            tr
                td 12345
                td 12345
                td Əliyev Əli Əhməd
                td
                td
                td
                td +994 50 111 11 11
                td Example @ gmail.com
                td
                td
                    a(href="#")
                        img(src="images/new-file.svg")
                td
                    a(href="#")
                        img(src="images/close.svg")
            tr
                td 12345
                td 12345
                td Əliyev Əli Əhməd
                td
                td
                td
                td +994 50 111 11 11
                td Example @ gmail.com
                td
                td
                    a(href="#")
                        img(src="images/new-file.svg")
                td
                    a(href="#")
                        img(src="images/close.svg")