extends includes/cabinet_base.pug

block vars
    - profileVal = 'Valideynlər';
    - registerForm = 'apply-gov-school-form';
    - enableNav = false;
    - isBackEnabled = false;
    - nextLabel = 'Yadda Saxla';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            img.align-middle(src="images/back.svg")
            span.align-middle
                |
                | VALİDEYN MƏLUMATLARI
    form(action="#" id=registerForm).student-edit-form
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | ŞƏXSİYYƏT MƏLUMATLARI
        .row.mt-3.px-4
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="fin")
                            | Fin kodu
                            |
                            span.text-danger *
                        input#fin.form-control(type="text" name="fin")
                    .col-auto
                        button.btn.btn-outline-grey(type="button") Yoxla
                .form-row.align-items-end.mt-2
                    .col-auto
                        label(for="parent-name") Ata adı
                        input#parent-name.form-control(type="text" name="parent-name")
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="first-name") Ad
                        input#first-name.form-control(type="text" name="first-name")
                .form-row.align-items-end.mt-2
                    .col-auto
                        label(for="birth-date") Təvəllüd
                        input#birth-date.form-control(type="text" data-pick-date name="birth-date" autocomplete="off")
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="last-name") Soyad
                        input#last-name.form-control(type="text" name="last-name")
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | ƏLAQƏ
        .form-row.align-items-start.mt-3.px-4
                .col-4
                    label.d-block(for="mobile-number")
                        | Mobil nömrə
                        |
                        span.text-danger *
                    input#mobile-number.form-control.w-75.d-inline-block.align-middle(type="text" name="mobile-number" placeholder="+994")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label(for="email")
                        | Email
                        |
                        span.text-danger *
                    input#email.form-control.w-75(type="text" name="email")
                    small.form-text.w-75
                        | Xahiş olunur işlək emailinizi daxil edin.Email link vasitəsilə təstiq edilməlidir əks halda şifrənin bərpası və
                        | bildirişlərin əldə olunması mümkün olmayacaq
                .col-4
                .col-4.mt-5
                    label(for="submit-code")
                        | Təstiq kodu
                        |
                        span.text-danger *
                    input#submit-code.form-control.w-75(type="text" name="submit-code")
                    small.form-text
                        | Təstiq kodunu SMS vasitəsilə yenidən göndər 0:60
                .col-4.mt-5
                    label(for="email-confirm")
                        | Emaili təkrarla
                        |
                        span.text-danger *
                    input#email-confirm.form-control.w-75(type="text" name="email-confirm" autocomplete="off")
                    .invalid-feedback
                        | Email yanlışdır
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | ŞİFRƏ
        .form-row.align-items-start.mt-3.px-4
                .col-4
                    label(for="old-password")
                        | Cari şifrə
                        |
                        span.text-danger *
                    input#old-password.form-control.w-75(type="password" name="old-password")
                .col-4
                    label(for="password")
                        | Şifrə təyin et
                        |
                        span.text-danger *
                    input#password.form-control.w-75(type="password" name="password")
                .col-4
                    label(for="password-confirm")
                        | Şifrəni təkrarlayın
                        |
                        span.text-danger *
                    input#password-confirm.form-control.w-75(type="password" name="password-confirm")
                    .invalid-feedback
                        | Şifrə yalnışdır
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | II VALİDEYN ŞƏXSİYYƏT MƏLUMATLARI
        .row.mt-3.px-4
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="fin")
                            | Fin kodu
                            |
                            span.text-danger *
                        input#fin.form-control(type="text" name="fin")
                    .col-auto
                        button.btn.btn-outline-grey(type="button") Yoxla
                .form-row.align-items-end.mt-2
                    .col-auto
                        label(for="parent-name") Ata adı
                        input#parent-name.form-control(type="text" name="parent-name")
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="first-name") Ad
                        input#first-name.form-control(type="text" name="first-name")
                .form-row.align-items-end.mt-2
                    .col-auto
                        label(for="birth-date") Təvəllüd
                        input#birth-date.form-control(type="text" data-pick-date name="birth-date" autocomplete="off")
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="last-name") Soyad
                        input#last-name.form-control(type="text" name="last-name")
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | II VALİDEYN ƏLAQƏ
        .form-row.align-items-start.mt-3.px-4.mb-5
                .col-4
                    label.d-block(for="mobile-number")
                        | Mobil nömrə
                        |
                        span.text-danger *
                    input#mobile-number.form-control.w-75.d-inline-block.align-middle(type="text" name="mobile-number" placeholder="+994")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label(for="email")
                        | Email
                        |
                        span.text-danger *
                    input#email.form-control.w-75(type="text" name="email")
                    small.form-text.w-75
                        | Xahiş olunur işlək emailinizi daxil edin.Email link vasitəsilə təstiq edilməlidir əks halda şifrənin bərpası və
                        | bildirişlərin əldə olunması mümkün olmayacaq
                .col-4
                .col-4.mt-5
                    label(for="submit-code")
                        | Təstiq kodu
                        |
                        span.text-danger *
                    input#submit-code.form-control.w-75(type="text" name="submit-code")
                    small.form-text
                        | Təstiq kodunu SMS vasitəsilə yenidən göndər 0:60
                .col-4.mt-5
                    label(for="email-confirm")
                        | Emaili təkrarla
                        |
                        span.text-danger *
                    input#email-confirm.form-control.w-75(type="text" name="email-confirm" autocomplete="off")
                    .invalid-feedback
                        | Email yanlışdır

block scripts
    script(src="scripts/main.js")
    script(src="scripts/add-student-complete.js")
    script(src="scripts/contact.js")