extends includes/cabinet_base.pug

block vars
    - profileVal = 'Şagirdlər';
    - registerForm = 'apply-gov-school-form';
    - enableNav = false;
    - isBackEnabled = false;
    - nextLabel = 'Yadda Saxla';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            img.align-middle(src="images/back.svg")
            span.align-middle
                |
                | ƏLİYEV ƏLİ FƏRHAD OĞLU
    form(action="#" id=registerForm).student-edit-form
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | ÜMUMİ MƏLUMATLAR
        .form-row.align-items-start.mt-3.px-4
            .col-4
                label.d-block(for="fin")
                    | Fin kodu
                    |
                    span.text-danger *
                input#fin.form-control.w-75.d-inline-block.align-middle(type="text" name="fin")
                button.btn.btn-outline-grey(type="button") Yoxla
            .col-4
                label.d-block(for="series")
                    | Seriya
                    |
                    span.text-danger *
                input#series.form-control.w-75(type="text" name="series")
            .col-4
                label.d-block(for="phone-number")
                    | Nömrə
                    |
                    span.text-danger *
                input#phone-number.form-control.w-75(type="text" name="phone-number")
            .col-4.mt-5
                label.d-block(for="type")
                    | Növ
                    |
                    span.text-danger *
                input#type.form-control.w-75(type="text" name="type" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="first-name")
                    | Ad
                    |
                    span.text-danger *
                input#first-name.form-control.w-75(type="text" name="first-name" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="last-name")
                    | Soyad
                    |
                    span.text-danger *
                input#last-name.form-control.w-75(type="text" name="last-name" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="middle-name")
                    | Ata adı
                    |
                    span.text-danger *
                input#middle-name.form-control.w-75(type="text" name="middle-name" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="birth-date")
                    | Təvəllüd
                    |
                    span.text-danger *
                input#birth-date.form-control.w-75(type="text" name="birth-date" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="sex")
                    | Cinsi
                    |
                    span.text-danger *
                input#sex.form-control.w-75(type="text" name="sex" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="country")
                    | Ölkə
                    |
                    span.text-danger *
                input#country.form-control.w-75(type="text" name="country" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="address")
                    | Ünvan
                    |
                    span.text-danger *
                input#address.form-control.w-75(type="text" name="address" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="apartment")
                    | Ev
                    |
                    span.text-danger *
                input#apartment.form-control.w-75(type="text" name="apartment" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="passport-department")
                    | Verən orqan
                    |
                    span.text-danger *
                input#passport-department.form-control.w-75(type="text" name="passport-department" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="passport-expire-date")
                    | Etibarlılıq tarixi
                    |
                    span.text-danger *
                input#passport-expire-date.form-control.w-75(type="text" name="passport-expire-date" autocomplete="off")
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | UTİS MƏLUMATLARI
        .form-row.align-items-start.mt-3.px-4
                .col-4
                    label.d-block(for="school-utis-number")
                        |  Məktəbin UTİS kodu
                        |
                        span.text-danger *
                    input#school-utis-number.form-control.w-75.d-inline-block.align-middle(type="text" name="school-utis-number")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label.d-block(for="class-utis-number")
                        | Sinfin UTİS kodu
                        |
                        span.text-danger *
                    input#class-utis-number.form-control.w-75.d-inline-block.align-middle(type="text" name="class-utis-number")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label.d-block(for="class-type")
                        | Sinfin tipi və profili
                        |
                        span.text-danger *
                    input#class-type.form-control.w-75(type="text" name="class-type")
                .col-4.mt-5
                    label.d-block(for="class-index")
                        | Sinfin pilləsi və indeksi
                        |
                        span.text-danger *
                    input#class-index.form-control.w-75(type="text" name="class-index")
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | PTPK MƏLUMATLARI
        .form-row.align-items-start.mt-3.px-4
                .col-4
                    label.d-block(for="verdict-number")
                        |  Qərarın nömrəsi
                    input#verdict-number.form-control.w-75(type="text" name="verdict-number")
                .col-4
                    label.d-block(for="verdict-expire-date")
                        | Qüvvədən düşmə tarixi
                    input#verdict-expire-date.form-control.w-75(type="text" data-pick-date name="verdict-expire-date")
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | TƏHSİL MƏLUMATLARI
        .form-row.align-items-start.mt-3.px-4.mb-5
                .col-4
                    label.d-block(for="study-program")
                        | Təhsil proqramı
                        |
                        span.text-danger *
                    select#study-program.form-control.w-75(type="text" name="study-program")
                        option(value="")
                .col-4
                    label.d-block(for="study-language")
                        | Tədris dili
                        |
                        span.text-danger *
                    select#study-language.form-control.w-75(type="text" name="study-language")
                        option(value="0") Azərbaycan Respublikasının vətəndaşı
                .col-4
                    label.d-block(for="study-form")
                        | Təhsil alma forması
                        |
                        span.text-danger *
                    select#study-form.form-control.w-75(type="text" name="study-form")
                        option(value="0")
                .col-4.mt-5
                    label.d-block(for="present-school")
                        | Oxuduğu məktəb
                        |
                        span.text-danger *
                    select#present-school.form-control.w-75(type="text" name="present-school")
                        option(value="0")
                .col-4.mt-5
                    label.d-block(for="special-program-name")
                        | Xüsusi təhsil proqramının adı
                        |
                        span.text-danger *
                    input#special-program-name.form-control.w-75(type="text" name="special-program-name")
                .col-4.mt-5
                    label.d-block(for="classification-info")
                        | Sinifdən sinfə keçmə məlumatları
                        |
                        span.text-danger *
                    input#classification-info.form-control.w-75(type="text" name="classification-info")
                .col-4.mt-5
                    label.d-block(for="foreign-langs")
                        |  Xarici dillər
                        |
                        span.text-danger *
                    input#foreign-langs.form-control.w-75.d-inline-block.align-middle(type="text")
                    button.btn.btn-outline-grey.js-add-lang(type="button") +

block scripts
    script(src="scripts/main.js")
    script(src="scripts/add-student-complete.js")
    script(src="scripts/contact.js")