extends includes/cabinet_base.pug

block vars
    - profileVal = 'Şagirdlər';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | ŞAGİRDLƏR
                .col-auto.text-center
                    a.d-inline-block.text-secondary(href="#")
                        img.d-block.mx-auto(src="images/magnifying-glass.svg")
                        | Axtar
                    a.d-inline-block.text-secondary.mx-2(href="#")
                        img.d-block.mx-auto(src="images/round-add-button.svg")
                        | Yeni
                    a.d-inline-block.text-secondary(href="#")
                        img.d-block.mx-auto(src="images/edit-round.svg")
                        | Redaktə
    .row
        .col
            form.student-edit-form(id=registerForm)
                .form-row.align-items-start.mt-3.px-3.mb-5
                    .col-3
                        label.d-block(for="subject") Tabeçilik
                        select.form-control.w-75#subject(name="subject")
                            option(value="") - - Seçin - -
                    .col-3
                        label.d-block(for="region") Rayon
                        select.form-control.w-75#region(name="region")
                            option(value="") - - Seçin - -
                    .col-3
                        label.d-block(for="school") Təhsil müəssisəsi
                        select.form-control.w-75#school(name="school")
                            option(value="") - - Seçin - -
                    .col-3
                        label.d-block(for="school-type") Məktəbin növü
                        select.form-control.w-75#school-type(name="school-type")
                            option(value="") - - Seçin - -
                    .col-3.mt-4
                        label.d-block(for="school-spec") Məktəbin tipi
                        select.form-control.w-75#school-spec(name="school-spec")
                            option(value="") - - Seçin - -
                    .col-3.mt-4
                        label.d-block(for="study-week") Tədris həftəsi
                        select.form-control.w-75#study-week(name="study-week")
                            option(value="") - - Seçin - -
            .main-wrapper--article
                table.table.table-hover
                    thead
                        tr
                            th ID
                            th FİN
                            th ADI, SOYADI
                            th CİNSİ
                            th ÜNVAN
                            th MƏKTƏBİN UTİS KODU
                            th SİNFİN UTİS KODU
                            th SİNFİN TİPİ
                            th SİNFİN PROFİLİ
                            th SİNFİN PİLLƏSİ VƏ İNDEKSİ
                            th XARİCİ DİL
                            th TƏDRİS DİLİ
                            th TƏHSİL ALMA FORMASI
                            th TƏHSİL PROQRAMI
                            th SİNİFDƏN SİNFƏ KEÇMƏ MƏLUMATI
                    tbody
                        tr
                            td 12345
                            td 12345
                            td Əliyev Əli Fərhad
                            td Kişi
                            td
                            td 123456
                            td 123456
                            td
                            td
                            td
                            td Azərbaycan
                            td Azərbaycan
                            td
                            td
                            td
                        tr
                            td 12345
                            td 12345
                            td Əliyev Əli Fərhad
                            td Kişi
                            td
                            td 123456
                            td 123456
                            td
                            td
                            td
                            td Azərbaycan
                            td Azərbaycan
                            td
                            td
                            td
                        tr
                            td 12345
                            td 12345
                            td Əliyev Əli Fərhad
                            td Kişi
                            td
                            td 123456
                            td 123456
                            td
                            td
                            td
                            td Azərbaycan
                            td Azərbaycan
                            td
                            td
                            td
        .col-2
            include includes/partials/student-profile.pug