extends includes/cabinet_base.pug

block vars
    - profileVal = 'Tədris sinifləri';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Ümumi məlumatlar': null,
            'Məktəbdən gedənlər': null,
            'Məktəbə gələnlər': null,
            'Növbədə gözləyənlər': null,
            'Tədris sinifləri': null
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | TƏDRİS SİNİFLƏRİ
                .col-auto.text-center
                    a.d-inline-block.text-secondary(href="#")
                        img.d-block.mx-auto(src="images/magnifying-glass.svg")
                        | Axtar
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
                    a.d-inline-block.text-secondary.mx-3(href="#")
                        img.d-block.mx-auto(src="images/users.svg")
                        | Növbə
                    a.d-inline-block.text-secondary(href="#")
                        img.d-block.mx-auto(src="images/switch.svg")
                        | Sinfə transfer
    form.student-edit-form(id=registerForm)
        .form-row.align-items-start.mt-3.px-3.mb-5
            .col-3
                label.d-block(for="subject") Tabeçilik
                select.form-control.w-75#subject(name="subject")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="region") Rayon
                select.form-control.w-75#region(name="region")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="school") Təhsil müəssisəsi
                select.form-control.w-75#school(name="school")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="school-type") Məktəbin növü
                select.form-control.w-75#school-type(name="school-type")
                    option(value="") - - Seçin - -
            .col-3.mt-4
                label.d-block(for="school-spec") Məktəbin tipi
                select.form-control.w-75#school-spec(name="school-spec")
                    option(value="") - - Seçin - -
            .col-3.mt-4
                label.d-block(for="study-week") Tədris həftəsi
                select.form-control.w-75#study-week(name="study-week")
                    option(value="") - - Seçin - -
            .col-3.mt-4
                label.d-block(for="study-week") Tədris həftəsi
                select.form-control.w-75#study-week(name="study-week")
                    option(value="") - - Seçin - -
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ID
                    th UTİS KODU
                    th SIRA NÖM,İNDEKS
                    th TƏDRİS DİLİ
                    th SİNİF RƏHBƏRİ
                    th NÖVBƏ
                    th SİNFİN PROFİLİ
                    th SİNİF / FİLİAL
                    th MÜSTƏQİL XALQIN DİLİ
                    th XARİCİ DİLLƏRİ
                    th MAKSİMAL ŞAGİRD TUTUMU
                    th ŞAGİRD SAYI
                    th YENİLƏ
            tbody
                tr
                    td 12345
                    td 12345
                    td 12345
                    td İngilis
                    td Əliyev Eyvaz İlqar
                    td I növbə
                    td
                    td
                    td
                    td İngilis
                    td 3000
                    td 30
                    td
                        a(href="#")
                            img(src="images/reload.svg", alt="")