extends ./includes/register_base.pug

block scripts
    script(src="scripts/main.js")

block vars
    - pageIndex = 4;
    - registerForm = 'second-document-form';

block title
    | II VALİDEYNİN SƏNƏDİ

block content
    section#register-document-page
        // document form start
        form(action="#" id=registerForm)
            .row
                .col-4
                    .form-row.align-items-end
                        .col-auto
                            label(for="fin")
                                | II Valideynin Fin kodu
                                |
                                span.text-danger *
                            input#fin.form-control(type="text" name="fin")
                        .col-auto
                            button.btn.btn-outline-grey(type="button") Yoxla
                    .form-row.align-items-end.mt-2
                        .col-auto
                            label(for="parent-name") Ata adı
                            input#parent-name.form-control(type="text" name="parent-name")
                .col-4
                    .form-row.align-items-end
                        .col-auto
                            label(for="first-name") Ad
                            input#first-name.form-control(type="text" name="first-name")
                    .form-row.align-items-end.mt-2
                        .col-auto
                            label(for="birth-date") Təvəllüd
                            input#birth-date.form-control(type="text" name="birth-date" autocomplete="off")
                .col-4
                    .form-row.align-items-end
                        .col-auto
                            label(for="last-name") Soyad
                            input#last-name.form-control(type="text" name="last-name")
        // document form end
