extends ./includes/register_base.pug

block vars
    - pageIndex = 3;
    - registerForm = 'document-type-form';

block title
    | II VALİDEYN SƏNƏD NÖVÜ

block content
    section#register-document-page.h-370
        form.h-100(action="#" id=registerForm)
            .form-row.align-items-start.h-100
                .col-4
                    label(for="citizenship") Vətəndaşlıq
                    select#citizenship.form-control.w-75(type="text" name="citizenship")
                        option(value="0") Azərbaycan Respublikasının vətəndaşı
                .col-4
                    label(for="parent") Qohumluq dərəcəsi
                    select#parent.form-control.w-75(type="text" name="parent")
                        option(value="0") Valideyn
                .col-4
                .col-4.mt-5.align-self-end
                    .custom-control.custom-checkbox
                        input.custom-control-input(type="checkbox" id="confirmation" name="confirmation")
                        label.custom-control-label(for="confirmation")
                            | Məlumatları doldurmaq istəmirəm
                            span.text-danger *
                    small.form-text
                        | Lorem İpsum – dizayn nəşrlərində istifadə olunan düzgün olmayan mətndir. Dəqiq quruluşa malik olmayan bu mətn latincada hələ XVI əsrdə öz qəlib formasınıalmışdır. Həmin zamanlarda naməlum bir çapçı Lorem Ipsum`dan istifadə edərəkmüxtəlif ölçü və formalarda şriftlər kolleksiyası yaratdı və öz nümunələrini çap elədi.