extends includes/cabinet_base.pug

block vars
    - profileVal = 'Müraciət';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Ümumi məlumat': null,
            'Müraciət': null,
            'Növbə': null
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | ƏLİYEV ƏLİNİN MÜRACİƏTİ
                .col-auto.text-center
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ID
                    th ADI, SOYADI
                    th OXUDUĞU MƏKTƏB
                    th MƏKTƏBİN UTİS KODU
                    th YENİ MƏKTƏB
                    th YENİ MƏKTƏBİN UTİS KODU
                    th SORĞUNUN BİTMƏ TARİXİ
                    th STATUS
                    th SİL
            tbody
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-pending
                        | Çıxma əmrinin verilməsi gözlənilir
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-command
                        | Çıxma əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-approve
                        | Təstiq et
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-accepted
                        | Qəbul edilmə əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg")