extends includes/cabinet_base.pug

block vars
    - profileVal = 'Növbə';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Ümumi məlumat': null,
            'Müraciət': null,
            'Növbə': null
        };
block title
    | Məktəblər


block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | NÖVBƏ
                .col-auto.text-center
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ID
                    th SOYADI, ADI
                    th OXUDUĞU MƏKTƏB
                    th MƏKTƏBİN UTİS KODU
                    th YENİ MƏKTƏB
                    th YENİ MƏKTƏBİN UTİS KODU
                    th NÖVBƏDƏKİ YERİ
                    th SİL
            tbody
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 5
                    td
                        a(href="#")
                            img(src="images/close.svg")