<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BMN</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./fonts/stylesheet.css">
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="./styles/custom/reset.css">
    <link rel="stylesheet" href="./styles/custom/flexbox.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.carousel.css"/>
    <link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.theme.default.css"/>
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/bower_components/fancybox/dist/jquery.fancybox.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <section id="wrapper" class="main-website">
      {% include "includes/header.njk" %}
      {% block content %}
        {{super()}}
      {% endblock %}
      {% include "includes/footer.njk" %}
    </section>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/owl.carousel/dist/owl.carousel.js"></script>
    <script src="/bower_components/fancybox/dist/jquery.fancybox.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
    {% block scripts %}{% endblock %}
  </body>
</html>
