<footer>
    <div class="container">
        <div class="flex bottom between wrap">
            <div class="footer-section">
                <a href="" class="footer-link logo-1">
                </a>
                <a href="" class="footer-link logo-2">
                </a>
                <div class="footer--copyright">Move Consulting &copy; 2018 All rights reserved</div>
            </div>
            <div class="footer-section">
                <a href="" class="footer-link logo-3">
                </a>
                <a href="" class="footer-link logo-4">
                </a>
            </div>
        </div>
    </div>
</footer>