<header class="header-container">
    <div class="container">
        <div class="flex between middle wrap">
            <div class="header">
                <a href="#" class="header--logo">
                    <img src="./images/h_logo.png" alt="">
                </a>
            </div>
            <div class="header">
                <span class="header--description">Onlayn kredit müraciəti anketini dolduraraq, sorğunuzun sərfəli şərtlərlə kredit verən banka yönləndiriləcəyinə əmin ola bilərsiniz.</span>
            </div>
        </div>
    </div>
</header>