// Segoe UI

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-Bold.woff2") format("woff2"), url("../fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-Italic.woff2") format("woff2"), url("../fonts/SegoeUI-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-Light.woff2") format("woff2"), url("../fonts/SegoeUI-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI.woff2") format("woff2"), url("../fonts/SegoeUI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Icons
@font-face {
  font-family: "edu";
  src: url("../fonts/edu.eot?brhkux");
  src:
    url("../fonts/edu.eot?brhkux#iefix") format("embedded-opentype"),
    url("../fonts/edu.ttf?brhkux") format("truetype"),
    url("../fonts/edu.woff?brhkux") format("woff"),
    url("../fonts/edu.svg?brhkux#edu") format("svg");
  font-weight: normal;
  font-style: normal;
}
