hr {
  margin-top: 33px;
}

h2 {
  font-size: 23px;
}

h4 {
  font-size: 18px;
}

body {
  line-height: 1.2;
}

/* HEADER START */

.main-header {
  font-weight: bold;
  background-color: $header-bg;
  font-size: 16px;

  .burger-expand {
    display: none;
    position: absolute;
    top: 54px;
    z-index: 1;
    background-color: #eee;
    width: 100%;
    padding: 20px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        a {
          display: block;
        }
      }
    }

    @media (max-width: 768px) {
      display: none;
    }

    &.show {
      display: block;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  a {
    padding: 8px 0;
  }

  &--select-lang {
    &:hover {
      .main-header--langs {
        display: block;
      }
    }
  }

  &--langs {
    display: none;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 40.14px;
    z-index: 112;
    background-color: #f8f8f8;
    padding: 10px;
    left: -10px;

    a {
      text-transform: uppercase;

      span {
        display: block !important;
      }
    }
  }

  &--left {
    width: 17.31%;

    @media (max-width: 1200px) {
      width: 20%;
    }

    @media (max-width: 991px) {
      width: 28%;
    }

    @media (max-width: 574px) {
      width: auto;
    }

    > a {
      text-transform: uppercase;
    }
  }

  &--right {
    width: 27.5%;
    position: relative;

    @media (max-width: 991px) {
      width: 36%;
    }

    @media (max-width: 767px) {
      width: auto;
    }

    > a {
      text-transform: uppercase;
    }
  }

  &--menu {
    height: 100%;
    padding: 0 12px !important;

    i {
      margin-left: 26px;
      font-size: 0.5rem;
      vertical-align: middle;

      @media (max-width: 1200px) {
        margin-left: 7px;
      }
    }
  }

  &--faq {
    i {
      font-size: 1.3rem;
      margin-right: 15px;
      vertical-align: middle;
    }
  }

  &--contact {
    i {
      font-size: 1.97rem;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  &--lang {
    text-transform: uppercase;

    img {
      width: 30px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 13px;
    }
  }

  &--left.show {
    .main-header--expand {
      visibility: visible;
      opacity: 1;
      overflow: hidden;
      display: block;
    }

    .s-back {
      display: block;

      @media (max-width: 767px) {
        display: none;
      }

      i {
        margin-left: 32px;
      }
    }

    .s-menu {
      display: none;
    }

    .main-header--menu {
      background-color: #eee;
    }
  }

  .s-back {
    display: none;
  }

  .s-menu {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .s-menu-mobile {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &--burger {
    display: none;

    i {
      font-size: 16px;
    }

    @media (max-width: 767px) {
      display: block;
    }
  }

  &--expand {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    top: 54px;
    z-index: 111;
    width: 1238px;
    background-color: #fff;
    font-size: 18px;
    color: #4b4545;

    @media (max-width: 1330px) {
      width: 100%;
      left: 0;
    }

    &.expand {
      .expand-left {
        max-width: 0;
        max-height: 0;
        opacity: 0;
        padding: 0;
        visibility: hidden;
      }

      .expand-reveal {
        max-width: 50%;
        max-height: 100%;
        opacity: 1;
        padding: 31px 58px 68px 52px;
        visibility: visible;

        @media (max-width: 767px) {
          max-width: 100%;
          flex: 0 0 100%;
        }
      }

      .expand-right {
        padding-right: 0;

        @media (max-width: 767px) {
          display: none;
        }

        h2 {
          span {
            display: none;
          }

          a {
            font-size: inherit;
            display: inline-block;
          }
        }
      }
    }
  }

  .expand-left,
  .expand-right,
  .expand-reveal {
    padding: 31px 58px 68px 52px;

    @media (max-width: 1020px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      font-size: 30px;
      font-weight: 300;
      color: #8b7736;
      text-transform: uppercase;
      margin-bottom: 41px;

      a {
        font-size: 18px;
        display: none;

        i {
          font-size: 18px;
          margin-right: 26px;
        }
      }
    }
  }

  .expand-reveal {
    transition: all 0.1s ease-in;
    max-width: 0;
    max-height: 0;
    opacity: 0;
    padding: 0;
    visibility: hidden;
    position: relative;
    background-color: #eee;

    .link-list {
      max-height: 666px;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        width: 0;
        background: transparent;
      }

      li {
        margin-top: 27px;
      }

      li:first-child {
        margin-top: 0;
      }
    }

    &--bottom-icon {
      color: #8b7736;
      position: absolute;
      bottom: 37px;
      left: 50%;
      font-size: 10px;
      transform: translateX(-50%);
    }

    &--item {
      display: none;

      @media (max-width: 767px) {
        h2 {
          a {
            display: block;
            font-size: 30px;
            font-weight: 300;
            color: #8b7736;
            text-transform: uppercase;
            margin-bottom: 41px;
          }

          span {
            display: none;
          }
        }
      }
    }
  }

  .expand-left {
    transition: all 0.1s ease-in;

    @media (max-width: 767px) {
      display: none;
    }

    p {
      font-size: 18px;
      font-weight: 400;
    }

    h4 {
      margin-top: 27px;
      font-size: 22px;
      font-weight: 700;
    }

    .header-search {
      margin-top: 127px;

      form {
        margin-top: 27px;
      }
    }

    .header-cataloge--item {
      margin-top: 22px;
      width: 25.6%;

      @media (max-width: 1200px) {
        width: 33.3%;
      }

      p {
        margin: 0;
        font-size: 40px;
        font-weight: 300;
      }

      font-size: 14px;
      font-weight: 300;
    }
  }

  .expand-right {
    @media (max-width: 767px) {
      max-width: 100%;
      flex: 0 0 100%;
    }

    &--icon {
      margin-right: 28px;

      i {
        font-size: 30px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li:first-child {
        margin-top: 0;
      }

      p {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
      }

      span {
        font-size: 14px;
        font-weight: 300;
      }

      a {
        color: #4b4545;
        padding: 10px 8px;

        &.active {
          background-color: #eee;

          .i-right {
            display: block;
          }
        }

        .i-right {
          display: none;
          margin-left: auto;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.main-nav {
  padding: 26px 0;

  &--logo {
    margin-left: 200px;

    @media (max-width: 991px) {
      margin-left: 150px;
    }

    @media (max-width: 767px) {
      margin-left: 0;
    }
  }

  @media (max-width: 767px) {
    padding: 0;
  }

  a {
    display: inline-block;
    font-weight: 100;

    @media (max-width: 767px) {
      text-align: center;
      display: block;
      padding: 10px 0;
    }
  }

  &--links {
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 20px;

    a {
      text-transform: uppercase;
      font-size: 18px;
    }
  }

  &--quote {
    color: theme-color("primary");
    text-align: right;
    font-size: 16px;
    margin: 0;

    div {
      font-size: 18px;
      font-weight: 100;
      margin-top: 5px;
      text-transform: uppercase;
    }

    @media (max-width: 767px) {
      background-color: #8b7736;
      color: #fff;
      text-align: center;
      padding: 20px 0;
    }
  }
}

/* HEADER END */

/* FOOTER START */

.main-footer {
  background-color: #f8f8f8;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      color: #4d4545;
    }
  }

  &--right {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 16px;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }

    div {
      margin-left: -19px;

      @media (max-width: 767px) {
        margin-left: 0;
        margin-right: auto;
      }
    }

    h5 i {
      margin-left: 16px;
      font-size: 14px;
    }

    ul {
      margin-top: 13px;

      li {
        margin-top: 10px;
      }

      a {
        font-size: 16px;
        font-weight: 300;
      }
    }
  }

  &--left {
    padding-right: 4px;
  }

  .contact {
    margin: 26px 0;
    font-weight: bold;
    font-size: 18px;

    a {
      display: inline-block;
      color: #4d4545;

      i {
        margin-right: 18px;
        font-size: 29px;
        vertical-align: middle;
      }
    }

    &--phone {
      margin-right: 38px;

      @media (max-width: 390px) {
        margin-bottom: 10px;
      }
    }
  }

  &--content {
    padding-top: 36px;

    h2 {
      margin: 0;
    }

    p {
      font-size: 20px;
      margin-bottom: 14px;
    }
  }

  &--bottom {
    margin-top: 107px;
    padding-bottom: 40px;
    border-top: 1px solid #4d4545;

    @media (max-width: 768px) {
      border-top: 0;
      margin-top: 20px;
      text-align: center;
    }

    .row {
      margin-top: 23px;
    }
  }

  &--icon {
    text-align: right;
    font-size: 23px;
    display: inline-block;

    a {
      margin-right: 9px;
      color: #4d4545;
      display: inline-block;

      img {
        width: 24px;
        height: 24px;

        @media (max-width: 767px) {
          width: 30px;
          height: 30px;
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &--rights {
    font-size: 14px;

    @media (max-width: 767px) {
      margin-top: 10px;
      display: block;
      font-size: 16px;
    }
  }
}

/* FOOTER END */
.btn.btn-custom {
  border-radius: 1px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 20px;

  & ~ & {
    margin-left: 20px;
  }

  i {
    margin-left: 21px;
    line-height: 1;
    font-size: 15px;
  }

  .i-pdf {
    margin-left: 21px;
  }
}

.btn.btn-outline-primary {
  &:hover {
    svg {
      path {
        stroke: #fff;
      }
    }
  }
}

.btn.btn-custom-2 {
  border-radius: 1px;
  font-size: 18px;
  padding: 12px 50px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;

  & ~ & {
    margin-left: 20px;
  }

  i {
    margin-left: 21px;
    line-height: 1;
    font-size: 15px;
    vertical-align: middle;
  }

  .i-pdf {
    margin-left: 21px;
  }
}

.btn.btn-sm {
  font-size: 12px;
}

.article {
  a {
    color: #4b4545;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    display: block;

    &:hover {
      color: #8b7736;
    }
  }

  small {
    color: #888181;
    font-size: 14px;
    font-weight: 400;
  }
}

.socials-feed {
  @include make-row();

  &--title {
    @include make-col(6);

    @media (max-width: 767px) {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }

    h2 {
      font-weight: bold;
      color: #8b7736;
    }
  }

  &--links {
    @include make-col(6);

    @media (max-width: 767px) {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }

    text-align: right;

    a {
      margin-right: 15px;
      font-size: 30px;

      &:hover {
        text-decoration: none;
      }
    }

    a:last-child {
      margin: 0;
    }
  }
}

.feeds {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }

  .feed {
    @media (max-width: 767px) {
      width: 100%;
      margin-top: 20px;
    }

    small {
      color: #888181;
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px;
      display: block;
    }

    p {
      color: #4b4545;
      font-size: 15px;
      font-weight: 400;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    a {
      color: #012266;
      display: flex;
      align-items: center;
      margin-top: 10px;

      i {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}

.resources {
  @include make-row();

  justify-content: space-between;
  align-items: center;

  .resource {
    width: 30.4%;
    padding: 20px 19px;
    background-color: #f8f8f8;
    margin-top: 30px;

    @media (max-width: 1199px) {
      width: 42%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    p {
      margin: 0;
      color: #4b4545;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
    }

    span {
      color: #8b7736;
      font-size: 16px;
      font-weight: 300;
      margin-top: 10px;
      display: inline-block;
      text-transform: uppercase;
    }
  }
}

.link-list {
  padding: 0;
  margin: 0;
  list-style: none;

  a {
    display: block;

    &:hover {
      text-decoration: none;

      p {
        color: #8b7736;
      }

      span {
        color: #4b4545;
      }
    }

    p {
      margin: 0;
      font-size: 18px;
      color: #4b4545;
      font-weight: 700;
    }

    span {
      font-size: 14px;
      color: #4b4545;
      font-weight: 300;
    }
  }
}

.breadcrumb {
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 12px 0;

  @media (max-width: 991px) {
    form {
      width: 100%;
    }

    .form-group {
      margin-top: 20px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: 768px) {
      width: 100%;
    }

    li {
      display: inline-block;

      &::before {
        content: "\e928";
        color: #c0b790;
        vertical-align: middle;
        margin: 0 10px;
        font-size: 10px;

        @include make-icon();
      }

      @media (max-width: 768px) {
        &::before {
          content: none;
        }

        margin-left: 10px;
        display: block;
        margin: 0;
      }

      &:first-child::before {
        content: none;
      }

      &.active {
        a {
          color: #8b7736;
        }
      }
    }

    a {
      color: #c0b790;
      font-size: 18px;
      font-weight: 700;

      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
  }
}

.title {
  font-weight: 700;
  color: #8b7736;
  margin-bottom: 29px;
  margin-top: 21px;
}

.title-prim {
  font-weight: 700;
  color: #4b4545;
  margin-bottom: 29px;
  margin-top: 21px;
}

.text {
  color: #4b4545;
  font-size: 15px;
  font-weight: 400;
}

.module {
  background-color: #f8f8f8;
  padding: 14px 0 24px 44px;
  margin-top: 30px;

  &--icon {
    font-size: 11px;
  }

  &--desc {
    margin-left: 18px;

    p {
      color: #4b4545;
      font-size: 22px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #4b4545;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }
}

.image-container {
  background-color: #f8f8f8;
  height: 433px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  // youtube
  video {
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.custom-label {
  color: #4b4545;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 11px;
  background-color: #f8f8f8;
  padding: 9px 0 15px 13px;
  width: 52%;

  li {
    margin-top: 5px;
    color: #4b4545;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.link {
  display: block;
  text-decoration: underline;
  color: #4b4545;
  font-size: 18px;
  font-weight: 700;
}

.home-l2 {
  padding: 48px 0 128px 0;

  .image-container {
    margin-top: 37px;
  }

  .custom-label {
    margin-top: 54px;
  }

  .list {
    margin-bottom: 40px;
  }

  .col-5,
  .col-4 {
    padding-left: 130px;
    padding-top: 5px;

    @media (max-width: 991px) {
      padding-left: 20px;
    }

    @media (max-width: 767px) {
      max-width: 100%;
      flex: 0 0 100%;
      order: 1;
      padding: 0;
      margin-bottom: 30px;
    }
  }

  .col-7,
  .col-8 {
    @media (max-width: 767px) {
      max-width: 100%;
      flex: 0 0 100%;
      order: 2;
    }
  }
}

.go-to {
  h2 {
    color: #4b4545;
    font-size: 24px;
    font-weight: 700;
    border-left: 7px solid #4b4545;
    padding-left: 15px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 10px;
      margin-top: 20px;
      background-color: #f8f8f8;

      &:hover {
        background-color: #4b4545;

        > div label {
          color: white;
        }

        a {
          color: white;

          path {
            stroke: #fff;
          }
        }
      }

      &.expand {
        .i-plus-b {
          display: none;
        }

        &.show {
          .i-plus-b {
            display: inline-block;
          }

          .i-r-plus {
            display: none;
          }

          ul {
            display: block;
          }
        }

        &:hover {
          background-color: #f8f8f8;
        }

        a {
          color: #8b7736;
          font-weight: 700;
        }

        ul {
          display: none;

          li {
            &:hover {
              a {
                color: #fff;
              }

              label {
                color: white;
              }
            }

            a {
              color: #4b4545;
            }
          }
        }
      }

      &.active {
        background-color: #4b4545;

        a {
          color: white;
        }
      }

      a {
        display: flex;
        justify-content: space-between;
        color: #4b4545;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }

  &--form {
    ul {
      li {
        padding: 0;
        margin-top: 0;

        .custom-control {
          padding: 0;
        }

        ul {
          label {
            padding-left: 20px;
          }
        }

        a {
          padding: 10px;
        }

        label {
          padding: 10px;
          flex: 0 1 100%;
          padding-right: 32px;
          cursor: pointer;

          &::before,
          &::after {
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            left: auto;
          }

          &.loading {
            &::before {
              width: 1rem;
              height: 1rem;
              border-radius: 50%;
              background-color: transparent !important;
              border-left: #8b7736 solid 3px !important;
              border-bottom: transparent solid 3px !important;
              border-top: transparent solid 3px !important;
              border-right: transparent solid 3px !important;
              animation: spin 1s linear infinite;
              top: 11px;
            }

            @keyframes spin {
              0% {
                transform: rotate(0);
              }

              100% {
                transform: rotate(360deg);
              }
            }

            &::after {
              content: none;
            }
          }
        }

        input {
          margin-right: 10px;
        }

        .custom-checkbox {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

.go-to--news {
  h2 {
    color: #4b4545;
    font-size: 24px;
    font-weight: 700;
    border-left: 7px solid #4b4545;
    padding-left: 15px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-top: 20px;

    a {
      color: #4b4545;
      font-size: 18px;
      font-weight: 400;

      p {
        margin: 0;
        font-size: 15px;
      }

      span {
        color: #888181;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

.links {
  .link {
    margin-top: 24px;
    font-size: 15px;
  }
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &--key {
    width: 28%;
    display: inline-block;
    font-size: 15px;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    vertical-align: middle;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &--value {
    color: #4b4545;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    width: 70%;
    vertical-align: middle;

    @media (max-width: 991px) {
      width: 100%;
    }

    @media (max-width: 991px) {
      margin-top: 10px;
    }
  }

  li {
    color: #4b4545;
    border-top: 1px solid #c0b790;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
  }
}

.contacts {
  .contact-list {
    padding-right: 20px;
  }

  .map-container {
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 991px) {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  &--selects {
    .col-6 {
      @media (max-width: 991px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  &--select {
    padding-right: 40px;
  }

  .col-4 {
    padding-left: 52px;

    @media (max-width: 991px) {
      padding-left: 20px;
    }

    @media (max-width: 768px) {
      padding: 0;
    }
  }
}

.pagination {
  @include make-row();

  font-size: 30px;
  color: #4b4545;
  line-height: 1;

  @media (max-width: 991px) {
    font-size: 20px;
  }

  &--desc {
    margin-left: 20px;

    p {
      margin: 0;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;

      @media (max-width: 991px) {
        font-size: 20px;
      }
    }

    span {
      font-size: 18px;
      font-weight: 400;
      text-decoration: underline;
    }
  }
}

.articles {
  .article {
    margin-top: 40px;

    h2 {
      color: #8b7736;
      font-size: 25px;
      font-weight: 700;
    }

    p {
      color: #4b4545;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.news {
  .home-news {
    background-color: #f8f8f8;
  }

  .home-feed {
    background-color: #fff;
  }
}

.news-article {
  padding-top: 59px;
  padding-bottom: 75px;
}

.card {
  display: block;
  margin-bottom: 18px;
  margin-right: 24px;

  &.card-bg {
    margin: 0;
    margin-right: 24px;

    .card--image {
      height: 276px;
    }

    .card--title {
      font-size: 18px;
    }

    .card--date {
      font-size: 14px;
    }

    .card--text {
      font-size: 14px;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &--image {
    overflow: hidden;
    display: flex;
    height: 100px;
    background-color: #4b4545;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &--play {
    color: #4b4545;
    background-color: #fff;
    position: absolute;
    padding: 17px 18px 16px 20px;
    top: 0;
    left: 0;

    i {
      font-size: 20px;
    }
  }

  &--desc {
    &.primary {
      background-color: #eee;
    }

    padding: 13px 14px;
  }

  &--title {
    color: #4b4545;
    font-size: 12px;
    font-weight: 700;
  }

  &--text {
    color: #4b4545;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 300;
  }

  &--date {
    color: #8b7736;
    margin-top: 14px;
    font-size: 12px;
    font-weight: 700;
    border-left: 3px solid #8b7736;
    padding-left: 10px;
  }
}

.news-videos {
  padding: 34px 0;
  background-image: url(../images/bg-video.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &--title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }

  &--header {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
  }

  .card {
    &--image {
      height: 269px;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    &--title {
      font-size: 18px;
    }
  }
}

.social-news {
  padding: 49px 0 69px 0;

  &--cards {
    &--sizer,
    &--card {
      width: 23.5%;

      @media (max-width: 1200px) {
        width: 49%;
      }

      @media (max-width: 991px) {
        width: 100%;
      }
    }

    &--card {
      border-radius: 4px;
      overflow: hidden;
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }

      &--image {
        background-color: #cbcbcb;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 224px;
        position: relative;
      }

      &--icon {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
      }

      &--desc {
        color: #4b4545;
        font-size: 16px;
        font-weight: 700;
        background-color: #f8f8f8;
        padding: 19px 17px;
      }

      &--text {
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
      }
    }
  }

  .btn {
    width: 100%;
    background-color: #f8f8f8;
    color: #4b4545;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.main-footer--icon.bg {
  span {
    color: #4b4545;
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px;
  }

  a {
    vertical-align: middle;

    i {
      font-size: 30px;
    }
  }
}

.ministry-about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../images/bg-ministry.png);
  padding-top: 96px;

  &--desc {
    background-color: #fff;
    padding: 35px 70px 70px 70px;

    .text {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
}

.ministry-management {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &--desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 30px 20px;
  }

  &--item {
    width: 49%;
    margin-top: 40px;

    @media (max-width: 991px) {
      width: 100%;
    }

    .col-auto {
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
    }
  }

  &--title {
    color: #4b4545;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }

  &--position {
    margin-bottom: auto;
    color: #8b7736;
    font-size: 18px;
    font-weight: 400;
  }

  &--links {
    a {
      display: block;
      background-color: #eee;
      color: #4b4545;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      padding: 19px 18px;
      margin-top: 5px;
    }
  }
}

.main-map {
  svg {
    display: block;
    margin: 0 auto;
  }

  .map-tooltip {
    background-color: black;
    padding: 5px 10px;
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    font-weight: bold;
    display: none;
  }

  .faq-descriptions {
    &--item {
      background-color: #eee;
      padding: 8px 14px;
      position: absolute;
      top: 0;
      display: none;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.16);

      &::after {
        content: "";
        position: absolute;
        right: -40px;
        background-color: transparent;
        border-right: 20px solid transparent;
        border-left: 20px solid #eee;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        top: 50%;
        transform: translateY(-50%);
      }

      h4 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 20px;
      }

      p {
        color: #4b4545;
        font-size: 14px;
        font-weight: 700;
      }

      a {
        color: #4b4545;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  @media (max-width: 991px) {
    svg {
      display: none;
    }

    .faq-descriptions {
      padding: 20px;
      visibility: visible;

      &--item {
        position: static;
        margin-top: 20px;

        &::after {
          content: none;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    svg {
      width: 950px;

      #g1586 {
        transform: translate(12px, 570px);
      }

      #g1584 {
        transform: scale(1.2192652516022309);
      }
    }
  }
}

.responsive-image {
  width: 100%;
}

.home-services {
  padding-bottom: 30px;
}
