.home-welcome {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 44px;

  &--search {
    margin-top: 13px;
    width: 40%;

    @media (max-width: 768px) {
      width: 303px;

      input {
        font-size: 11px;
      }
    }
  }

  h1,
  p,
  h5 {
    color: #8b7736;
    text-align: center;
  }

  h1 {
    font-weight: bold;
    margin-bottom: 17px;
    font-size: 31px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  p {
    font-size: 15px;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }

  h5 {
    font-weight: bold;
    font-size: 15px;

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
}

.home-testomonials {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 14px 0 60px 0;

  &.with-title {
    padding: 44px 0 95px 0;

    .home-testomonials--item {
      margin-top: 45px;
    }
  }

  &--title {
    color: #fff;
    font-weight: bold;
  }

  &.bg-space {
    background-image: url(../images/home-bg1.png);
  }

  &.bg-book {
    background-image: url(../images/bg-book.png);
  }

  &.bg-girl {
    background-image: url(../images/bg-girl.png);
  }

  &.bg-kids {
    background-image: url(../images/bg-kids.png);
  }

  &--item {
    width: 30.4%;
    margin-top: 44px;
    overflow: hidden;

    @media (max-width: 1200px) {
      width: 42.4%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    a {
      display: flex;
      justify-content: space-between;
      padding: 26px 0 13px 15px;
      background-color: #f8f8f8;
      color: #4b4545;

      &:hover {
        text-decoration: none;

        .home-testomonials--arrow {
          background-color: #4b4545;

          &.secondary {
            background-color: #eee;

            i {
              color: #4b4545;
            }
          }

          i {
            color: #fff;
          }
        }
      }
    }
  }

  &--desc {
    width: 100%;
    margin-left: 12px;
    margin-right: 4px;

    h4 {
      font-size: 18px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
      font-weight: 300;
    }
  }

  &--arrow {
    align-self: center;
    background-color: white;
    margin-left: 0;
    padding: 35px 50px 35px 31px;
    margin-right: -35px;
    border-radius: 100% 0 0 100%;
    transition: all 0.5s linear;
    text-align: center;
    vertical-align: middle;

    &.prim {
      background-color: #eee;
    }

    &.secondary {
      background-color: #4b4545;

      i {
        color: #fff;
      }
    }
  }
}

.home-news {
  padding-top: 40px;
  padding-bottom: 55px;

  .home-news--left {
    width: 90%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  h2 {
    color: #8b7736;
    font-weight: bold;
  }

  .btn {
    margin-top: 33px;

    @media (max-width: 768px) {
      display: block;
      width: 100%;
    }
  }

  .articles {
    margin-top: 30px;
  }

  .article {
    margin-top: 24px;
  }
}

.home-feed {
  background-color: #f8f8f8;
  padding-bottom: 85px;

  .socials-feed {
    padding-top: 38px;
  }

  .feeds {
    margin-top: 25px;
  }
}

.home-resources {
  padding-top: 50px;
  padding-bottom: 77px;

  &--title {
    font-weight: bold;
    color: #8b7736;
  }

  .resources {
    margin-top: 9px;
  }

  .btn {
    margin-top: 32px;

    @media (max-width: 768px) {
      width: 100%;
      display: block;
    }
  }
}
