@mixin make-icon() {
  display: inline-block;
  font-family: "edu" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.15;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i[class*="i-"]::before {
  @include make-icon();
}

img.icon {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.i-pdf {
  &::before {
    content: "pdf";
    color: #fff;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  padding: 2px 6px;
  border-radius: 4px;
  background-color: #4b4545;
}

.i-burger::before {
  content: "\e900";
}

.i-ellipse-o::before {
  content: "\e901";
}

.i-ellipse::before {
  content: "\e902";
}

.i-youtube::before {
  content: "\e903";
}

.i-faq::before {
  content: "\e904";
}

.i-up::before {
  content: "\e905";
}

.i-palette::before {
  content: "\e906";
}

.i-rss::before {
  content: "\e907";
}

.i-education::before {
  content: "\e908";
}

.i-book::before {
  content: "\e909";
}

.i-bulb::before {
  content: "\e90a";
}

.i-instagram::before {
  content: "\e90b";
}

.i-rocket::before {
  content: "\e90c";
}

.i-capitol::before {
  content: "\e90d";
}

.i-checked::before {
  content: "\e90e";
}

.i-cityhall::before {
  content: "\e90f";
}

.i-contacts::before {
  content: "\e910";
}

.i-envelope::before {
  content: "\e911";
}

.i-o-right::before {
  content: "\e912";
}

.i-facebook::before {
  content: "\e913";
}

.i-heart::before {
  content: "\e914";
}

.i-down::before {
  content: "\e915";
}

.i-laptop::before {
  content: "\e916";
}

.i-link::before {
  content: "\e917";
}

.i-newspaper::before {
  content: "\e918";
}

.i-nost::before {
  content: "\e919";
}

.i-brief::before {
  content: "\e91a";
}

.i-right::before {
  content: "\e91b";
}

.i-plus::before {
  content: "\e91c";
}

.i-phone::before {
  content: "\e91d";
}

.i-play::before {
  content: "\e91e";
}

.i-left::before {
  content: "\e91f";
}

.i-repairing::before {
  content: "\e920";
}

.i-screwdriver::before {
  content: "\e921";
}

.i-search::before {
  content: "\e922";
}

.i-twitter::before {
  content: "\e923";
}

.i-television::before {
  content: "\e924";
}

.i-world::before {
  content: "\e925";
}

.i-r-plus::before {
  content: "\e926";
}

.i-rectangle::before {
  content: "\e927";
}

.i-right-menu::before {
  content: "\e928";
}

.i-plus-b::before {
  content: "\e929";
}

.i-o-left::before {
  content: "\e92a";
}
