.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.middle {
  align-items: center;
}

.ml-15 {
  margin-left: 15%;
}

.text-bold {
  font-weight: bold;
}

.form-group {
  display: flex;
  justify-content: flex-start;

  &.sm {
    width: 285px;

    input {
      font-size: 12px;
    }

    button {
      line-height: 0;

      i {
        font-size: 18px;
      }
    }
  }

  &.primary {
    input {
      border: 1px solid #c0b790;

      &::placeholder {
        color: #c0b790;
      }
    }

    button {
      background-color: #c0b790;
      font-size: 20px;
    }
  }

  input {
    flex-grow: 1;
    display: inline-block;
    padding: 10px 0 10px 22px;
    font-size: 20px;
    border: 1px solid #4b4545;

    &::placeholder {
      font-style: italic;
      color: #c9c9c9;
    }
  }

  button {
    background-color: #4b4545;
    border: 0;
    color: #fff;
    font-size: 28px;
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 26px;
      height: 27px;
    }
  }
}

.bg-secondary {
  background-color: #eee !important;
}

.d-none {
  display: none !important;
}
