$grid-gutter-width: 0;

$font-family-base: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$theme-colors: (
  "primary": #8b7736,
  "success": #3b6a3d,
  "secondary": #f8f8f8
);
$header-bg: #f8f8f8;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px
);
$selectric-main-color: #4b4545; // Color used in border
$selectric-text-color: #4b4545; // Color used in label
$selectric-bg-color: #f8f8f8; // Background color
$selectric-btn-bg-color: #f8f8f8; // Button background color
$selectric-height: 40px !default; // Outer height
$selectric-spacing: 10px !default; // Label left padding
$selectric-border-width: 0; // Outer border width
$selectric-border-radius: 0 !default; // Border radius
$selectric-font-size: 16px;

.container {
  @media (max-width: 575px) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.selectric-items {
  border: 0 !important;
  box-shadow: none !important;
}

.selectric {
  .label {
    font-weight: 700;
    line-height: 1 !important;
    height: auto !important;
    padding: 15px;
  }

  .button {
    &::after {
    }
  }
}
