body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

*::selection {
  background-color: #3ec1d3;
}

a {
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s linear;
  display: inline-block;
  color: blue;
}

ul {
  list-style: none;
}

ul li a:hover {
  transform: scale(1.5);
}
