<div class="body">
                    <div class="wrapper">
                        <ul class="body_items dl clearfix">
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/Layer 3.png" alt="">
                                    </a>

                                <div class="item_hover">
                                    <div class="item_top flexbox between">
                                        <div class="left-side">
                                            <div class="image">
                                                <img data-replace class="img-responsive" src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="">
                                            </div>
                                            <div class="controls flexbox between bottom">
                                                <div class="price">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <span>
                                                        500 &#8380;
                                                    </span>
                                                </div>
                                                    <!-- max shekil sayi 6 -->  
                                                <div class="image-container">
                                                        <div class="slickOne owl-carousel owl-theme">
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-22 at 01.101.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-side flexbox flex-col between">
                                            <div class="info">
                                                <div class="header">
                                                    Ashley moore
                                                </div>
                                                <div class="description">
                                                    <i> We will never have two similar bouquets. Now you choose not a bouquet, but mood, sensations, color gamma. The bouquet made for you will be only yours!</i>
                                                </div>
                                            </div>
                                            <div class="props">
                                                <table>
                                                    <tr>
                                                        <td class="key">ID</td>
                                                        <td class="value">493</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="key">Diameter</td>
                                                        <td class="value">60.0 cm</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="key">Ingredients</td>
                                                        <td class="value">pistachio, salal, pitosporum branch,Alstroemeria, rose, iris, peony, alchimela, Hortensia</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="controls flexbox between middle">
                                                <div class="address" data-propogate="true">
                                                    <button data-recipient class="continue">add recipient address</button>
                                                    <div class="recipient" data-me="3">
                                                        <div class="group">
                                                            <span>Recipient Name</span>
                                                            <input type="text" placeholder="Olivia Anderson">
                                                        </div>
                                                        <div class="group">
                                                            <span>Add recipient adress.</span>
                                                            <input type="text" placeholder="Caspian plaza.">
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div>
                                                                <span>find on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Choose From Map">
                                                                    <i class="map"></i>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <span>choose location on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Send Location">
                                                                    <i class="mappicker"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div class="l">
                                                                <span>from</span>
                                                                <input type="text" placeholder="Choose From Map">
                                                            </div>
                                                            <div class="r">
                                                                <span>unknown</span>
                                                                <input type="text">
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between bottom">
                                                            <div class="l">
                                                                <span>text for a gift card</span>
                                                                <textarea placeholder="What do you want to say to recipient..."></textarea>
                                                            </div>
                                                            <div class="r text-center">
                                                                <button class="btn approve">approve</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="date">
                                                    <input type="text" data-toggle="datepicker">
                                                    <button class="continue" data-pick='0'>pick a delivery date</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roof">
                                        <div class="roof_set flexbox between middle">
                                            <div class="quantity">
                                                Quantity: 
                                                <div class="num miny">
                                                    <button data-behaviour="minus" class="min">-</button>
                                                    <input class="num_result" type="text" value="0">
                                                    <button data-behaviour="plus" data-max="123" class="plus">+</button>
                                                </div>
                                            </div>
                                            <div class="price">
                                                Total: <span>500 &#8380;</span>
                                            </div>
                                        </div>
                                        <div class="roof_set flexbox between middle">
                                            <button class="btn">add to basket</button>
                                            <button class="continue">checkout</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="item_description">
                                    <a href="#" class="name_res">
                                        <span class="name">cal-organic</span>
                                        <span class="res">organic rainbow carrc</span>
                                    </a>
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <div>1lbs</div>
                                    <div class="clearfix"></div>
                                    <div class="price">
                                        <span>3.49</span> ₼
                                    </div>
                                    <div class="off">
                                        any 2 carrots for <span>6.00</span> ₼
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">add to basket</a>
                                    </div>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/Layer 3.png" alt="">
                                    </a>

                                <div class="item_hover">
                                    <div class="item_top flexbox between">
                                        <div class="left-side">
                                            <div class="image">
                                                <img data-replace class="img-responsive" src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="">
                                            </div>
                                            <div class="controls flexbox between bottom">
                                                <div class="price">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <span>
                                                        500 &#8380;
                                                    </span>
                                                </div>
                                                    <!-- max shekil sayi 6 -->  
                                                <div class="image-container">
                                                        <div class="slickOne owl-carousel owl-theme">
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-22 at 01.101.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-side flexbox flex-col between">
                                            <div class="info">
                                                <div class="header">
                                                    Ashley moore
                                                </div>
                                                <div class="description">
                                                    <i> We will never have two similar bouquets. Now you choose not a bouquet, but mood, sensations, color gamma. The bouquet made for you will be only yours!</i>
                                                </div>
                                            </div>
                                            <div class="props">
                                                <table>
                                                    <tr>
                                                        <td class="key">ID</td>
                                                        <td class="value">493</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="key">Diameter</td>
                                                        <td class="value">60.0 cm</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="key">Ingredients</td>
                                                        <td class="value">pistachio, salal, pitosporum branch,Alstroemeria, rose, iris, peony, alchimela, Hortensia</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="controls flexbox between middle">
                                                <div class="address" data-propogate="true">
                                                    <button data-recipient class="continue">add recipient address</button>
                                                    <div class="recipient" data-me="3">
                                                        <div class="group">
                                                            <span>Recipient Name</span>
                                                            <input type="text" placeholder="Olivia Anderson">
                                                        </div>
                                                        <div class="group">
                                                            <span>Add recipient adress.</span>
                                                            <input type="text" placeholder="Caspian plaza.">
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div>
                                                                <span>find on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Choose From Map">
                                                                    <i class="map"></i>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <span>choose location on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Send Location">
                                                                    <i class="mappicker"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div class="l">
                                                                <span>from</span>
                                                                <input type="text" placeholder="Choose From Map">
                                                            </div>
                                                            <div class="r">
                                                                <span>unknown</span>
                                                                <input type="text">
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between bottom">
                                                            <div class="l">
                                                                <span>text for a gift card</span>
                                                                <textarea placeholder="What do you want to say to recipient..."></textarea>
                                                            </div>
                                                            <div class="r text-center">
                                                                <button class="btn approve">approve</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="date">
                                                    <input type="text" data-toggle="datepicker">
                                                    <button class="continue" data-pick='1'>pick a delivery date</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roof">
                                        <div class="roof_set flexbox between middle">
                                            <div class="quantity">
                                                Quantity: 
                                                <div class="num miny">
                                                    <button data-behaviour="minus" class="min">-</button>
                                                    <input class="num_result" type="text" value="0">
                                                    <button data-behaviour="plus" data-max="123" class="plus">+</button>
                                                </div>
                                            </div>
                                            <div class="price">
                                                Total: <span>500 &#8380;</span>
                                            </div>
                                        </div>
                                        <div class="roof_set flexbox between middle">
                                            <button class="btn">add to basket</button>
                                            <button class="continue">checkout</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="item_description">
                                    <a href="#" class="name_res">
                                        <span class="name">cal-organic</span>
                                        <span class="res">organic rainbow carrc</span>
                                    </a>
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <div>1lbs</div>
                                    <div class="clearfix"></div>
                                    <div class="price">
                                        <span>3.49</span> ₼
                                    </div>
                                    <div class="off">
                                        any 2 carrots for <span>6.00</span> ₼
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">add to basket</a>
                                    </div>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/Layer 3.png" alt="">
                                    </a>

                                <div class="item_hover">
                                    <div class="item_top flexbox between">
                                        <div class="left-side">
                                            <div class="image">
                                                <img data-replace class="img-responsive" src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="">
                                            </div>
                                            <div class="controls flexbox between bottom">
                                                <div class="price">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <span>
                                                        500 &#8380;
                                                    </span>
                                                </div>
                                                    <!-- max shekil sayi 6 -->  
                                                <div class="image-container">
                                                        <div class="slickOne owl-carousel owl-theme">
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-22 at 01.101.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-side flexbox flex-col between">
                                            <div class="info">
                                                <div class="header">
                                                    Ashley moore
                                                </div>
                                                <div class="description">
                                                    <i> We will never have two similar bouquets. Now you choose not a bouquet, but mood, sensations, color gamma. The bouquet made for you will be only yours!</i>
                                                </div>
                                            </div>
                                            <div class="props">
                                                <table>
                                                    <tr>
                                                        <td class="key">ID</td>
                                                        <td class="value">493</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="key">Diameter</td>
                                                        <td class="value">60.0 cm</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="key">Ingredients</td>
                                                        <td class="value">pistachio, salal, pitosporum branch,Alstroemeria, rose, iris, peony, alchimela, Hortensia</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="controls flexbox between middle">
                                                <div class="address" data-propogate="true">
                                                    <button data-recipient class="continue">add recipient address</button>
                                                    <div class="recipient" data-me="3">
                                                        <div class="group">
                                                            <span>Recipient Name</span>
                                                            <input type="text" placeholder="Olivia Anderson">
                                                        </div>
                                                        <div class="group">
                                                            <span>Add recipient adress.</span>
                                                            <input type="text" placeholder="Caspian plaza.">
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div>
                                                                <span>find on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Choose From Map">
                                                                    <i class="map"></i>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <span>choose location on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Send Location">
                                                                    <i class="mappicker"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div class="l">
                                                                <span>from</span>
                                                                <input type="text" placeholder="Choose From Map">
                                                            </div>
                                                            <div class="r">
                                                                <span>unknown</span>
                                                                <input type="text">
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between bottom">
                                                            <div class="l">
                                                                <span>text for a gift card</span>
                                                                <textarea placeholder="What do you want to say to recipient..."></textarea>
                                                            </div>
                                                            <div class="r text-center">
                                                                <button class="btn approve">approve</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="date">
                                                    <input type="text" data-toggle="datepicker">
                                                    <button class="continue" data-pick='2'>pick a delivery date</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roof">
                                        <div class="roof_set flexbox between middle">
                                            <div class="quantity">
                                                Quantity: 
                                                <div class="num miny">
                                                    <button data-behaviour="minus" class="min">-</button>
                                                    <input class="num_result" type="text" value="0">
                                                    <button data-behaviour="plus" data-max="123" class="plus">+</button>
                                                </div>
                                            </div>
                                            <div class="price">
                                                Total: <span>500 &#8380;</span>
                                            </div>
                                        </div>
                                        <div class="roof_set flexbox between middle">
                                            <button class="btn">add to basket</button>
                                            <button class="continue">checkout</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="item_description">
                                    <a href="#" class="name_res">
                                        <span class="name">cal-organic</span>
                                        <span class="res">organic rainbow carrc</span>
                                    </a>
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <div>1lbs</div>
                                    <div class="clearfix"></div>
                                    <div class="price">
                                        <span>3.49</span> ₼
                                    </div>
                                    <div class="off">
                                        any 2 carrots for <span>6.00</span> ₼
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">add to basket</a>
                                    </div>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/Layer 3.png" alt="">
                                    </a>

                                <div class="item_hover">
                                    <div class="item_top flexbox between">
                                        <div class="left-side">
                                            <div class="image">
                                                <img data-replace class="img-responsive" src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="">
                                            </div>
                                            <div class="controls flexbox between bottom">
                                                <div class="price">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <span>
                                                        500 &#8380;
                                                    </span>
                                                </div>
                                                    <!-- max shekil sayi 6 -->  
                                                <div class="image-container">
                                                        <div class="slickOne owl-carousel owl-theme">
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-22 at 01.101.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-side flexbox flex-col between">
                                            <div class="info">
                                                <div class="header">
                                                    Ashley moore
                                                </div>
                                                <div class="description">
                                                    <i> We will never have two similar bouquets. Now you choose not a bouquet, but mood, sensations, color gamma. The bouquet made for you will be only yours!</i>
                                                </div>
                                            </div>
                                            <div class="props">
                                                <table>
                                                    <tr>
                                                        <td class="key">ID</td>
                                                        <td class="value">493</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="key">Diameter</td>
                                                        <td class="value">60.0 cm</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="key">Ingredients</td>
                                                        <td class="value">pistachio, salal, pitosporum branch,Alstroemeria, rose, iris, peony, alchimela, Hortensia</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="controls flexbox between middle">
                                                <div class="address" data-propogate="true">
                                                    <button data-recipient class="continue">add recipient address</button>
                                                    <div class="recipient" data-me="3">
                                                        <div class="group">
                                                            <span>Recipient Name</span>
                                                            <input type="text" placeholder="Olivia Anderson">
                                                        </div>
                                                        <div class="group">
                                                            <span>Add recipient adress.</span>
                                                            <input type="text" placeholder="Caspian plaza.">
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div>
                                                                <span>find on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Choose From Map">
                                                                    <i class="map"></i>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <span>choose location on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Send Location">
                                                                    <i class="mappicker"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div class="l">
                                                                <span>from</span>
                                                                <input type="text" placeholder="Choose From Map">
                                                            </div>
                                                            <div class="r">
                                                                <span>unknown</span>
                                                                <input type="text">
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between bottom">
                                                            <div class="l">
                                                                <span>text for a gift card</span>
                                                                <textarea placeholder="What do you want to say to recipient..."></textarea>
                                                            </div>
                                                            <div class="r text-center">
                                                                <button class="btn approve">approve</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="date">
                                                    <input type="text" data-toggle="datepicker">
                                                    <button class="continue" data-pick='3'>pick a delivery date</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roof">
                                        <div class="roof_set flexbox between middle">
                                            <div class="quantity">
                                                Quantity: 
                                                <div class="num miny">
                                                    <button data-behaviour="minus" class="min">-</button>
                                                    <input class="num_result" type="text" value="0">
                                                    <button data-behaviour="plus" data-max="123" class="plus">+</button>
                                                </div>
                                            </div>
                                            <div class="price">
                                                Total: <span>500 &#8380;</span>
                                            </div>
                                        </div>
                                        <div class="roof_set flexbox between middle">
                                            <button class="btn">add to basket</button>
                                            <button class="continue">checkout</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="item_description">
                                    <a href="#" class="name_res">
                                        <span class="name">cal-organic</span>
                                        <span class="res">organic rainbow carrc</span>
                                    </a>
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <div>1lbs</div>
                                    <div class="clearfix"></div>
                                    <div class="price">
                                        <span>3.49</span> ₼
                                    </div>
                                    <div class="off">
                                        any 2 carrots for <span>6.00</span> ₼
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">add to basket</a>
                                    </div>
                                </div>
                            </li>
                            <li class="body_item">
                                <div class="item_logo">
                                    <a href="#">
                                        <img src="images/content/Layer 3.png" alt="">
                                    </a>

                                <div class="item_hover">
                                    <div class="item_top flexbox between">
                                        <div class="left-side">
                                            <div class="image">
                                                <img data-replace class="img-responsive" src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="">
                                            </div>
                                            <div class="controls flexbox between bottom">
                                                <div class="price">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <span>
                                                        500 &#8380;
                                                    </span>
                                                </div>
                                                    <!-- max shekil sayi 6 -->  
                                                <div class="image-container">
                                                        <div class="slickOne owl-carousel owl-theme">
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-22 at 01.101.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="car-item">
                                                                    <a class="replace" href="#"><img src="./images/content/Screen Shot 2017-08-23 at 03.12.jpg" alt="" /></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-side flexbox flex-col between">
                                            <div class="info">
                                                <div class="header">
                                                    Ashley moore
                                                </div>
                                                <div class="description">
                                                    <i> We will never have two similar bouquets. Now you choose not a bouquet, but mood, sensations, color gamma. The bouquet made for you will be only yours!</i>
                                                </div>
                                            </div>
                                            <div class="props">
                                                <table>
                                                    <tr>
                                                        <td class="key">ID</td>
                                                        <td class="value">493</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="key">Diameter</td>
                                                        <td class="value">60.0 cm</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="key">Ingredients</td>
                                                        <td class="value">pistachio, salal, pitosporum branch,Alstroemeria, rose, iris, peony, alchimela, Hortensia</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="controls flexbox between middle">
                                                <div class="address" data-propogate="true">
                                                    <button data-recipient class="continue">add recipient address</button>
                                                    <div class="recipient" data-me="3">
                                                        <div class="group">
                                                            <span>Recipient Name</span>
                                                            <input type="text" placeholder="Olivia Anderson">
                                                        </div>
                                                        <div class="group">
                                                            <span>Add recipient adress.</span>
                                                            <input type="text" placeholder="Caspian plaza.">
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div>
                                                                <span>find on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Choose From Map">
                                                                    <i class="map"></i>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <span>choose location on map</span>
                                                                <div class="icongroup">
                                                                    <input type="text" placeholder="Send Location">
                                                                    <i class="mappicker"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between">
                                                            <div class="l">
                                                                <span>from</span>
                                                                <input type="text" placeholder="Choose From Map">
                                                            </div>
                                                            <div class="r">
                                                                <span>unknown</span>
                                                                <input type="text">
                                                            </div>
                                                        </div>
                                                        <div class="group flexbox between bottom">
                                                            <div class="l">
                                                                <span>text for a gift card</span>
                                                                <textarea placeholder="What do you want to say to recipient..."></textarea>
                                                            </div>
                                                            <div class="r text-center">
                                                                <button class="btn approve">approve</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="date">
                                                    <input type="text" data-toggle="datepicker">
                                                    <button class="continue" data-pick='4'>pick a delivery date</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roof">
                                        <div class="roof_set flexbox between middle">
                                            <div class="quantity">
                                                Quantity: 
                                                <div class="num miny">
                                                    <button data-behaviour="minus" class="min">-</button>
                                                    <input class="num_result" type="text" value="0">
                                                    <button data-behaviour="plus" data-max="123" class="plus">+</button>
                                                </div>
                                            </div>
                                            <div class="price">
                                                Total: <span>500 &#8380;</span>
                                            </div>
                                        </div>
                                        <div class="roof_set flexbox between middle">
                                            <button class="btn">add to basket</button>
                                            <button class="continue">checkout</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="item_description">
                                    <a href="#" class="name_res">
                                        <span class="name">cal-organic</span>
                                        <span class="res">organic rainbow carrc</span>
                                    </a>
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <div>1lbs</div>
                                    <div class="clearfix"></div>
                                    <div class="price">
                                        <span>3.49</span> ₼
                                    </div>
                                    <div class="off">
                                        any 2 carrots for <span>6.00</span> ₼
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">add to basket</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="sum">
                            <span>1</span> - <span>19</span> of <span>19</span>
                        </div>
                    </div>
                </div>