
        <section id="footer">
            <!--Footer-->
            <div class="contact">
                <div class="row flexbox flex-wrap">
                    <div class="col-md-5">
                        <div class="sub">
                            <span>subscribe</span>
                            <input placeholder="Email" type="text">
                            <button>subscribe</button>
                            <ul class="dl">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="links">
                            <div class="sub-right-top">
                                <ul class="dl">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Advertisement</a></li>
                                    <li><a href="#">Delivery & Payment</a></li>
                                    <li><a href="#">Navigation</a></li>
                                    <li><a href="#">Help Desk</a></li>
                                </ul>
                            </div>
                            <div class="sub-right-middle">
                                <ul class="dl">
                                    <li><a href="#">Supermarket</a></li>
                                    <li><a href="#">Bakery</a></li>
                                    <li><a href="#">Pharmacy</a></li>
                                    <li><a href="#">Flowers</a></li>
                                    <li><a href="#">Sale</a></li>
                                    <li><a href="#">Restaurants</a></li>
                                    <li><a href="#">Laundry</a></li>
                                </ul>
                            </div>
                            <div class="sub-right-bottom">
                                <ul class="dl">
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="description">
                    <div class="row flexbox flex-wrap">
                        <div class="col-md-5">
                            <a href="#">
                                <img src="images/logos/logo.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="container clearfix">
                        <div class="pull-left">
                            &copy; 2017 gogo. All Rights Reserved.
                        </div>
                        <div class="pull-right">
                            <ul class="dl">
                                <li><a href="#">Contact us / Terms and conditions</a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
