<div class="fresh_deals">
    <div class="deals_wrapper">
        <div class="overlay">
            <img src="images/Vector Smart Object copy 5.png" alt="">
        </div>
        <div class="title">
            <span>fresh deals</span>
        </div>
        <div class="mycar flexbox between">
            <div class="l">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div class="container">
                <div class="owl-carousel owl-theme" id="car1">
                    <div class="item">
                        <div class="body_item">
                            <div class="item_logo">
                                <a href="#">
                                    <img src="images/content/Layer 3.png" alt="">
                                </a>
                            </div>
                            <div class="item_description">
                                <a href="#" class="name_res">
                                    <span class="name">cal-organic</span>
                                    <span class="res">organic rainbow carrc</span>
                                </a>
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="price">
                                    <span>3.49</span> ₼
                                </div>
                                <div class="off">
                                    any 2 carrots for <span>6.00</span> ₼
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="body_item">
                            <div class="item_logo">
                                <a href="#">
                                    <img src="images/content/Layer 3.png" alt="">
                                </a>
                            </div>
                            <div class="item_description">
                                <a href="#" class="name_res">
                                    <span class="name">cal-organic</span>
                                    <span class="res">organic rainbow carrc</span>
                                </a>
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="price">
                                    <span>3.49</span> ₼
                                </div>
                                <div class="off">
                                    any 2 carrots for <span>6.00</span> ₼
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="body_item">
                            <div class="item_logo">
                                <a href="#">
                                    <img src="images/content/Layer 3.png" alt="">
                                </a>
                            </div>
                            <div class="item_description">
                                <a href="#" class="name_res">
                                    <span class="name">cal-organic</span>
                                    <span class="res">organic rainbow carrc</span>
                                </a>
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="price">
                                    <span>3.49</span> ₼
                                </div>
                                <div class="off">
                                    any 2 carrots for <span>6.00</span> ₼
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="body_item">
                            <div class="item_logo">
                                <a href="#">
                                    <img src="images/content/Layer 3.png" alt="">
                                </a>
                            </div>
                            <div class="item_description">
                                <a href="#" class="name_res">
                                    <span class="name">cal-organic</span>
                                    <span class="res">organic rainbow carrc</span>
                                </a>
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="price">
                                    <span>3.49</span> ₼
                                </div>
                                <div class="off">
                                    any 2 carrots for <span>6.00</span> ₼
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="body_item">
                            <div class="item_logo">
                                <a href="#">
                                    <img src="images/content/Layer 3.png" alt="">
                                </a>
                            </div>
                            <div class="item_description">
                                <a href="#" class="name_res">
                                    <span class="name">cal-organic</span>
                                    <span class="res">organic rainbow carrc</span>
                                </a>
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="price">
                                    <span>3.49</span> ₼
                                </div>
                                <div class="off">
                                    any 2 carrots for <span>6.00</span> ₼
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="body_item">
                            <div class="item_logo">
                                <a href="#">
                                    <img src="images/content/Layer 3.png" alt="">
                                </a>
                            </div>
                            <div class="item_description">
                                <a href="#" class="name_res">
                                    <span class="name">cal-organic</span>
                                    <span class="res">organic rainbow carrc</span>
                                </a>
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="price">
                                    <span>3.49</span> ₼
                                </div>
                                <div class="off">
                                    any 2 carrots for <span>6.00</span> ₼
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="body_item">
                            <div class="item_logo">
                                <a href="#">
                                    <img src="images/content/Layer 3.png" alt="">
                                </a>
                            </div>
                            <div class="item_description">
                                <a href="#" class="name_res">
                                    <span class="name">cal-organic</span>
                                    <span class="res">organic rainbow carrc</span>
                                </a>
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="price">
                                    <span>3.49</span> ₼
                                </div>
                                <div class="off">
                                    any 2 carrots for <span>6.00</span> ₼
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="r">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div>

    </div>
</div>