<section id="header">
    <!-- Header -->
    <div class="header">
        <div class="container">
            <div class="flexbox middle between flex-wrap">
                <div class="header_nav">
                    <ul>
                        <li><a href="#" {{aboutMenu | safe}}>About</a></li>
                        <li><a href="#" {{teamMenu | safe}}>Join our team / Partership</a></li>
                        <li><a href="#" {{deliveryMenu | safe}}>Delivery & Payment</a></li>
                        <li><a href="#" {{navMenu | safe}}>Navigation</a></li>
                        <li><a href="#" {{deskMenu | safe}}>Help Desk</a></li>
                        <li class="header_logo">
                            <a href="#">
                                <img src="images/logos/logoSmall.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header_controls" data-propogate="true">
                    <ul>
                        <li class="lang"><a href="#">en <i class="fa fa-chevron-down"></i></a></li>
                        <li class="currency"><a href="#">azn <i class="fa fa-chevron-down"></i></a></li>
                        <li class="account">
                            <a href="#">My account</a>

                        </li>
                        <li class="bag"><a href="#"><i class="bag_logo"></i> <span>254</span></a></li>
                    </ul>
                    <div class="inner">
                        <div class="account-dropdown" data-me="2">
                            <div class="title">your gogo</div>
                            <ul class="section">
                                <li><a href="#">your top items</a></li>
                                <li><a href="#">shop past orders</a></li>
                                <li><a href="#">shopping lists</a></li>
                                <li><a href="#">delivery info</a></li>
                                <li><a href="#">help</a></li>
                            </ul>
                            <hr>
                            <ul class="section">
                                <li><a href="#">account preferences</a></li>
                                <li><a href="#">delivery adresses</a></li>
                                <li><a href="#">payment methods</a></li>
                                <li><a href="#">order history</a></li>
                                <li><a href="#">store credits</a></li>
                                <li><a href="#">gift cards</a></li>
                            </ul>
                            <hr>
                            <div class="sign-out">
                                <div class="title">
                                    Not tural?
                                </div>
                                <a href="#" class="sign out">Sign out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search">
        <div class="container clearfix">
            <div class="col-md-10">
                <div class="search_bar">
                    <div class="bar_wrapper">
                        <input type="text">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="search_call">
                    <i class="call_logo"></i>
                    <a href="tel:879-57-23">879-57-23</a>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="container">
            <div class="col-md-10">
                <div class="menu_nav">
                    <ul>
                        <li><a href="#" {{superMarketMenu | safe}}>Supermarket</a></li>
                        <li><a href="#" {{flowerMenu | safe}}>Flowers</a></li>
                        <li><a href="#" {{ restarauntMenu | safe }}>Restaurant</a></li>
                        <li><a href="#" {{bakeryMenu | safe }}>Bakery</a></li>
                        <li><a href="#" {{laundryMenu | safe }}>Laundry</a></li>
                        <li><a href="#" class="red">Sale</a></li>
                        <li><a href="#" {{pharmacyMenu | safe }}>Pharmacy</a></li>
                        <li><a href="#" {{pickformeMenu | safe }}>Pick For Me</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="menu_logo">
                    <a href="#">
                        <img src="images/logos/logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>