<section id="sideControls">
    <div class="l" data-propogate="true">
        <div class="left">
            <a href="#" class="toggle_basket" data-inner="first">
                <i class="ico chat"></i> <span>Chat with me</span>
            </a>
        </div>

        <div class="inner first" data-inner="0" data-me="1">
            <div class="close"><i class="fa fa-close"></i></div>

            <div class="chat">
                <div class="messages">
                    <div class="message consultant">
                        <span class="who">
                            Consultant
                        </span>
                        <div class="message-content">
                            <span class="part">Hello Client!</span>
                            <span class="part">Please tell me how can i help you today?</span>
                        </div>
                    </div>
                    <div class="message">
                        <span class="who">
                            User
                        </span>
                        <div class="message-content">
                            <span class="part">Hello!</span>
                            <span class="part">Really nice support, thank you!</span>
                        </div>
                    </div>
                    <div class="message consultant">
                        <span class="who">
                            Consultant
                        </span>
                        <div class="message-content">
                            <span class="part">Hello Client!</span>
                            <span class="part">Please tell me how can i help you today?</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="controls">
                    <textarea tabindex="1" class="" placeholder="Ask me here..."></textarea>
                    <button>Send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="r" data-propogate="true">
        <div class="right">
            <a href="#" class="toggle_basket" data-inner="second">
                <i class="ico basket"></i> <span>My basket</span>
            </a>

        </div>
        <div class="inner second" data-me="1">
            <div class="close"><i class="fa fa-close"></i></div>
            <div class="items">
                <ul>
                    <li class="item flexbox between top clearfix">
                        <div class="logo">
                            <a href="#">
                                <img src="images/content/Layer 3.png" alt="">
                            </a>
                        </div>
                        <div class="item_description">
                            <a href="#" class="name">Cal-organic</a>
                            <a href="#" class="res">Organic Rainbow carrt</a>
                            <div class="clearfix"></div>
                            <ul class="rating">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <div class="clearfix"></div>
                            <div class="price">
                                <span>3.49</span> &#8380;
                            </div>
                        </div>
                    </li>
                    <li class="item flexbox between top clearfix">
                        <div class="logo">
                            <a href="#">
                                <img src="images/content/Layer 3.png" alt="">
                            </a>
                        </div>
                        <div class="item_description">
                            <a href="#" class="name">Cal-organic</a>
                            <a href="#" class="res">Organic Rainbow carrt</a>
                            <div class="clearfix"></div>
                            <ul class="rating">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <div class="clearfix"></div>
                            <div class="price">
                                <span>3.49</span> &#8380;
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sum">
                <div class="price">
                    Total: <span>7.98 &#8380;</span>
                </div>
                <button class="continue">checkout</button>
            </div>
        </div>

    </div>
</section>