{% extends "includes/base.njk" %} {% set page = { title: "All Articles" } %} {% block content %}
<div>
  <div class="breadcrumb">
    <div class="container">
      <div class="row between middle">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Level-II Landing Page</a></li>
          <li><a href="#">Level-III Landing Page</a></li>
          <li class="active"><a href="#">All Articles</a></li>
        </ul>
        {% include "includes/bread-crumb-form.njk" %}
      </div>
    </div>
  </div>
  <section class="home-l2 search">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="articles">
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
          </div>
          <a href="#" class="pagination mt-5">
            <div class="pagination--icon">
              <i class="i-o-right"></i>
            </div>
            <div class="pagination--desc">
              <p>next page</p>
              <span>2 of 15</span>
            </div>
          </a>
        </div>
        <div class="col-4">
          <div class="go-to">
            <h2>Go to</h2>
            <ul>
              <li>
                <a href="#">ELECTRONIC LETTER </a>
              </li>
              <li>
                <a href="#"
                  >ALL DEPARTMENTS
                  <i class="i-right"></i>
                </a>
              </li>
              <li>
                <a href="#">FAQ <i class="i-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block scripts %} {% endblock %}
