{% extends "includes/base.njk" %} {% set page = { title: "Contacts" } %} {% block content %}
<div>
  <div class="breadcrumb">
    <div class="container">
      <div class="row between middle">
        <ul>
          <li><a href="#">Home</a></li>
          <li class="active"><a href="#">Contact</a></li>
        </ul>
        {% include "includes/bread-crumb-form.njk" %}
      </div>
    </div>
  </div>
  <section class="home-l2 contacts">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h2 class="title">Key Contact Information</h2>
          <ul class="contact-list">
            <li>
              <div class="contact-list--key">ADDRESS</div>
              <div class="contact-list--value">AZ1008, Azerbaijan Republic, Baku, Khatai Avenue, 49</div>
            </li>
            <li>
              <div class="contact-list--key">TELEPHONE/FAX</div>
              <div class="contact-list--value">+994 (0) 12 599 11 55 +994 (0) 12 496 06 47</div>
            </li>
            <li>
              <div class="contact-list--key">HOTLINE</div>
              <div class="contact-list--value">146-1</div>
            </li>
            <li>
              <div class="contact-list--key">EMAIL</div>
              <div class="contact-list--value">office@edu.gov.az</div>
            </li>
            <li>
              <div class="contact-list--key">WORKING HOURS</div>
              <div class="contact-list--value">MONDAY-FRIDAY 9.00-18.00</div>
            </li>
          </ul>

          <div class="module">
            <div class="module--desc">
              <p>SEND US AN ELECTRONIC LETTER</p>
              <button class="btn btn-success btn-custom-2">SEND NOW<i class="i-right"></i></button>
            </div>
          </div>
          <div class="map-container">
            <img src="images/map.png" alt="" />
          </div>
          <h2 class="title mt-2">Visit Days</h2>
          <div class="row contacts--selects">
            <div class="col-6 contacts--select">
              <select data-selectric="visit-days">
                <option value="">---</option>
                <option data-day="Every Wednesday" data-when="16.00" data-where="Education Museum">DEPUTY MINISTERS</option>
                <option data-day="Every Saturday" data-when="12.00" data-where="Education">DEPUTY MINISTERS 2</option>
                <option data-day="Every Sunday" data-when="9.00" data-where="Education Ha">DEPUTY MINISTERS 3</option>
              </select>
              <p class="text mt-2">Choose one from the options above.</p>
            </div>
            <div class="col-6">
              <ul id="visit-days" class="contact-list">
                <li>
                  <div class="contact-list--key">DAY</div>
                  <span class="contact-list--day contact-list--value"></span>
                </li>
                <li>
                  <div class="contact-list--key">WHEN</div>
                  <span class="contact-list--when contact-list--value"></span>
                </li>
                <li>
                  <div class="contact-list--key">WHERE</div>
                  <span class="contact-list--where contact-list--value"></span>
                </li>
              </ul>
            </div>
          </div>
          <h2 class="title mt-2">Child Protection Hotline</h2>
          <ul class="contact-list">
            <li>
              <div class="contact-list--key">TELEPHONE/FAX</div>
              <div class="contact-list--value">
                +994 (0) 12 480 22 80 +994 (0) 50 680 22 80
              </div>
            </li>
            <li>
              <div class="contact-list--key">HOTLINE</div>
              <div class="contact-list--value">146-1</div>
            </li>
            <li>
              <div class="contact-list--key">EMAIL</div>
              <div class="contact-list--value">office@edu.gov.az</div>
            </li>
          </ul>
        </div>
        <div class="col-4">
          <div class="go-to">
            <h2>Go to</h2>
            <ul>
              <li>
                <a href="#">ELECTRONIC LETTER<i class="i-right"></i></a>
              </li>
              <li>
                <a href="#">ALL DEPARTMENTS<i class="i-right"></i></a>
              </li>
              <li>
                <a href="#">FAQ<i class="i-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block scripts %} {% endblock %}
