{% extends "includes/base.njk" %} {% set page = { title: "Home Ministry" } %} {% block content %}
<div>
  <div class="breadcrumb">
    <div class="container">
      <div class="row between middle">
        <ul>
          <li><a href="#">Home</a></li>
          <li class="active"><a href="#">Ministry</a></li>
        </ul>
        {% include "includes/bread-crumb-form.njk" %}
      </div>
    </div>
  </div>
  <section class="ministry-about">
    <div class="container">
      <div class="ministry-about--desc">
        <h2 class="title-prim">About the Ministry</h2>
        <p class="text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
          inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
          aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
          dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
          voluptatem. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
          voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
        </p>
        <button class="btn btn-custom-2 btn-secondary btn-sm">
          Landing page button
          <svg width="9" height="15" viewBox="0 0 9 15">
            <g>
              <g>
                <path
                  d="M0.53246,14.51068v0l6.6384,-6.63838v0l-6.6384,-6.6384v0"
                  fill-opacity="0"
                  fill="#ffffff"
                  stroke-dashoffset="0"
                  stroke-linejoin="miter"
                  stroke-linecap="butt"
                  stroke-opacity="1"
                  stroke="#4b4545"
                  stroke-miterlimit="50"
                  stroke-width="2"
                ></path>
              </g>
            </g>
          </svg>
        </button>
        <a class="btn btn-custom-2 btn-secondary btn-sm" href="#" download="">download button <span class="i-pdf"></span></a>
        <a class="btn btn-custom-2 btn-secondary btn-sm" href="#" download="">download button <span class="i-pdf"></span></a>
      </div>
    </div>
  </section>
  <div class="container mt-3">
    <h2 class="title-prim">Our Management</h2>
    <div class="ministry-management">
      <div class="ministry-management--item">
        <div class="row">
          <div class="col-auto">
            <img src="images/staff-1.png" alt="" />
          </div>
          <div class="col ministry-management--desc">
            <div class="ministry-management--title">JEYHUN AZIZ OGLU BAYRAMOV</div>
            <div class="ministry-management--position">Minister</div>
            <div class="ministry-management--links">
              <a href="#"
                >BIOGRAPHY
                <svg width="9" height="15" viewBox="0 0 9 15">
                  <g>
                    <g>
                      <path
                        d="M0.53246,14.51068v0l6.6384,-6.63838v0l-6.6384,-6.6384v0"
                        fill-opacity="0"
                        fill="#ffffff"
                        stroke-dashoffset="0"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                        stroke-opacity="1"
                        stroke="#4b4545"
                        stroke-miterlimit="50"
                        stroke-width="2"
                      ></path>
                    </g>
                  </g>
                </svg>
            </a>
              <a href="#"
                >INTERVIEW
                <svg width="9" height="15" viewBox="0 0 9 15">
                  <g>
                    <g>
                      <path
                        d="M0.53246,14.51068v0l6.6384,-6.63838v0l-6.6384,-6.6384v0"
                        fill-opacity="0"
                        fill="#ffffff"
                        stroke-dashoffset="0"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                        stroke-opacity="1"
                        stroke="#4b4545"
                        stroke-miterlimit="50"
                        stroke-width="2"
                      ></path>
                    </g>
                  </g>
                </svg>
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ministry-management--item">
        <div class="row">
          <div class="col-auto">
            <img src="images/staff-2.png" alt="" />
          </div>
          <div class="col ministry-management--desc">
            <div class="ministry-management--title">FIRUDIN ISA OGLU QURBANOV</div>
            <div class="ministry-management--position">Deputy Minister</div>
            <div class="ministry-management--links">
              <a href="#"
                >BIOGRAPHY
                <svg width="9" height="15" viewBox="0 0 9 15">
                  <g>
                    <g>
                      <path
                        d="M0.53246,14.51068v0l6.6384,-6.63838v0l-6.6384,-6.6384v0"
                        fill-opacity="0"
                        fill="#ffffff"
                        stroke-dashoffset="0"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                        stroke-opacity="1"
                        stroke="#4b4545"
                        stroke-miterlimit="50"
                        stroke-width="2"
                      ></path>
                    </g>
                  </g></svg>
            </a>
              <a href="#"
                >INTERVIEW
                <svg width="9" height="15" viewBox="0 0 9 15">
                  <g>
                    <g>
                      <path
                        d="M0.53246,14.51068v0l6.6384,-6.63838v0l-6.6384,-6.6384v0"
                        fill-opacity="0"
                        fill="#ffffff"
                        stroke-dashoffset="0"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                        stroke-opacity="1"
                        stroke="#4b4545"
                        stroke-miterlimit="50"
                        stroke-width="2"
                      ></path>
                    </g>
                  </g></svg>
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ministry-management--item">
        <div class="row">
          <div class="col-auto">
            <img src="images/staff-3.png" alt="" />
          </div>
          <div class="col ministry-management--desc">
            <div class="ministry-management--title">MAHABBAT MAHARRAM VALIYEVA</div>
            <div class="ministry-management--position">Deputy Minister</div>
            <div class="ministry-management--links">
              <a href="#"
                >BIOGRAPHY
                <svg width="9" height="15" viewBox="0 0 9 15">
                  <g>
                    <g>
                      <path
                        d="M0.53246,14.51068v0l6.6384,-6.63838v0l-6.6384,-6.6384v0"
                        fill-opacity="0"
                        fill="#ffffff"
                        stroke-dashoffset="0"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                        stroke-opacity="1"
                        stroke="#4b4545"
                        stroke-miterlimit="50"
                        stroke-width="2"
                      ></path>
                    </g>
                  </g></svg>
            </a>
              <a href="#"
                >INTERVIEW
                <svg width="9" height="15" viewBox="0 0 9 15">
                  <g>
                    <g>
                      <path
                        d="M0.53246,14.51068v0l6.6384,-6.63838v0l-6.6384,-6.6384v0"
                        fill-opacity="0"
                        fill="#ffffff"
                        stroke-dashoffset="0"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                        stroke-opacity="1"
                        stroke="#4b4545"
                        stroke-miterlimit="50"
                        stroke-width="2"
                      ></path>
                    </g>
                  </g></svg>
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ministry-management--item">
        <div class="row">
          <div class="col-auto">
            <img src="images/staff-4.png" alt="" />
          </div>
          <div class="col ministry-management--desc">
            <div class="ministry-management--title">IDRIS BALAKISHI OGLU ISAYEV</div>
            <div class="ministry-management--position">Deputy Minister</div>
            <div class="ministry-management--links">
              <a href="#"
                >BIOGRAPHY
                <svg width="9" height="15" viewBox="0 0 9 15">
                  <g>
                    <g>
                      <path
                        d="M0.53246,14.51068v0l6.6384,-6.63838v0l-6.6384,-6.6384v0"
                        fill-opacity="0"
                        fill="#ffffff"
                        stroke-dashoffset="0"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                        stroke-opacity="1"
                        stroke="#4b4545"
                        stroke-miterlimit="50"
                        stroke-width="2"
                      ></path>
                    </g>
                  </g></svg>
            </a>
              <a href="#"
                >INTERVIEW
                <svg width="9" height="15" viewBox="0 0 9 15">
                  <g>
                    <g>
                      <path
                        d="M0.53246,14.51068v0l6.6384,-6.63838v0l-6.6384,-6.6384v0"
                        fill-opacity="0"
                        fill="#ffffff"
                        stroke-dashoffset="0"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                        stroke-opacity="1"
                        stroke="#4b4545"
                        stroke-miterlimit="50"
                        stroke-width="2"
                      ></path>
                    </g>
                  </g></svg>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="title-prim mt-3">Provisions</h2>
    <p class="text">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur.
    </p>
    <div class="mt-2 mb-5">
      <button class="btn btn-custom-2 btn-secondary btn-sm">
        Landing page button
        <svg width="9" height="15" viewBox="0 0 9 15">
          <g>
            <g>
              <path
                d="M0.53246,14.51068v0l6.6384,-6.63838v0l-6.6384,-6.6384v0"
                fill-opacity="0"
                fill="#ffffff"
                stroke-dashoffset="0"
                stroke-linejoin="miter"
                stroke-linecap="butt"
                stroke-opacity="1"
                stroke="#4b4545"
                stroke-miterlimit="50"
                stroke-width="2"
              ></path>
            </g>
          </g>
        </svg>
      </button>
      <a class="btn btn-custom-2 btn-secondary btn-sm" href="#" download="">download button <span class="i-pdf"></span></a>
      <a class="btn btn-custom-2 btn-secondary btn-sm" href="#" download="">download button <span class="i-pdf"></span></a>
    </div>
  </div>
  <section class="bg-girl home-testomonials with-title">
    <div class="container">
      <h2 class="home-testomonials--title">Organisations</h2>
      <div class="row between">
        <div class="home-testomonials--item">
          <a href="#">
            <div class="icon">
                <svg width="25" height="25" viewBox="0 0 25 25">
                    <defs>
                      <clipPath id="clip-path">
                        <rect id="Rectangle_82" data-name="Rectangle 82" width="25" height="25" transform="translate(160 2320)" fill="#4b4545"/>
                      </clipPath>
                    </defs>
                    <g id="Mask_Group_1" data-name="Mask Group 1" transform="translate(-160 -2320)" clip-path="url(#clip-path)">
                      <g id="capitol-building" transform="translate(160 2320)">
                        <g id="Group_314" data-name="Group 314">
                          <path id="Path_306" data-name="Path 306" d="M5.92,9.869H19.079a.548.548,0,1,0,0-1.1h-.028A6.573,6.573,0,0,0,13.6,2.84V2.056h-.96V.137a.137.137,0,1,0-.274,0V2.056H11.4V2.84A6.575,6.575,0,0,0,5.948,8.773H5.92a.548.548,0,0,0,0,1.1Z" fill="#4b4545"/>
                          <path id="Path_307" data-name="Path 307" d="M21.821,23.63h-.685V17.324h.685a.685.685,0,1,0,0-1.371H3.179a.685.685,0,1,0,0,1.371h.685V23.63H3.179a.685.685,0,1,0,0,1.37H21.821a.685.685,0,1,0,0-1.37Zm-2.6,0H18.065V17.324h1.151Zm-7.292-6.306h1.151V23.63H11.924ZM10.005,23.63H8.854V17.324h1.152ZM15,17.324h1.151V23.63H15Zm-9.212,0H6.934V23.63H5.783Z" fill="#4b4545"/>
                          <path id="Path_308" data-name="Path 308" d="M5.1,12.2h.691c0,.01-.006.02-.006.027v2.959H7.154V12.227c0-.01-.005-.02-.005-.027H7.8c0,.01-.005.02-.005.027v2.959h1.37V12.227c0-.01-.005-.02-.005-.027h.651c0,.01-.005.02-.005.027v2.959h1.371V12.227c0-.01-.006-.02-.006-.027h.651c0,.01-.006.02-.006.027v2.959h1.371V12.227c0-.01-.006-.02-.006-.027h.651c0,.01-.006.02-.006.027v2.959H15.2V12.227c0-.01-.005-.02-.005-.027h.651c0,.01-.006.02-.006.027v2.959H17.21V12.227c0-.01-.006-.02-.006-.027h.651c0,.01-.005.02-.005.027v2.959h1.371V12.227c0-.01-.006-.02-.006-.027h.691a.685.685,0,0,0,0-1.371H5.1a.685.685,0,0,0,0,1.371Z" fill="#4b4545"/>
                        </g>
                      </g>
                    </g>
                  </svg>
            </div>

            <div class="home-testomonials--desc">
              <h4>SERVICES DIRECTORY</h4>
              <p>Access to personalised eServices, documents, information and resources</p>
            </div>
            <div class="home-testomonials--arrow">
              <svg width="12" height="20" viewBox="0 0 12 20"><g><g><path class="icon-right" d="M0.68712,19.09756v0l9.25195,-9.25191v0l-9.25195,-9.25195v0" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#4b4545" stroke-miterlimit="50" stroke-width="2"></path></g></g></svg>
            </div>
          </a>
        </div>

        <div class="home-testomonials--item">
          <a href="#">
            <div class="icon">
                <svg width="25" height="25" viewBox="0 0 25 25">
                  <defs>
                    <clipPath id="clip-path">
                      <rect id="Rectangle_82" data-name="Rectangle 82" width="25" height="25" transform="translate(160 2320)" fill="#4b4545"/>
                    </clipPath>
                  </defs>
                  <g id="Mask_Group_3" data-name="Mask Group 3" transform="translate(-160 -2320)" clip-path="url(#clip-path)">
                    <g id="city-hall-silhouette" transform="translate(160 2320)">
                      <g id="Group_316" data-name="Group 316">
                        <path id="Path_310" data-name="Path 310" d="M3.887,10.823H5.716V22.51H8.46V12.5h2.693V22.51H13.9V12.5H16.59V22.51h2.744V10.823h1.778a.949.949,0,0,0,.661-.229.751.751,0,0,0,.254-.584.778.778,0,0,0-.356-.661V9.3h-.051L12.983,4.827V3.506a4.131,4.131,0,0,0,2.312.1,5.277,5.277,0,0,1,2.668.152V.864A5.218,5.218,0,0,0,15.295.711a4.075,4.075,0,0,1-2.312-.1v-.2q0-.406-.457-.407t-.457.407V4.827L3.43,9.3H3.379V9.35a.757.757,0,0,0-.407.661.722.722,0,0,0,.279.584A.976.976,0,0,0,3.887,10.823Z" fill="#4b4545"/>
                        <path id="Path_311" data-name="Path 311" d="M4.8,23.323,2.973,25H22.027l-1.778-1.677Z" fill="#4b4545"/>
                      </g>
                    </g>
                  </g>
                </svg>

            </div>
            <div class="home-testomonials--desc">
              <h4>JOIN THE MINISTRY</h4>
              <p>Careers in schools, institutions, universities and project jobs</p>
            </div>
            <div class="home-testomonials--arrow">
              <svg width="12" height="20" viewBox="0 0 12 20"><g><g><path class="icon-right" d="M0.68712,19.09756v0l9.25195,-9.25191v0l-9.25195,-9.25195v0" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#4b4545" stroke-miterlimit="50" stroke-width="2"></path></g></g></svg>
            </div>
          </a>
        </div>

        <div class="home-testomonials--item">
          <a href="#">
            <div class="icon">
                <svg width="25" height="25" viewBox="0 0 25 25">
                  <defs>
                    <clipPath id="clip-path">
                      <rect id="Rectangle_82" data-name="Rectangle 82" width="25" height="25" transform="translate(160 2320)" fill="#4b4545"/>
                    </clipPath>
                  </defs>
                  <g id="Mask_Group_4" data-name="Mask Group 4" transform="translate(-160 -2320)" clip-path="url(#clip-path)">
                    <g id="screwdriver-and-wrench-crossed" transform="translate(160 2320)">
                      <g id="Group_319" data-name="Group 319">
                        <g id="Group_318" data-name="Group 318">
                          <g id="Group_317" data-name="Group 317">
                            <path id="Path_312" data-name="Path 312" d="M.686,21A2.341,2.341,0,0,0,4,24.313l7.687-7.688L8.373,13.316Z" fill="#4b4545"/>
                            <path id="Path_313" data-name="Path 313" d="M19.9,6.756l3.348-1.731L25,1.636,23.364,0,19.977,1.756,18.243,5.1,14.171,9.178l1.651,1.654Z" fill="#4b4545"/>
                            <path id="Path_314" data-name="Path 314" d="M20.631,15.641l-.315-.031a4.644,4.644,0,0,0-1.619.3L9.088,6.3a4.644,4.644,0,0,0,.3-1.619l-.031-.315A4.636,4.636,0,0,0,2.7.47L5.813,3.581a1.527,1.527,0,0,1,.351.562A1.56,1.56,0,0,1,3.606,5.786L.5,2.677a4.636,4.636,0,0,0,3.9,6.658l.315.031a4.68,4.68,0,0,0,1.619-.3l9.608,9.61a4.715,4.715,0,0,0-.3,1.619l.033.315a4.664,4.664,0,0,0,4.65,4.367,4.584,4.584,0,0,0,2.007-.468L19.214,21.4a1.594,1.594,0,0,1-.354-.56,1.556,1.556,0,0,1,1.458-2.1,1.535,1.535,0,0,1,.543.106,1.5,1.5,0,0,1,.56.351L24.532,22.3A4.617,4.617,0,0,0,25,20.292,4.671,4.671,0,0,0,20.631,15.641Z" fill="#4b4545"/>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>

            </div>
            <div class="home-testomonials--desc">
              <h4>ADMISSIONS</h4>
              <p>To schools, universities, post-graduate institutions and internships</p>
            </div>
            <div class="home-testomonials--arrow">
              <svg width="12" height="20" viewBox="0 0 12 20"><g><g><path class="icon-right" d="M0.68712,19.09756v0l9.25195,-9.25191v0l-9.25195,-9.25195v0" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#4b4545" stroke-miterlimit="50" stroke-width="2"></path></g></g></svg>
            </div>
          </a>
        </div>

        <div class="home-testomonials--item">
          <a href="#">
              <div class="icon">
                  <svg width="25" height="25" viewBox="0 0 25 25">
                    <defs>
                      <clipPath id="clip-path2">
                        <rect data-name="Rectangle 83" width="25" height="25" transform="translate(160 2494)" fill="#4b4545"/>
                      </clipPath>
                    </defs>
                    <g id="Mask_Group_2" data-name="Mask Group 2" transform="translate(-160 -2494)" clip-path="url(#clip-path2)">
                      <g id="television" transform="translate(160 2494)">
                        <g id="Group_315" data-name="Group 315">
                          <path id="Path_309" data-name="Path 309" d="M23.186,6.082H15.458l2.744-4.5A.828.828,0,0,0,16.788.717L13.519,6.082H11.481L8.212.717A.828.828,0,1,0,6.8,1.579l2.744,4.5H1.814A1.816,1.816,0,0,0,0,7.9V22.866A1.816,1.816,0,0,0,1.814,24.68H23.186A1.816,1.816,0,0,0,25,22.866V7.9A1.816,1.816,0,0,0,23.186,6.082ZM17.532,20.69a.986.986,0,0,1-.986.986H3.929a.986.986,0,0,1-.986-.986V10.071a.986.986,0,0,1,.986-.986H16.546a.986.986,0,0,1,.986.986Zm3.649-.315a1.711,1.711,0,1,1,1.711-1.711A1.713,1.713,0,0,1,21.181,20.375Zm0-6.567A1.711,1.711,0,1,1,22.891,12.1,1.713,1.713,0,0,1,21.181,13.808Z" fill="#4b4545"/>
                        </g>
                      </g>
                    </g>
                  </svg>


              </div>
            <div class="home-testomonials--desc">
              <h4>EDUCATION ABROAD</h4>
              <p>Our joint education programs with international partners</p>
            </div>
            <div class="home-testomonials--arrow">
              <svg width="12" height="20" viewBox="0 0 12 20"><g><g><path class="icon-right" d="M0.68712,19.09756v0l9.25195,-9.25191v0l-9.25195,-9.25195v0" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#4b4545" stroke-miterlimit="50" stroke-width="2"></path></g></g></svg>
            </div>
          </a>
        </div>

        <div class="home-testomonials--item">
          <a href="#">
            <div class="icon">
                <svg width="25" height="25" viewBox="0 0 25 25">
                  <defs>
                    <clipPath id="clip-path3">
                      <rect id="Rectangle_83" data-name="Rectangle 83" width="25" height="25" transform="translate(160 2494)" fill="#4b4545"/>
                    </clipPath>
                  </defs>
                  <g id="Mask_Group_5" data-name="Mask Group 5" transform="translate(-160 -2494)" clip-path="url(#clip-path3)">
                    <g id="newspaper" transform="translate(160 2494)">
                      <g id="Group_320" data-name="Group 320">
                        <path id="Path_315" data-name="Path 315" d="M24.107,6.25H19.643V.893A.893.893,0,0,0,18.75,0H.893A.893.893,0,0,0,0,.893V21.429A3.571,3.571,0,0,0,3.571,25H21.429A3.571,3.571,0,0,0,25,21.429V7.143A.893.893,0,0,0,24.107,6.25ZM7.143,4.464H12.5a.893.893,0,0,1,0,1.786H7.143a.893.893,0,1,1,0-1.786Zm8.036,16.964H4.464a.893.893,0,1,1,0-1.786H15.179a.893.893,0,1,1,0,1.786Zm0-3.571H4.464a.893.893,0,1,1,0-1.786H15.179a.893.893,0,1,1,0,1.786Zm0-3.571H4.464a.893.893,0,1,1,0-1.786H15.179a.893.893,0,1,1,0,1.786Zm0-3.571H4.464a.893.893,0,1,1,0-1.786H15.179a.893.893,0,0,1,0,1.786Zm8.036,10.714a1.786,1.786,0,1,1-3.571,0V8.036h3.571V21.429Z" fill="#4b4545"/>
                      </g>
                    </g>
                  </g>
                </svg>

            </div>
            <div class="home-testomonials--desc">
              <h4>NOSTRIFICATION</h4>
              <p>Accreditation, how to submit documents, and more</p>
            </div>
            <div class="home-testomonials--arrow">
              <svg width="12" height="20" viewBox="0 0 12 20"><g><g><path class="icon-right" d="M0.68712,19.09756v0l9.25195,-9.25191v0l-9.25195,-9.25195v0" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#4b4545" stroke-miterlimit="50" stroke-width="2"></path></g></g></svg>
            </div>
          </a>
        </div>

        <div class="home-testomonials--item">
          <a href="#">
            <div class="icon">
                <svg  width="25" height="25" viewBox="0 0 25 25">
                  <defs>
                    <clipPath id="clip-path4">
                      <rect id="Rectangle_83" data-name="Rectangle 83" width="25" height="25" transform="translate(160 2494)" fill="#4b4545"/>
                    </clipPath>
                  </defs>
                  <g id="Mask_Group_6" data-name="Mask Group 6" transform="translate(-160 -2494)" clip-path="url(#clip-path4)">
                    <g id="laptop" transform="translate(160 2494)">
                      <g id="Group_321" data-name="Group 321">
                        <path id="Path_316" data-name="Path 316" d="M24.969,18.294a.127.127,0,0,0-.1-.044H.127A.127.127,0,0,0,0,18.4,3.008,3.008,0,0,0,3.275,20.71h18.45A3.009,3.009,0,0,0,25,18.4.129.129,0,0,0,24.969,18.294ZM14.361,19.907H10.639v-.856h3.722Z" fill="#4b4545"/>
                        <path id="Path_317" data-name="Path 317" d="M2.7,17.359H22.3a.514.514,0,0,0,.513-.513V4.8A.514.514,0,0,0,22.3,4.29H2.7a.514.514,0,0,0-.513.513V16.845A.514.514,0,0,0,2.7,17.359ZM3.981,6.087H21.019v9.474H3.981V6.087Z" fill="#4b4545"/>
                      </g>
                    </g>
                  </g>
                </svg>

            </div>
            <div class="home-testomonials--desc">
              <h4>REACH OUT</h4>
              <p>Send us a request or arrange a visit to the Ministry to ask us anything</p>
            </div>
            <div class="home-testomonials--arrow">
              <svg width="12" height="20" viewBox="0 0 12 20"><g><g><path class="icon-right" d="M0.68712,19.09756v0l9.25195,-9.25191v0l-9.25195,-9.25195v0" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#4b4545" stroke-miterlimit="50" stroke-width="2"></path></g></g></svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="home-resources">
    <div class="container">
      <h2 class="home-resources--title">More Resources</h2>

      <div class="resources">
        <div class="resource">
          <a href="#">
            <p>PRESIDENT OF AZERBAIJAN</p>
            <span>PRESIDENT.AZ</span>
          </a>
        </div>

        <div class="resource">
          <a href="#">
            <p>HEYDAR ALIYEV FOUNDATION</p>
            <span>HEYDAR-ALIYEV-FOUNDATION.ORG</span>
          </a>
        </div>

        <div class="resource">
          <a href="#">
            <p>HEYDAR ALIYEV CENTRE</p>
            <span>HEYDARALIYEVCENTER.AZ</span>
          </a>
        </div>

        <div class="resource">
          <a href="#">
            <p>NAGORNO KARABAKH</p>
            <span>VIRTUALKARABAKH.AZ</span>
          </a>
        </div>

        <div class="resource">
          <a href="#">
            <p>eSERVICES</p>
            <span>EDUCATION-ONLINE.AZ</span>
          </a>
        </div>

        <div class="resource">
          <a href="#">
            <p>UFAZ</p>
            <span>UFAZ.AZ</span>
          </a>
        </div>
      </div>

      <button class="btn btn-outline-primary btn-custom">
        All external resources
        <svg width="12" height="20" viewBox="0 0 12 20">
          <g>
            <g>
              <path
                d="M0.68712,19.09756v0l9.25195,-9.25191v0l-9.25195,-9.25195v0"
                fill-opacity="0"
                fill="#ffffff"
                stroke-dashoffset="0"
                stroke-linejoin="miter"
                stroke-linecap="butt"
                stroke-opacity="1"
                stroke="#8b7736"
                stroke-miterlimit="50"
                stroke-width="2"
              ></path>
            </g>
          </g>
        </svg>
      </button>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
