{% extends "includes/base.njk" %} {% set page = { title: "Home Faq" } %} {% block content %}
<div>
  <div class="breadcrumb">
    <div class="container">
      <div class="row between middle">
        <ul>
          <li><a href="#">Home</a></li>
          <li class="active"><a href="#">FAQ</a></li>
        </ul>
        {% include "includes/bread-crumb-form.njk" %}
      </div>
    </div>
  </div>
  <section class="home-l2 search">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="articles d-none" data-target="1">
            <div class="article">
              <h2>Article Title 1</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
          </div>
          <div class="articles d-none" data-target="2">
            <div class="article">
              <h2>Article Title 2</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
          </div>
          <div class="articles d-none" data-target="3">
            <div class="article">
              <h2>Article Title 3</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
          </div>
          <div class="articles d-none" data-target="4">
            <div class="article">
              <h2>Article Title 4</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
          </div>
          <div class="articles d-none" data-target="5">
            <div class="article">
              <h2>Article Title 5</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="go-to--news">
            <h2>Go to</h2>
            <ul>
              <li>
                <select data-select-faq>
                  <option value="1">CHOOSE CATEGORY</option>
                  <option value="2">CHOOSE CATEGORY 2</option>
                  <option value="3">CHOOSE CATEGORY 3</option>
                  <option value="4">CHOOSE CATEGORY 4</option>
                  <option value="5">CHOOSE CATEGORY 5</option>
                </select>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block scripts %} {% endblock %}
