{% extends "includes/base.njk" %} {% set page = { title: "Home Services" } %} {% block content %}
<div class="home-services">
  <div class="breadcrumb">
    <div class="container">
      <div class="row between middle">
        <ul>
          <li><a href="#">Home</a></li>
          <li class="active"><a href="#">Services</a></li>
        </ul>
        {% include "includes/bread-crumb-form.njk" %}
      </div>
    </div>
  </div>
  <section class="bg-book home-testomonials with-title">
    <div class="container">
      <h2 class="home-testomonials--title">Key Services</h2>
      <div class="row between">
        <div class="home-testomonials--item">
          <a href="#">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                <g id="user-3" transform="translate(-0.001)">
                  <g id="Group_35" data-name="Group 35" transform="translate(0.001)">
                    <path
                      id="Path_227"
                      data-name="Path 227"
                      d="M12.5,0A12.5,12.5,0,1,0,25,12.5,12.5,12.5,0,0,0,12.5,0Zm.038,18.4H7.123c0-3.9,3.429-3.9,4.19-4.925l.087-.466A3.732,3.732,0,0,1,9.577,9.631c0-2.013,1.309-3.645,2.924-3.645s2.924,1.632,2.924,3.645a3.745,3.745,0,0,1-1.8,3.363l.1.529c.835.972,4.15,1.035,4.15,4.874Z"
                      transform="translate(-0.001)"
                      fill="#4b4545"
                    ></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="home-testomonials--desc">
              <h4>SERVICES DIRECTORY</h4>
              <p>Access to personalised eServices, documents, information and resources</p>
            </div>
            <div class="home-testomonials--arrow">
              <i class="i-right"></i>
            </div>
          </a>
        </div>

        <div class="home-testomonials--item">
          <a href="#">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24.709" height="20.473" viewBox="0 0 24.709 20.473">
                <g id="old-fashion-briefcase" transform="translate(0.001 -4.509)">
                  <g id="Group_46" data-name="Group 46" transform="translate(-0.001 4.509)">
                    <g id="Group_45" data-name="Group 45">
                      <path
                        id="Path_231"
                        data-name="Path 231"
                        d="M25.127,28V27.44a1.234,1.234,0,0,0-2.467,0V28a1.234,1.234,0,0,0,2.467,0Z"
                        transform="translate(-11.539 -15.447)"
                        fill="#4b4545"
                      ></path>
                      <path
                        id="Path_232"
                        data-name="Path 232"
                        d="M14.9,30.809a2.117,2.117,0,0,1-4.081,0H2.48a3.358,3.358,0,0,1-1.47-.341V36.11a1.99,1.99,0,0,0,1.965,2H22.741a1.99,1.99,0,0,0,1.965-2V30.469a3.358,3.358,0,0,1-1.469.341Z"
                        transform="translate(-0.504 -17.64)"
                        fill="#4b4545"
                      ></path>
                      <path
                        id="Path_233"
                        data-name="Path 233"
                        d="M22.658,7.718H17.937a3.767,3.767,0,0,0-3.692-3.209H10.461A3.768,3.768,0,0,0,6.769,7.718H2.048A2.032,2.032,0,0,0,0,9.721v4.623a1.986,1.986,0,0,0,1.967,2h8.252a2.193,2.193,0,0,1,.655-1.469c.012-.011.026-.021.038-.032a2.167,2.167,0,0,1,.27-.22c.034-.024.074-.04.11-.061a2.089,2.089,0,0,1,.244-.131,2.114,2.114,0,0,1,.211-.067c.061-.019.119-.043.182-.056a2.092,2.092,0,0,1,.425-.044,2.115,2.115,0,0,1,.424.044c.063.013.121.038.183.056a2.069,2.069,0,0,1,.211.067,2.113,2.113,0,0,1,.243.131c.036.022.075.038.111.061a2.115,2.115,0,0,1,.27.219c.012.012.028.021.038.033a2.19,2.19,0,0,1,.655,1.469h8.252a1.985,1.985,0,0,0,1.967-2V9.722A2.033,2.033,0,0,0,22.658,7.718Zm-13.995,0a1.9,1.9,0,0,1,1.8-1.334h3.784a1.9,1.9,0,0,1,1.8,1.334Z"
                        transform="translate(0.001 -4.509)"
                        fill="#4b4545"
                      ></path>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div class="home-testomonials--desc">
              <h4>JOIN THE MINISTRY</h4>
              <p>Careers in schools, institutions, universities and project jobs</p>
            </div>
            <div class="home-testomonials--arrow">
              <i class="i-right"></i>
            </div>
          </a>
        </div>

        <div class="home-testomonials--item">
          <a href="#">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                <path
                  id="checked"
                  d="M12.5,0A12.5,12.5,0,1,0,25,12.5,12.464,12.464,0,0,0,12.5,0Zm7.216,8.58h0l-9.091,9.432a.516.516,0,0,1-.4.17.442.442,0,0,1-.4-.17L5.4,13.239l-.114-.114a.549.549,0,0,1,0-.8l.8-.8a.549.549,0,0,1,.8,0l.057.057,3.125,3.352a.275.275,0,0,0,.4,0l7.614-7.9h.057a.549.549,0,0,1,.8,0l.8.8a.484.484,0,0,1,0,.739Z"
                  fill="#4b4545"
                ></path>
              </svg>
            </div>
            <div class="home-testomonials--desc">
              <h4>ADMISSIONS</h4>
              <p>To schools, universities, post-graduate institutions and internships</p>
            </div>
            <div class="home-testomonials--arrow">
              <i class="i-right"></i>
            </div>
          </a>
        </div>

        <div class="home-testomonials--item">
          <a href="#">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.473" height="23.473" viewBox="0 0 23.473 23.473">
                <g id="earth-globe" transform="translate(1471.997 -231)">
                  <g id="Group_44" data-name="Group 44" transform="translate(-1471.997 231)">
                    <g id="Group_43" data-name="Group 43" transform="translate(0 0)">
                      <path
                        id="Path_229"
                        data-name="Path 229"
                        d="M85.233,85.826c.131.519-1.305.354-1.656.84s-1.209.159-1.408.066-.961.218-.894-.311.53-.56,1.027-.778,1.213-.941.861-1.035a3.462,3.462,0,0,1-2.223-2c-.1-.019-.074-1.1-.5-1.132a5.908,5.908,0,0,1-1.292,0c-.629-.124-.5-.529-.6-1.4s.265-.591.462-.871a.536.536,0,0,1,.062-.068A5.87,5.87,0,0,0,75.1,84.68s0,.008,0,.012c.428.028,1.208.118,1.245.412.051.406,0,.913.355,1.065s.457-.609.761-.406,1.116.4,1.116.757-.152.917,0,1.018a4.038,4.038,0,0,1,.761.913c0,.1.214.618.151.815a2.784,2.784,0,0,1-.579.9,5.857,5.857,0,0,0,7.27-8.149,4.1,4.1,0,0,0,.143,1.317C86.9,84.115,84.935,84.65,85.233,85.826Z"
                        transform="translate(-69.227 -72.943)"
                        fill="#4b4545"
                      ></path>
                      <path
                        id="Path_230"
                        data-name="Path 230"
                        d="M11.739,0A11.737,11.737,0,1,0,23.476,11.736,11.736,11.736,0,0,0,11.739,0Zm0,18.815a7.078,7.078,0,1,1,7.078-7.078A7.086,7.086,0,0,1,11.739,18.815Z"
                        transform="translate(-0.003)"
                        fill="#4b4545"
                      ></path>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div class="home-testomonials--desc">
              <h4>EDUCATION ABROAD</h4>
              <p>Our joint education programs with international partners</p>
            </div>
            <div class="home-testomonials--arrow">
              <i class="i-right"></i>
            </div>
          </a>
        </div>

        <div class="home-testomonials--item">
          <a href="#">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="18.708" height="28.385" viewBox="0 0 18.708 28.385">
                <g id="rubber-stamp" transform="translate(-8.011)">
                  <g id="Layer_1_158_" transform="translate(8.011)">
                    <g id="Group_47" data-name="Group 47">
                      <path
                        id="Path_234"
                        data-name="Path 234"
                        d="M20.267,16.371V15.035c.582-.262.969-.641.969-1.166a.979.979,0,0,0-.151-.517.977.977,0,0,0,.151-.517,1.038,1.038,0,0,0-.339-.759A6.473,6.473,0,0,0,24.139,6.52,6.66,6.66,0,0,0,17.364,0a6.658,6.658,0,0,0-6.773,6.521,6.473,6.473,0,0,0,3.243,5.555,1.035,1.035,0,0,0-.34.759.977.977,0,0,0,.151.517.979.979,0,0,0-.151.517c0,.526.387.9.968,1.167v1.334c-5.438.743-6.451,3.528-6.451,4.162V22.4A1.267,1.267,0,0,0,9.3,23.638H25.429A1.267,1.267,0,0,0,26.719,22.4V20.533C26.718,19.9,25.693,17.115,20.267,16.371Zm-2.9-13.887A4.122,4.122,0,0,1,21.557,6.52a4.2,4.2,0,0,1-8.386,0A4.122,4.122,0,0,1,17.364,2.484Z"
                        transform="translate(-8.011)"
                        fill="#4b4545"
                      ></path>
                      <path
                        id="Path_235"
                        data-name="Path 235"
                        d="M24.794,42.729H10.607a1.644,1.644,0,0,0,0,3.2H24.794a1.644,1.644,0,0,0,0-3.2Z"
                        transform="translate(-8.347 -17.542)"
                        fill="#4b4545"
                      ></path>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div class="home-testomonials--desc">
              <h4>NOSTRIFICATION</h4>
              <p>Accreditation, how to submit documents, and more</p>
            </div>
            <div class="home-testomonials--arrow">
              <i class="i-right"></i>
            </div>
          </a>
        </div>

        <div class="home-testomonials--item">
          <a href="#">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21.656" viewBox="0 0 25 21.656">
                <g id="valentines-heart" transform="translate(0 -32.952)">
                  <g id="Icons_18_" transform="translate(0 32.952)">
                    <path
                      id="Path_236"
                      data-name="Path 236"
                      d="M25,39.7a6.746,6.746,0,0,0-12.5-3.526A6.746,6.746,0,1,0,2.317,44.786l9.567,9.567a.871.871,0,0,0,1.232,0l9.567-9.567A6.726,6.726,0,0,0,25,39.7Z"
                      transform="translate(0 -32.952)"
                      fill="#4b4545"
                    ></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="home-testomonials--desc">
              <h4>REACH OUT</h4>
              <p>Send us a request or arrange a visit to the Ministry to ask us anything</p>
            </div>
            <div class="home-testomonials--arrow">
              <i class="i-right"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="container mb-4">
    <section class="home-testomonials with-title">
      <div class="container">
        <h2 class="title">Other Services</h2>
        <div class="row between">
          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <svg width="19" height="19" viewBox="0 0 19 19">
                  <defs>
                    <clipPath id="ClipPath1353">
                      <path
                        d="M0,9.5c0,-5.24671 4.25329,-9.5 9.5,-9.5c5.24671,0 9.5,4.25329 9.5,9.5c0,5.24671 -4.25329,9.5 -9.5,9.5c-5.24671,0 -9.5,-4.25329 -9.5,-9.5z"
                        fill="#ffffff"
                      ></path>
                    </clipPath>
                  </defs>
                  <g>
                    <g>
                      <path
                        d="M0,9.5c0,-5.24671 4.25329,-9.5 9.5,-9.5c5.24671,0 9.5,4.25329 9.5,9.5c0,5.24671 -4.25329,9.5 -9.5,9.5c-5.24671,0 -9.5,-4.25329 -9.5,-9.5z"
                        fill-opacity="0"
                        fill="#ffffff"
                        stroke-dashoffset="0"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                        stroke-opacity="1"
                        stroke="#4b4545"
                        stroke-miterlimit="50"
                        stroke-width="2"
                        clip-path='url("#ClipPath1353")'
                      ></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="home-testomonials--desc">
                <h4>GENERAL EDUCATION</h4>
                <p>Primary and Secondary school learning, activities and curriculum</p>
              </div>
              <div class="home-testomonials--arrow prim">
                <i class="i-right"></i>
              </div>
            </a>
          </div>

          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <i class="i-ellipse-o"></i>
              </div>
              <div class="home-testomonials--desc">
                <h4>VOCATIONAL EDUCATION</h4>
                <p>After-school learning, activity strands, curriculum and strategy</p>
              </div>
              <div class="home-testomonials--arrow secondary">
                <i class="i-right"></i>
              </div>
            </a>
          </div>

          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <i class="i-ellipse-o"></i>
              </div>
              <div class="home-testomonials--desc">
                <h4>HIGHER EDUCATION</h4>
                <p>Universities, courses, international cooperation, our vision for the future</p>
              </div>
              <div class="home-testomonials--arrow">
                <i class="i-right"></i>
              </div>
            </a>
          </div>

          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <i class="i-ellipse-o"></i>
              </div>
              <div class="home-testomonials--desc">
                <h4>SERVICES</h4>
                <p>Directory, admissions, careers, nostrification and other core services</p>
              </div>
              <div class="home-testomonials--arrow">
                <i class="i-right"></i>
              </div>
            </a>
          </div>

          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <i class="i-ellipse-o"></i>
              </div>
              <div class="home-testomonials--desc">
                <h4>PROGRAMMES</h4>
                <p>Our projects, programmes and initiatives at all levels</p>
              </div>
              <div class="home-testomonials--arrow">
                <i class="i-right"></i>
              </div>
            </a>
          </div>

          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <i class="i-ellipse-o"></i>
              </div>
              <div class="home-testomonials--desc">
                <h4>RESOURCES</h4>
                <p>Learning resources, books, documents, reports and guides</p>
              </div>
              <div class="home-testomonials--arrow">
                <i class="i-right"></i>
              </div>
            </a>
          </div>

          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <i class="i-ellipse-o"></i>
              </div>
              <div class="home-testomonials--desc">
                <h4>RESOURCES</h4>
                <p>Learning resources, books, documents, reports and guides</p>
              </div>
              <div class="home-testomonials--arrow">
                <i class="i-right"></i>
              </div>
            </a>
          </div>

          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <i class="i-ellipse-o"></i>
              </div>
              <div class="home-testomonials--desc">
                <h4>RESOURCES</h4>
                <p>Learning resources, books, documents, reports and guides</p>
              </div>
              <div class="home-testomonials--arrow">
                <i class="i-right"></i>
              </div>
            </a>
          </div>

          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <i class="i-ellipse-o"></i>
              </div>
              <div class="home-testomonials--desc">
                <h4>RESOURCES</h4>
                <p>Learning resources, books, documents, reports and guides</p>
              </div>
              <div class="home-testomonials--arrow">
                <i class="i-right"></i>
              </div>
            </a>
          </div>

          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <i class="i-ellipse-o"></i>
              </div>
              <div class="home-testomonials--desc">
                <h4>RESOURCES</h4>
                <p>Learning resources, books, documents, reports and guides</p>
              </div>
              <div class="home-testomonials--arrow">
                <i class="i-right"></i>
              </div>
            </a>
          </div>

          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <i class="i-ellipse-o"></i>
              </div>
              <div class="home-testomonials--desc">
                <h4>RESOURCES</h4>
                <p>Learning resources, books, documents, reports and guides</p>
              </div>
              <div class="home-testomonials--arrow">
                <i class="i-right"></i>
              </div>
            </a>
          </div>

          <div class="home-testomonials--item">
            <a href="#">
              <div class="icon">
                <i class="i-ellipse-o"></i>
              </div>
              <div class="home-testomonials--desc">
                <h4>RESOURCES</h4>
                <p>Learning resources, books, documents, reports and guides</p>
              </div>
              <div class="home-testomonials--arrow">
                <i class="i-right"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="links">
      <h2 class="title">More in this section:</h2>
      <a href="#" class="link">Article Title #1 (button) - Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</a>
      <a href="#" class="link">Article Title #2 (button) - Lorem ipsum dolor sit amet, consetetur.</a>
      <a href="#" class="link">Article Title #3 (button) - Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</a>
      <a href="#" class="link">Article Title #4 (button) - Lorem ipsum dolor sit amet.</a>
      <a href="#" class="link">Article Title #5 (button) - Lorem ipsum dolor sit amet, consetetur sadipscing.</a>
      <a href="#" class="link"
        >Article Title #6 (button) - Lorem ipsum dolor sit amet, consetetur sadipscing elitr. sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua.</a
      >
    </section>
  </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
