{% extends "./includes/base.njk" %} {% set page = { title: "Home", testomonials: [{ title: 'GENERAL EDUCATION', text: 'Primary and Secondary school
learning, activities and curriculum', icon: '<svg xmlns="http://www.w3.org/2000/svg" width="25" height="33" viewBox="0 0 25 33">
  <g id="light-bulb-2" transform="translate(-85.277)">
    <g id="Group_69" data-name="Group 69" transform="translate(85.277)">
      <g id="Group_68" data-name="Group 68" transform="translate(0)">
        <path
          id="Path_253"
          data-name="Path 253"
          d="M110.2,10.661A12.46,12.46,0,0,0,98.927.068C98.574.031,98.2.009,97.762,0c-.412.009-.783.031-1.135.068A12.46,12.46,0,0,0,85.355,10.661a11.54,11.54,0,0,0,3.862,10,9.643,9.643,0,0,1,2.749,3.948h3.31V15.817h-1.25a2.429,2.429,0,0,1-2.5-2.345,2.505,2.505,0,0,1,5,0v1.172h2.5V13.473a2.505,2.505,0,0,1,5,0,2.428,2.428,0,0,1-2.5,2.345h-1.25v8.792h3.311a9.639,9.639,0,0,1,2.75-3.948A11.541,11.541,0,0,0,110.2,10.661Z"
          transform="translate(-85.277)"
          fill="#4b4545"
        ></path>
        <rect id="Rectangle_30" data-name="Rectangle 30" width="2.482" height="9.306" transform="translate(11.259 15.743)" fill="#4b4545"></rect>
        <path
          id="Path_254"
          data-name="Path 254"
          d="M292.555,180.32a1.241,1.241,0,1,0-2.482,0v1.241h1.241A1.242,1.242,0,0,0,292.555,180.32Z"
          transform="translate(-275.061 -166.665)"
          fill="#4b4545"
        ></path>
        <path
          id="Path_255"
          data-name="Path 255"
          d="M179.137,382.374a.62.62,0,0,0,.62.62h.931l1.116,1.488a2.493,2.493,0,0,0,1.985.993h1.861a2.492,2.492,0,0,0,1.985-.993l1.117-1.488h.931a.62.62,0,0,0,.62-.62c-.047-1.989,0-3.026,0-3.026H179.137S179.193,380.549,179.137,382.374Zm8.065.62-.558.745a1.245,1.245,0,0,1-.993.5H183.79a1.247,1.247,0,0,1-.993-.5l-.558-.745Z"
          transform="translate(-172.221 -353.498)"
          fill="#4b4545"
        ></path>
        <path
          id="Path_256"
          data-name="Path 256"
          d="M188.915,179.08a1.241,1.241,0,1,0,0,2.482h1.241v-1.241A1.242,1.242,0,0,0,188.915,179.08Z"
          transform="translate(-180.168 -166.666)"
          fill="#4b4545"
        ></path>
      </g>
    </g>
  </g></svg
>' },{ title: 'VOCATIONAL EDUCATION', text: 'After-school learning, activity strands, curriculum and strategy', icon: '<svg
  width="25"
  height="25"
  viewBox="0 0 25 25"
>
  <g id="palette">
    <path
      id="Path_261"
      data-name="Path 261"
      d="M12.5,0a12.5,12.5,0,0,0,0,25,2.136,2.136,0,0,0,2.083-2.083,1.783,1.783,0,0,0-.556-1.389,2.468,2.468,0,0,1-.556-1.389,2.136,2.136,0,0,1,2.083-2.083h2.5A6.877,6.877,0,0,0,25,11.111C25,5,19.444,0,12.5,0ZM4.861,12.5a2.136,2.136,0,0,1-2.083-2.083A2.136,2.136,0,0,1,4.861,8.333a2.136,2.136,0,0,1,2.083,2.083A2.136,2.136,0,0,1,4.861,12.5ZM9.028,6.944A2.136,2.136,0,0,1,6.944,4.861,2.136,2.136,0,0,1,9.028,2.778a2.136,2.136,0,0,1,2.083,2.083A2.136,2.136,0,0,1,9.028,6.944Zm6.944,0a2.136,2.136,0,0,1-2.083-2.083,2.083,2.083,0,1,1,4.167,0A2.136,2.136,0,0,1,15.972,6.944ZM20.139,12.5a2.136,2.136,0,0,1-2.083-2.083,2.083,2.083,0,1,1,4.167,0A2.136,2.136,0,0,1,20.139,12.5Z"
      fill="#4b4545"
    ></path>
  </g></svg
>'},{ title: 'HIGHER EDUCATION', text: 'Universities, courses, international cooperation, our vision for the future', icon: '<svg
  xmlns="http://www.w3.org/2000/svg"
  width="27"
  height="22"
  viewBox="0 0 27 22"
>
  <g id="college-graduation" transform="translate(0 -36.648)">
    <g id="Layer_5_59_" transform="translate(0 36.648)">
      <g id="Group_55" data-name="Group 55" transform="translate(0 0)">
        <path
          id="Path_237"
          data-name="Path 237"
          d="M59.144,207.122a3.409,3.409,0,0,1-3.363,0l-7.612-4.668s-.687-.421-.687.533v4.662c0,2.456,4.468,5.1,9.98,5.1s9.98-2.647,9.98-5.1v-4.925c0-.766-.488-.392-.488-.392Z"
          transform="translate(-44.364 -191.368)"
          fill="#4b4545"
        ></path>
        <path
          id="Path_238"
          data-name="Path 238"
          d="M25.758,44.02a.7.7,0,0,0,0-1.3l-11.6-5.8a2.237,2.237,0,0,0-2.127,0l-11.6,5.8a.7.7,0,0,0,0,1.3l11.6,7.112a2.237,2.237,0,0,0,2.127,0"
          transform="translate(0 -36.648)"
          fill="#4b4545"
        ></path>
        <path
          id="Path_239"
          data-name="Path 239"
          d="M357.734,193.8V185.95s.005-.372-.215-.249a6.414,6.414,0,0,0-.764.474.659.659,0,0,0-.137.5V193.8a.209.209,0,0,1-.129.174,1.357,1.357,0,1,0,1.369,0A.2.2,0,0,1,357.734,193.8Z"
          transform="translate(-332.456 -175.891)"
          fill="#4b4545"
        ></path>
      </g>
    </g>
  </g></svg
>'},{ title: 'SERVICES', text: 'Directory, admissions, careers, nostrification and other core services', icon: '<svg
  xmlns="http://www.w3.org/2000/svg"
  width="25"
  height="25"
  viewBox="0 0 25 25"
>
  <path
    id="repairing-service"
    d="M24.706,11.015a.807.807,0,0,0-.8-.61,2.736,2.736,0,0,1-1.873-4.762.689.689,0,0,0,.076-.935,12.267,12.267,0,0,0-1.963-1.983.69.69,0,0,0-.942.076,2.856,2.856,0,0,1-3.091.694A2.752,2.752,0,0,1,14.443.806a.688.688,0,0,0-.608-.724A12.366,12.366,0,0,0,11.047.074a.69.69,0,0,0-.613.709,2.757,2.757,0,0,1-1.7,2.644,2.864,2.864,0,0,1-3.068-.7.691.691,0,0,0-.935-.078,12.318,12.318,0,0,0-2,1.982.689.689,0,0,0,.074.941A2.746,2.746,0,0,1,3.5,8.666,2.864,2.864,0,0,1,.8,10.341a.674.674,0,0,0-.716.609,12.422,12.422,0,0,0-.005,2.818.82.82,0,0,0,.813.61,2.718,2.718,0,0,1,2.55,1.7,2.757,2.757,0,0,1-.693,3.064.688.688,0,0,0-.075.933,12.311,12.311,0,0,0,1.96,1.983.689.689,0,0,0,.943-.075,2.852,2.852,0,0,1,3.089-.695,2.749,2.749,0,0,1,1.677,2.689.688.688,0,0,0,.608.724,12.338,12.338,0,0,0,2.788.008.69.69,0,0,0,.613-.71,2.754,2.754,0,0,1,1.7-2.642,2.86,2.86,0,0,1,3.069.7.692.692,0,0,0,.935.078,12.335,12.335,0,0,0,2-1.982.688.688,0,0,0-.074-.942,2.745,2.745,0,0,1-.694-3.091,2.774,2.774,0,0,1,2.535-1.68l.153,0a.69.69,0,0,0,.725-.608A12.367,12.367,0,0,0,24.706,11.015Zm-12.314,8.52a7.144,7.144,0,1,1,6.133-3.481L15.4,12.926A4.382,4.382,0,0,0,10.21,6.99a.5.5,0,0,0-.343.346A.484.484,0,0,0,10,7.809s1.544,1.556,2.061,2.073a.32.32,0,0,1,.046.23l0,.034a9.877,9.877,0,0,1-.235,1.512l-.033.032-.034.035a9.735,9.735,0,0,1-1.535.238v0l-.026.007h-.025a.33.33,0,0,1-.238-.1C9.444,11.329,7.96,9.856,7.96,9.856A.5.5,0,0,0,7.6,9.7a.49.49,0,0,0-.462.373,4.383,4.383,0,0,0,5.937,5.18l3.162,3.162A7.108,7.108,0,0,1,12.393,19.535Z"
    transform="translate(-0.002 0.001)"
    fill="#4b4545"
  ></path></svg
>'},{ title: 'PROGRAMMES', text: 'Our projects, programmes and initiatives at all levels', icon: '<svg width="25" height="25" viewBox="0 0 25 25">
  <g id="Group_73" data-name="Group 73">
    <g id="Group_72" data-name="Group 72">
      <path
        id="Path_262"
        data-name="Path 262"
        d="M24.276,11.387a7.738,7.738,0,0,0-9.01-4.755A22.075,22.075,0,0,0,.626,0,.591.591,0,0,0,0,.626,22.53,22.53,0,0,0,6.507,15.266c-.626,3.879,1.126,7.633,4.755,9.01a8.716,8.716,0,0,1-.25-5.381,13.676,13.676,0,0,0,1.877,1,.589.589,0,0,0,.751-.125L19.9,13.514a.559.559,0,0,0,0-.626,7.978,7.978,0,0,0-1-1.752A8.716,8.716,0,0,1,24.276,11.387Zm-13.765-.876a2.478,2.478,0,0,1-3.5-3.5,2.478,2.478,0,0,1,3.5,3.5Z"
        fill="#4b4545"
      ></path>
    </g>
  </g>
  <g id="Group_75" data-name="Group 75" transform="translate(20.053 15.134)">
    <g id="Group_74" data-name="Group 74">
      <path
        id="Path_263"
        data-name="Path 263"
        d="M411.625,310.1l-2.534-2.534a1.194,1.194,0,1,0-1.689,1.689l2.534,2.534a1.195,1.195,0,0,0,1.689-1.689Z"
        transform="translate(-407.04 -307.2)"
        fill="#4b4545"
      ></path>
    </g>
  </g>
  <g id="Group_77" data-name="Group 77" transform="translate(15.134 20.053)">
    <g id="Group_76" data-name="Group 76">
      <path
        id="Path_264"
        data-name="Path 264"
        d="M311.785,409.936l-2.534-2.534a1.194,1.194,0,1,0-1.689,1.689l2.534,2.534a1.195,1.195,0,0,0,1.689-1.689Z"
        transform="translate(-307.2 -407.04)"
        fill="#4b4545"
      ></path>
    </g>
  </g>
  <g id="Group_79" data-name="Group 79" transform="translate(17.64 17.76)">
    <g id="Group_78" data-name="Group 78">
      <path
        id="Path_265"
        data-name="Path 265"
        d="M361.391,362.261l-3.5-3.5a1.195,1.195,0,1,0-1.689,1.689l3.5,3.5a1.195,1.195,0,0,0,1.689-1.689Z"
        transform="translate(-355.84 -358.4)"
        fill="#4b4545"
      ></path>
    </g>
  </g></svg
>'},{ title: 'RESOURCES', text: 'Learning resources, books, documents, reports and guides', icon: '<svg
  xmlns="http://www.w3.org/2000/svg"
  width="27"
  height="20"
  viewBox="0 0 27 20"
>
  <g id="open-book-2" transform="translate(0 -35.048)">
    <g id="Group_71" data-name="Group 71" transform="translate(0 35.048)">
      <g id="Group_70" data-name="Group 70">
        <path
          id="Path_257"
          data-name="Path 257"
          d="M35.768,35.049h0a.924.924,0,0,0-.657.272.933.933,0,0,0-.276.665V50.043a.941.941,0,0,0,.939.937c2.182.005,5.838.46,8.36,3.1V39.369A.9.9,0,0,0,44,38.894C41.932,35.561,37.955,35.054,35.768,35.049Z"
          transform="translate(-31.761 -35.049)"
          fill="#4b4545"
        ></path>
        <path
          id="Path_258"
          data-name="Path 258"
          d="M166.049,50.042V35.985a.936.936,0,0,0-.933-.937h0c-2.187.005-6.164.512-8.234,3.845a.9.9,0,0,0-.129.475V54.078c2.522-2.639,6.178-3.094,8.36-3.1A.941.941,0,0,0,166.049,50.042Z"
          transform="translate(-142.925 -35.048)"
          fill="#4b4545"
        ></path>
        <path
          id="Path_259"
          data-name="Path 259"
          d="M181.616,71.8h-.68V83.553a2.4,2.4,0,0,1-2.39,2.393,10.4,10.4,0,0,0-7.064,2.412,22.567,22.567,0,0,1,9.924.191.937.937,0,0,0,1.147-.913v-14.9A.938.938,0,0,0,181.616,71.8Z"
          transform="translate(-156.357 -68.559)"
          fill="#4b4545"
        ></path>
        <path
          id="Path_260"
          data-name="Path 260"
          d="M1.617,83.553V71.8H.937A.938.938,0,0,0,0,72.738v14.9a.937.937,0,0,0,1.147.913,22.565,22.565,0,0,1,9.924-.191,10.4,10.4,0,0,0-7.064-2.412A2.4,2.4,0,0,1,1.617,83.553Z"
          transform="translate(0 -68.559)"
          fill="#4b4545"
        ></path>
      </g>
    </g>
  </g></svg
>'}], news: [{ title: 'Minister of Education Jeyhun Bayramov attends high-level annual Eastern Partnership conference in Vienna, Austria', time: '07
January 2019, 18:13' }, { title: 'Deputy Minister of Education Firudin Gurbanov attends Global Education Meeting co-organised by UNESCO and the
government of Belgium', time: '07 January 2019, 12:34' }, { title: 'New stage of cooperation between Ministry of Education and Clarivate Analytics
Institute is announced', time: '05 January 2019, 16:17' }], announcements: [{ title: 'Education in Serbia Intergovernmental Scholarship Program 2019
spring semester', time: '10 December 2018, 18:13' }, { title: 'UFAZ functioning on the basis of Azerbaijan State Oil and Industry University (ASOIU)',
time: '06 December 2018, 12:34' }, { title: 'New recruitment procedure for UFAZ teachers UFAZ foundation courses in 2016/2017', time: '05 November
2018, 16:17' }], feed: [{ icon: 'twitter', title: 'Jeyhun Bayramov attends high-level annual Eastern Partnership conference', time: 'Two hours ago' },
{ icon: 'facebook', title: 'Firudin Gurbanov attends Global Education Meeting organised by UNESCO', time: 'Five hours ago' }, { icon: 'twitter',
title: 'New recruitment procedure for UFAZ teachers UFAZ foundation courses', time: 'Yesterday' }], testomonials2: [{ title: 'SERVICES DIRECTORY',
text: 'Access to personalised eServices, documents, information and resources', icon: '<svg
  xmlns="http://www.w3.org/2000/svg"
  width="25"
  height="25"
  viewBox="0 0 25 25"
>
  <g id="user-3" transform="translate(-0.001)">
    <g id="Group_35" data-name="Group 35" transform="translate(0.001)">
      <path
        id="Path_227"
        data-name="Path 227"
        d="M12.5,0A12.5,12.5,0,1,0,25,12.5,12.5,12.5,0,0,0,12.5,0Zm.038,18.4H7.123c0-3.9,3.429-3.9,4.19-4.925l.087-.466A3.732,3.732,0,0,1,9.577,9.631c0-2.013,1.309-3.645,2.924-3.645s2.924,1.632,2.924,3.645a3.745,3.745,0,0,1-1.8,3.363l.1.529c.835.972,4.15,1.035,4.15,4.874Z"
        transform="translate(-0.001)"
        fill="#4b4545"
      />
    </g>
  </g>
</svg>
' }, { title: 'JOIN THE MINISTRY', text: 'Careers in schools, institutions, universities and project jobs', icon: '<svg
  xmlns="http://www.w3.org/2000/svg"
  width="24.709"
  height="20.473"
  viewBox="0 0 24.709 20.473"
>
  <g id="old-fashion-briefcase" transform="translate(0.001 -4.509)">
    <g id="Group_46" data-name="Group 46" transform="translate(-0.001 4.509)">
      <g id="Group_45" data-name="Group 45">
        <path
          id="Path_231"
          data-name="Path 231"
          d="M25.127,28V27.44a1.234,1.234,0,0,0-2.467,0V28a1.234,1.234,0,0,0,2.467,0Z"
          transform="translate(-11.539 -15.447)"
          fill="#4b4545"
        />
        <path
          id="Path_232"
          data-name="Path 232"
          d="M14.9,30.809a2.117,2.117,0,0,1-4.081,0H2.48a3.358,3.358,0,0,1-1.47-.341V36.11a1.99,1.99,0,0,0,1.965,2H22.741a1.99,1.99,0,0,0,1.965-2V30.469a3.358,3.358,0,0,1-1.469.341Z"
          transform="translate(-0.504 -17.64)"
          fill="#4b4545"
        />
        <path
          id="Path_233"
          data-name="Path 233"
          d="M22.658,7.718H17.937a3.767,3.767,0,0,0-3.692-3.209H10.461A3.768,3.768,0,0,0,6.769,7.718H2.048A2.032,2.032,0,0,0,0,9.721v4.623a1.986,1.986,0,0,0,1.967,2h8.252a2.193,2.193,0,0,1,.655-1.469c.012-.011.026-.021.038-.032a2.167,2.167,0,0,1,.27-.22c.034-.024.074-.04.11-.061a2.089,2.089,0,0,1,.244-.131,2.114,2.114,0,0,1,.211-.067c.061-.019.119-.043.182-.056a2.092,2.092,0,0,1,.425-.044,2.115,2.115,0,0,1,.424.044c.063.013.121.038.183.056a2.069,2.069,0,0,1,.211.067,2.113,2.113,0,0,1,.243.131c.036.022.075.038.111.061a2.115,2.115,0,0,1,.27.219c.012.012.028.021.038.033a2.19,2.19,0,0,1,.655,1.469h8.252a1.985,1.985,0,0,0,1.967-2V9.722A2.033,2.033,0,0,0,22.658,7.718Zm-13.995,0a1.9,1.9,0,0,1,1.8-1.334h3.784a1.9,1.9,0,0,1,1.8,1.334Z"
          transform="translate(0.001 -4.509)"
          fill="#4b4545"
        />
      </g>
    </g>
  </g>
</svg>
' }, { title: 'ADMISSIONS', text: 'To schools, universities, post-graduate institutions and internships', icon: '<svg
  xmlns="http://www.w3.org/2000/svg"
  width="25"
  height="25"
  viewBox="0 0 25 25"
>
  <path
    id="checked"
    d="M12.5,0A12.5,12.5,0,1,0,25,12.5,12.464,12.464,0,0,0,12.5,0Zm7.216,8.58h0l-9.091,9.432a.516.516,0,0,1-.4.17.442.442,0,0,1-.4-.17L5.4,13.239l-.114-.114a.549.549,0,0,1,0-.8l.8-.8a.549.549,0,0,1,.8,0l.057.057,3.125,3.352a.275.275,0,0,0,.4,0l7.614-7.9h.057a.549.549,0,0,1,.8,0l.8.8a.484.484,0,0,1,0,.739Z"
    fill="#4b4545"
  />
</svg>
' }, { title: 'EDUCATION ABROAD', text: 'Our joint education programs with international partners', icon: '<svg
  xmlns="http://www.w3.org/2000/svg"
  width="23.473"
  height="23.473"
  viewBox="0 0 23.473 23.473"
>
  <g id="earth-globe" transform="translate(1471.997 -231)">
    <g id="Group_44" data-name="Group 44" transform="translate(-1471.997 231)">
      <g id="Group_43" data-name="Group 43" transform="translate(0 0)">
        <path
          id="Path_229"
          data-name="Path 229"
          d="M85.233,85.826c.131.519-1.305.354-1.656.84s-1.209.159-1.408.066-.961.218-.894-.311.53-.56,1.027-.778,1.213-.941.861-1.035a3.462,3.462,0,0,1-2.223-2c-.1-.019-.074-1.1-.5-1.132a5.908,5.908,0,0,1-1.292,0c-.629-.124-.5-.529-.6-1.4s.265-.591.462-.871a.536.536,0,0,1,.062-.068A5.87,5.87,0,0,0,75.1,84.68s0,.008,0,.012c.428.028,1.208.118,1.245.412.051.406,0,.913.355,1.065s.457-.609.761-.406,1.116.4,1.116.757-.152.917,0,1.018a4.038,4.038,0,0,1,.761.913c0,.1.214.618.151.815a2.784,2.784,0,0,1-.579.9,5.857,5.857,0,0,0,7.27-8.149,4.1,4.1,0,0,0,.143,1.317C86.9,84.115,84.935,84.65,85.233,85.826Z"
          transform="translate(-69.227 -72.943)"
          fill="#4b4545"
        />
        <path
          id="Path_230"
          data-name="Path 230"
          d="M11.739,0A11.737,11.737,0,1,0,23.476,11.736,11.736,11.736,0,0,0,11.739,0Zm0,18.815a7.078,7.078,0,1,1,7.078-7.078A7.086,7.086,0,0,1,11.739,18.815Z"
          transform="translate(-0.003)"
          fill="#4b4545"
        />
      </g>
    </g>
  </g>
</svg>
' }, { title: 'NOSTRIFICATION', text: 'Accreditation, how to submit documents, and more', icon: '<svg
  xmlns="http://www.w3.org/2000/svg"
  width="18.708"
  height="28.385"
  viewBox="0 0 18.708 28.385"
>
  <g id="rubber-stamp" transform="translate(-8.011)">
    <g id="Layer_1_158_" transform="translate(8.011)">
      <g id="Group_47" data-name="Group 47">
        <path
          id="Path_234"
          data-name="Path 234"
          d="M20.267,16.371V15.035c.582-.262.969-.641.969-1.166a.979.979,0,0,0-.151-.517.977.977,0,0,0,.151-.517,1.038,1.038,0,0,0-.339-.759A6.473,6.473,0,0,0,24.139,6.52,6.66,6.66,0,0,0,17.364,0a6.658,6.658,0,0,0-6.773,6.521,6.473,6.473,0,0,0,3.243,5.555,1.035,1.035,0,0,0-.34.759.977.977,0,0,0,.151.517.979.979,0,0,0-.151.517c0,.526.387.9.968,1.167v1.334c-5.438.743-6.451,3.528-6.451,4.162V22.4A1.267,1.267,0,0,0,9.3,23.638H25.429A1.267,1.267,0,0,0,26.719,22.4V20.533C26.718,19.9,25.693,17.115,20.267,16.371Zm-2.9-13.887A4.122,4.122,0,0,1,21.557,6.52a4.2,4.2,0,0,1-8.386,0A4.122,4.122,0,0,1,17.364,2.484Z"
          transform="translate(-8.011)"
          fill="#4b4545"
        />
        <path
          id="Path_235"
          data-name="Path 235"
          d="M24.794,42.729H10.607a1.644,1.644,0,0,0,0,3.2H24.794a1.644,1.644,0,0,0,0-3.2Z"
          transform="translate(-8.347 -17.542)"
          fill="#4b4545"
        />
      </g>
    </g>
  </g>
</svg>
' }, { title: 'REACH OUT', text: 'Send us a request or arrange a visit to the Ministry to ask us anything', icon: '<svg
  xmlns="http://www.w3.org/2000/svg"
  width="25"
  height="21.656"
  viewBox="0 0 25 21.656"
>
  <g id="valentines-heart" transform="translate(0 -32.952)">
    <g id="Icons_18_" transform="translate(0 32.952)">
      <path
        id="Path_236"
        data-name="Path 236"
        d="M25,39.7a6.746,6.746,0,0,0-12.5-3.526A6.746,6.746,0,1,0,2.317,44.786l9.567,9.567a.871.871,0,0,0,1.232,0l9.567-9.567A6.726,6.726,0,0,0,25,39.7Z"
        transform="translate(0 -32.952)"
        fill="#4b4545"
      />
    </g>
  </g>
</svg>
' }], resources: [ {title: 'PRESIDENT OF AZERBAIJAN', source: 'PRESIDENT.AZ'}, {title: 'HEYDAR ALIYEV FOUNDATION', source:
'HEYDAR-ALIYEV-FOUNDATION.ORG'}, {title: 'HEYDAR ALIYEV CENTRE', source: 'HEYDARALIYEVCENTER.AZ'}, {title: 'NAGORNO KARABAKH', source:
'VIRTUALKARABAKH.AZ'}, {title: 'eSERVICES', source: 'EDUCATION-ONLINE.AZ'}, {title: 'UFAZ', source: 'UFAZ.AZ'} ] } %} {% block content %}
<div>
  <!-- welcome start -->
  <section class="home-welcome">
    <h1>Welcome to Ministry of Education</h1>
    <p>Your home for ministry services, resources and information.</p>
    <h5>Learn. Live. Create.</h5>
    <div class="home-welcome--search">
      <form action="#">
        <div class="form-group primary">
          <input type="text" placeholder="Search EDU.GOV.AZ" /><button>
            <i class="i-search"></i>
          </button>
        </div>
      </form>
    </div>
  </section>
  <!-- welcome end -->
  <!-- home testomonials start -->
  <section class="bg-space home-testomonials">
    <div class="container">
      <div class="row between">
        {{ mixins.testomonials(page.testomonials) }}
      </div>
    </div>
  </section>
  <!-- home testomonials end -->

  <!-- news start -->
  <section class="home-news">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-12 mt-5 mt-md-0">
          <div class="home-news--left">
            <h2>News and Updates</h2>
            <div class="articles">
              {{ mixins.news(page.news) }}
            </div>
            <button class="btn btn-outline-primary btn-custom">
              All news
              <i class="i-right"></i>
            </button>
          </div>
        </div>
        <div class="col-md-5 col-12 mt-5 mt-md-0">
          <div class="home-news--right">
            <h2>Announcements</h2>
            <div class="articles">
              {{ mixins.news(page.announcements) }}
            </div>
            <button class="btn btn-outline-primary btn-custom">
              All announcements
              <i class="i-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- news end  -->

  <!-- social feed -->
  <div class="home-feed">
    <div class="container">
      <div class="socials-feed">
        <div class="socials-feed--title">
          <h2>Social Feed</h2>
        </div>
        <div class="socials-feed--links">
          <a href="#">
            <i class="i-rss"></i>
          </a>
          <a href="#">
            <i class="i-facebook"></i>
          </a>
          <a href="#">
            <i class="i-instagram"></i>
          </a>
          <a href="#">
            <i class="i-youtube"></i>
          </a>
          <a href="#">
            <i class="i-twitter"></i>
          </a>
        </div>
      </div>
      {{ mixins.feed(page.feed) }}
    </div>
  </div>
  <!-- social feed -->
  <!-- service testomonials start -->
  <section class="bg-kids home-testomonials with-title">
    <div class="container">
      <h2 class="home-testomonials--title">Quick Services</h2>
      <div class="row between">
        {{ mixins.testomonials(page.testomonials2) }}
      </div>
    </div>
  </section>
  <!-- service testomonials end -->

  <!-- more resources start -->
  <div class="home-resources">
    <div class="container">
      <h2 class="home-resources--title">More Resources</h2>
      {{ mixins.resources(page.resources) }}
      <button class="btn btn-outline-primary btn-custom">
        All external resources
        <i class="i-right"></i>
      </button>
    </div>
  </div>
  <!-- more resources end -->
</div>
{% endblock %} {% block scripts %} {% endblock %}
