{% extends "includes/base.njk" %} {% set page = { title: "Home Services 2" } %} {% block content %}
<div>
  <div class="breadcrumb">
    <div class="container">
      <div class="row between middle">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li class="active"><a href="#">Service Title</a></li>
        </ul>
        {% include "includes/bread-crumb-form.njk" %}
      </div>
    </div>
  </div>
  <section class="home-l2">
    <div class="container">
      <div class="row">
        <div class="col-7">
          <h2 class="title">Service Title</h2>
          <p class="text">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet.
          </p>
          <hr />
          <h4 class="title">Last updated 01 March 2019</h4>
          <div class="module">
            <div class="module--desc">
              <p>PROMOTION #1 TEXT (MODULE)</p>
              <button class="btn btn-success btn-custom-2">CTA TEXT<i class="i-right"></i></button>
            </div>
          </div>
          <section>
            <p class="text mb-4 mt-4">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
              sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            </p>
            <button class="btn btn-custom-2 btn-secondary btn-sm">Landing page button<i class="i-right"></i></button>
            <a class="btn btn-custom-2 btn-secondary btn-sm" href="#" download>download button <span class="i-pdf"></span></a>
          </section>
          <div class="mt-2">
            <a href="#" class="link">Link button #1</a>
            <a href="#" class="link">Link button #2</a>
          </div>
        </div>
        <div class="col-5">
          <div class="go-to">
            <h2>Go to</h2>
            <ul>
              <li>
                <a href="#">LEVEL-III LANDING PAGE<i class="i-right"></i> </a>
              </li>
              <li>
                <a href="#">LEVEL-III LANDING PAGE<i class="i-right"></i> </a>
              </li>
              <li>
                <a href="#">LEVEL-III LANDING PAGE<i class="i-right"></i> </a>
              </li>
              <li class="active">
                <a href="#">all articles<i class="i-right"></i> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block scripts %} {% endblock %}
