{% import "includes/mixins.njk" as mixins %} {% set links = [ {file: "home.html", label: "Home", emoji: "&#128540;"}, {file: "homel2.html", label:
"Home Level 2", emoji: "&#128513;"}, {file: "homel3.html", label: "Home Level 3", emoji: "&#128514;"}, {file: "homel4.html", label: "Home Level 4",
emoji: "&#128515;"}, {file: "contacts.html", label: "Contacts", emoji: "&#128517;"}, {file: "search.html", label: "Search", emoji: "&#128518;"},
{file: "news.html", label: "News", emoji: "&#128519;"}, {file: "social.html", label: "Social", emoji: "&#128520;"}, {file: "news-single.html", label:
"News Single", emoji: "&#128521;"}, {file: "all-articles.html", label: "All Articles", emoji: "&#128522;"}, {file: "home-faq.html", label: "Home Faq",
emoji: "&#128523;"}, {file: "home-faq1.html", label: "Home Faq 1", emoji: "&#128524;"}, {file: "home-ministry.html", label: "Home Ministry", emoji:
"&#128525;"}, {file: "home-services.html", label: "Home Services", emoji: "&#128526;"}, {file: "home-services2.html", label: "Home Services 2", emoji:
"&#128527;"} ] %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index 🔥</title>
    <!-- build:css styles/index_page.css -->
    <link rel="stylesheet" href="styles/index_page.css" />
    <!-- endbuild -->
  </head>
  <body>
    <h1>Welcome to Edu Ministry</h1>
    <ul>
      {% for link in links %}
      <li>
        <a href="{{ link.file }}"> {{ link.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
