{% extends "includes/base.njk" %} {% set page = { title: "News Single" } %} {% block content %}
<div class="news-single">
  <div class="breadcrumb">
    <div class="container">
      <div class="row between middle">
        <ul>
          <li class="active"><a href="#">All News and Announcements</a></li>
        </ul>
        {% include "includes/bread-crumb-form.njk" %}
      </div>
    </div>
  </div>
  <section class="home-l2">
    <div class="container">
      <div class="row">
        <div class="col-7">
          <h2 class="title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h2>
          <div class="image-container">{IMAGE FROM MEDIA LIBRARY}</div>
          <h4 class="title">Last updated 01 March 2019</h4>
          <p class="text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
            illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
            aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
            quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
            commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
            dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus.
          </p>
          <div class="main-footer--icon bg mt-2">
            <span>Share</span>
            <a href="#">
              <i class="i-facebook"></i>
            </a>
            <a href="#">
              <i class="i-instagram"></i>
            </a>
            <a href="#">
              <i class="i-twitter"></i>
            </a>
          </div>
          <div class="mt-2 mb-2">
            <a href="#" class="link">Link button #1</a>
            <a href="#" class="link">Link button #2</a>
          </div>
        </div>
        <div class="col-5">
          <div class="go-to--news">
            <h2>More News</h2>
            <ul>
              <li>
                <a href="#">
                  <p>Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr consetetur sadipscing elitr.</p>
                  <span>07 January 2019, 18:13</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <p>Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr consetetur sadipscing elitr.</p>
                  <span>07 January 2019, 18:13</span></a
                >
              </li>
              <li>
                <a href="#">
                  <p>Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr consetetur sadipscing elitr.</p>
                  <span>07 January 2019, 18:13</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block scripts %} {% endblock %}
