{% extends "includes/base.njk" %} {% set page = { title: "News" } %} {% block content %}
<div class="news">
  <div class="breadcrumb">
    <div class="container">
      <div class="row between middle">
        <ul>
          <li class="active"><a href="#">All News and Announcements</a></li>
        </ul>
        {% include "includes/bread-crumb-form.njk" %}
      </div>
    </div>
  </div>
  <div class="news-article">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <a href="#" class="card card-bg">
            <div class="card--image">
              <img src="images/home-bg1.png" alt="" />
            </div>
            <div class="card--desc primary">
              <div class="card--title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</div>
              <div class="card--text">
                Article Subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod ipsum dolor sit amet.
              </div>
              <div class="card--date">28.01.2019</div>
            </div>
          </a>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-3 row">
          <div class="col-md-6">
            <a href="#" class="card">
              <div class="card--image">
                <img src="images/home-bg1.png" alt="" />
              </div>
              <div class="card--desc primary">
                <div class="card--title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</div>
                <div class="card--date">28.01.2019</div>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" class="card">
              <div class="card--image">
                <img src="images/home-bg1.png" alt="" />
              </div>
              <div class="card--desc primary">
                <div class="card--title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</div>
                <div class="card--date">28.01.2019</div>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" class="card">
              <div class="card--image">
                <img src="images/home-bg1.png" alt="" />
              </div>
              <div class="card--desc primary">
                <div class="card--title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</div>
                <div class="card--date">28.01.2019</div>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" class="card">
              <div class="card--image">
                <img src="images/home-bg1.png" alt="" />
              </div>
              <div class="card--desc primary">
                <div class="card--title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</div>
                <div class="card--date">28.01.2019</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="news-videos">
    <div class="container">
      <div class="news-videos--title">Education TV</div>
      <div class="news-videos--header">The new home for exciting ministry video content</div>
      <div class="row mt-2">
        <div class="col-lg-4">
          <a href="#" class="card">
            <div class="card--image">
              <div class="card--play">
                <i class="i-play"></i>
              </div>
              <img src="images/home-bg1.png" alt="" />
            </div>
            <div class="card--desc primary">
              <div class="card--title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</div>
              <div class="card--date">28.01.2019</div>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="#" class="card">
            <div class="card--image">
              <div class="card--play">
                <i class="i-play"></i>
              </div>
              <img src="images/home-bg1.png" alt="" />
            </div>
            <div class="card--desc primary">
              <div class="card--title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</div>
              <div class="card--date">28.01.2019</div>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="#" class="card">
            <div class="card--image">
              <iframe
                src="https://www.youtube.com/embed/7uUxRWPLAwY"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="card--desc primary">
              <div class="card--title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</div>
              <div class="card--date">28.01.2019</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-feed">
    <div class="container">
      <div class="socials-feed">
        <div class="socials-feed--title">
          <h2>Social Feed</h2>
        </div>
        <div class="socials-feed--links">
          <a href="#">
            <i class="i-rss"></i>
          </a>
          <a href="#">
            <i class="i-facebook"></i>
          </a>
          <a href="#">
            <i class="i-instagram"></i>
          </a>
          <a href="#">
            <i class="i-youtube"></i>
          </a>
          <a href="#">
            <i class="i-twitter"></i>
          </a>
        </div>
      </div>

      <div class="feeds">
        <div class="feed">
          <small>Two hours ago</small>
          <p>Jeyhun Bayramov attends high-level annual Eastern Partnership conference</p>
          <a href="#">
            <i class="i-twitter"></i>

            More on twitter</a
          >
        </div>

        <div class="feed">
          <small>Five hours ago</small>
          <p>Firudin Gurbanov attends Global Education Meeting organised by UNESCO</p>
          <a href="#">
            <i class="i-facebook"></i>

            More on facebook</a
          >
        </div>

        <div class="feed">
          <small>Yesterday</small>
          <p>New recruitment procedure for UFAZ teachers UFAZ foundation courses</p>
          <a href="#">
            <i class="i-twitter"></i>

            More on twitter</a
          >
        </div>
      </div>
    </div>
  </div>
  <section class="home-news">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-12 mt-5 mt-md-0">
          <div class="home-news--left">
            <h2>News and Updates</h2>
            <div class="articles">
              <div class="article">
                <a href="#">
                  Minister of Education Jeyhun Bayramov attends high-level annual Eastern Partnership conference in Vienna, Austria
                </a>
                <small>07 January 2019, 18:13</small>
              </div>

              <div class="article">
                <a href="#">
                  Deputy Minister of Education Firudin Gurbanov attends Global Education Meeting co-organised by UNESCO and the government of Belgium
                </a>
                <small>07 January 2019, 12:34</small>
              </div>

              <div class="article">
                <a href="#">
                  New stage of cooperation between Ministry of Education and Clarivate Analytics Institute is announced
                </a>
                <small>05 January 2019, 16:17</small>
              </div>
            </div>
            <button class="btn btn-outline-primary btn-custom">
              All news
              <i class="i-right"></i>
            </button>
          </div>
        </div>
        <div class="col-md-5 col-12 mt-5 mt-md-0">
          <div class="home-news--right">
            <h2>Announcements</h2>
            <div class="articles">
              <div class="article">
                <a href="#">
                  Education in Serbia Intergovernmental Scholarship Program 2019 spring semester
                </a>
                <small>10 December 2018, 18:13</small>
              </div>

              <div class="article">
                <a href="#">
                  UFAZ functioning on the basis of Azerbaijan State Oil and Industry University (ASOIU)
                </a>
                <small>06 December 2018, 12:34</small>
              </div>

              <div class="article">
                <a href="#">
                  New recruitment procedure for UFAZ teachers UFAZ foundation courses in 2016/2017
                </a>
                <small>05 November 2018, 16:17</small>
              </div>
            </div>
            <button class="btn btn-outline-primary btn-custom">
              All announcements
              <i class="i-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="home-resources">
    <div class="container">
      <h2 class="home-resources--title">More Resources</h2>

      <div class="resources">
        <div class="resource">
          <a href="#">
            <p>PRESIDENT OF AZERBAIJAN</p>
            <span>PRESIDENT.AZ</span>
          </a>
        </div>

        <div class="resource">
          <a href="#">
            <p>HEYDAR ALIYEV FOUNDATION</p>
            <span>HEYDAR-ALIYEV-FOUNDATION.ORG</span>
          </a>
        </div>

        <div class="resource">
          <a href="#">
            <p>HEYDAR ALIYEV CENTRE</p>
            <span>HEYDARALIYEVCENTER.AZ</span>
          </a>
        </div>

        <div class="resource">
          <a href="#">
            <p>NAGORNO KARABAKH</p>
            <span>VIRTUALKARABAKH.AZ</span>
          </a>
        </div>

        <div class="resource">
          <a href="#">
            <p>eSERVICES</p>
            <span>EDUCATION-ONLINE.AZ</span>
          </a>
        </div>

        <div class="resource">
          <a href="#">
            <p>UFAZ</p>
            <span>UFAZ.AZ</span>
          </a>
        </div>
      </div>

      <button class="btn btn-outline-primary btn-custom">
        All external resources
        <i class="i-right"></i>
      </button>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
