{% extends "includes/base.njk" %} {% set page = { title: "Search" } %} {% block content %}
<div>
  <div class="breadcrumb">
    <div class="container">
      <div class="row between middle">
        {% include "includes/bread-crumb-form.njk" %}
      </div>
    </div>
  </div>
  <section class="home-l2 search">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <p class="text"><i>43 results found</i></p>
          <div class="articles">
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
            <div class="article">
              <h2>Article Title</h2>
              <p>
                Article subtitle - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat.
              </p>
            </div>
          </div>
          <div class="row justify-content-between">
            <a href="#" class="pagination mt-5">
              <div class="pagination--icon">
                <i class="i-o-left"></i>
              </div>
              <div class="pagination--desc">
                <p>previous page</p>
              </div>
            </a>
            <a href="#" class="pagination mt-5">
              <div class="pagination--icon">
                <i class="i-o-right"></i>
              </div>
              <div class="pagination--desc">
                <p>next page</p>
                <span>2 of 15</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-4">
          <div class="go-to go-to--form">
            <h2>By Category</h2>
            <form action="#">
              <ul>
                <li class="expand">
                  <a class="js-expand-search-list" href="javascript:void(0)"
                    >ELECTRONIC LETTER
                    <i class="i-r-plus"></i>
                    <i class="i-plus-b"></i>
                  </a>
                  <ul>
                    <li>
                      <div class="custom-control custom-checkbox js-checkbox-throttle">
                        <input type="checkbox" class="custom-control-input" id="menu-item1" />
                        <label class="custom-control-label" for="menu-item1">ELECTRONIC LETTER</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-control custom-checkbox js-checkbox-throttle">
                        <input type="checkbox" class="custom-control-input" id="menu-item2" />
                        <label class="custom-control-label" for="menu-item2">ALL DEPARTMENTS</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-control custom-checkbox js-checkbox-throttle">
                        <input type="checkbox" class="custom-control-input" id="menu-item3" />
                        <label class="custom-control-label" for="menu-item3">FAQ</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="custom-control custom-checkbox js-checkbox-throttle">
                    <input type="checkbox" class="custom-control-input" id="menu-item4" />
                    <label class="custom-control-label" for="menu-item4">HIGHER EDUCATION</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox js-checkbox-throttle">
                    <input type="checkbox" class="custom-control-input" id="menu-item5" />
                    <label class="custom-control-label" for="menu-item5">PROFESSIONAL EDUCATION</label>
                  </div>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block scripts %} {% endblock %}
