{% extends "includes/base.njk" %} {% set page = { title: "Social" } %} {% block content %}
<div class="social">
  <div class="breadcrumb">
    <div class="container">
      <div class="row between middle">
        <ul>
          <li><a href="#">Home</a></li>
          <li class="active"><a href="#">Social</a></li>
        </ul>
        {% include "includes/bread-crumb-form.njk" %}
      </div>
    </div>
  </div>
  <div class="social-news">
    <div class="container">
      <div class="social-news--cards" data-custom-masonry>
        <div class="social-news--cards--sizer"></div>
        <div class="social-news--cards--card facebook">
          <div class="social-news--cards--card--image">
            <img class="social-news--cards--card--icon" src="images/facebook.png" alt="" />
            {photo from FACEBOOK post}
          </div>
          <div class="social-news--cards--card--desc">
            <div class="social-news--cards--card--title">Azərbaycan Respublikası Təhsil Nazirliyi</div>
            <div class="social-news--cards--card--text">Lorem ipsum sit dolor ammet ipsum sit dolor ammet ipsum sit dolor ammet</div>
          </div>
        </div>
        <div class="social-news--cards--card instagram">
          <div class="social-news--cards--card--image">
            <img class="social-news--cards--card--icon" src="images/instagram-3.svg" alt="" />
            {photo from Instagram post}
          </div>
          <div class="social-news--cards--card--desc">
            <div class="social-news--cards--card--title">@edugovaz</div>
            <div class="social-news--cards--card--text">
              Lorem ipsum sit dolor ammet #hashtag1 #hashtag2 #longcharhashtag #hashtag5 #longcharhashtag2 #longcharhashtag #hashtag5 #longcharhashtag
              #hashtag5
            </div>
          </div>
        </div>
        <div class="social-news--cards--card twitter">
          <div class="social-news--cards--card--image">
            <div class="social-news--cards--card--icon">
              <span>@tehgovaz</span>
              <img src="images/twitter.svg" alt="" />
            </div>
            {photo from TWITTER post}
          </div>
          <div class="social-news--cards--card--desc">
            <div class="social-news--cards--card--text">
              There are many variations of passages of Lorem Ipsum available, but the majority #hashtag1 #hashtag2 #longcharhashtag #hashtag5
              #longcharhashtag2
            </div>
          </div>
        </div>
        <div class="social-news--cards--card facebook">
          <div class="social-news--cards--card--image">
            <img class="social-news--cards--card--icon" src="images/facebook.png" alt="" />
            {photo from FACEBOOK post}
          </div>
          <div class="social-news--cards--card--desc">
            <div class="social-news--cards--card--title">Azərbaycan Respublikası Təhsil Nazirliyi</div>
            <div class="social-news--cards--card--text">
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
              humour #hashtag1 #hashtag2 #longcharhashtag #hashtag5 #longcharhashtag2
            </div>
          </div>
        </div>
        <div class="social-news--cards--card facebook">
          <div class="social-news--cards--card--image">
            <img class="social-news--cards--card--icon" src="images/facebook.png" alt="" />
            {photo from FACEBOOK post}
          </div>
          <div class="social-news--cards--card--desc">
            <div class="social-news--cards--card--title">Azərbaycan Respublikası Təhsil Nazirliyi</div>
            <div class="social-news--cards--card--text">Lorem ipsum sit dolor ammet ipsum sit dolor ammet ipsum sit dolor ammet</div>
          </div>
        </div>
        <div class="social-news--cards--card instagram">
          <div class="social-news--cards--card--image">
            <img class="social-news--cards--card--icon" src="images/instagram-3.svg" alt="" />
            {photo from Instagram post}
          </div>
          <div class="social-news--cards--card--desc">
            <div class="social-news--cards--card--title">@edugovaz</div>
            <div class="social-news--cards--card--text">
              Lorem ipsum sit dolor ammet #hashtag1 #hashtag2 #longcharhashtag #hashtag5 #longcharhashtag2 #longcharhashtag #hashtag5 #longcharhashtag
              #hashtag5
            </div>
          </div>
        </div>
        <div class="social-news--cards--card twitter">
          <div class="social-news--cards--card--image">
            <div class="social-news--cards--card--icon">
              <span>@tehgovaz</span>
              <img src="images/twitter.svg" alt="" />
            </div>
            {photo from TWITTER post}
          </div>
          <div class="social-news--cards--card--desc">
            <div class="social-news--cards--card--text">
              There are many variations of passages of Lorem Ipsum available, but the majority #hashtag1 #hashtag2 #longcharhashtag #hashtag5
              #longcharhashtag2
            </div>
          </div>
        </div>
        <div class="social-news--cards--card facebook">
          <div class="social-news--cards--card--image">
            <img class="social-news--cards--card--icon" src="images/facebook.png" alt="" />
            {photo from FACEBOOK post}
          </div>
          <div class="social-news--cards--card--desc">
            <div class="social-news--cards--card--title">Azərbaycan Respublikası Təhsil Nazirliyi</div>
            <div class="social-news--cards--card--text">
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
              humour #hashtag1 #hashtag2 #longcharhashtag #hashtag5 #longcharhashtag2
            </div>
          </div>
        </div>
        <div class="social-news--cards--card twitter">
          <div class="social-news--cards--card--image">
            <div class="social-news--cards--card--icon">
              <span>@tehgovaz</span>
              <img src="images/twitter.svg" alt="" />
            </div>
            {photo from TWITTER post}
          </div>
          <div class="social-news--cards--card--desc">
            <div class="social-news--cards--card--text">
              There are many variations of passages of Lorem Ipsum available, but the majority #hashtag1 #hashtag2 #longcharhashtag #hashtag5 #asd
            </div>
          </div>
        </div>
      </div>
      <button class="btn mt-3">Load more</button>
    </div>
  </div>
  <div class="news-videos">
    <div class="container">
      <div class="news-videos--title">Education TV</div>
      <div class="news-videos--header">The new home for exciting ministry video content</div>
      <div class="row mt-2">
        <div class="col-lg-4">
          <a href="#" class="card">
            <div class="card--image">
              <div class="card--play">
                <i class="i-play"></i>
              </div>
              <img src="images/home-bg1.png" alt="" />
            </div>
            <div class="card--desc primary">
              <div class="card--title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</div>
              <div class="card--date">28.01.2019</div>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="#" class="card">
            <div class="card--image">
              <div class="card--play">
                <i class="i-play"></i>
              </div>
              <img src="images/home-bg1.png" alt="" />
            </div>
            <div class="card--desc primary">
              <div class="card--title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</div>
              <div class="card--date">28.01.2019</div>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="#" class="card">
            <div class="card--image">
              <iframe
                src="https://www.youtube.com/embed/7uUxRWPLAwY"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="card--desc primary">
              <div class="card--title">Article Title - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</div>
              <div class="card--date">28.01.2019</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
