.vertical-line {
    width: 2px;
    background-color: #e5e5e5;
    height: 70vh;
}

.home_page_root {
    height: 100vh;
    .btn {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .home-form {
        &--header {
            font-size: 18px;
        }
        input {
            padding-top: 1.4rem;
            padding-bottom: 1.4rem;
        }
        .custom-group-text {
            background-color: #fff;
            width: 50px;
            justify-content: center;
            align-items: center;
        }
    }
}

.main-header {
    .brand-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #fff;
        span {
            width: 153px;
            display: inline-block;
            text-align: center;
            margin-left: 8.2px;
            font-size: 12px;
        }
    }
}

.main-nav {
    margin-top: 20px;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    &--right {
        display: flex;
        justify-content: space-around;
        li {
            width: 220px;
        }
    }
    &--item {
        padding: 15px;
        width: 12%;
        background-color: #d8d8d8;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 0.7rem;
        white-space: nowrap;
        text-indent: 15px;
        span {
            position: relative;
            z-index: 2;
        }
        .front,
        .back {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            transform: rotate(45deg);
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }
        .front {
            background-color: #d8d8d8;
            right: -15px;
            z-index: 1;
        }
        .back {
            background-color: #fff;
            left: -15px;
        }
        &.active {
            background-color: #bcae88;
            font-weight: bold;
            .front {
                background-color: #bcae88;
            }
        }
        &:last-child {
            margin-right: 21px;
        }
    }
}

.main-container {
    margin: 40px 0;
    border-bottom: 1px solid #e2e2e2;
}
.main-wrapper {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    .main-wrapper--article {
        font-size: 10px;
        a {
            font-size: 12px;
        }
        table {
            margin-top: 10px;
        }
        table tr:hover {
            background-color: #f7f5ef;
        }
    }
}
.navigation {
    width: 95%;
    margin: 0 auto 70px auto;
    .btn {
        font-size: 12px;
    }
}
#register-document-page {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 40px;
    min-height: 370px;
    input::placeholder {
        color: #bcb8b8;
    }
}

.datepicker--day-name {
    color: #bcae88 !important;
}

.custom-profile {
    padding-top: 15px;
    border-right: 1px solid #dcdcdc;
    min-height: 100vh;
    height: 100%;
    &.right{
        color: #888b9b;
        border-left: 1px solid #dcdcdc;
        font-size: 11px;
        p {
            border-bottom: 1px solid #e1e7ee;
            margin:0;
            margin-top: 15px;
        }
    }
    &--details {
        margin-bottom: 20px;
        span {
            margin-top: 20px;
            display: block;
        }
    }
    &--menu {
        font-size: 12px;
        a {
            padding: 4px;
            padding-left: 15px;
            display: block;
        }
        a.active {
            background: #efeff0;
            border-left-color: #efeff0;
        }
        ul li a {
            padding-left: 3em;
        }
        ul li li a {
            padding-left: 5em;
        }
    }
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tick {
    &:before {
        content: "";
        background-image: url(../images/drop-down-arrow-2.svg);
        background-position: center center;
        background-repeat: no-repeat;
        width: 12px;
        height: 6px;
        margin-left: -12px;
        display: inline-block;
    }
}

.status-approve,
.status-pending,
.status-command,
.status-accepted {
    width: 7px;
    height: 7px;
    display: inline-block;
    margin-right: 5px;
}
.status-approve {
    background: #ebe312;
}
.status-accepted {
    background: #28bc33;
}
.status-command {
    background: #888585;
}
.status-pending {
    background: #d8d8d8;
}

.h-370 {
    height: 370px;
}

.main-header-breadcrumb {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #dcdcdc;
    font-size: 12px;
    &.mm-20 {
        margin-top: -20px;
    }
    &.mm-20 {
        span {
            font-size: 12px;
            margin-left: 10px;
        }
    }
    span {
        font-size: 18px;
    }
}
.student-edit-form {
    .form-row {
        margin-left: 0;
        margin-right: 0;
    }
}
.table-small {
    font-size: 12px;
    th {
        border-top: 0;
    }
}