// font
@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUI.eot");
    src: url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI.woff") format("woff"),
        url("../fonts/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUI.svg#SegoeUI") format("svg");
    font-weight: normal;
    font-style: normal;
}
// bootstrap
$font-family-base: "Segoe UI";
$grid-gutter-width: 0;
$theme-colors: (
    "primary": #bcae88,
    "secondary": #5e6671,
    "grey": #abafb0,
    "black": #262626
);
$body-color: #656567;
$input-placeholder-color: #565658;
$input-border-color: #abafb0;
$line-height-base: 1.2;

@import "node_modules/bootstrap/scss/bootstrap.scss";
