footer {
  background: #111;
  height:10%;
  display: flex;
  align-items: center;
  position:relative;
  z-index: 999;
}
header{
  background-color: #111;
  height:10%;
  position:relative;
  z-index: 999;
}

.main {
  height: 80%;
}

.header-main {
  width:100%;
  height:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  color: orange;
  font-size: 2em;
  width: 100%;
}

.marquee span {
  display: inline-block;
  padding-left: 100%; 
  animation: marquee 25s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.header-main .brand-name, .time {
  font-size: 2em;
  color: orange;
}

.header-main .clock {
  margin-left: 1em;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.books {
  height:100%;
  display: flex;
  background-color: #111;
  overflow:hidden;
}
.active {
  width: 70%;
  background-color:#111;
  display:flex;
  align-items: center;
}

.active ul {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
}

.history {
  width: 40%;
  background:#222;
}

.active .book {
  display: flex;
  align-items: center;
  color: #fff;
  transition: all 3s;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  animation: book 1s;
  animation-fill-mode: forwards;
}

.active .book:nth-child(2n + 1) {
  background-color: #222;
}
.active .book:nth-child(2n) {
  background-color: #333;
}

@keyframes book {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 500px;
  }
}



.active .book.failure {
  flex-direction: row-reverse;
  color: red;
}
.active .book.success {
  color: green;
}
.active .book.pending {
  color: yellow;
}

.active .book.success .book-id:after, .book.pending .book-id:after {
  content: '';
  position:absolute;
  right: -27px;
  bottom: 0;
  top: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

.active .book.failure .book-id:before {
  content: '';
  position: absolute;
  left: -27px;
  bottom: 0;
  top: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-right: 27px solid red;

}
.active .book.success .book-id:after {
  border-left: 27px solid green;
}
.active .book.pending .book-id:after {
  border-left: 27px solid yellow;
}

.active .book.failure .book-id {
  background-color: red;
  color: #fff;
}
.active .book.failure .book-status {
  margin: 0 40px 0 0;
}
.active .book.success .book-id {
  background-color: green;
}

.active .book.pending .book-id {
  background-color: yellow;
}
.active .book.success .book-id, .active .book.pending .book-id {
  color: black;
}



.active .book .book-id {
  font-size: 3em;
  padding: 6px 12px;
  font-weight: bold;
  display:flex;
  align-items: center;
  position: relative;
}
.active .book .book-status {
  margin-left: 40px;
  font-style: italic;
  font-size: 2em;
}

.history {
  display:flex;
}

.history ul {
  width: 50%;
}
.history ul li {
  text-align: center;
  font-size: 3em;
  line-height: 1em;
  font-weight: bold;
  color: #111;
  width:100%;
}

.history .books-success {
  width:100%;
  display: flex;
  border-left: 2px solid #fff;
}
.history .books-success ul {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.history .books-success li.done {
  color: green;
}
.history .books-success li.failure {
  color: red;
}


.time-edit {
  height:100%;
  width: 100%;
  position:fixed;
  top:0;
  bottom:0;
  z-index:5;
  left:0;
  right:0;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time-edit div {
  color:white;
}

.modal {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:999;
  font-size:6em;
  font-weight:bold;
  padding:20px 40px;
  border-radius: 5px;
  opacity:0;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal.on {
  opacity: 1;
}