*:after, *:after {
  clear:both;
}
*, *:after, *:after {
  box-sizing: border-box
}

html,body {
  height:100%;
  width:100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: 200.00px 200.00px;
}
#root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height:100vh;
  width:100vw;
}

